=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class AirbnbApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Airbnb scraper health check
    # Check health of the Airbnb scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def airbnb_airbnb_scraper_health_check(opts = {})
      data, _status_code, _headers = airbnb_airbnb_scraper_health_check_with_http_info(opts)
      data
    end

    # Airbnb scraper health check
    # Check health of the Airbnb scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def airbnb_airbnb_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirbnbApi.airbnb_airbnb_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/airbnb/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AirbnbApi.airbnb_airbnb_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirbnbApi#airbnb_airbnb_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Airbnb scraper health check
    # Check health of the Airbnb scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def airbnb_airbnb_scraper_health_check_head(opts = {})
      data, _status_code, _headers = airbnb_airbnb_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Airbnb scraper health check
    # Check health of the Airbnb scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def airbnb_airbnb_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirbnbApi.airbnb_airbnb_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/airbnb/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AirbnbApi.airbnb_airbnb_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirbnbApi#airbnb_airbnb_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get availability calendar
    # Day-by-day availability for up to 12 months: bookable, check-in/out windows and min/max nights per date.
    # @param room_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :month Start month (1-12) (default to 1)
    # @option opts [Integer] :year Start year (default to 2026)
    # @option opts [Integer] :months Number of months (max 12) (default to 12)
    # @option opts [String] :currency 
    # @option opts [String] :locale 
    # @return [Object]
    def airbnb_get_availability_calendar(room_id, opts = {})
      data, _status_code, _headers = airbnb_get_availability_calendar_with_http_info(room_id, opts)
      data
    end

    # Get availability calendar
    # Day-by-day availability for up to 12 months: bookable, check-in/out windows and min/max nights per date.
    # @param room_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :month Start month (1-12) (default to 1)
    # @option opts [Integer] :year Start year (default to 2026)
    # @option opts [Integer] :months Number of months (max 12) (default to 12)
    # @option opts [String] :currency 
    # @option opts [String] :locale 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def airbnb_get_availability_calendar_with_http_info(room_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirbnbApi.airbnb_get_availability_calendar ...'
      end
      # verify the required parameter 'room_id' is set
      if @api_client.config.client_side_validation && room_id.nil?
        fail ArgumentError, "Missing the required parameter 'room_id' when calling AirbnbApi.airbnb_get_availability_calendar"
      end
      if @api_client.config.client_side_validation && !opts[:'month'].nil? && opts[:'month'] > 12
        fail ArgumentError, 'invalid value for "opts[:"month"]" when calling AirbnbApi.airbnb_get_availability_calendar, must be smaller than or equal to 12.'
      end

      if @api_client.config.client_side_validation && !opts[:'month'].nil? && opts[:'month'] < 1
        fail ArgumentError, 'invalid value for "opts[:"month"]" when calling AirbnbApi.airbnb_get_availability_calendar, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'year'].nil? && opts[:'year'] > 2100
        fail ArgumentError, 'invalid value for "opts[:"year"]" when calling AirbnbApi.airbnb_get_availability_calendar, must be smaller than or equal to 2100.'
      end

      if @api_client.config.client_side_validation && !opts[:'year'].nil? && opts[:'year'] < 2020
        fail ArgumentError, 'invalid value for "opts[:"year"]" when calling AirbnbApi.airbnb_get_availability_calendar, must be greater than or equal to 2020.'
      end

      if @api_client.config.client_side_validation && !opts[:'months'].nil? && opts[:'months'] > 12
        fail ArgumentError, 'invalid value for "opts[:"months"]" when calling AirbnbApi.airbnb_get_availability_calendar, must be smaller than or equal to 12.'
      end

      if @api_client.config.client_side_validation && !opts[:'months'].nil? && opts[:'months'] < 1
        fail ArgumentError, 'invalid value for "opts[:"months"]" when calling AirbnbApi.airbnb_get_availability_calendar, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/airbnb/listings/{room_id}/calendar'.sub('{' + 'room_id' + '}', CGI.escape(room_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'month'] = opts[:'month'] if !opts[:'month'].nil?
      query_params[:'year'] = opts[:'year'] if !opts[:'year'].nil?
      query_params[:'months'] = opts[:'months'] if !opts[:'months'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AirbnbApi.airbnb_get_availability_calendar",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirbnbApi#airbnb_get_availability_calendar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get experience detail
    # Full detail for one experience: description, rating, host, location and photos.
    # @param experience_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :adults  (default to 1)
    # @option opts [Integer] :children  (default to 0)
    # @option opts [Integer] :infants  (default to 0)
    # @option opts [String] :currency 
    # @option opts [String] :locale 
    # @return [Object]
    def airbnb_get_experience_detail(experience_id, opts = {})
      data, _status_code, _headers = airbnb_get_experience_detail_with_http_info(experience_id, opts)
      data
    end

    # Get experience detail
    # Full detail for one experience: description, rating, host, location and photos.
    # @param experience_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :adults  (default to 1)
    # @option opts [Integer] :children  (default to 0)
    # @option opts [Integer] :infants  (default to 0)
    # @option opts [String] :currency 
    # @option opts [String] :locale 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def airbnb_get_experience_detail_with_http_info(experience_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirbnbApi.airbnb_get_experience_detail ...'
      end
      # verify the required parameter 'experience_id' is set
      if @api_client.config.client_side_validation && experience_id.nil?
        fail ArgumentError, "Missing the required parameter 'experience_id' when calling AirbnbApi.airbnb_get_experience_detail"
      end
      if @api_client.config.client_side_validation && !opts[:'adults'].nil? && opts[:'adults'] < 1
        fail ArgumentError, 'invalid value for "opts[:"adults"]" when calling AirbnbApi.airbnb_get_experience_detail, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'children'].nil? && opts[:'children'] < 0
        fail ArgumentError, 'invalid value for "opts[:"children"]" when calling AirbnbApi.airbnb_get_experience_detail, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'infants'].nil? && opts[:'infants'] < 0
        fail ArgumentError, 'invalid value for "opts[:"infants"]" when calling AirbnbApi.airbnb_get_experience_detail, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/airbnb/experiences/{experience_id}'.sub('{' + 'experience_id' + '}', CGI.escape(experience_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'adults'] = opts[:'adults'] if !opts[:'adults'].nil?
      query_params[:'children'] = opts[:'children'] if !opts[:'children'].nil?
      query_params[:'infants'] = opts[:'infants'] if !opts[:'infants'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AirbnbApi.airbnb_get_experience_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirbnbApi#airbnb_get_experience_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get listing detail
    # Full detail for one listing: amenities, house rules, host, ratings, coordinates and photos.
    # @param room_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :adults  (default to 1)
    # @option opts [String] :currency 
    # @option opts [String] :locale 
    # @return [Object]
    def airbnb_get_listing_detail(room_id, opts = {})
      data, _status_code, _headers = airbnb_get_listing_detail_with_http_info(room_id, opts)
      data
    end

    # Get listing detail
    # Full detail for one listing: amenities, house rules, host, ratings, coordinates and photos.
    # @param room_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :adults  (default to 1)
    # @option opts [String] :currency 
    # @option opts [String] :locale 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def airbnb_get_listing_detail_with_http_info(room_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirbnbApi.airbnb_get_listing_detail ...'
      end
      # verify the required parameter 'room_id' is set
      if @api_client.config.client_side_validation && room_id.nil?
        fail ArgumentError, "Missing the required parameter 'room_id' when calling AirbnbApi.airbnb_get_listing_detail"
      end
      if @api_client.config.client_side_validation && !opts[:'adults'].nil? && opts[:'adults'] < 1
        fail ArgumentError, 'invalid value for "opts[:"adults"]" when calling AirbnbApi.airbnb_get_listing_detail, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/airbnb/listings/{room_id}'.sub('{' + 'room_id' + '}', CGI.escape(room_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'adults'] = opts[:'adults'] if !opts[:'adults'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AirbnbApi.airbnb_get_listing_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirbnbApi#airbnb_get_listing_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get listing reviews
    # Paginated guest reviews with reviewer, rating, date, text and host response.
    # @param room_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 24)
    # @option opts [Integer] :offset  (default to 0)
    # @option opts [String] :sort MOST_RECENT | RATING_DESC | RATING_ASC (default to 'MOST_RECENT')
    # @option opts [String] :currency 
    # @option opts [String] :locale 
    # @return [Object]
    def airbnb_get_listing_reviews(room_id, opts = {})
      data, _status_code, _headers = airbnb_get_listing_reviews_with_http_info(room_id, opts)
      data
    end

    # Get listing reviews
    # Paginated guest reviews with reviewer, rating, date, text and host response.
    # @param room_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 24)
    # @option opts [Integer] :offset  (default to 0)
    # @option opts [String] :sort MOST_RECENT | RATING_DESC | RATING_ASC (default to 'MOST_RECENT')
    # @option opts [String] :currency 
    # @option opts [String] :locale 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def airbnb_get_listing_reviews_with_http_info(room_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirbnbApi.airbnb_get_listing_reviews ...'
      end
      # verify the required parameter 'room_id' is set
      if @api_client.config.client_side_validation && room_id.nil?
        fail ArgumentError, "Missing the required parameter 'room_id' when calling AirbnbApi.airbnb_get_listing_reviews"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AirbnbApi.airbnb_get_listing_reviews, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AirbnbApi.airbnb_get_listing_reviews, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling AirbnbApi.airbnb_get_listing_reviews, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/airbnb/listings/{room_id}/reviews'.sub('{' + 'room_id' + '}', CGI.escape(room_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AirbnbApi.airbnb_get_listing_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirbnbApi#airbnb_get_listing_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search experiences
    # Search Airbnb Experiences by location.
    # @param location [String] Free-text place, e.g. &#39;Rome, Italy&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor next_page_cursor from a prior response
    # @option opts [String] :currency 
    # @option opts [String] :locale 
    # @return [Object]
    def airbnb_search_experiences(location, opts = {})
      data, _status_code, _headers = airbnb_search_experiences_with_http_info(location, opts)
      data
    end

    # Search experiences
    # Search Airbnb Experiences by location.
    # @param location [String] Free-text place, e.g. &#39;Rome, Italy&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor next_page_cursor from a prior response
    # @option opts [String] :currency 
    # @option opts [String] :locale 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def airbnb_search_experiences_with_http_info(location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirbnbApi.airbnb_search_experiences ...'
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling AirbnbApi.airbnb_search_experiences"
      end
      # resource path
      local_var_path = '/v1/airbnb/experiences'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'location'] = location
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AirbnbApi.airbnb_search_experiences",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirbnbApi#airbnb_search_experiences\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search stays
    # Search Airbnb stays by place name and/or map bounding box, with dates, guests, price and property filters. Paginate with the `cursor`.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location Free-text place, e.g. &#39;Paris, France&#39;
    # @option opts [Float] :ne_lat Map bounding-box NE latitude
    # @option opts [Float] :ne_lng Map bounding-box NE longitude
    # @option opts [Float] :sw_lat Map bounding-box SW latitude
    # @option opts [Float] :sw_lng Map bounding-box SW longitude
    # @option opts [String] :check_in Check-in date YYYY-MM-DD
    # @option opts [String] :check_out Check-out date YYYY-MM-DD
    # @option opts [Integer] :adults  (default to 1)
    # @option opts [Integer] :children  (default to 0)
    # @option opts [Integer] :infants  (default to 0)
    # @option opts [Integer] :pets  (default to 0)
    # @option opts [Integer] :price_min 
    # @option opts [Integer] :price_max 
    # @option opts [Integer] :min_bedrooms 
    # @option opts [Integer] :min_beds 
    # @option opts [Integer] :min_bathrooms 
    # @option opts [String] :room_type e.g. &#39;Entire home/apt&#39;, &#39;Private room&#39;
    # @option opts [String] :cursor next_page_cursor from a prior response
    # @option opts [Integer] :limit  (default to 18)
    # @option opts [String] :currency ISO currency, e.g. USD, EUR
    # @option opts [String] :locale Locale, e.g. en, fr
    # @return [Object]
    def airbnb_search_stays(opts = {})
      data, _status_code, _headers = airbnb_search_stays_with_http_info(opts)
      data
    end

    # Search stays
    # Search Airbnb stays by place name and/or map bounding box, with dates, guests, price and property filters. Paginate with the &#x60;cursor&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location Free-text place, e.g. &#39;Paris, France&#39;
    # @option opts [Float] :ne_lat Map bounding-box NE latitude
    # @option opts [Float] :ne_lng Map bounding-box NE longitude
    # @option opts [Float] :sw_lat Map bounding-box SW latitude
    # @option opts [Float] :sw_lng Map bounding-box SW longitude
    # @option opts [String] :check_in Check-in date YYYY-MM-DD
    # @option opts [String] :check_out Check-out date YYYY-MM-DD
    # @option opts [Integer] :adults  (default to 1)
    # @option opts [Integer] :children  (default to 0)
    # @option opts [Integer] :infants  (default to 0)
    # @option opts [Integer] :pets  (default to 0)
    # @option opts [Integer] :price_min 
    # @option opts [Integer] :price_max 
    # @option opts [Integer] :min_bedrooms 
    # @option opts [Integer] :min_beds 
    # @option opts [Integer] :min_bathrooms 
    # @option opts [String] :room_type e.g. &#39;Entire home/apt&#39;, &#39;Private room&#39;
    # @option opts [String] :cursor next_page_cursor from a prior response
    # @option opts [Integer] :limit  (default to 18)
    # @option opts [String] :currency ISO currency, e.g. USD, EUR
    # @option opts [String] :locale Locale, e.g. en, fr
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def airbnb_search_stays_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirbnbApi.airbnb_search_stays ...'
      end
      if @api_client.config.client_side_validation && !opts[:'adults'].nil? && opts[:'adults'] < 0
        fail ArgumentError, 'invalid value for "opts[:"adults"]" when calling AirbnbApi.airbnb_search_stays, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'children'].nil? && opts[:'children'] < 0
        fail ArgumentError, 'invalid value for "opts[:"children"]" when calling AirbnbApi.airbnb_search_stays, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'infants'].nil? && opts[:'infants'] < 0
        fail ArgumentError, 'invalid value for "opts[:"infants"]" when calling AirbnbApi.airbnb_search_stays, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'pets'].nil? && opts[:'pets'] < 0
        fail ArgumentError, 'invalid value for "opts[:"pets"]" when calling AirbnbApi.airbnb_search_stays, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'price_min'].nil? && opts[:'price_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"price_min"]" when calling AirbnbApi.airbnb_search_stays, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'price_max'].nil? && opts[:'price_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"price_max"]" when calling AirbnbApi.airbnb_search_stays, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_bedrooms'].nil? && opts[:'min_bedrooms'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_bedrooms"]" when calling AirbnbApi.airbnb_search_stays, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_beds'].nil? && opts[:'min_beds'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_beds"]" when calling AirbnbApi.airbnb_search_stays, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_bathrooms'].nil? && opts[:'min_bathrooms'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_bathrooms"]" when calling AirbnbApi.airbnb_search_stays, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AirbnbApi.airbnb_search_stays, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AirbnbApi.airbnb_search_stays, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/airbnb/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'location'] = opts[:'location'] if !opts[:'location'].nil?
      query_params[:'ne_lat'] = opts[:'ne_lat'] if !opts[:'ne_lat'].nil?
      query_params[:'ne_lng'] = opts[:'ne_lng'] if !opts[:'ne_lng'].nil?
      query_params[:'sw_lat'] = opts[:'sw_lat'] if !opts[:'sw_lat'].nil?
      query_params[:'sw_lng'] = opts[:'sw_lng'] if !opts[:'sw_lng'].nil?
      query_params[:'check_in'] = opts[:'check_in'] if !opts[:'check_in'].nil?
      query_params[:'check_out'] = opts[:'check_out'] if !opts[:'check_out'].nil?
      query_params[:'adults'] = opts[:'adults'] if !opts[:'adults'].nil?
      query_params[:'children'] = opts[:'children'] if !opts[:'children'].nil?
      query_params[:'infants'] = opts[:'infants'] if !opts[:'infants'].nil?
      query_params[:'pets'] = opts[:'pets'] if !opts[:'pets'].nil?
      query_params[:'price_min'] = opts[:'price_min'] if !opts[:'price_min'].nil?
      query_params[:'price_max'] = opts[:'price_max'] if !opts[:'price_max'].nil?
      query_params[:'min_bedrooms'] = opts[:'min_bedrooms'] if !opts[:'min_bedrooms'].nil?
      query_params[:'min_beds'] = opts[:'min_beds'] if !opts[:'min_beds'].nil?
      query_params[:'min_bathrooms'] = opts[:'min_bathrooms'] if !opts[:'min_bathrooms'].nil?
      query_params[:'room_type'] = opts[:'room_type'] if !opts[:'room_type'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AirbnbApi.airbnb_search_stays",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirbnbApi#airbnb_search_stays\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
