=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class AmazonApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Amazon scraper health check
    # Check health of the Amazon scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def amazon_amazon_scraper_health_check(opts = {})
      data, _status_code, _headers = amazon_amazon_scraper_health_check_with_http_info(opts)
      data
    end

    # Amazon scraper health check
    # Check health of the Amazon scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def amazon_amazon_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmazonApi.amazon_amazon_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/amazon/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AmazonApi.amazon_amazon_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmazonApi#amazon_amazon_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Amazon scraper health check
    # Check health of the Amazon scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def amazon_amazon_scraper_health_check_head(opts = {})
      data, _status_code, _headers = amazon_amazon_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Amazon scraper health check
    # Check health of the Amazon scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def amazon_amazon_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmazonApi.amazon_amazon_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/amazon/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AmazonApi.amazon_amazon_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmazonApi#amazon_amazon_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bestsellers by category
    # Top-selling products for a category (browse node).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [String] :category Bestsellers node id or slug
    # @option opts [Integer] :page  (default to 1)
    # @return [Object]
    def amazon_bestsellers_by_category(opts = {})
      data, _status_code, _headers = amazon_bestsellers_by_category_with_http_info(opts)
      data
    end

    # Bestsellers by category
    # Top-selling products for a category (browse node).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [String] :category Bestsellers node id or slug
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def amazon_bestsellers_by_category_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmazonApi.amazon_bestsellers_by_category ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 2
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AmazonApi.amazon_bestsellers_by_category, must be smaller than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AmazonApi.amazon_bestsellers_by_category, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/amazon/bestsellers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AmazonApi.amazon_bestsellers_by_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmazonApi#amazon_bestsellers_by_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Browse-node category listing
    # List products within an Amazon browse-node category.
    # @param node [String] Amazon browse-node id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :sort_by 
    # @return [Object]
    def amazon_browse_node_category_listing(node, opts = {})
      data, _status_code, _headers = amazon_browse_node_category_listing_with_http_info(node, opts)
      data
    end

    # Browse-node category listing
    # List products within an Amazon browse-node category.
    # @param node [String] Amazon browse-node id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :sort_by 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def amazon_browse_node_category_listing_with_http_info(node, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmazonApi.amazon_browse_node_category_listing ...'
      end
      # verify the required parameter 'node' is set
      if @api_client.config.client_side_validation && node.nil?
        fail ArgumentError, "Missing the required parameter 'node' when calling AmazonApi.amazon_browse_node_category_listing"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 20
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AmazonApi.amazon_browse_node_category_listing, must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AmazonApi.amazon_browse_node_category_listing, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/amazon/category'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'node'] = node
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AmazonApi.amazon_browse_node_category_listing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmazonApi#amazon_browse_node_category_listing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all seller offers (buybox)
    # All third-party offers for an ASIN, including the Buy Box winner.
    # @param asin [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [String] :zip 
    # @option opts [Integer] :page Offer page, 10 rows each (default to 1)
    # @return [Object]
    def amazon_get_all_seller_offers_buybox(asin, opts = {})
      data, _status_code, _headers = amazon_get_all_seller_offers_buybox_with_http_info(asin, opts)
      data
    end

    # Get all seller offers (buybox)
    # All third-party offers for an ASIN, including the Buy Box winner.
    # @param asin [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [String] :zip 
    # @option opts [Integer] :page Offer page, 10 rows each (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def amazon_get_all_seller_offers_buybox_with_http_info(asin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmazonApi.amazon_get_all_seller_offers_buybox ...'
      end
      # verify the required parameter 'asin' is set
      if @api_client.config.client_side_validation && asin.nil?
        fail ArgumentError, "Missing the required parameter 'asin' when calling AmazonApi.amazon_get_all_seller_offers_buybox"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AmazonApi.amazon_get_all_seller_offers_buybox, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/amazon/products/{asin}/offers'.sub('{' + 'asin' + '}', CGI.escape(asin.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'zip'] = opts[:'zip'] if !opts[:'zip'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AmazonApi.amazon_get_all_seller_offers_buybox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmazonApi#amazon_get_all_seller_offers_buybox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get product detail
    # Full product detail by ASIN (price, variants, badges, buybox, ranks…).
    # @param asin [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [String] :zip Delivery postal/zip for localized buybox
    # @option opts [String] :language 
    # @return [Object]
    def amazon_get_product_detail(asin, opts = {})
      data, _status_code, _headers = amazon_get_product_detail_with_http_info(asin, opts)
      data
    end

    # Get product detail
    # Full product detail by ASIN (price, variants, badges, buybox, ranks…).
    # @param asin [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [String] :zip Delivery postal/zip for localized buybox
    # @option opts [String] :language 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def amazon_get_product_detail_with_http_info(asin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmazonApi.amazon_get_product_detail ...'
      end
      # verify the required parameter 'asin' is set
      if @api_client.config.client_side_validation && asin.nil?
        fail ArgumentError, "Missing the required parameter 'asin' when calling AmazonApi.amazon_get_product_detail"
      end
      # resource path
      local_var_path = '/v1/amazon/products/{asin}'.sub('{' + 'asin' + '}', CGI.escape(asin.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'zip'] = opts[:'zip'] if !opts[:'zip'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AmazonApi.amazon_get_product_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmazonApi#amazon_get_product_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get product reviews
    # Customer reviews for an ASIN (featured + paginated, with filters).
    # @param asin [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [Integer] :page Review page (1-100, ~10 reviews/page) (default to 1)
    # @option opts [String] :sort_by helpful | recent (default to 'helpful')
    # @option opts [String] :star one_star..five_star | positive | critical
    # @option opts [Boolean] :verified_only  (default to false)
    # @option opts [Boolean] :media_only  (default to false)
    # @return [Object]
    def amazon_get_product_reviews(asin, opts = {})
      data, _status_code, _headers = amazon_get_product_reviews_with_http_info(asin, opts)
      data
    end

    # Get product reviews
    # Customer reviews for an ASIN (featured + paginated, with filters).
    # @param asin [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [Integer] :page Review page (1-100, ~10 reviews/page) (default to 1)
    # @option opts [String] :sort_by helpful | recent (default to 'helpful')
    # @option opts [String] :star one_star..five_star | positive | critical
    # @option opts [Boolean] :verified_only  (default to false)
    # @option opts [Boolean] :media_only  (default to false)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def amazon_get_product_reviews_with_http_info(asin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmazonApi.amazon_get_product_reviews ...'
      end
      # verify the required parameter 'asin' is set
      if @api_client.config.client_side_validation && asin.nil?
        fail ArgumentError, "Missing the required parameter 'asin' when calling AmazonApi.amazon_get_product_reviews"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AmazonApi.amazon_get_product_reviews, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AmazonApi.amazon_get_product_reviews, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/amazon/products/{asin}/reviews'.sub('{' + 'asin' + '}', CGI.escape(asin.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'star'] = opts[:'star'] if !opts[:'star'].nil?
      query_params[:'verified_only'] = opts[:'verified_only'] if !opts[:'verified_only'].nil?
      query_params[:'media_only'] = opts[:'media_only'] if !opts[:'media_only'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AmazonApi.amazon_get_product_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmazonApi#amazon_get_product_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get seller feedback
    # Buyer feedback entries for a seller.
    # @param seller_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [Integer] :page  (default to 1)
    # @return [Object]
    def amazon_get_seller_feedback(seller_id, opts = {})
      data, _status_code, _headers = amazon_get_seller_feedback_with_http_info(seller_id, opts)
      data
    end

    # Get seller feedback
    # Buyer feedback entries for a seller.
    # @param seller_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def amazon_get_seller_feedback_with_http_info(seller_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmazonApi.amazon_get_seller_feedback ...'
      end
      # verify the required parameter 'seller_id' is set
      if @api_client.config.client_side_validation && seller_id.nil?
        fail ArgumentError, "Missing the required parameter 'seller_id' when calling AmazonApi.amazon_get_seller_feedback"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AmazonApi.amazon_get_seller_feedback, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/amazon/sellers/{seller_id}/feedback'.sub('{' + 'seller_id' + '}', CGI.escape(seller_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AmazonApi.amazon_get_seller_feedback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmazonApi#amazon_get_seller_feedback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get seller profile
    # Seller profile, ratings and feedback summary.
    # @param seller_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @return [Object]
    def amazon_get_seller_profile(seller_id, opts = {})
      data, _status_code, _headers = amazon_get_seller_profile_with_http_info(seller_id, opts)
      data
    end

    # Get seller profile
    # Seller profile, ratings and feedback summary.
    # @param seller_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def amazon_get_seller_profile_with_http_info(seller_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmazonApi.amazon_get_seller_profile ...'
      end
      # verify the required parameter 'seller_id' is set
      if @api_client.config.client_side_validation && seller_id.nil?
        fail ArgumentError, "Missing the required parameter 'seller_id' when calling AmazonApi.amazon_get_seller_profile"
      end
      # resource path
      local_var_path = '/v1/amazon/sellers/{seller_id}'.sub('{' + 'seller_id' + '}', CGI.escape(seller_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AmazonApi.amazon_get_seller_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmazonApi#amazon_get_seller_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get seller storefront products
    # Products listed in a seller's storefront.
    # @param seller_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [Integer] :page  (default to 1)
    # @return [Object]
    def amazon_get_seller_storefront_products(seller_id, opts = {})
      data, _status_code, _headers = amazon_get_seller_storefront_products_with_http_info(seller_id, opts)
      data
    end

    # Get seller storefront products
    # Products listed in a seller&#39;s storefront.
    # @param seller_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def amazon_get_seller_storefront_products_with_http_info(seller_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmazonApi.amazon_get_seller_storefront_products ...'
      end
      # verify the required parameter 'seller_id' is set
      if @api_client.config.client_side_validation && seller_id.nil?
        fail ArgumentError, "Missing the required parameter 'seller_id' when calling AmazonApi.amazon_get_seller_storefront_products"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AmazonApi.amazon_get_seller_storefront_products, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/amazon/sellers/{seller_id}/products'.sub('{' + 'seller_id' + '}', CGI.escape(seller_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AmazonApi.amazon_get_seller_storefront_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmazonApi#amazon_get_seller_storefront_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Keyword suggestions
    # Get Amazon search autocomplete suggestions for keyword research.
    # @param query [String] Partial search term
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @return [Object]
    def amazon_keyword_suggestions(query, opts = {})
      data, _status_code, _headers = amazon_keyword_suggestions_with_http_info(query, opts)
      data
    end

    # Keyword suggestions
    # Get Amazon search autocomplete suggestions for keyword research.
    # @param query [String] Partial search term
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def amazon_keyword_suggestions_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmazonApi.amazon_keyword_suggestions ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling AmazonApi.amazon_keyword_suggestions"
      end
      # resource path
      local_var_path = '/v1/amazon/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AmazonApi.amazon_keyword_suggestions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmazonApi#amazon_keyword_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List category aliases
    # List common Amazon department/category aliases and bestseller nodes.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @return [Object]
    def amazon_list_category_aliases(opts = {})
      data, _status_code, _headers = amazon_list_category_aliases_with_http_info(opts)
      data
    end

    # List category aliases
    # List common Amazon department/category aliases and bestseller nodes.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def amazon_list_category_aliases_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmazonApi.amazon_list_category_aliases ...'
      end
      # resource path
      local_var_path = '/v1/amazon/categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AmazonApi.amazon_list_category_aliases",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmazonApi#amazon_list_category_aliases\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List marketplaces
    # List all supported Amazon marketplaces.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def amazon_list_marketplaces(opts = {})
      data, _status_code, _headers = amazon_list_marketplaces_with_http_info(opts)
      data
    end

    # List marketplaces
    # List all supported Amazon marketplaces.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def amazon_list_marketplaces_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmazonApi.amazon_list_marketplaces ...'
      end
      # resource path
      local_var_path = '/v1/amazon/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AmazonApi.amazon_list_marketplaces",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmazonApi#amazon_list_marketplaces\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # New releases by category
    # Newly released products for a category (browse node).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [String] :category 
    # @option opts [Integer] :page  (default to 1)
    # @return [Object]
    def amazon_new_releases_by_category(opts = {})
      data, _status_code, _headers = amazon_new_releases_by_category_with_http_info(opts)
      data
    end

    # New releases by category
    # Newly released products for a category (browse node).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [String] :category 
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def amazon_new_releases_by_category_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmazonApi.amazon_new_releases_by_category ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 2
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AmazonApi.amazon_new_releases_by_category, must be smaller than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AmazonApi.amazon_new_releases_by_category, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/amazon/new-releases'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AmazonApi.amazon_new_releases_by_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmazonApi#amazon_new_releases_by_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Amazon products
    # Search the Amazon catalog with filters and sorting.
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain Amazon marketplace TLD or code (com, co.uk, de…) (default to 'com')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :sort_by relevance | price_low_to_high | price_high_to_low | avg_review | newest
    # @option opts [String] :category Department/category alias (i&#x3D; param)
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @option opts [String] :zip Delivery postal/zip code for localized pricing
    # @option opts [String] :language Locale for results, e.g. en_US, fr_FR
    # @return [Object]
    def amazon_search_amazon_products(query, opts = {})
      data, _status_code, _headers = amazon_search_amazon_products_with_http_info(query, opts)
      data
    end

    # Search Amazon products
    # Search the Amazon catalog with filters and sorting.
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain Amazon marketplace TLD or code (com, co.uk, de…) (default to 'com')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :sort_by relevance | price_low_to_high | price_high_to_low | avg_review | newest
    # @option opts [String] :category Department/category alias (i&#x3D; param)
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @option opts [String] :zip Delivery postal/zip code for localized pricing
    # @option opts [String] :language Locale for results, e.g. en_US, fr_FR
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def amazon_search_amazon_products_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmazonApi.amazon_search_amazon_products ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling AmazonApi.amazon_search_amazon_products"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 20
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AmazonApi.amazon_search_amazon_products, must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AmazonApi.amazon_search_amazon_products, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_price'].nil? && opts[:'min_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_price"]" when calling AmazonApi.amazon_search_amazon_products, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_price'].nil? && opts[:'max_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_price"]" when calling AmazonApi.amazon_search_amazon_products, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/amazon/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?
      query_params[:'min_price'] = opts[:'min_price'] if !opts[:'min_price'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?
      query_params[:'zip'] = opts[:'zip'] if !opts[:'zip'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AmazonApi.amazon_search_amazon_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmazonApi#amazon_search_amazon_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Today's deals
    # Current Amazon deals (lightning deals, best deals).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [String] :category 
    # @option opts [Integer] :page  (default to 1)
    # @return [Object]
    def amazon_today_s_deals(opts = {})
      data, _status_code, _headers = amazon_today_s_deals_with_http_info(opts)
      data
    end

    # Today&#39;s deals
    # Current Amazon deals (lightning deals, best deals).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [String] :category 
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def amazon_today_s_deals_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmazonApi.amazon_today_s_deals ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AmazonApi.amazon_today_s_deals, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/amazon/deals'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AmazonApi.amazon_today_s_deals",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmazonApi#amazon_today_s_deals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
