=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class ApartmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Apartments scraper health check
    # Check health of the Apartments scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def apartments_apartments_scraper_health_check(opts = {})
      data, _status_code, _headers = apartments_apartments_scraper_health_check_with_http_info(opts)
      data
    end

    # Apartments scraper health check
    # Check health of the Apartments scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def apartments_apartments_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApartmentsApi.apartments_apartments_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/apartments/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ApartmentsApi.apartments_apartments_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApartmentsApi#apartments_apartments_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Apartments scraper health check
    # Check health of the Apartments scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def apartments_apartments_scraper_health_check_head(opts = {})
      data, _status_code, _headers = apartments_apartments_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Apartments scraper health check
    # Check health of the Apartments scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def apartments_apartments_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApartmentsApi.apartments_apartments_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/apartments/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ApartmentsApi.apartments_apartments_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApartmentsApi#apartments_apartments_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get property detail by slug + id
    # Get a property by its SEO slug and 7-character listing id.
    # @param slug [String] 
    # @param property_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def apartments_get_property_detail_by_slug_id(slug, property_id, opts = {})
      data, _status_code, _headers = apartments_get_property_detail_by_slug_id_with_http_info(slug, property_id, opts)
      data
    end

    # Get property detail by slug + id
    # Get a property by its SEO slug and 7-character listing id.
    # @param slug [String] 
    # @param property_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def apartments_get_property_detail_by_slug_id_with_http_info(slug, property_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApartmentsApi.apartments_get_property_detail_by_slug_id ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling ApartmentsApi.apartments_get_property_detail_by_slug_id"
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling ApartmentsApi.apartments_get_property_detail_by_slug_id"
      end
      # resource path
      local_var_path = '/v1/apartments/properties/{slug}/{property_id}'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s)).sub('{' + 'property_id' + '}', CGI.escape(property_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ApartmentsApi.apartments_get_property_detail_by_slug_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApartmentsApi#apartments_get_property_detail_by_slug_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get property detail by URL
    # Get an apartments.com property with full per-unit pricing and availability.
    # @param url [String] Full apartments.com property URL, e.g. https://www.apartments.com/urbane-kansas-city-mo/wcd6e5k/
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def apartments_get_property_detail_by_url(url, opts = {})
      data, _status_code, _headers = apartments_get_property_detail_by_url_with_http_info(url, opts)
      data
    end

    # Get property detail by URL
    # Get an apartments.com property with full per-unit pricing and availability.
    # @param url [String] Full apartments.com property URL, e.g. https://www.apartments.com/urbane-kansas-city-mo/wcd6e5k/
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def apartments_get_property_detail_by_url_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApartmentsApi.apartments_get_property_detail_by_url ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling ApartmentsApi.apartments_get_property_detail_by_url"
      end
      # resource path
      local_var_path = '/v1/apartments/property'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ApartmentsApi.apartments_get_property_detail_by_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApartmentsApi#apartments_get_property_detail_by_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search rental listings
    # Search apartments.com for rental properties. 40 cards per page.
    # @param location [String] apartments.com location slug, e.g. &#39;kansas-city-mo&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :beds 0&#x3D;studio, 1-4 bedrooms
    # @option opts [Integer] :min_price 
    # @option opts [Integer] :max_price 
    # @return [Object]
    def apartments_search_rental_listings(location, opts = {})
      data, _status_code, _headers = apartments_search_rental_listings_with_http_info(location, opts)
      data
    end

    # Search rental listings
    # Search apartments.com for rental properties. 40 cards per page.
    # @param location [String] apartments.com location slug, e.g. &#39;kansas-city-mo&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :beds 0&#x3D;studio, 1-4 bedrooms
    # @option opts [Integer] :min_price 
    # @option opts [Integer] :max_price 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def apartments_search_rental_listings_with_http_info(location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApartmentsApi.apartments_search_rental_listings ...'
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling ApartmentsApi.apartments_search_rental_listings"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 28
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ApartmentsApi.apartments_search_rental_listings, must be smaller than or equal to 28.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ApartmentsApi.apartments_search_rental_listings, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'beds'].nil? && opts[:'beds'] > 4
        fail ArgumentError, 'invalid value for "opts[:"beds"]" when calling ApartmentsApi.apartments_search_rental_listings, must be smaller than or equal to 4.'
      end

      if @api_client.config.client_side_validation && !opts[:'beds'].nil? && opts[:'beds'] < 0
        fail ArgumentError, 'invalid value for "opts[:"beds"]" when calling ApartmentsApi.apartments_search_rental_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_price'].nil? && opts[:'min_price'] > 20000
        fail ArgumentError, 'invalid value for "opts[:"min_price"]" when calling ApartmentsApi.apartments_search_rental_listings, must be smaller than or equal to 20000.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_price'].nil? && opts[:'min_price'] < 100
        fail ArgumentError, 'invalid value for "opts[:"min_price"]" when calling ApartmentsApi.apartments_search_rental_listings, must be greater than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_price'].nil? && opts[:'max_price'] > 20000
        fail ArgumentError, 'invalid value for "opts[:"max_price"]" when calling ApartmentsApi.apartments_search_rental_listings, must be smaller than or equal to 20000.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_price'].nil? && opts[:'max_price'] < 100
        fail ArgumentError, 'invalid value for "opts[:"max_price"]" when calling ApartmentsApi.apartments_search_rental_listings, must be greater than or equal to 100.'
      end

      # resource path
      local_var_path = '/v1/apartments/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'location'] = location
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'beds'] = opts[:'beds'] if !opts[:'beds'].nil?
      query_params[:'min_price'] = opts[:'min_price'] if !opts[:'min_price'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ApartmentsApi.apartments_search_rental_listings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApartmentsApi#apartments_search_rental_listings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
