=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class AppStoreApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get app detail
    # App detail: bundle id, version, pricing, ratings, genres, min OS, size, languages, screenshots, in-app purchases and version history.
    # @param app_id [String] Numeric trackId (e.g. &#39;310633997&#39;) or bundle id (e.g. &#39;net.whatsapp.WhatsApp&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country  (default to 'us')
    # @option opts [String] :lang Result language, e.g. &#39;en_us&#39;
    # @option opts [Boolean] :include_extras Fetch the storefront page for rating histogram, IAP list, full-res screenshots and App Privacy. Set false to skip the 2nd fetch. (default to true)
    # @return [Object]
    def app_store_get_app_detail(app_id, opts = {})
      data, _status_code, _headers = app_store_get_app_detail_with_http_info(app_id, opts)
      data
    end

    # Get app detail
    # App detail: bundle id, version, pricing, ratings, genres, min OS, size, languages, screenshots, in-app purchases and version history.
    # @param app_id [String] Numeric trackId (e.g. &#39;310633997&#39;) or bundle id (e.g. &#39;net.whatsapp.WhatsApp&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country  (default to 'us')
    # @option opts [String] :lang Result language, e.g. &#39;en_us&#39;
    # @option opts [Boolean] :include_extras Fetch the storefront page for rating histogram, IAP list, full-res screenshots and App Privacy. Set false to skip the 2nd fetch. (default to true)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def app_store_get_app_detail_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreApi.app_store_get_app_detail ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling AppStoreApi.app_store_get_app_detail"
      end
      # resource path
      local_var_path = '/v1/app-store/apps/{app_id}'.sub('{' + 'app_id' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'include_extras'] = opts[:'include_extras'] if !opts[:'include_extras'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AppStoreApi.app_store_get_app_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreApi#app_store_get_app_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get app reviews
    # Paginated customer reviews (50 per page, up to 10 pages).
    # @param app_id [String] Numeric trackId, e.g. &#39;310633997&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country  (default to 'us')
    # @option opts [Integer] :page Apple caps reviews at 10 pages (default to 1)
    # @option opts [String] :sort mostRecent | mostHelpful (default to 'mostRecent')
    # @return [Object]
    def app_store_get_app_reviews(app_id, opts = {})
      data, _status_code, _headers = app_store_get_app_reviews_with_http_info(app_id, opts)
      data
    end

    # Get app reviews
    # Paginated customer reviews (50 per page, up to 10 pages).
    # @param app_id [String] Numeric trackId, e.g. &#39;310633997&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country  (default to 'us')
    # @option opts [Integer] :page Apple caps reviews at 10 pages (default to 1)
    # @option opts [String] :sort mostRecent | mostHelpful (default to 'mostRecent')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def app_store_get_app_reviews_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreApi.app_store_get_app_reviews ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling AppStoreApi.app_store_get_app_reviews"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 10
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AppStoreApi.app_store_get_app_reviews, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AppStoreApi.app_store_get_app_reviews, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/app-store/apps/{app_id}/reviews'.sub('{' + 'app_id' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AppStoreApi.app_store_get_app_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreApi#app_store_get_app_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get developer apps
    # Developer info and their published apps.
    # @param artist_id [String] Numeric artistId (developer id)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country  (default to 'us')
    # @return [Object]
    def app_store_get_developer_apps(artist_id, opts = {})
      data, _status_code, _headers = app_store_get_developer_apps_with_http_info(artist_id, opts)
      data
    end

    # Get developer apps
    # Developer info and their published apps.
    # @param artist_id [String] Numeric artistId (developer id)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country  (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def app_store_get_developer_apps_with_http_info(artist_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreApi.app_store_get_developer_apps ...'
      end
      # verify the required parameter 'artist_id' is set
      if @api_client.config.client_side_validation && artist_id.nil?
        fail ArgumentError, "Missing the required parameter 'artist_id' when calling AppStoreApi.app_store_get_developer_apps"
      end
      # resource path
      local_var_path = '/v1/app-store/developers/{artist_id}'.sub('{' + 'artist_id' + '}', CGI.escape(artist_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AppStoreApi.app_store_get_developer_apps",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreApi#app_store_get_developer_apps\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List genres
    # The Apple App Store genre/category ids.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def app_store_list_genres(opts = {})
      data, _status_code, _headers = app_store_list_genres_with_http_info(opts)
      data
    end

    # List genres
    # The Apple App Store genre/category ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def app_store_list_genres_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreApi.app_store_list_genres ...'
      end
      # resource path
      local_var_path = '/v1/app-store/genres'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AppStoreApi.app_store_list_genres",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreApi#app_store_list_genres\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List markets
    # Supported App Store country codes.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def app_store_list_markets(opts = {})
      data, _status_code, _headers = app_store_list_markets_with_http_info(opts)
      data
    end

    # List markets
    # Supported App Store country codes.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def app_store_list_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreApi.app_store_list_markets ...'
      end
      # resource path
      local_var_path = '/v1/app-store/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AppStoreApi.app_store_list_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreApi#app_store_list_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search apps
    # Search the Apple App Store.
    # @param query [String] Search term, e.g. &#39;chat&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country App Store country code (default to 'us')
    # @option opts [String] :entity software | iPadSoftware | macSoftware (default to 'software')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [Integer] :offset  (default to 0)
    # @option opts [String] :lang Language, e.g. &#39;en_us&#39;
    # @return [Object]
    def app_store_search_apps(query, opts = {})
      data, _status_code, _headers = app_store_search_apps_with_http_info(query, opts)
      data
    end

    # Search apps
    # Search the Apple App Store.
    # @param query [String] Search term, e.g. &#39;chat&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country App Store country code (default to 'us')
    # @option opts [String] :entity software | iPadSoftware | macSoftware (default to 'software')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [Integer] :offset  (default to 0)
    # @option opts [String] :lang Language, e.g. &#39;en_us&#39;
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def app_store_search_apps_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreApi.app_store_search_apps ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling AppStoreApi.app_store_search_apps"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AppStoreApi.app_store_search_apps, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AppStoreApi.app_store_search_apps, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling AppStoreApi.app_store_search_apps, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/app-store/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'entity'] = opts[:'entity'] if !opts[:'entity'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AppStoreApi.app_store_search_apps",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreApi#app_store_search_apps\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Top charts
    # Top charts, optionally scoped to a genre.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country  (default to 'us')
    # @option opts [String] :type top-free | top-paid | top-grossing (default to 'top-free')
    # @option opts [Integer] :genre Apple genre id (optional), e.g. 6014
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :entity apps (iPhone) | ipad (default to 'apps')
    # @return [Object]
    def app_store_top_charts(opts = {})
      data, _status_code, _headers = app_store_top_charts_with_http_info(opts)
      data
    end

    # Top charts
    # Top charts, optionally scoped to a genre.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country  (default to 'us')
    # @option opts [String] :type top-free | top-paid | top-grossing (default to 'top-free')
    # @option opts [Integer] :genre Apple genre id (optional), e.g. 6014
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :entity apps (iPhone) | ipad (default to 'apps')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def app_store_top_charts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreApi.app_store_top_charts ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AppStoreApi.app_store_top_charts, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AppStoreApi.app_store_top_charts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/app-store/charts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'genre'] = opts[:'genre'] if !opts[:'genre'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'entity'] = opts[:'entity'] if !opts[:'entity'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AppStoreApi.app_store_top_charts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreApi#app_store_top_charts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
