=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class BaiduApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Baidu image search
    # Baidu image search via the acjson JSON API.
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 30 images per page (default to 1)
    # @return [Object]
    def baidu_baidu_image_search(query, opts = {})
      data, _status_code, _headers = baidu_baidu_image_search_with_http_info(query, opts)
      data
    end

    # Baidu image search
    # Baidu image search via the acjson JSON API.
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 30 images per page (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def baidu_baidu_image_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BaiduApi.baidu_baidu_image_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling BaiduApi.baidu_baidu_image_search"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 50
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling BaiduApi.baidu_baidu_image_search, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling BaiduApi.baidu_baidu_image_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/baidu/images'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BaiduApi.baidu_baidu_image_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BaiduApi#baidu_baidu_image_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Baidu news search
    # Baidu news vertical — articles with source, publish date and real URLs.
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @return [Object]
    def baidu_baidu_news_search(query, opts = {})
      data, _status_code, _headers = baidu_baidu_news_search_with_http_info(query, opts)
      data
    end

    # Baidu news search
    # Baidu news vertical — articles with source, publish date and real URLs.
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def baidu_baidu_news_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BaiduApi.baidu_baidu_news_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling BaiduApi.baidu_baidu_news_search"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 76
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling BaiduApi.baidu_baidu_news_search, must be smaller than or equal to 76.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling BaiduApi.baidu_baidu_news_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/baidu/news'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BaiduApi.baidu_baidu_news_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BaiduApi#baidu_baidu_news_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Baidu scraper health check
    # Check health of the Baidu scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def baidu_baidu_scraper_health_check(opts = {})
      data, _status_code, _headers = baidu_baidu_scraper_health_check_with_http_info(opts)
      data
    end

    # Baidu scraper health check
    # Check health of the Baidu scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def baidu_baidu_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BaiduApi.baidu_baidu_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/baidu/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BaiduApi.baidu_baidu_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BaiduApi#baidu_baidu_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Baidu scraper health check
    # Check health of the Baidu scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def baidu_baidu_scraper_health_check_head(opts = {})
      data, _status_code, _headers = baidu_baidu_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Baidu scraper health check
    # Check health of the Baidu scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def baidu_baidu_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BaiduApi.baidu_baidu_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/baidu/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BaiduApi.baidu_baidu_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BaiduApi#baidu_baidu_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Baidu web search
    # Baidu web SERP — organic results with real target URLs, related searches, total count.
    # @param query [String] Search keywords, e.g. &#39;咖啡机&#39; or &#39;coffee machine&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Result page (10 results per page) (default to 1)
    # @option opts [Integer] :num Results per page (rn) (default to 10)
    # @return [Object]
    def baidu_baidu_web_search(query, opts = {})
      data, _status_code, _headers = baidu_baidu_web_search_with_http_info(query, opts)
      data
    end

    # Baidu web search
    # Baidu web SERP — organic results with real target URLs, related searches, total count.
    # @param query [String] Search keywords, e.g. &#39;咖啡机&#39; or &#39;coffee machine&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Result page (10 results per page) (default to 1)
    # @option opts [Integer] :num Results per page (rn) (default to 10)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def baidu_baidu_web_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BaiduApi.baidu_baidu_web_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling BaiduApi.baidu_baidu_web_search"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 76
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling BaiduApi.baidu_baidu_web_search, must be smaller than or equal to 76.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling BaiduApi.baidu_baidu_web_search, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'num'].nil? && opts[:'num'] > 50
        fail ArgumentError, 'invalid value for "opts[:"num"]" when calling BaiduApi.baidu_baidu_web_search, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'num'].nil? && opts[:'num'] < 1
        fail ArgumentError, 'invalid value for "opts[:"num"]" when calling BaiduApi.baidu_baidu_web_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/baidu/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'num'] = opts[:'num'] if !opts[:'num'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BaiduApi.baidu_baidu_web_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BaiduApi#baidu_baidu_web_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search suggestions
    # Baidu search-box suggestions.
    # @param query [String] Partial search term, e.g. &#39;咖啡&#39; or &#39;coff&#39;
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def baidu_search_suggestions(query, opts = {})
      data, _status_code, _headers = baidu_search_suggestions_with_http_info(query, opts)
      data
    end

    # Search suggestions
    # Baidu search-box suggestions.
    # @param query [String] Partial search term, e.g. &#39;咖啡&#39; or &#39;coff&#39;
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def baidu_search_suggestions_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BaiduApi.baidu_search_suggestions ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling BaiduApi.baidu_search_suggestions"
      end
      # resource path
      local_var_path = '/v1/baidu/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BaiduApi.baidu_search_suggestions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BaiduApi#baidu_search_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
