=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class BingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bing scraper health check
    # Check health of the Bing scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def bing_bing_scraper_health_check(opts = {})
      data, _status_code, _headers = bing_bing_scraper_health_check_with_http_info(opts)
      data
    end

    # Bing scraper health check
    # Check health of the Bing scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def bing_bing_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BingApi.bing_bing_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/bing/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BingApi.bing_bing_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BingApi#bing_bing_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bing scraper health check
    # Check health of the Bing scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def bing_bing_scraper_health_check_head(opts = {})
      data, _status_code, _headers = bing_bing_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Bing scraper health check
    # Check health of the Bing scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def bing_bing_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BingApi.bing_bing_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/bing/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BingApi.bing_bing_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BingApi#bing_bing_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Image search
    # Bing Images — thumbnail, full-size and source URL per result.
    # @param query [String] Search keywords, e.g. &#39;golden retriever&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Bing market code, e.g. &#39;en-US&#39;, &#39;en-GB&#39;, &#39;de-DE&#39;. See /markets. (default to 'en-US')
    # @option opts [Integer] :count Results to return (default to 35)
    # @option opts [String] :safe_search off | moderate | strict
    # @return [Object]
    def bing_image_search(query, opts = {})
      data, _status_code, _headers = bing_image_search_with_http_info(query, opts)
      data
    end

    # Image search
    # Bing Images — thumbnail, full-size and source URL per result.
    # @param query [String] Search keywords, e.g. &#39;golden retriever&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Bing market code, e.g. &#39;en-US&#39;, &#39;en-GB&#39;, &#39;de-DE&#39;. See /markets. (default to 'en-US')
    # @option opts [Integer] :count Results to return (default to 35)
    # @option opts [String] :safe_search off | moderate | strict
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def bing_image_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BingApi.bing_image_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling BingApi.bing_image_search"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 150
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling BingApi.bing_image_search, must be smaller than or equal to 150.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling BingApi.bing_image_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/bing/images'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'safe_search'] = opts[:'safe_search'] if !opts[:'safe_search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BingApi.bing_image_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BingApi#bing_image_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List supported markets
    # Supported Bing market codes. Free — costs no credits.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def bing_list_supported_markets(opts = {})
      data, _status_code, _headers = bing_list_supported_markets_with_http_info(opts)
      data
    end

    # List supported markets
    # Supported Bing market codes. Free — costs no credits.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def bing_list_supported_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BingApi.bing_list_supported_markets ...'
      end
      # resource path
      local_var_path = '/v1/bing/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BingApi.bing_list_supported_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BingApi#bing_list_supported_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # News search
    # Bing News — headline, source, published time and snippet per article.
    # @param query [String] Search keywords, e.g. &#39;interest rates&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Bing market code, e.g. &#39;en-US&#39;, &#39;en-GB&#39;, &#39;de-DE&#39;. See /markets. (default to 'en-US')
    # @option opts [String] :freshness day | week | month — restrict to recent articles
    # @return [Object]
    def bing_news_search(query, opts = {})
      data, _status_code, _headers = bing_news_search_with_http_info(query, opts)
      data
    end

    # News search
    # Bing News — headline, source, published time and snippet per article.
    # @param query [String] Search keywords, e.g. &#39;interest rates&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Bing market code, e.g. &#39;en-US&#39;, &#39;en-GB&#39;, &#39;de-DE&#39;. See /markets. (default to 'en-US')
    # @option opts [String] :freshness day | week | month — restrict to recent articles
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def bing_news_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BingApi.bing_news_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling BingApi.bing_news_search"
      end
      # resource path
      local_var_path = '/v1/bing/news'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'freshness'] = opts[:'freshness'] if !opts[:'freshness'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BingApi.bing_news_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BingApi#bing_news_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search suggestions
    # Bing search-box query suggestions.
    # @param query [String] Partial search term, e.g. &#39;coff&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Bing market code, e.g. &#39;en-US&#39;, &#39;en-GB&#39;, &#39;de-DE&#39;. See /markets. (default to 'en-US')
    # @return [Object]
    def bing_search_suggestions(query, opts = {})
      data, _status_code, _headers = bing_search_suggestions_with_http_info(query, opts)
      data
    end

    # Search suggestions
    # Bing search-box query suggestions.
    # @param query [String] Partial search term, e.g. &#39;coff&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Bing market code, e.g. &#39;en-US&#39;, &#39;en-GB&#39;, &#39;de-DE&#39;. See /markets. (default to 'en-US')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def bing_search_suggestions_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BingApi.bing_search_suggestions ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling BingApi.bing_search_suggestions"
      end
      # resource path
      local_var_path = '/v1/bing/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BingApi.bing_search_suggestions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BingApi#bing_search_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Video search
    # Bing Videos — title, thumbnail, duration, publisher and source per result.
    # @param query [String] Search keywords, e.g. &#39;espresso tutorial&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Bing market code, e.g. &#39;en-US&#39;, &#39;en-GB&#39;, &#39;de-DE&#39;. See /markets. (default to 'en-US')
    # @option opts [Integer] :count Results to return (default to 35)
    # @option opts [String] :safe_search off | moderate | strict
    # @return [Object]
    def bing_video_search(query, opts = {})
      data, _status_code, _headers = bing_video_search_with_http_info(query, opts)
      data
    end

    # Video search
    # Bing Videos — title, thumbnail, duration, publisher and source per result.
    # @param query [String] Search keywords, e.g. &#39;espresso tutorial&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Bing market code, e.g. &#39;en-US&#39;, &#39;en-GB&#39;, &#39;de-DE&#39;. See /markets. (default to 'en-US')
    # @option opts [Integer] :count Results to return (default to 35)
    # @option opts [String] :safe_search off | moderate | strict
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def bing_video_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BingApi.bing_video_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling BingApi.bing_video_search"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 150
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling BingApi.bing_video_search, must be smaller than or equal to 150.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling BingApi.bing_video_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/bing/videos'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'safe_search'] = opts[:'safe_search'] if !opts[:'safe_search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BingApi.bing_video_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BingApi#bing_video_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Web search
    # Bing web SERP — organic results, ads, related searches and total count.
    # @param query [String] Search keywords, e.g. &#39;coffee machine&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Bing market code, e.g. &#39;en-US&#39;, &#39;en-GB&#39;, &#39;de-DE&#39;. See /markets. (default to 'en-US')
    # @option opts [Integer] :count Results per page (1-50) (default to 10)
    # @option opts [Integer] :offset Zero-based result offset for pagination (default to 0)
    # @option opts [String] :safe_search off | moderate | strict (default moderate)
    # @return [Object]
    def bing_web_search(query, opts = {})
      data, _status_code, _headers = bing_web_search_with_http_info(query, opts)
      data
    end

    # Web search
    # Bing web SERP — organic results, ads, related searches and total count.
    # @param query [String] Search keywords, e.g. &#39;coffee machine&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Bing market code, e.g. &#39;en-US&#39;, &#39;en-GB&#39;, &#39;de-DE&#39;. See /markets. (default to 'en-US')
    # @option opts [Integer] :count Results per page (1-50) (default to 10)
    # @option opts [Integer] :offset Zero-based result offset for pagination (default to 0)
    # @option opts [String] :safe_search off | moderate | strict (default moderate)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def bing_web_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BingApi.bing_web_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling BingApi.bing_web_search"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling BingApi.bing_web_search, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling BingApi.bing_web_search, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling BingApi.bing_web_search, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/bing/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'safe_search'] = opts[:'safe_search'] if !opts[:'safe_search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BingApi.bing_web_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BingApi#bing_web_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
