=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class BookingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Booking scraper health check
    # Check health of the Booking scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def booking_booking_scraper_health_check(opts = {})
      data, _status_code, _headers = booking_booking_scraper_health_check_with_http_info(opts)
      data
    end

    # Booking scraper health check
    # Check health of the Booking scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def booking_booking_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookingApi.booking_booking_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/booking/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BookingApi.booking_booking_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookingApi#booking_booking_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Booking scraper health check
    # Check health of the Booking scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def booking_booking_scraper_health_check_head(opts = {})
      data, _status_code, _headers = booking_booking_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Booking scraper health check
    # Check health of the Booking scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def booking_booking_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookingApi.booking_booking_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/booking/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BookingApi.booking_booking_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookingApi#booking_booking_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get property detail
    # Full detail for one property: description, address and coordinates, star rating, review score with per-category breakdown, facilities, house rules, room types with occupancy and beds, photos and guest Q&A.
    # @param country_code [String] Two-letter country code, e.g. &#39;it&#39;
    # @param slug [String] Booking page name, e.g. &#39;hotel-artemide&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :photos Gallery photos to return (default to 40)
    # @option opts [Integer] :questions Guest Q&amp;A pairs to return (default to 10)
    # @option opts [String] :language Locale, e.g. en-us, fr
    # @return [Object]
    def booking_get_property_detail(country_code, slug, opts = {})
      data, _status_code, _headers = booking_get_property_detail_with_http_info(country_code, slug, opts)
      data
    end

    # Get property detail
    # Full detail for one property: description, address and coordinates, star rating, review score with per-category breakdown, facilities, house rules, room types with occupancy and beds, photos and guest Q&amp;A.
    # @param country_code [String] Two-letter country code, e.g. &#39;it&#39;
    # @param slug [String] Booking page name, e.g. &#39;hotel-artemide&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :photos Gallery photos to return (default to 40)
    # @option opts [Integer] :questions Guest Q&amp;A pairs to return (default to 10)
    # @option opts [String] :language Locale, e.g. en-us, fr
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def booking_get_property_detail_with_http_info(country_code, slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookingApi.booking_get_property_detail ...'
      end
      # verify the required parameter 'country_code' is set
      if @api_client.config.client_side_validation && country_code.nil?
        fail ArgumentError, "Missing the required parameter 'country_code' when calling BookingApi.booking_get_property_detail"
      end
      if @api_client.config.client_side_validation && country_code.to_s.length > 2
        fail ArgumentError, 'invalid value for "country_code" when calling BookingApi.booking_get_property_detail, the character length must be smaller than or equal to 2.'
      end

      if @api_client.config.client_side_validation && country_code.to_s.length < 2
        fail ArgumentError, 'invalid value for "country_code" when calling BookingApi.booking_get_property_detail, the character length must be great than or equal to 2.'
      end

      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling BookingApi.booking_get_property_detail"
      end
      if @api_client.config.client_side_validation && slug.to_s.length < 1
        fail ArgumentError, 'invalid value for "slug" when calling BookingApi.booking_get_property_detail, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'photos'].nil? && opts[:'photos'] > 100
        fail ArgumentError, 'invalid value for "opts[:"photos"]" when calling BookingApi.booking_get_property_detail, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'photos'].nil? && opts[:'photos'] < 1
        fail ArgumentError, 'invalid value for "opts[:"photos"]" when calling BookingApi.booking_get_property_detail, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'questions'].nil? && opts[:'questions'] > 50
        fail ArgumentError, 'invalid value for "opts[:"questions"]" when calling BookingApi.booking_get_property_detail, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'questions'].nil? && opts[:'questions'] < 0
        fail ArgumentError, 'invalid value for "opts[:"questions"]" when calling BookingApi.booking_get_property_detail, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/booking/properties/{country_code}/{slug}'.sub('{' + 'country_code' + '}', CGI.escape(country_code.to_s)).sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'photos'] = opts[:'photos'] if !opts[:'photos'].nil?
      query_params[:'questions'] = opts[:'questions'] if !opts[:'questions'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BookingApi.booking_get_property_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookingApi#booking_get_property_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get property reviews
    # Paginated guest reviews with score, positive and negative text, stay dates, room type, guest country and type, photos and the partner's reply.
    # @param country_code [String] Two-letter country code, e.g. &#39;it&#39;
    # @param slug [String] Booking page name, e.g. &#39;hotel-artemide&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [Integer] :offset  (default to 0)
    # @option opts [String] :sort MOST_RELEVANT | NEWEST_FIRST | OLDEST_FIRST | SCORE_DESC | SCORE_ASC (default to 'MOST_RELEVANT')
    # @option opts [String] :review_language Only reviews written in this language, e.g. &#39;fr&#39;
    # @option opts [String] :guest_type FAMILIES | COUPLES | GROUP_OF_FRIENDS | SOLO_TRAVELLERS | BUSINESS_TRAVELLERS
    # @option opts [String] :language Locale for labels, e.g. en-us
    # @return [Object]
    def booking_get_property_reviews(country_code, slug, opts = {})
      data, _status_code, _headers = booking_get_property_reviews_with_http_info(country_code, slug, opts)
      data
    end

    # Get property reviews
    # Paginated guest reviews with score, positive and negative text, stay dates, room type, guest country and type, photos and the partner&#39;s reply.
    # @param country_code [String] Two-letter country code, e.g. &#39;it&#39;
    # @param slug [String] Booking page name, e.g. &#39;hotel-artemide&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [Integer] :offset  (default to 0)
    # @option opts [String] :sort MOST_RELEVANT | NEWEST_FIRST | OLDEST_FIRST | SCORE_DESC | SCORE_ASC (default to 'MOST_RELEVANT')
    # @option opts [String] :review_language Only reviews written in this language, e.g. &#39;fr&#39;
    # @option opts [String] :guest_type FAMILIES | COUPLES | GROUP_OF_FRIENDS | SOLO_TRAVELLERS | BUSINESS_TRAVELLERS
    # @option opts [String] :language Locale for labels, e.g. en-us
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def booking_get_property_reviews_with_http_info(country_code, slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookingApi.booking_get_property_reviews ...'
      end
      # verify the required parameter 'country_code' is set
      if @api_client.config.client_side_validation && country_code.nil?
        fail ArgumentError, "Missing the required parameter 'country_code' when calling BookingApi.booking_get_property_reviews"
      end
      if @api_client.config.client_side_validation && country_code.to_s.length > 2
        fail ArgumentError, 'invalid value for "country_code" when calling BookingApi.booking_get_property_reviews, the character length must be smaller than or equal to 2.'
      end

      if @api_client.config.client_side_validation && country_code.to_s.length < 2
        fail ArgumentError, 'invalid value for "country_code" when calling BookingApi.booking_get_property_reviews, the character length must be great than or equal to 2.'
      end

      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling BookingApi.booking_get_property_reviews"
      end
      if @api_client.config.client_side_validation && slug.to_s.length < 1
        fail ArgumentError, 'invalid value for "slug" when calling BookingApi.booking_get_property_reviews, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BookingApi.booking_get_property_reviews, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BookingApi.booking_get_property_reviews, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling BookingApi.booking_get_property_reviews, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/booking/properties/{country_code}/{slug}/reviews'.sub('{' + 'country_code' + '}', CGI.escape(country_code.to_s)).sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'review_language'] = opts[:'review_language'] if !opts[:'review_language'].nil?
      query_params[:'guest_type'] = opts[:'guest_type'] if !opts[:'guest_type'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BookingApi.booking_get_property_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookingApi#booking_get_property_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search destinations
    # Resolve a place name to Booking's `dest_id`/`dest_type`, with coordinates and country — feed the pair back into /search for an exact match.
    # @param query [String] Free-text place, e.g. &#39;amsterd&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 8)
    # @option opts [String] :language Locale, e.g. en-us, fr
    # @return [Object]
    def booking_search_destinations(query, opts = {})
      data, _status_code, _headers = booking_search_destinations_with_http_info(query, opts)
      data
    end

    # Search destinations
    # Resolve a place name to Booking&#39;s &#x60;dest_id&#x60;/&#x60;dest_type&#x60;, with coordinates and country — feed the pair back into /search for an exact match.
    # @param query [String] Free-text place, e.g. &#39;amsterd&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 8)
    # @option opts [String] :language Locale, e.g. en-us, fr
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def booking_search_destinations_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookingApi.booking_search_destinations ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling BookingApi.booking_search_destinations"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 20
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BookingApi.booking_search_destinations, must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BookingApi.booking_search_destinations, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/booking/destinations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BookingApi.booking_search_destinations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookingApi#booking_search_destinations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search properties
    # Search Booking.com properties by destination, with dates, occupancy, sorting and filters. Returns prices, review scores, coordinates, room configuration and photos. Paginate with `offset`.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location Free-text destination, e.g. &#39;Rome&#39;
    # @option opts [Integer] :dest_id Exact destination id (ufi) from /destinations
    # @option opts [String] :dest_type Destination type, e.g. CITY (default to 'NO_DEST_TYPE')
    # @option opts [String] :checkin Check-in date YYYY-MM-DD
    # @option opts [String] :checkout Check-out date YYYY-MM-DD
    # @option opts [Integer] :adults  (default to 2)
    # @option opts [String] :children Comma-separated children ages, e.g. &#39;4,9&#39;
    # @option opts [Integer] :rooms  (default to 1)
    # @option opts [Integer] :offset Result offset for pagination (default to 0)
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :sort popularity | price | class_descending | class_ascending | distance_from_search | bayesian_review_score | review_score_and_price | upsort_bh
    # @option opts [String] :filters Semicolon-separated Booking filter ids, e.g. &#39;class&#x3D;4&#39;
    # @option opts [String] :currency ISO currency, e.g. EUR, USD, GBP
    # @option opts [String] :language Locale, e.g. en-us, fr, de, es
    # @return [Object]
    def booking_search_properties(opts = {})
      data, _status_code, _headers = booking_search_properties_with_http_info(opts)
      data
    end

    # Search properties
    # Search Booking.com properties by destination, with dates, occupancy, sorting and filters. Returns prices, review scores, coordinates, room configuration and photos. Paginate with &#x60;offset&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location Free-text destination, e.g. &#39;Rome&#39;
    # @option opts [Integer] :dest_id Exact destination id (ufi) from /destinations
    # @option opts [String] :dest_type Destination type, e.g. CITY (default to 'NO_DEST_TYPE')
    # @option opts [String] :checkin Check-in date YYYY-MM-DD
    # @option opts [String] :checkout Check-out date YYYY-MM-DD
    # @option opts [Integer] :adults  (default to 2)
    # @option opts [String] :children Comma-separated children ages, e.g. &#39;4,9&#39;
    # @option opts [Integer] :rooms  (default to 1)
    # @option opts [Integer] :offset Result offset for pagination (default to 0)
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :sort popularity | price | class_descending | class_ascending | distance_from_search | bayesian_review_score | review_score_and_price | upsort_bh
    # @option opts [String] :filters Semicolon-separated Booking filter ids, e.g. &#39;class&#x3D;4&#39;
    # @option opts [String] :currency ISO currency, e.g. EUR, USD, GBP
    # @option opts [String] :language Locale, e.g. en-us, fr, de, es
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def booking_search_properties_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookingApi.booking_search_properties ...'
      end
      if @api_client.config.client_side_validation && !opts[:'adults'].nil? && opts[:'adults'] > 30
        fail ArgumentError, 'invalid value for "opts[:"adults"]" when calling BookingApi.booking_search_properties, must be smaller than or equal to 30.'
      end

      if @api_client.config.client_side_validation && !opts[:'adults'].nil? && opts[:'adults'] < 1
        fail ArgumentError, 'invalid value for "opts[:"adults"]" when calling BookingApi.booking_search_properties, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'rooms'].nil? && opts[:'rooms'] > 30
        fail ArgumentError, 'invalid value for "opts[:"rooms"]" when calling BookingApi.booking_search_properties, must be smaller than or equal to 30.'
      end

      if @api_client.config.client_side_validation && !opts[:'rooms'].nil? && opts[:'rooms'] < 1
        fail ArgumentError, 'invalid value for "opts[:"rooms"]" when calling BookingApi.booking_search_properties, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling BookingApi.booking_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BookingApi.booking_search_properties, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BookingApi.booking_search_properties, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/booking/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'location'] = opts[:'location'] if !opts[:'location'].nil?
      query_params[:'dest_id'] = opts[:'dest_id'] if !opts[:'dest_id'].nil?
      query_params[:'dest_type'] = opts[:'dest_type'] if !opts[:'dest_type'].nil?
      query_params[:'checkin'] = opts[:'checkin'] if !opts[:'checkin'].nil?
      query_params[:'checkout'] = opts[:'checkout'] if !opts[:'checkout'].nil?
      query_params[:'adults'] = opts[:'adults'] if !opts[:'adults'].nil?
      query_params[:'children'] = opts[:'children'] if !opts[:'children'].nil?
      query_params[:'rooms'] = opts[:'rooms'] if !opts[:'rooms'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'filters'] = opts[:'filters'] if !opts[:'filters'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BookingApi.booking_search_properties",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookingApi#booking_search_properties\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
