=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class DepopApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Depop scraper health check
    # Check health of the Depop scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def depop_depop_scraper_health_check(opts = {})
      data, _status_code, _headers = depop_depop_scraper_health_check_with_http_info(opts)
      data
    end

    # Depop scraper health check
    # Check health of the Depop scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def depop_depop_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DepopApi.depop_depop_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/depop/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DepopApi.depop_depop_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DepopApi#depop_depop_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Depop scraper health check
    # Check health of the Depop scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def depop_depop_scraper_health_check_head(opts = {})
      data, _status_code, _headers = depop_depop_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Depop scraper health check
    # Check health of the Depop scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def depop_depop_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DepopApi.depop_depop_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/depop/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DepopApi.depop_depop_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DepopApi#depop_depop_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a user's products
    # A user's active listings (cursor-paginated).
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Market code (default to 'us')
    # @option opts [Integer] :per_page  (default to 24)
    # @option opts [String] :cursor Pagination cursor
    # @return [Object]
    def depop_get_a_user_s_products(username, opts = {})
      data, _status_code, _headers = depop_get_a_user_s_products_with_http_info(username, opts)
      data
    end

    # Get a user&#39;s products
    # A user&#39;s active listings (cursor-paginated).
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Market code (default to 'us')
    # @option opts [Integer] :per_page  (default to 24)
    # @option opts [String] :cursor Pagination cursor
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def depop_get_a_user_s_products_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DepopApi.depop_get_a_user_s_products ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling DepopApi.depop_get_a_user_s_products"
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling DepopApi.depop_get_a_user_s_products, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling DepopApi.depop_get_a_user_s_products, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/depop/users/{username}/products'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DepopApi.depop_get_a_user_s_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DepopApi#depop_get_a_user_s_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get product detail
    # Full detail for a single product (by numeric id or slug).
    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Market code (default to 'us')
    # @return [Object]
    def depop_get_product_detail(product_id, opts = {})
      data, _status_code, _headers = depop_get_product_detail_with_http_info(product_id, opts)
      data
    end

    # Get product detail
    # Full detail for a single product (by numeric id or slug).
    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Market code (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def depop_get_product_detail_with_http_info(product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DepopApi.depop_get_product_detail ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling DepopApi.depop_get_product_detail"
      end
      # resource path
      local_var_path = '/v1/depop/products/{product_id}'.sub('{' + 'product_id' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DepopApi.depop_get_product_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DepopApi#depop_get_product_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get shop/user profile
    # Public shop/user profile by username.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Market code (default to 'us')
    # @return [Object]
    def depop_get_shop_user_profile(username, opts = {})
      data, _status_code, _headers = depop_get_shop_user_profile_with_http_info(username, opts)
      data
    end

    # Get shop/user profile
    # Public shop/user profile by username.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Market code (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def depop_get_shop_user_profile_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DepopApi.depop_get_shop_user_profile ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling DepopApi.depop_get_shop_user_profile"
      end
      # resource path
      local_var_path = '/v1/depop/users/{username}'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DepopApi.depop_get_shop_user_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DepopApi#depop_get_shop_user_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List markets
    # List supported Depop markets (country + currency).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def depop_list_markets(opts = {})
      data, _status_code, _headers = depop_list_markets_with_http_info(opts)
      data
    end

    # List markets
    # List supported Depop markets (country + currency).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def depop_list_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DepopApi.depop_list_markets ...'
      end
      # resource path
      local_var_path = '/v1/depop/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DepopApi.depop_list_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DepopApi#depop_list_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Depop products
    # Search the Depop catalog with filters (cursor-paginated).
    # @param query [String] Search text, e.g. &#39;nike vintage&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Market code (us, gb, au, it, fr, ...) (default to 'us')
    # @option opts [Integer] :per_page Results per page (default to 24)
    # @option opts [String] :cursor Pagination cursor (from previous page)
    # @option opts [Float] :price_min Minimum price
    # @option opts [Float] :price_max Maximum price
    # @option opts [String] :brands Comma-separated brand IDs
    # @option opts [String] :categories Comma-separated category IDs
    # @option opts [String] :sizes Comma-separated size IDs
    # @option opts [String] :conditions Comma-separated condition slugs (brand_new, used_excellent, ...)
    # @option opts [String] :gender male | female
    # @option opts [String] :sort relevance | newlyListed | priceAscending | priceDescending
    # @return [Object]
    def depop_search_depop_products(query, opts = {})
      data, _status_code, _headers = depop_search_depop_products_with_http_info(query, opts)
      data
    end

    # Search Depop products
    # Search the Depop catalog with filters (cursor-paginated).
    # @param query [String] Search text, e.g. &#39;nike vintage&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Market code (us, gb, au, it, fr, ...) (default to 'us')
    # @option opts [Integer] :per_page Results per page (default to 24)
    # @option opts [String] :cursor Pagination cursor (from previous page)
    # @option opts [Float] :price_min Minimum price
    # @option opts [Float] :price_max Maximum price
    # @option opts [String] :brands Comma-separated brand IDs
    # @option opts [String] :categories Comma-separated category IDs
    # @option opts [String] :sizes Comma-separated size IDs
    # @option opts [String] :conditions Comma-separated condition slugs (brand_new, used_excellent, ...)
    # @option opts [String] :gender male | female
    # @option opts [String] :sort relevance | newlyListed | priceAscending | priceDescending
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def depop_search_depop_products_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DepopApi.depop_search_depop_products ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling DepopApi.depop_search_depop_products"
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling DepopApi.depop_search_depop_products, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling DepopApi.depop_search_depop_products, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'price_min'].nil? && opts[:'price_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"price_min"]" when calling DepopApi.depop_search_depop_products, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'price_max'].nil? && opts[:'price_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"price_max"]" when calling DepopApi.depop_search_depop_products, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/depop/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'price_min'] = opts[:'price_min'] if !opts[:'price_min'].nil?
      query_params[:'price_max'] = opts[:'price_max'] if !opts[:'price_max'].nil?
      query_params[:'brands'] = opts[:'brands'] if !opts[:'brands'].nil?
      query_params[:'categories'] = opts[:'categories'] if !opts[:'categories'].nil?
      query_params[:'sizes'] = opts[:'sizes'] if !opts[:'sizes'].nil?
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?
      query_params[:'gender'] = opts[:'gender'] if !opts[:'gender'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DepopApi.depop_search_depop_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DepopApi#depop_search_depop_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
