=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class DuckDuckGoApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # DuckDuckGo scraper health check
    # Check health of the DuckDuckGo scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def duckduckgo_duckduckgo_scraper_health_check(opts = {})
      data, _status_code, _headers = duckduckgo_duckduckgo_scraper_health_check_with_http_info(opts)
      data
    end

    # DuckDuckGo scraper health check
    # Check health of the DuckDuckGo scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def duckduckgo_duckduckgo_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuckDuckGoApi.duckduckgo_duckduckgo_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/duckduckgo/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DuckDuckGoApi.duckduckgo_duckduckgo_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuckDuckGoApi#duckduckgo_duckduckgo_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DuckDuckGo scraper health check
    # Check health of the DuckDuckGo scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def duckduckgo_duckduckgo_scraper_health_check_head(opts = {})
      data, _status_code, _headers = duckduckgo_duckduckgo_scraper_health_check_head_with_http_info(opts)
      data
    end

    # DuckDuckGo scraper health check
    # Check health of the DuckDuckGo scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def duckduckgo_duckduckgo_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuckDuckGoApi.duckduckgo_duckduckgo_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/duckduckgo/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DuckDuckGoApi.duckduckgo_duckduckgo_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuckDuckGoApi#duckduckgo_duckduckgo_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Image search
    # DuckDuckGo image search with size/color/type/layout/license filters.
    # @param query [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt &#x3D; all regions. (default to 'wt-wt')
    # @option opts [String] :safesearch on | moderate | off (default to 'moderate')
    # @option opts [Integer] :page 100 results per page (default to 1)
    # @option opts [String] :size Small | Medium | Large | Wallpaper (default to '')
    # @option opts [String] :color color | Monochrome | Red | Blue | … (default to '')
    # @option opts [String] :image_type photo | clipart | gif | transparent | line (default to '')
    # @option opts [String] :layout Square | Tall | Wide (default to '')
    # @option opts [String] :license Any | Public | Share | ShareCommercially | Modify (default to '')
    # @return [Object]
    def duckduckgo_image_search(query, opts = {})
      data, _status_code, _headers = duckduckgo_image_search_with_http_info(query, opts)
      data
    end

    # Image search
    # DuckDuckGo image search with size/color/type/layout/license filters.
    # @param query [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt &#x3D; all regions. (default to 'wt-wt')
    # @option opts [String] :safesearch on | moderate | off (default to 'moderate')
    # @option opts [Integer] :page 100 results per page (default to 1)
    # @option opts [String] :size Small | Medium | Large | Wallpaper (default to '')
    # @option opts [String] :color color | Monochrome | Red | Blue | … (default to '')
    # @option opts [String] :image_type photo | clipart | gif | transparent | line (default to '')
    # @option opts [String] :layout Square | Tall | Wide (default to '')
    # @option opts [String] :license Any | Public | Share | ShareCommercially | Modify (default to '')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def duckduckgo_image_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuckDuckGoApi.duckduckgo_image_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling DuckDuckGoApi.duckduckgo_image_search"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 10
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DuckDuckGoApi.duckduckgo_image_search, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DuckDuckGoApi.duckduckgo_image_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/duckduckgo/images'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'safesearch'] = opts[:'safesearch'] if !opts[:'safesearch'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'color'] = opts[:'color'] if !opts[:'color'].nil?
      query_params[:'image_type'] = opts[:'image_type'] if !opts[:'image_type'].nil?
      query_params[:'layout'] = opts[:'layout'] if !opts[:'layout'].nil?
      query_params[:'license'] = opts[:'license'] if !opts[:'license'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DuckDuckGoApi.duckduckgo_image_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuckDuckGoApi#duckduckgo_image_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Instant Answer
    # DuckDuckGo Instant Answer — abstract, definition, direct answer, related topics.
    # @param query [String] Query for the Instant Answer API
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def duckduckgo_instant_answer(query, opts = {})
      data, _status_code, _headers = duckduckgo_instant_answer_with_http_info(query, opts)
      data
    end

    # Instant Answer
    # DuckDuckGo Instant Answer — abstract, definition, direct answer, related topics.
    # @param query [String] Query for the Instant Answer API
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def duckduckgo_instant_answer_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuckDuckGoApi.duckduckgo_instant_answer ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling DuckDuckGoApi.duckduckgo_instant_answer"
      end
      # resource path
      local_var_path = '/v1/duckduckgo/instant'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DuckDuckGoApi.duckduckgo_instant_answer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuckDuckGoApi#duckduckgo_instant_answer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List supported regions
    # The full DuckDuckGo region (kl) code list.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def duckduckgo_list_supported_regions(opts = {})
      data, _status_code, _headers = duckduckgo_list_supported_regions_with_http_info(opts)
      data
    end

    # List supported regions
    # The full DuckDuckGo region (kl) code list.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def duckduckgo_list_supported_regions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuckDuckGoApi.duckduckgo_list_supported_regions ...'
      end
      # resource path
      local_var_path = '/v1/duckduckgo/regions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DuckDuckGoApi.duckduckgo_list_supported_regions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuckDuckGoApi#duckduckgo_list_supported_regions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # News search
    # DuckDuckGo news search — headline, source, excerpt, unix + ISO date, image.
    # @param query [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt &#x3D; all regions. (default to 'wt-wt')
    # @option opts [String] :safesearch on | moderate | off (default to 'moderate')
    # @option opts [String] :timelimit day | week | month | year (default to '')
    # @option opts [Integer] :page 30 results per page (default to 1)
    # @return [Object]
    def duckduckgo_news_search(query, opts = {})
      data, _status_code, _headers = duckduckgo_news_search_with_http_info(query, opts)
      data
    end

    # News search
    # DuckDuckGo news search — headline, source, excerpt, unix + ISO date, image.
    # @param query [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt &#x3D; all regions. (default to 'wt-wt')
    # @option opts [String] :safesearch on | moderate | off (default to 'moderate')
    # @option opts [String] :timelimit day | week | month | year (default to '')
    # @option opts [Integer] :page 30 results per page (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def duckduckgo_news_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuckDuckGoApi.duckduckgo_news_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling DuckDuckGoApi.duckduckgo_news_search"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 10
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DuckDuckGoApi.duckduckgo_news_search, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DuckDuckGoApi.duckduckgo_news_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/duckduckgo/news'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'safesearch'] = opts[:'safesearch'] if !opts[:'safesearch'].nil?
      query_params[:'timelimit'] = opts[:'timelimit'] if !opts[:'timelimit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DuckDuckGoApi.duckduckgo_news_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuckDuckGoApi#duckduckgo_news_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search suggestions
    # DuckDuckGo search-box suggestions.
    # @param query [String] Partial query to complete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt &#x3D; all regions. (default to 'wt-wt')
    # @return [Object]
    def duckduckgo_search_suggestions(query, opts = {})
      data, _status_code, _headers = duckduckgo_search_suggestions_with_http_info(query, opts)
      data
    end

    # Search suggestions
    # DuckDuckGo search-box suggestions.
    # @param query [String] Partial query to complete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt &#x3D; all regions. (default to 'wt-wt')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def duckduckgo_search_suggestions_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuckDuckGoApi.duckduckgo_search_suggestions ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling DuckDuckGoApi.duckduckgo_search_suggestions"
      end
      # resource path
      local_var_path = '/v1/duckduckgo/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DuckDuckGoApi.duckduckgo_search_suggestions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuckDuckGoApi#duckduckgo_search_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Video search
    # DuckDuckGo video search — title, publisher, uploader, duration, views, thumbnails.
    # @param query [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt &#x3D; all regions. (default to 'wt-wt')
    # @option opts [String] :safesearch on | moderate | off (default to 'moderate')
    # @option opts [Integer] :page 60 results per page (default to 1)
    # @option opts [String] :duration short | medium | long (default to '')
    # @option opts [String] :resolution high | standard (default to '')
    # @return [Object]
    def duckduckgo_video_search(query, opts = {})
      data, _status_code, _headers = duckduckgo_video_search_with_http_info(query, opts)
      data
    end

    # Video search
    # DuckDuckGo video search — title, publisher, uploader, duration, views, thumbnails.
    # @param query [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt &#x3D; all regions. (default to 'wt-wt')
    # @option opts [String] :safesearch on | moderate | off (default to 'moderate')
    # @option opts [Integer] :page 60 results per page (default to 1)
    # @option opts [String] :duration short | medium | long (default to '')
    # @option opts [String] :resolution high | standard (default to '')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def duckduckgo_video_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuckDuckGoApi.duckduckgo_video_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling DuckDuckGoApi.duckduckgo_video_search"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 10
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DuckDuckGoApi.duckduckgo_video_search, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DuckDuckGoApi.duckduckgo_video_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/duckduckgo/videos'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'safesearch'] = opts[:'safesearch'] if !opts[:'safesearch'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'duration'] = opts[:'duration'] if !opts[:'duration'].nil?
      query_params[:'resolution'] = opts[:'resolution'] if !opts[:'resolution'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DuckDuckGoApi.duckduckgo_video_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuckDuckGoApi#duckduckgo_video_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Web search
    # DuckDuckGo web SERP — organic results, the zero-click abstract box, ads flagged.
    # @param query [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt &#x3D; all regions. (default to 'wt-wt')
    # @option opts [String] :safesearch on | moderate | off (default to 'moderate')
    # @option opts [String] :timelimit day | week | month | year (default to '')
    # @option opts [Integer] :page  (default to 1)
    # @return [Object]
    def duckduckgo_web_search(query, opts = {})
      data, _status_code, _headers = duckduckgo_web_search_with_http_info(query, opts)
      data
    end

    # Web search
    # DuckDuckGo web SERP — organic results, the zero-click abstract box, ads flagged.
    # @param query [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt &#x3D; all regions. (default to 'wt-wt')
    # @option opts [String] :safesearch on | moderate | off (default to 'moderate')
    # @option opts [String] :timelimit day | week | month | year (default to '')
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def duckduckgo_web_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuckDuckGoApi.duckduckgo_web_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling DuckDuckGoApi.duckduckgo_web_search"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 25
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DuckDuckGoApi.duckduckgo_web_search, must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DuckDuckGoApi.duckduckgo_web_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/duckduckgo/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'safesearch'] = opts[:'safesearch'] if !opts[:'safesearch'].nil?
      query_params[:'timelimit'] = opts[:'timelimit'] if !opts[:'timelimit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DuckDuckGoApi.duckduckgo_web_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuckDuckGoApi#duckduckgo_web_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
