=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class EBayApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Browse a category
    # List active listings within an eBay category.
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page 
    # @option opts [String] :sort_by best_match|ending_soonest|newly_listed|price_low_to_high|price_high_to_low (default to 'best_match')
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @return [Object]
    def ebay_browse_a_category(category_id, opts = {})
      data, _status_code, _headers = ebay_browse_a_category_with_http_info(category_id, opts)
      data
    end

    # Browse a category
    # List active listings within an eBay category.
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page 
    # @option opts [String] :sort_by best_match|ending_soonest|newly_listed|price_low_to_high|price_high_to_low (default to 'best_match')
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def ebay_browse_a_category_with_http_info(category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EBayApi.ebay_browse_a_category ...'
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling EBayApi.ebay_browse_a_category"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling EBayApi.ebay_browse_a_category, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling EBayApi.ebay_browse_a_category, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 240
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling EBayApi.ebay_browse_a_category, must be smaller than or equal to 240.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling EBayApi.ebay_browse_a_category, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_price'].nil? && opts[:'min_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_price"]" when calling EBayApi.ebay_browse_a_category, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_price'].nil? && opts[:'max_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_price"]" when calling EBayApi.ebay_browse_a_category, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/ebay/categories/{category_id}/items'.sub('{' + 'category_id' + '}', CGI.escape(category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'min_price'] = opts[:'min_price'] if !opts[:'min_price'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EBayApi.ebay_browse_a_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EBayApi#ebay_browse_a_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Completed / sold listings
    # Search completed/sold listings — eBay's sold-price history.
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain Marketplace domain (com, co.uk, de …) (default to 'com')
    # @option opts [String] :category_id Restrict to a category id
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page 60, 120 or 240
    # @option opts [String] :sort_by best_match|ending_soonest|newly_listed|price_low_to_high|price_high_to_low (default to 'best_match')
    # @option opts [String] :condition new|open_box|refurbished|used|for_parts
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @return [Object]
    def ebay_completed_sold_listings(query, opts = {})
      data, _status_code, _headers = ebay_completed_sold_listings_with_http_info(query, opts)
      data
    end

    # Completed / sold listings
    # Search completed/sold listings — eBay&#39;s sold-price history.
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain Marketplace domain (com, co.uk, de …) (default to 'com')
    # @option opts [String] :category_id Restrict to a category id
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page 60, 120 or 240
    # @option opts [String] :sort_by best_match|ending_soonest|newly_listed|price_low_to_high|price_high_to_low (default to 'best_match')
    # @option opts [String] :condition new|open_box|refurbished|used|for_parts
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def ebay_completed_sold_listings_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EBayApi.ebay_completed_sold_listings ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling EBayApi.ebay_completed_sold_listings"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling EBayApi.ebay_completed_sold_listings, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling EBayApi.ebay_completed_sold_listings, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 240
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling EBayApi.ebay_completed_sold_listings, must be smaller than or equal to 240.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling EBayApi.ebay_completed_sold_listings, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_price'].nil? && opts[:'min_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_price"]" when calling EBayApi.ebay_completed_sold_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_price'].nil? && opts[:'max_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_price"]" when calling EBayApi.ebay_completed_sold_listings, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/ebay/completed'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'category_id'] = opts[:'category_id'] if !opts[:'category_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'condition'] = opts[:'condition'] if !opts[:'condition'].nil?
      query_params[:'min_price'] = opts[:'min_price'] if !opts[:'min_price'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EBayApi.ebay_completed_sold_listings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EBayApi#ebay_completed_sold_listings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # eBay scraper health check
    # Check health of the eBay scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def ebay_ebay_scraper_health_check(opts = {})
      data, _status_code, _headers = ebay_ebay_scraper_health_check_with_http_info(opts)
      data
    end

    # eBay scraper health check
    # Check health of the eBay scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def ebay_ebay_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EBayApi.ebay_ebay_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/ebay/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EBayApi.ebay_ebay_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EBayApi#ebay_ebay_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # eBay scraper health check
    # Check health of the eBay scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def ebay_ebay_scraper_health_check_head(opts = {})
      data, _status_code, _headers = ebay_ebay_scraper_health_check_head_with_http_info(opts)
      data
    end

    # eBay scraper health check
    # Check health of the eBay scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def ebay_ebay_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EBayApi.ebay_ebay_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/ebay/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EBayApi.ebay_ebay_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EBayApi#ebay_ebay_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item detail
    # Get a single eBay listing's full detail.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @return [Object]
    def ebay_get_item_detail(item_id, opts = {})
      data, _status_code, _headers = ebay_get_item_detail_with_http_info(item_id, opts)
      data
    end

    # Get item detail
    # Get a single eBay listing&#39;s full detail.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def ebay_get_item_detail_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EBayApi.ebay_get_item_detail ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling EBayApi.ebay_get_item_detail"
      end
      # resource path
      local_var_path = '/v1/ebay/items/{item_id}'.sub('{' + 'item_id' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EBayApi.ebay_get_item_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EBayApi#ebay_get_item_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item reviews
    # Get catalog product reviews shown on an eBay listing.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [Integer] :page  (default to 1)
    # @return [Object]
    def ebay_get_item_reviews(item_id, opts = {})
      data, _status_code, _headers = ebay_get_item_reviews_with_http_info(item_id, opts)
      data
    end

    # Get item reviews
    # Get catalog product reviews shown on an eBay listing.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def ebay_get_item_reviews_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EBayApi.ebay_get_item_reviews ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling EBayApi.ebay_get_item_reviews"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 50
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling EBayApi.ebay_get_item_reviews, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling EBayApi.ebay_get_item_reviews, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/ebay/items/{item_id}/reviews'.sub('{' + 'item_id' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EBayApi.ebay_get_item_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EBayApi#ebay_get_item_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get seller feedback
    # Get a seller's recent feedback comments.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [Integer] :page  (default to 1)
    # @return [Object]
    def ebay_get_seller_feedback(username, opts = {})
      data, _status_code, _headers = ebay_get_seller_feedback_with_http_info(username, opts)
      data
    end

    # Get seller feedback
    # Get a seller&#39;s recent feedback comments.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def ebay_get_seller_feedback_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EBayApi.ebay_get_seller_feedback ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling EBayApi.ebay_get_seller_feedback"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 50
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling EBayApi.ebay_get_seller_feedback, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling EBayApi.ebay_get_seller_feedback, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/ebay/sellers/{username}/feedback'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EBayApi.ebay_get_seller_feedback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EBayApi#ebay_get_seller_feedback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get seller listings
    # List the active listings of a single eBay seller.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [String] :query 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page 
    # @return [Object]
    def ebay_get_seller_listings(username, opts = {})
      data, _status_code, _headers = ebay_get_seller_listings_with_http_info(username, opts)
      data
    end

    # Get seller listings
    # List the active listings of a single eBay seller.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @option opts [String] :query 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def ebay_get_seller_listings_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EBayApi.ebay_get_seller_listings ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling EBayApi.ebay_get_seller_listings"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling EBayApi.ebay_get_seller_listings, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling EBayApi.ebay_get_seller_listings, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 240
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling EBayApi.ebay_get_seller_listings, must be smaller than or equal to 240.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling EBayApi.ebay_get_seller_listings, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/ebay/sellers/{username}/items'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EBayApi.ebay_get_seller_listings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EBayApi#ebay_get_seller_listings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get seller profile
    # Get an eBay seller's public profile.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @return [Object]
    def ebay_get_seller_profile(username, opts = {})
      data, _status_code, _headers = ebay_get_seller_profile_with_http_info(username, opts)
      data
    end

    # Get seller profile
    # Get an eBay seller&#39;s public profile.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def ebay_get_seller_profile_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EBayApi.ebay_get_seller_profile ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling EBayApi.ebay_get_seller_profile"
      end
      # resource path
      local_var_path = '/v1/ebay/sellers/{username}'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EBayApi.ebay_get_seller_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EBayApi#ebay_get_seller_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Keyword suggestions
    # Return eBay keyword autocomplete suggestions.
    # @param query [String] Partial query prefix
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @return [Object]
    def ebay_keyword_suggestions(query, opts = {})
      data, _status_code, _headers = ebay_keyword_suggestions_with_http_info(query, opts)
      data
    end

    # Keyword suggestions
    # Return eBay keyword autocomplete suggestions.
    # @param query [String] Partial query prefix
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain  (default to 'com')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def ebay_keyword_suggestions_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EBayApi.ebay_keyword_suggestions ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling EBayApi.ebay_keyword_suggestions"
      end
      # resource path
      local_var_path = '/v1/ebay/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EBayApi.ebay_keyword_suggestions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EBayApi#ebay_keyword_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List categories
    # List eBay's top-level category ids.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def ebay_list_categories(opts = {})
      data, _status_code, _headers = ebay_list_categories_with_http_info(opts)
      data
    end

    # List categories
    # List eBay&#39;s top-level category ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def ebay_list_categories_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EBayApi.ebay_list_categories ...'
      end
      # resource path
      local_var_path = '/v1/ebay/categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EBayApi.ebay_list_categories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EBayApi#ebay_list_categories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List markets
    # List all supported eBay marketplaces.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def ebay_list_markets(opts = {})
      data, _status_code, _headers = ebay_list_markets_with_http_info(opts)
      data
    end

    # List markets
    # List all supported eBay marketplaces.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def ebay_list_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EBayApi.ebay_list_markets ...'
      end
      # resource path
      local_var_path = '/v1/ebay/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EBayApi.ebay_list_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EBayApi#ebay_list_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search listings
    # Search an eBay marketplace for active listings.
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain Marketplace domain (com, co.uk, de …) (default to 'com')
    # @option opts [String] :category_id Restrict to a category id
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page 60, 120 or 240
    # @option opts [String] :sort_by best_match|ending_soonest|newly_listed|price_low_to_high|price_high_to_low (default to 'best_match')
    # @option opts [String] :condition new|open_box|refurbished|used|for_parts
    # @option opts [String] :buying_format auction|buy_it_now|best_offer
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @option opts [Boolean] :free_shipping  (default to false)
    # @return [Object]
    def ebay_search_listings(query, opts = {})
      data, _status_code, _headers = ebay_search_listings_with_http_info(query, opts)
      data
    end

    # Search listings
    # Search an eBay marketplace for active listings.
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain Marketplace domain (com, co.uk, de …) (default to 'com')
    # @option opts [String] :category_id Restrict to a category id
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page 60, 120 or 240
    # @option opts [String] :sort_by best_match|ending_soonest|newly_listed|price_low_to_high|price_high_to_low (default to 'best_match')
    # @option opts [String] :condition new|open_box|refurbished|used|for_parts
    # @option opts [String] :buying_format auction|buy_it_now|best_offer
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @option opts [Boolean] :free_shipping  (default to false)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def ebay_search_listings_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EBayApi.ebay_search_listings ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling EBayApi.ebay_search_listings"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling EBayApi.ebay_search_listings, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling EBayApi.ebay_search_listings, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 240
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling EBayApi.ebay_search_listings, must be smaller than or equal to 240.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling EBayApi.ebay_search_listings, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_price'].nil? && opts[:'min_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_price"]" when calling EBayApi.ebay_search_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_price'].nil? && opts[:'max_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_price"]" when calling EBayApi.ebay_search_listings, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/ebay/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'category_id'] = opts[:'category_id'] if !opts[:'category_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'condition'] = opts[:'condition'] if !opts[:'condition'].nil?
      query_params[:'buying_format'] = opts[:'buying_format'] if !opts[:'buying_format'].nil?
      query_params[:'min_price'] = opts[:'min_price'] if !opts[:'min_price'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?
      query_params[:'free_shipping'] = opts[:'free_shipping'] if !opts[:'free_shipping'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EBayApi.ebay_search_listings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EBayApi#ebay_search_listings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
