=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class FacebookApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Browse a Marketplace category
    # Browse Marketplace listings in a category (vehicles, electronics, ...).
    # @param category [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location  (default to 'nyc')
    # @option opts [Integer] :min_price 
    # @option opts [Integer] :max_price 
    # @option opts [String] :sort_by 
    # @option opts [String] :after 
    # @return [Object]
    def facebook_browse_a_marketplace_category(category, opts = {})
      data, _status_code, _headers = facebook_browse_a_marketplace_category_with_http_info(category, opts)
      data
    end

    # Browse a Marketplace category
    # Browse Marketplace listings in a category (vehicles, electronics, ...).
    # @param category [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location  (default to 'nyc')
    # @option opts [Integer] :min_price 
    # @option opts [Integer] :max_price 
    # @option opts [String] :sort_by 
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_browse_a_marketplace_category_with_http_info(category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_browse_a_marketplace_category ...'
      end
      # verify the required parameter 'category' is set
      if @api_client.config.client_side_validation && category.nil?
        fail ArgumentError, "Missing the required parameter 'category' when calling FacebookApi.facebook_browse_a_marketplace_category"
      end
      # resource path
      local_var_path = '/v1/facebook/marketplace/category/{category}'.sub('{' + 'category' + '}', CGI.escape(category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'location'] = opts[:'location'] if !opts[:'location'].nil?
      query_params[:'min_price'] = opts[:'min_price'] if !opts[:'min_price'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_browse_a_marketplace_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_browse_a_marketplace_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a Marketplace item
    # Get full detail for a single Marketplace listing.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def facebook_get_a_marketplace_item(item_id, opts = {})
      data, _status_code, _headers = facebook_get_a_marketplace_item_with_http_info(item_id, opts)
      data
    end

    # Get a Marketplace item
    # Get full detail for a single Marketplace listing.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_get_a_marketplace_item_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_get_a_marketplace_item ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling FacebookApi.facebook_get_a_marketplace_item"
      end
      # resource path
      local_var_path = '/v1/facebook/marketplace/item/{item_id}'.sub('{' + 'item_id' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_get_a_marketplace_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_get_a_marketplace_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get advertiser page info
    # Get advertiser page info: category, followers, page transparency (creation date, name history, managing organization, admin-account locations), related pages, and ad spend (for political/issue advertisers).
    # @param page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country  (default to 'US')
    # @return [Object]
    def facebook_get_advertiser_page_info(page_id, opts = {})
      data, _status_code, _headers = facebook_get_advertiser_page_info_with_http_info(page_id, opts)
      data
    end

    # Get advertiser page info
    # Get advertiser page info: category, followers, page transparency (creation date, name history, managing organization, admin-account locations), related pages, and ad spend (for political/issue advertisers).
    # @param page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country  (default to 'US')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_get_advertiser_page_info_with_http_info(page_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_get_advertiser_page_info ...'
      end
      # verify the required parameter 'page_id' is set
      if @api_client.config.client_side_validation && page_id.nil?
        fail ArgumentError, "Missing the required parameter 'page_id' when calling FacebookApi.facebook_get_advertiser_page_info"
      end
      # resource path
      local_var_path = '/v1/facebook/ads/pages/{page_id}'.sub('{' + 'page_id' + '}', CGI.escape(page_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_get_advertiser_page_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_get_advertiser_page_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an ad
    # Get a single Ad Library ad by its archive id. For EU/UK-targeted ads the response also includes transparency insights (payer/beneficiary, total EU reach, and age/gender/country reach breakdowns).
    # @param ad_archive_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country ISO country code (an EU code returns EU transparency) (default to 'US')
    # @return [Object]
    def facebook_get_an_ad(ad_archive_id, opts = {})
      data, _status_code, _headers = facebook_get_an_ad_with_http_info(ad_archive_id, opts)
      data
    end

    # Get an ad
    # Get a single Ad Library ad by its archive id. For EU/UK-targeted ads the response also includes transparency insights (payer/beneficiary, total EU reach, and age/gender/country reach breakdowns).
    # @param ad_archive_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country ISO country code (an EU code returns EU transparency) (default to 'US')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_get_an_ad_with_http_info(ad_archive_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_get_an_ad ...'
      end
      # verify the required parameter 'ad_archive_id' is set
      if @api_client.config.client_side_validation && ad_archive_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_archive_id' when calling FacebookApi.facebook_get_an_ad"
      end
      # resource path
      local_var_path = '/v1/facebook/ads/{ad_archive_id}'.sub('{' + 'ad_archive_id' + '}', CGI.escape(ad_archive_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_get_an_ad",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_get_an_ad\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get group detail
    # Get a Facebook group's details.
    # @param group_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def facebook_get_group_detail(group_id, opts = {})
      data, _status_code, _headers = facebook_get_group_detail_with_http_info(group_id, opts)
      data
    end

    # Get group detail
    # Get a Facebook group&#39;s details.
    # @param group_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_get_group_detail_with_http_info(group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_get_group_detail ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling FacebookApi.facebook_get_group_detail"
      end
      # resource path
      local_var_path = '/v1/facebook/groups/{group_id}'.sub('{' + 'group_id' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_get_group_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_get_group_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get group posts
    # Get a Facebook group's post feed.
    # @param group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Object]
    def facebook_get_group_posts(group_id, opts = {})
      data, _status_code, _headers = facebook_get_group_posts_with_http_info(group_id, opts)
      data
    end

    # Get group posts
    # Get a Facebook group&#39;s post feed.
    # @param group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_get_group_posts_with_http_info(group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_get_group_posts ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling FacebookApi.facebook_get_group_posts"
      end
      # resource path
      local_var_path = '/v1/facebook/groups/{group_id}/posts'.sub('{' + 'group_id' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_get_group_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_get_group_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get page detail
    # Get a Facebook Page's profile (name, category, followers, about).
    # @param identifier [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def facebook_get_page_detail(identifier, opts = {})
      data, _status_code, _headers = facebook_get_page_detail_with_http_info(identifier, opts)
      data
    end

    # Get page detail
    # Get a Facebook Page&#39;s profile (name, category, followers, about).
    # @param identifier [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_get_page_detail_with_http_info(identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_get_page_detail ...'
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling FacebookApi.facebook_get_page_detail"
      end
      # resource path
      local_var_path = '/v1/facebook/pages/{identifier}'.sub('{' + 'identifier' + '}', CGI.escape(identifier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_get_page_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_get_page_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get page posts
    # Get a Facebook Page's timeline posts.
    # @param identifier [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Object]
    def facebook_get_page_posts(identifier, opts = {})
      data, _status_code, _headers = facebook_get_page_posts_with_http_info(identifier, opts)
      data
    end

    # Get page posts
    # Get a Facebook Page&#39;s timeline posts.
    # @param identifier [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_get_page_posts_with_http_info(identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_get_page_posts ...'
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling FacebookApi.facebook_get_page_posts"
      end
      # resource path
      local_var_path = '/v1/facebook/pages/{identifier}/posts'.sub('{' + 'identifier' + '}', CGI.escape(identifier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_get_page_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_get_page_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get post comments
    # Get a Facebook post's comment thread (paginated).
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @option opts [String] :sort  (default to 'relevance')
    # @return [Object]
    def facebook_get_post_comments(post_id, opts = {})
      data, _status_code, _headers = facebook_get_post_comments_with_http_info(post_id, opts)
      data
    end

    # Get post comments
    # Get a Facebook post&#39;s comment thread (paginated).
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @option opts [String] :sort  (default to 'relevance')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_get_post_comments_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_get_post_comments ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling FacebookApi.facebook_get_post_comments"
      end
      # resource path
      local_var_path = '/v1/facebook/posts/{post_id}/comments'.sub('{' + 'post_id' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_get_post_comments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_get_post_comments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get post detail
    # Get a Facebook post's detail plus its top comments.
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def facebook_get_post_detail(post_id, opts = {})
      data, _status_code, _headers = facebook_get_post_detail_with_http_info(post_id, opts)
      data
    end

    # Get post detail
    # Get a Facebook post&#39;s detail plus its top comments.
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_get_post_detail_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_get_post_detail ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling FacebookApi.facebook_get_post_detail"
      end
      # resource path
      local_var_path = '/v1/facebook/posts/{post_id}'.sub('{' + 'post_id' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_get_post_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_get_post_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get profile detail
    # Get a Facebook profile's details.
    # @param identifier [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def facebook_get_profile_detail(identifier, opts = {})
      data, _status_code, _headers = facebook_get_profile_detail_with_http_info(identifier, opts)
      data
    end

    # Get profile detail
    # Get a Facebook profile&#39;s details.
    # @param identifier [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_get_profile_detail_with_http_info(identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_get_profile_detail ...'
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling FacebookApi.facebook_get_profile_detail"
      end
      # resource path
      local_var_path = '/v1/facebook/profiles/{identifier}'.sub('{' + 'identifier' + '}', CGI.escape(identifier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_get_profile_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_get_profile_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get profile posts
    # Get a Facebook profile's timeline posts.
    # @param identifier [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Object]
    def facebook_get_profile_posts(identifier, opts = {})
      data, _status_code, _headers = facebook_get_profile_posts_with_http_info(identifier, opts)
      data
    end

    # Get profile posts
    # Get a Facebook profile&#39;s timeline posts.
    # @param identifier [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_get_profile_posts_with_http_info(identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_get_profile_posts ...'
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling FacebookApi.facebook_get_profile_posts"
      end
      # resource path
      local_var_path = '/v1/facebook/profiles/{identifier}/posts'.sub('{' + 'identifier' + '}', CGI.escape(identifier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_get_profile_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_get_profile_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List categories
    # List Marketplace category slugs (free).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def facebook_list_categories(opts = {})
      data, _status_code, _headers = facebook_list_categories_with_http_info(opts)
      data
    end

    # List categories
    # List Marketplace category slugs (free).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_list_categories_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_list_categories ...'
      end
      # resource path
      local_var_path = '/v1/facebook/marketplace/categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_list_categories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_list_categories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List locations
    # List common Marketplace location slugs (free).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def facebook_list_locations(opts = {})
      data, _status_code, _headers = facebook_list_locations_with_http_info(opts)
      data
    end

    # List locations
    # List common Marketplace location slugs (free).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_list_locations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_list_locations ...'
      end
      # resource path
      local_var_path = '/v1/facebook/marketplace/locations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_list_locations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_list_locations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search advertiser pages
    # Search advertiser Pages in the Ad Library — returns page ids, categories, likes/followers, verification and Instagram handles.
    # @param query [String] Advertiser name or keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country  (default to 'US')
    # @return [Object]
    def facebook_search_advertiser_pages(query, opts = {})
      data, _status_code, _headers = facebook_search_advertiser_pages_with_http_info(query, opts)
      data
    end

    # Search advertiser pages
    # Search advertiser Pages in the Ad Library — returns page ids, categories, likes/followers, verification and Instagram handles.
    # @param query [String] Advertiser name or keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country  (default to 'US')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_search_advertiser_pages_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_search_advertiser_pages ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling FacebookApi.facebook_search_advertiser_pages"
      end
      # resource path
      local_var_path = '/v1/facebook/ads/pages/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_search_advertiser_pages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_search_advertiser_pages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search events
    # Search Facebook events.
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Object]
    def facebook_search_events(q, opts = {})
      data, _status_code, _headers = facebook_search_events_with_http_info(q, opts)
      data
    end

    # Search events
    # Search Facebook events.
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_search_events_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_search_events ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling FacebookApi.facebook_search_events"
      end
      # resource path
      local_var_path = '/v1/facebook/search/events'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_search_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_search_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search everything
    # Global Facebook search (top results across pages, people, groups, posts).
    # @param q [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Object]
    def facebook_search_everything(q, opts = {})
      data, _status_code, _headers = facebook_search_everything_with_http_info(q, opts)
      data
    end

    # Search everything
    # Global Facebook search (top results across pages, people, groups, posts).
    # @param q [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_search_everything_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_search_everything ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling FacebookApi.facebook_search_everything"
      end
      # resource path
      local_var_path = '/v1/facebook/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_search_everything",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_search_everything\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search groups
    # Search Facebook groups.
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Object]
    def facebook_search_groups(q, opts = {})
      data, _status_code, _headers = facebook_search_groups_with_http_info(q, opts)
      data
    end

    # Search groups
    # Search Facebook groups.
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_search_groups_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_search_groups ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling FacebookApi.facebook_search_groups"
      end
      # resource path
      local_var_path = '/v1/facebook/search/groups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_search_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_search_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Marketplace
    # Search Facebook Marketplace listings by keyword and location.  ``location`` must be a Facebook location slug (``london``, ``newcastleupontyne``) or a numeric Facebook place id — the ``city_page_id`` on any listing is one. Human-readable names such as ``Durham, UK`` are rejected with a 400 rather than silently searching Facebook's San Francisco default.
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location Marketplace location slug or numeric place id (default to 'nyc')
    # @option opts [Integer] :min_price 
    # @option opts [Integer] :max_price 
    # @option opts [Integer] :days_since_listed 
    # @option opts [String] :sort_by 
    # @option opts [String] :item_condition 
    # @option opts [String] :delivery_method 
    # @option opts [Integer] :radius Search radius around the location (km, or miles in the US)
    # @option opts [String] :after 
    # @return [Object]
    def facebook_search_marketplace(query, opts = {})
      data, _status_code, _headers = facebook_search_marketplace_with_http_info(query, opts)
      data
    end

    # Search Marketplace
    # Search Facebook Marketplace listings by keyword and location.  &#x60;&#x60;location&#x60;&#x60; must be a Facebook location slug (&#x60;&#x60;london&#x60;&#x60;, &#x60;&#x60;newcastleupontyne&#x60;&#x60;) or a numeric Facebook place id — the &#x60;&#x60;city_page_id&#x60;&#x60; on any listing is one. Human-readable names such as &#x60;&#x60;Durham, UK&#x60;&#x60; are rejected with a 400 rather than silently searching Facebook&#39;s San Francisco default.
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location Marketplace location slug or numeric place id (default to 'nyc')
    # @option opts [Integer] :min_price 
    # @option opts [Integer] :max_price 
    # @option opts [Integer] :days_since_listed 
    # @option opts [String] :sort_by 
    # @option opts [String] :item_condition 
    # @option opts [String] :delivery_method 
    # @option opts [Integer] :radius Search radius around the location (km, or miles in the US)
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_search_marketplace_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_search_marketplace ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling FacebookApi.facebook_search_marketplace"
      end
      # resource path
      local_var_path = '/v1/facebook/marketplace/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'location'] = opts[:'location'] if !opts[:'location'].nil?
      query_params[:'min_price'] = opts[:'min_price'] if !opts[:'min_price'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?
      query_params[:'days_since_listed'] = opts[:'days_since_listed'] if !opts[:'days_since_listed'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'item_condition'] = opts[:'item_condition'] if !opts[:'item_condition'].nil?
      query_params[:'delivery_method'] = opts[:'delivery_method'] if !opts[:'delivery_method'].nil?
      query_params[:'radius'] = opts[:'radius'] if !opts[:'radius'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_search_marketplace",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_search_marketplace\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Pages
    # Search Facebook Pages.
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Object]
    def facebook_search_pages(q, opts = {})
      data, _status_code, _headers = facebook_search_pages_with_http_info(q, opts)
      data
    end

    # Search Pages
    # Search Facebook Pages.
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_search_pages_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_search_pages ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling FacebookApi.facebook_search_pages"
      end
      # resource path
      local_var_path = '/v1/facebook/search/pages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_search_pages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_search_pages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search people
    # Search Facebook profiles.
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Object]
    def facebook_search_people(q, opts = {})
      data, _status_code, _headers = facebook_search_people_with_http_info(q, opts)
      data
    end

    # Search people
    # Search Facebook profiles.
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_search_people_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_search_people ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling FacebookApi.facebook_search_people"
      end
      # resource path
      local_var_path = '/v1/facebook/search/people'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_search_people",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_search_people\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search places
    # Search Facebook places.
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Object]
    def facebook_search_places(q, opts = {})
      data, _status_code, _headers = facebook_search_places_with_http_info(q, opts)
      data
    end

    # Search places
    # Search Facebook places.
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_search_places_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_search_places ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling FacebookApi.facebook_search_places"
      end
      # resource path
      local_var_path = '/v1/facebook/search/places'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_search_places",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_search_places\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search posts
    # Search public Facebook posts.
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Object]
    def facebook_search_posts(q, opts = {})
      data, _status_code, _headers = facebook_search_posts_with_http_info(q, opts)
      data
    end

    # Search posts
    # Search public Facebook posts.
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_search_posts_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_search_posts ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling FacebookApi.facebook_search_posts"
      end
      # resource path
      local_var_path = '/v1/facebook/search/posts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_search_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_search_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search the Ad Library
    # Search the Facebook Ad Library.
    # @param query [String] Advertiser or keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country  (default to 'US')
    # @option opts [String] :ad_type  (default to 'all')
    # @option opts [String] :active_status  (default to 'active')
    # @option opts [String] :after 
    # @return [Object]
    def facebook_search_the_ad_library(query, opts = {})
      data, _status_code, _headers = facebook_search_the_ad_library_with_http_info(query, opts)
      data
    end

    # Search the Ad Library
    # Search the Facebook Ad Library.
    # @param query [String] Advertiser or keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country  (default to 'US')
    # @option opts [String] :ad_type  (default to 'all')
    # @option opts [String] :active_status  (default to 'active')
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def facebook_search_the_ad_library_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.facebook_search_the_ad_library ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling FacebookApi.facebook_search_the_ad_library"
      end
      # resource path
      local_var_path = '/v1/facebook/ads/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'ad_type'] = opts[:'ad_type'] if !opts[:'ad_type'].nil?
      query_params[:'active_status'] = opts[:'active_status'] if !opts[:'active_status'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FacebookApi.facebook_search_the_ad_library",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#facebook_search_the_ad_library\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
