=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class GeminiApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Ask Gemini a question
    # Send a prompt to Gemini and get the answer plus the web sources it cited.
    # @param prompt [String] The prompt to send to Gemini (max 4096 characters).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country ISO-3166 alpha-2 egress country, e.g. &#39;US&#39;, &#39;GB&#39;, &#39;DE&#39;.
    # @option opts [String] :web_search auto (let Gemini decide) | force (ask it to browse) | off (answer from memory). &#x60;web_search_triggered&#x60; in the response always reports what actually happened. (default to 'auto')
    # @return [Object]
    def gemini_ask_gemini_a_question(prompt, opts = {})
      data, _status_code, _headers = gemini_ask_gemini_a_question_with_http_info(prompt, opts)
      data
    end

    # Ask Gemini a question
    # Send a prompt to Gemini and get the answer plus the web sources it cited.
    # @param prompt [String] The prompt to send to Gemini (max 4096 characters).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country ISO-3166 alpha-2 egress country, e.g. &#39;US&#39;, &#39;GB&#39;, &#39;DE&#39;.
    # @option opts [String] :web_search auto (let Gemini decide) | force (ask it to browse) | off (answer from memory). &#x60;web_search_triggered&#x60; in the response always reports what actually happened. (default to 'auto')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def gemini_ask_gemini_a_question_with_http_info(prompt, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeminiApi.gemini_ask_gemini_a_question ...'
      end
      # verify the required parameter 'prompt' is set
      if @api_client.config.client_side_validation && prompt.nil?
        fail ArgumentError, "Missing the required parameter 'prompt' when calling GeminiApi.gemini_ask_gemini_a_question"
      end
      # resource path
      local_var_path = '/v1/gemini/ask'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'prompt'] = prompt
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'web_search'] = opts[:'web_search'] if !opts[:'web_search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GeminiApi.gemini_ask_gemini_a_question",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeminiApi#gemini_ask_gemini_a_question\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Ask Gemini a question (POST)
    # POST form of `/ask`, for prompts too long for a query string.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def gemini_ask_gemini_a_question_post(opts = {})
      data, _status_code, _headers = gemini_ask_gemini_a_question_post_with_http_info(opts)
      data
    end

    # Ask Gemini a question (POST)
    # POST form of &#x60;/ask&#x60;, for prompts too long for a query string.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def gemini_ask_gemini_a_question_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeminiApi.gemini_ask_gemini_a_question_post ...'
      end
      # resource path
      local_var_path = '/v1/gemini/ask'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GeminiApi.gemini_ask_gemini_a_question_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeminiApi#gemini_ask_gemini_a_question_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gemini scraper health check
    # Check health of the Gemini scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def gemini_gemini_scraper_health_check(opts = {})
      data, _status_code, _headers = gemini_gemini_scraper_health_check_with_http_info(opts)
      data
    end

    # Gemini scraper health check
    # Check health of the Gemini scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def gemini_gemini_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeminiApi.gemini_gemini_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/gemini/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GeminiApi.gemini_gemini_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeminiApi#gemini_gemini_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gemini scraper health check
    # Check health of the Gemini scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def gemini_gemini_scraper_health_check_head(opts = {})
      data, _status_code, _headers = gemini_gemini_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Gemini scraper health check
    # Check health of the Gemini scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def gemini_gemini_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeminiApi.gemini_gemini_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/gemini/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GeminiApi.gemini_gemini_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeminiApi#gemini_gemini_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Measure a brand's visibility in a Gemini answer
    # Ask Gemini, then report whether the brand is mentioned, cited and how prominently.
    # @param prompt [String] The prompt to ask Gemini.
    # @param brand [String] Brand name to look for in the answer.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain Brand domain, for citation matching.
    # @option opts [String] :aliases Comma-separated alternative names.
    # @option opts [String] :competitors Comma-separated competitor names.
    # @option opts [String] :country ISO-3166 alpha-2 egress country.
    # @option opts [String] :web_search auto | force | off (default to 'force')
    # @return [Object]
    def gemini_measure_a_brand_s_visibility_in_a_gemini_answer(prompt, brand, opts = {})
      data, _status_code, _headers = gemini_measure_a_brand_s_visibility_in_a_gemini_answer_with_http_info(prompt, brand, opts)
      data
    end

    # Measure a brand&#39;s visibility in a Gemini answer
    # Ask Gemini, then report whether the brand is mentioned, cited and how prominently.
    # @param prompt [String] The prompt to ask Gemini.
    # @param brand [String] Brand name to look for in the answer.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain Brand domain, for citation matching.
    # @option opts [String] :aliases Comma-separated alternative names.
    # @option opts [String] :competitors Comma-separated competitor names.
    # @option opts [String] :country ISO-3166 alpha-2 egress country.
    # @option opts [String] :web_search auto | force | off (default to 'force')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def gemini_measure_a_brand_s_visibility_in_a_gemini_answer_with_http_info(prompt, brand, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeminiApi.gemini_measure_a_brand_s_visibility_in_a_gemini_answer ...'
      end
      # verify the required parameter 'prompt' is set
      if @api_client.config.client_side_validation && prompt.nil?
        fail ArgumentError, "Missing the required parameter 'prompt' when calling GeminiApi.gemini_measure_a_brand_s_visibility_in_a_gemini_answer"
      end
      # verify the required parameter 'brand' is set
      if @api_client.config.client_side_validation && brand.nil?
        fail ArgumentError, "Missing the required parameter 'brand' when calling GeminiApi.gemini_measure_a_brand_s_visibility_in_a_gemini_answer"
      end
      # resource path
      local_var_path = '/v1/gemini/brand-visibility'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'prompt'] = prompt
      query_params[:'brand'] = brand
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'aliases'] = opts[:'aliases'] if !opts[:'aliases'].nil?
      query_params[:'competitors'] = opts[:'competitors'] if !opts[:'competitors'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'web_search'] = opts[:'web_search'] if !opts[:'web_search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GeminiApi.gemini_measure_a_brand_s_visibility_in_a_gemini_answer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeminiApi#gemini_measure_a_brand_s_visibility_in_a_gemini_answer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Measure a brand's visibility in a Gemini answer (POST)
    # POST form, for longer prompts and larger competitor sets.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def gemini_measure_a_brand_s_visibility_in_a_gemini_answer_post(opts = {})
      data, _status_code, _headers = gemini_measure_a_brand_s_visibility_in_a_gemini_answer_post_with_http_info(opts)
      data
    end

    # Measure a brand&#39;s visibility in a Gemini answer (POST)
    # POST form, for longer prompts and larger competitor sets.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def gemini_measure_a_brand_s_visibility_in_a_gemini_answer_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeminiApi.gemini_measure_a_brand_s_visibility_in_a_gemini_answer_post ...'
      end
      # resource path
      local_var_path = '/v1/gemini/brand-visibility'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GeminiApi.gemini_measure_a_brand_s_visibility_in_a_gemini_answer_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeminiApi#gemini_measure_a_brand_s_visibility_in_a_gemini_answer_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
