=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class GoogleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get author citations-per-year chart
    # Return the citations-per-year chart for a Google Scholar author.
    # @param author_id [String] Scholar user ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :hl Language code (default to 'en')
    # @return [Object]
    def google_get_author_citations_per_year_chart(author_id, opts = {})
      data, _status_code, _headers = google_get_author_citations_per_year_chart_with_http_info(author_id, opts)
      data
    end

    # Get author citations-per-year chart
    # Return the citations-per-year chart for a Google Scholar author.
    # @param author_id [String] Scholar user ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :hl Language code (default to 'en')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_get_author_citations_per_year_chart_with_http_info(author_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_get_author_citations_per_year_chart ...'
      end
      # verify the required parameter 'author_id' is set
      if @api_client.config.client_side_validation && author_id.nil?
        fail ArgumentError, "Missing the required parameter 'author_id' when calling GoogleApi.google_get_author_citations_per_year_chart"
      end
      # resource path
      local_var_path = '/v1/google/scholar/author/citation'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'author_id'] = author_id
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_get_author_citations_per_year_chart",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_get_author_citations_per_year_chart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get business posts
    # @param data_id [String] Maps data ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_page_token 
    # @return [Object]
    def google_get_business_posts(data_id, opts = {})
      data, _status_code, _headers = google_get_business_posts_with_http_info(data_id, opts)
      data
    end

    # Get business posts
    # @param data_id [String] Maps data ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_page_token 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_get_business_posts_with_http_info(data_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_get_business_posts ...'
      end
      # verify the required parameter 'data_id' is set
      if @api_client.config.client_side_validation && data_id.nil?
        fail ArgumentError, "Missing the required parameter 'data_id' when calling GoogleApi.google_get_business_posts"
      end
      # resource path
      local_var_path = '/v1/google/maps/posts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data_id'] = data_id
      query_params[:'next_page_token'] = opts[:'next_page_token'] if !opts[:'next_page_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_get_business_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_get_business_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get citation formats for a Scholar paper
    # Return MLA, APA, Chicago, Harvard, and Vancouver citation formats for a paper.
    # @param q [String] Cluster ID from a search result
    # @param [Hash] opts the optional parameters
    # @option opts [String] :hl Language code (default to 'en')
    # @return [Object]
    def google_get_citation_formats_for_a_scholar_paper(q, opts = {})
      data, _status_code, _headers = google_get_citation_formats_for_a_scholar_paper_with_http_info(q, opts)
      data
    end

    # Get citation formats for a Scholar paper
    # Return MLA, APA, Chicago, Harvard, and Vancouver citation formats for a paper.
    # @param q [String] Cluster ID from a search result
    # @param [Hash] opts the optional parameters
    # @option opts [String] :hl Language code (default to 'en')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_get_citation_formats_for_a_scholar_paper_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_get_citation_formats_for_a_scholar_paper ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling GoogleApi.google_get_citation_formats_for_a_scholar_paper"
      end
      # resource path
      local_var_path = '/v1/google/scholar/cite'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_get_citation_formats_for_a_scholar_paper",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_get_citation_formats_for_a_scholar_paper\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get place details
    # @param [Hash] opts the optional parameters
    # @option opts [String] :place_id 
    # @option opts [String] :data_id 
    # @option opts [String] :hl  (default to 'en')
    # @option opts [String] :gl  (default to 'us')
    # @return [Object]
    def google_get_place_details(opts = {})
      data, _status_code, _headers = google_get_place_details_with_http_info(opts)
      data
    end

    # Get place details
    # @param [Hash] opts the optional parameters
    # @option opts [String] :place_id 
    # @option opts [String] :data_id 
    # @option opts [String] :hl  (default to 'en')
    # @option opts [String] :gl  (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_get_place_details_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_get_place_details ...'
      end
      # resource path
      local_var_path = '/v1/google/maps/place'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'place_id'] = opts[:'place_id'] if !opts[:'place_id'].nil?
      query_params[:'data_id'] = opts[:'data_id'] if !opts[:'data_id'].nil?
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_get_place_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_get_place_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get place photos
    # @param data_id [String] Maps data ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :hl  (default to 'en')
    # @option opts [String] :next_page_token 
    # @return [Object]
    def google_get_place_photos(data_id, opts = {})
      data, _status_code, _headers = google_get_place_photos_with_http_info(data_id, opts)
      data
    end

    # Get place photos
    # @param data_id [String] Maps data ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :hl  (default to 'en')
    # @option opts [String] :next_page_token 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_get_place_photos_with_http_info(data_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_get_place_photos ...'
      end
      # verify the required parameter 'data_id' is set
      if @api_client.config.client_side_validation && data_id.nil?
        fail ArgumentError, "Missing the required parameter 'data_id' when calling GoogleApi.google_get_place_photos"
      end
      # resource path
      local_var_path = '/v1/google/maps/photos'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data_id'] = data_id
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?
      query_params[:'next_page_token'] = opts[:'next_page_token'] if !opts[:'next_page_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_get_place_photos",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_get_place_photos\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get place reviews
    # @param data_id [String] Maps data ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by qualityScore | newestFirst | ratingHigh | ratingLow (default to 'qualityScore')
    # @option opts [String] :hl  (default to 'en')
    # @option opts [String] :next_page_token Cursor from the previous response&#39;s pagination.next; omit for page 1.
    # @option opts [Integer] :results  (default to 10)
    # @return [Object]
    def google_get_place_reviews(data_id, opts = {})
      data, _status_code, _headers = google_get_place_reviews_with_http_info(data_id, opts)
      data
    end

    # Get place reviews
    # @param data_id [String] Maps data ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by qualityScore | newestFirst | ratingHigh | ratingLow (default to 'qualityScore')
    # @option opts [String] :hl  (default to 'en')
    # @option opts [String] :next_page_token Cursor from the previous response&#39;s pagination.next; omit for page 1.
    # @option opts [Integer] :results  (default to 10)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_get_place_reviews_with_http_info(data_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_get_place_reviews ...'
      end
      # verify the required parameter 'data_id' is set
      if @api_client.config.client_side_validation && data_id.nil?
        fail ArgumentError, "Missing the required parameter 'data_id' when calling GoogleApi.google_get_place_reviews"
      end
      if @api_client.config.client_side_validation && !opts[:'results'].nil? && opts[:'results'] > 20
        fail ArgumentError, 'invalid value for "opts[:"results"]" when calling GoogleApi.google_get_place_reviews, must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && !opts[:'results'].nil? && opts[:'results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"results"]" when calling GoogleApi.google_get_place_reviews, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/google/maps/reviews'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data_id'] = data_id
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?
      query_params[:'next_page_token'] = opts[:'next_page_token'] if !opts[:'next_page_token'].nil?
      query_params[:'results'] = opts[:'results'] if !opts[:'results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_get_place_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_get_place_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Scholar author profile
    # Get detailed Google Scholar author profile including articles, stats, co-authors.
    # @param author_id [String] Scholar user ID (the &#x60;user&#x60; query parameter)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :hl Language code (default to 'en')
    # @option opts [Integer] :cstart Articles pagination offset (default to 0)
    # @option opts [Integer] :pagesize Articles per page (default to 20)
    # @return [Object]
    def google_get_scholar_author_profile(author_id, opts = {})
      data, _status_code, _headers = google_get_scholar_author_profile_with_http_info(author_id, opts)
      data
    end

    # Get Scholar author profile
    # Get detailed Google Scholar author profile including articles, stats, co-authors.
    # @param author_id [String] Scholar user ID (the &#x60;user&#x60; query parameter)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :hl Language code (default to 'en')
    # @option opts [Integer] :cstart Articles pagination offset (default to 0)
    # @option opts [Integer] :pagesize Articles per page (default to 20)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_get_scholar_author_profile_with_http_info(author_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_get_scholar_author_profile ...'
      end
      # verify the required parameter 'author_id' is set
      if @api_client.config.client_side_validation && author_id.nil?
        fail ArgumentError, "Missing the required parameter 'author_id' when calling GoogleApi.google_get_scholar_author_profile"
      end
      if @api_client.config.client_side_validation && !opts[:'cstart'].nil? && opts[:'cstart'] < 0
        fail ArgumentError, 'invalid value for "opts[:"cstart"]" when calling GoogleApi.google_get_scholar_author_profile, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'pagesize'].nil? && opts[:'pagesize'] > 100
        fail ArgumentError, 'invalid value for "opts[:"pagesize"]" when calling GoogleApi.google_get_scholar_author_profile, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'pagesize'].nil? && opts[:'pagesize'] < 1
        fail ArgumentError, 'invalid value for "opts[:"pagesize"]" when calling GoogleApi.google_get_scholar_author_profile, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/google/scholar/author'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'author_id'] = author_id
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?
      query_params[:'cstart'] = opts[:'cstart'] if !opts[:'cstart'].nil?
      query_params[:'pagesize'] = opts[:'pagesize'] if !opts[:'pagesize'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_get_scholar_author_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_get_scholar_author_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get stock/index quote
    # Get a stock or index quote from Google Finance.
    # @param q [String] Ticker and exchange (e.g. \&quot;AAPL:NASDAQ\&quot;, \&quot;BTC-USD\&quot;)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :hl Language code (default to 'en')
    # @return [Object]
    def google_get_stock_index_quote(q, opts = {})
      data, _status_code, _headers = google_get_stock_index_quote_with_http_info(q, opts)
      data
    end

    # Get stock/index quote
    # Get a stock or index quote from Google Finance.
    # @param q [String] Ticker and exchange (e.g. \&quot;AAPL:NASDAQ\&quot;, \&quot;BTC-USD\&quot;)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :hl Language code (default to 'en')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_get_stock_index_quote_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_get_stock_index_quote ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling GoogleApi.google_get_stock_index_quote"
      end
      # resource path
      local_var_path = '/v1/google/finance/quote'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_get_stock_index_quote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_get_stock_index_quote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Google AI Mode search
    # Get AI-generated search results from Google AI Mode.  Returns the structured `text_blocks` (paragraphs, headings, comparison `table` blocks and lists), a flat `references` source list, a compact `markdown` rendering of the whole answer and — unless `include_html` is false — the raw `answer_html` body.
    # @param q [String] Search query for AI-generated response
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl Country code (default to 'us')
    # @option opts [String] :hl Language code (default to 'en')
    # @option opts [Boolean] :include_html Include the raw &#x60;answer_html&#x60; (full answer body HTML) in the response for maximum parity. It can be 100s of KB — set false when you only need the structured &#x60;text_blocks&#x60; + &#x60;markdown&#x60;. (default to true)
    # @return [Object]
    def google_google_ai_mode_search(q, opts = {})
      data, _status_code, _headers = google_google_ai_mode_search_with_http_info(q, opts)
      data
    end

    # Google AI Mode search
    # Get AI-generated search results from Google AI Mode.  Returns the structured &#x60;text_blocks&#x60; (paragraphs, headings, comparison &#x60;table&#x60; blocks and lists), a flat &#x60;references&#x60; source list, a compact &#x60;markdown&#x60; rendering of the whole answer and — unless &#x60;include_html&#x60; is false — the raw &#x60;answer_html&#x60; body.
    # @param q [String] Search query for AI-generated response
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl Country code (default to 'us')
    # @option opts [String] :hl Language code (default to 'en')
    # @option opts [Boolean] :include_html Include the raw &#x60;answer_html&#x60; (full answer body HTML) in the response for maximum parity. It can be 100s of KB — set false when you only need the structured &#x60;text_blocks&#x60; + &#x60;markdown&#x60;. (default to true)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_google_ai_mode_search_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_google_ai_mode_search ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling GoogleApi.google_google_ai_mode_search"
      end
      # resource path
      local_var_path = '/v1/google/ai-mode/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?
      query_params[:'include_html'] = opts[:'include_html'] if !opts[:'include_html'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_google_ai_mode_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_google_ai_mode_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Google AI Overview (inline SERP block)
    # Get the AI Overview block Google renders inline at the top of a SERP.  Deferred overviews (where Google lazy-loads the block via a follow-up ``page_token``) are chased automatically.
    # @param q [String] Search query — same shape as a Google Search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl Country code (default to 'us')
    # @option opts [String] :hl Language code (default to 'en')
    # @return [Object]
    def google_google_ai_overview_inline_serp_block(q, opts = {})
      data, _status_code, _headers = google_google_ai_overview_inline_serp_block_with_http_info(q, opts)
      data
    end

    # Google AI Overview (inline SERP block)
    # Get the AI Overview block Google renders inline at the top of a SERP.  Deferred overviews (where Google lazy-loads the block via a follow-up &#x60;&#x60;page_token&#x60;&#x60;) are chased automatically.
    # @param q [String] Search query — same shape as a Google Search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl Country code (default to 'us')
    # @option opts [String] :hl Language code (default to 'en')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_google_ai_overview_inline_serp_block_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_google_ai_overview_inline_serp_block ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling GoogleApi.google_google_ai_overview_inline_serp_block"
      end
      # resource path
      local_var_path = '/v1/google/ai-overview'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_google_ai_overview_inline_serp_block",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_google_ai_overview_inline_serp_block\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Google Flights calendar — cheapest fare per date
    # Price a whole range of dates in one call — up to 200 dates per request.  Google Flights' own price graph / date grid: the cheapest fare per departure date instead of one search per date. Prices match `/flights/search` exactly.
    # @param departure_id [String] Departure airport IATA code or location ID
    # @param arrival_id [String] Arrival airport IATA code or location ID
    # @param outbound_date_from [String] First outbound date to price (YYYY-MM-DD)
    # @param outbound_date_to [String] Last outbound date to price (YYYY-MM-DD). At most 200 days from outbound_date_from, or 14 in date-grid mode.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trip_type one_way | round_trip (default to 'one_way')
    # @option opts [Integer] :trip_length_days Round-trip stay length in nights (price-graph mode). Defaults to 7.
    # @option opts [String] :return_date_from Date-grid mode: first return date. With return_date_to, returns the full outbound x return matrix (each range at most 14 days). Round-trip only.
    # @option opts [String] :return_date_to Date-grid mode: last return date
    # @option opts [Integer] :adults  (default to 1)
    # @option opts [Integer] :children  (default to 0)
    # @option opts [Integer] :infants_in_seat  (default to 0)
    # @option opts [Integer] :infants_on_lap  (default to 0)
    # @option opts [String] :travel_class  (default to 'economy')
    # @option opts [String] :currency ISO-4217 currency (default to 'USD')
    # @option opts [String] :gl  (default to 'us')
    # @option opts [String] :hl  (default to 'en')
    # @return [Object]
    def google_google_flights_calendar_cheapest_fare_per_date(departure_id, arrival_id, outbound_date_from, outbound_date_to, opts = {})
      data, _status_code, _headers = google_google_flights_calendar_cheapest_fare_per_date_with_http_info(departure_id, arrival_id, outbound_date_from, outbound_date_to, opts)
      data
    end

    # Google Flights calendar — cheapest fare per date
    # Price a whole range of dates in one call — up to 200 dates per request.  Google Flights&#39; own price graph / date grid: the cheapest fare per departure date instead of one search per date. Prices match &#x60;/flights/search&#x60; exactly.
    # @param departure_id [String] Departure airport IATA code or location ID
    # @param arrival_id [String] Arrival airport IATA code or location ID
    # @param outbound_date_from [String] First outbound date to price (YYYY-MM-DD)
    # @param outbound_date_to [String] Last outbound date to price (YYYY-MM-DD). At most 200 days from outbound_date_from, or 14 in date-grid mode.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trip_type one_way | round_trip (default to 'one_way')
    # @option opts [Integer] :trip_length_days Round-trip stay length in nights (price-graph mode). Defaults to 7.
    # @option opts [String] :return_date_from Date-grid mode: first return date. With return_date_to, returns the full outbound x return matrix (each range at most 14 days). Round-trip only.
    # @option opts [String] :return_date_to Date-grid mode: last return date
    # @option opts [Integer] :adults  (default to 1)
    # @option opts [Integer] :children  (default to 0)
    # @option opts [Integer] :infants_in_seat  (default to 0)
    # @option opts [Integer] :infants_on_lap  (default to 0)
    # @option opts [String] :travel_class  (default to 'economy')
    # @option opts [String] :currency ISO-4217 currency (default to 'USD')
    # @option opts [String] :gl  (default to 'us')
    # @option opts [String] :hl  (default to 'en')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_google_flights_calendar_cheapest_fare_per_date_with_http_info(departure_id, arrival_id, outbound_date_from, outbound_date_to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_google_flights_calendar_cheapest_fare_per_date ...'
      end
      # verify the required parameter 'departure_id' is set
      if @api_client.config.client_side_validation && departure_id.nil?
        fail ArgumentError, "Missing the required parameter 'departure_id' when calling GoogleApi.google_google_flights_calendar_cheapest_fare_per_date"
      end
      # verify the required parameter 'arrival_id' is set
      if @api_client.config.client_side_validation && arrival_id.nil?
        fail ArgumentError, "Missing the required parameter 'arrival_id' when calling GoogleApi.google_google_flights_calendar_cheapest_fare_per_date"
      end
      # verify the required parameter 'outbound_date_from' is set
      if @api_client.config.client_side_validation && outbound_date_from.nil?
        fail ArgumentError, "Missing the required parameter 'outbound_date_from' when calling GoogleApi.google_google_flights_calendar_cheapest_fare_per_date"
      end
      # verify the required parameter 'outbound_date_to' is set
      if @api_client.config.client_side_validation && outbound_date_to.nil?
        fail ArgumentError, "Missing the required parameter 'outbound_date_to' when calling GoogleApi.google_google_flights_calendar_cheapest_fare_per_date"
      end
      if @api_client.config.client_side_validation && !opts[:'trip_length_days'].nil? && opts[:'trip_length_days'] > 60
        fail ArgumentError, 'invalid value for "opts[:"trip_length_days"]" when calling GoogleApi.google_google_flights_calendar_cheapest_fare_per_date, must be smaller than or equal to 60.'
      end

      if @api_client.config.client_side_validation && !opts[:'trip_length_days'].nil? && opts[:'trip_length_days'] < 0
        fail ArgumentError, 'invalid value for "opts[:"trip_length_days"]" when calling GoogleApi.google_google_flights_calendar_cheapest_fare_per_date, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'adults'].nil? && opts[:'adults'] > 9
        fail ArgumentError, 'invalid value for "opts[:"adults"]" when calling GoogleApi.google_google_flights_calendar_cheapest_fare_per_date, must be smaller than or equal to 9.'
      end

      if @api_client.config.client_side_validation && !opts[:'adults'].nil? && opts[:'adults'] < 1
        fail ArgumentError, 'invalid value for "opts[:"adults"]" when calling GoogleApi.google_google_flights_calendar_cheapest_fare_per_date, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'children'].nil? && opts[:'children'] > 8
        fail ArgumentError, 'invalid value for "opts[:"children"]" when calling GoogleApi.google_google_flights_calendar_cheapest_fare_per_date, must be smaller than or equal to 8.'
      end

      if @api_client.config.client_side_validation && !opts[:'children'].nil? && opts[:'children'] < 0
        fail ArgumentError, 'invalid value for "opts[:"children"]" when calling GoogleApi.google_google_flights_calendar_cheapest_fare_per_date, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'infants_in_seat'].nil? && opts[:'infants_in_seat'] > 4
        fail ArgumentError, 'invalid value for "opts[:"infants_in_seat"]" when calling GoogleApi.google_google_flights_calendar_cheapest_fare_per_date, must be smaller than or equal to 4.'
      end

      if @api_client.config.client_side_validation && !opts[:'infants_in_seat'].nil? && opts[:'infants_in_seat'] < 0
        fail ArgumentError, 'invalid value for "opts[:"infants_in_seat"]" when calling GoogleApi.google_google_flights_calendar_cheapest_fare_per_date, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'infants_on_lap'].nil? && opts[:'infants_on_lap'] > 4
        fail ArgumentError, 'invalid value for "opts[:"infants_on_lap"]" when calling GoogleApi.google_google_flights_calendar_cheapest_fare_per_date, must be smaller than or equal to 4.'
      end

      if @api_client.config.client_side_validation && !opts[:'infants_on_lap'].nil? && opts[:'infants_on_lap'] < 0
        fail ArgumentError, 'invalid value for "opts[:"infants_on_lap"]" when calling GoogleApi.google_google_flights_calendar_cheapest_fare_per_date, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/google/flights/calendar'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'departure_id'] = departure_id
      query_params[:'arrival_id'] = arrival_id
      query_params[:'outbound_date_from'] = outbound_date_from
      query_params[:'outbound_date_to'] = outbound_date_to
      query_params[:'trip_type'] = opts[:'trip_type'] if !opts[:'trip_type'].nil?
      query_params[:'trip_length_days'] = opts[:'trip_length_days'] if !opts[:'trip_length_days'].nil?
      query_params[:'return_date_from'] = opts[:'return_date_from'] if !opts[:'return_date_from'].nil?
      query_params[:'return_date_to'] = opts[:'return_date_to'] if !opts[:'return_date_to'].nil?
      query_params[:'adults'] = opts[:'adults'] if !opts[:'adults'].nil?
      query_params[:'children'] = opts[:'children'] if !opts[:'children'].nil?
      query_params[:'infants_in_seat'] = opts[:'infants_in_seat'] if !opts[:'infants_in_seat'].nil?
      query_params[:'infants_on_lap'] = opts[:'infants_on_lap'] if !opts[:'infants_on_lap'].nil?
      query_params[:'travel_class'] = opts[:'travel_class'] if !opts[:'travel_class'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_google_flights_calendar_cheapest_fare_per_date",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_google_flights_calendar_cheapest_fare_per_date\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Google Flights search
    # Search Google Flights for available itineraries.
    # @param departure_id [String] Departure airport IATA code or location ID
    # @param arrival_id [String] Arrival airport IATA code or location ID
    # @param outbound_date [String] Outbound date (YYYY-MM-DD)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :return_date Return date (round-trip only)
    # @option opts [String] :trip_type round_trip | one_way | multi_city (default to 'round_trip')
    # @option opts [Integer] :adults  (default to 1)
    # @option opts [Integer] :children  (default to 0)
    # @option opts [Integer] :infants_in_seat  (default to 0)
    # @option opts [Integer] :infants_on_lap  (default to 0)
    # @option opts [String] :travel_class  (default to 'economy')
    # @option opts [String] :currency ISO-4217 currency (default to 'USD')
    # @option opts [String] :gl  (default to 'us')
    # @option opts [String] :hl  (default to 'en')
    # @option opts [String] :stops  (default to 'any')
    # @option opts [Integer] :max_price 
    # @option opts [String] :departure_token A round-trip offer&#39;s departure_token; returns the return-leg flights for that selected outbound (round-trip only).
    # @return [Object]
    def google_google_flights_search(departure_id, arrival_id, outbound_date, opts = {})
      data, _status_code, _headers = google_google_flights_search_with_http_info(departure_id, arrival_id, outbound_date, opts)
      data
    end

    # Google Flights search
    # Search Google Flights for available itineraries.
    # @param departure_id [String] Departure airport IATA code or location ID
    # @param arrival_id [String] Arrival airport IATA code or location ID
    # @param outbound_date [String] Outbound date (YYYY-MM-DD)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :return_date Return date (round-trip only)
    # @option opts [String] :trip_type round_trip | one_way | multi_city (default to 'round_trip')
    # @option opts [Integer] :adults  (default to 1)
    # @option opts [Integer] :children  (default to 0)
    # @option opts [Integer] :infants_in_seat  (default to 0)
    # @option opts [Integer] :infants_on_lap  (default to 0)
    # @option opts [String] :travel_class  (default to 'economy')
    # @option opts [String] :currency ISO-4217 currency (default to 'USD')
    # @option opts [String] :gl  (default to 'us')
    # @option opts [String] :hl  (default to 'en')
    # @option opts [String] :stops  (default to 'any')
    # @option opts [Integer] :max_price 
    # @option opts [String] :departure_token A round-trip offer&#39;s departure_token; returns the return-leg flights for that selected outbound (round-trip only).
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_google_flights_search_with_http_info(departure_id, arrival_id, outbound_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_google_flights_search ...'
      end
      # verify the required parameter 'departure_id' is set
      if @api_client.config.client_side_validation && departure_id.nil?
        fail ArgumentError, "Missing the required parameter 'departure_id' when calling GoogleApi.google_google_flights_search"
      end
      # verify the required parameter 'arrival_id' is set
      if @api_client.config.client_side_validation && arrival_id.nil?
        fail ArgumentError, "Missing the required parameter 'arrival_id' when calling GoogleApi.google_google_flights_search"
      end
      # verify the required parameter 'outbound_date' is set
      if @api_client.config.client_side_validation && outbound_date.nil?
        fail ArgumentError, "Missing the required parameter 'outbound_date' when calling GoogleApi.google_google_flights_search"
      end
      if @api_client.config.client_side_validation && !opts[:'adults'].nil? && opts[:'adults'] > 9
        fail ArgumentError, 'invalid value for "opts[:"adults"]" when calling GoogleApi.google_google_flights_search, must be smaller than or equal to 9.'
      end

      if @api_client.config.client_side_validation && !opts[:'adults'].nil? && opts[:'adults'] < 1
        fail ArgumentError, 'invalid value for "opts[:"adults"]" when calling GoogleApi.google_google_flights_search, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'children'].nil? && opts[:'children'] > 8
        fail ArgumentError, 'invalid value for "opts[:"children"]" when calling GoogleApi.google_google_flights_search, must be smaller than or equal to 8.'
      end

      if @api_client.config.client_side_validation && !opts[:'children'].nil? && opts[:'children'] < 0
        fail ArgumentError, 'invalid value for "opts[:"children"]" when calling GoogleApi.google_google_flights_search, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'infants_in_seat'].nil? && opts[:'infants_in_seat'] > 4
        fail ArgumentError, 'invalid value for "opts[:"infants_in_seat"]" when calling GoogleApi.google_google_flights_search, must be smaller than or equal to 4.'
      end

      if @api_client.config.client_side_validation && !opts[:'infants_in_seat'].nil? && opts[:'infants_in_seat'] < 0
        fail ArgumentError, 'invalid value for "opts[:"infants_in_seat"]" when calling GoogleApi.google_google_flights_search, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'infants_on_lap'].nil? && opts[:'infants_on_lap'] > 4
        fail ArgumentError, 'invalid value for "opts[:"infants_on_lap"]" when calling GoogleApi.google_google_flights_search, must be smaller than or equal to 4.'
      end

      if @api_client.config.client_side_validation && !opts[:'infants_on_lap'].nil? && opts[:'infants_on_lap'] < 0
        fail ArgumentError, 'invalid value for "opts[:"infants_on_lap"]" when calling GoogleApi.google_google_flights_search, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_price'].nil? && opts[:'max_price'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_price"]" when calling GoogleApi.google_google_flights_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/google/flights/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'departure_id'] = departure_id
      query_params[:'arrival_id'] = arrival_id
      query_params[:'outbound_date'] = outbound_date
      query_params[:'return_date'] = opts[:'return_date'] if !opts[:'return_date'].nil?
      query_params[:'trip_type'] = opts[:'trip_type'] if !opts[:'trip_type'].nil?
      query_params[:'adults'] = opts[:'adults'] if !opts[:'adults'].nil?
      query_params[:'children'] = opts[:'children'] if !opts[:'children'].nil?
      query_params[:'infants_in_seat'] = opts[:'infants_in_seat'] if !opts[:'infants_in_seat'].nil?
      query_params[:'infants_on_lap'] = opts[:'infants_on_lap'] if !opts[:'infants_on_lap'].nil?
      query_params[:'travel_class'] = opts[:'travel_class'] if !opts[:'travel_class'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?
      query_params[:'stops'] = opts[:'stops'] if !opts[:'stops'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?
      query_params[:'departure_token'] = opts[:'departure_token'] if !opts[:'departure_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_google_flights_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_google_flights_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Google Lens visual search
    # Google Lens visual search.  Response carries ``lens_results`` (Scrapingdog parity alias) with ``title`` / ``source`` / ``source_favicon`` / ``thumbnail`` / ``original_thumbnail`` / ``rating`` / ``reviews`` / ``in_stock``, plus ``price`` (``{value, currency, extracted}``) and the raw ``tag`` chip it is parsed from, on shoppable matches. ``related_searches`` chips come alongside. Legacy ``results`` alias kept for backwards compat.
    # @param url [String] Public URL of the image to search visually
    # @param [Hash] opts the optional parameters
    # @option opts [String] :query Optional text refinement (e.g. &#39;pizza&#39;)
    # @option opts [String] :country ISO country code (alias for gl)
    # @option opts [String] :language Language code (alias for hl)
    # @option opts [String] :gl Country code (default to 'us')
    # @option opts [String] :hl Language code (default to 'en')
    # @option opts [Boolean] :product Bias towards shoppable product matches (default to false)
    # @option opts [Boolean] :visual_matches Include the visual-matches carousel (default to true)
    # @option opts [Boolean] :exact_matches Restrict to exact-match results (default to false)
    # @return [Object]
    def google_google_lens_visual_search(url, opts = {})
      data, _status_code, _headers = google_google_lens_visual_search_with_http_info(url, opts)
      data
    end

    # Google Lens visual search
    # Google Lens visual search.  Response carries &#x60;&#x60;lens_results&#x60;&#x60; (Scrapingdog parity alias) with &#x60;&#x60;title&#x60;&#x60; / &#x60;&#x60;source&#x60;&#x60; / &#x60;&#x60;source_favicon&#x60;&#x60; / &#x60;&#x60;thumbnail&#x60;&#x60; / &#x60;&#x60;original_thumbnail&#x60;&#x60; / &#x60;&#x60;rating&#x60;&#x60; / &#x60;&#x60;reviews&#x60;&#x60; / &#x60;&#x60;in_stock&#x60;&#x60;, plus &#x60;&#x60;price&#x60;&#x60; (&#x60;&#x60;{value, currency, extracted}&#x60;&#x60;) and the raw &#x60;&#x60;tag&#x60;&#x60; chip it is parsed from, on shoppable matches. &#x60;&#x60;related_searches&#x60;&#x60; chips come alongside. Legacy &#x60;&#x60;results&#x60;&#x60; alias kept for backwards compat.
    # @param url [String] Public URL of the image to search visually
    # @param [Hash] opts the optional parameters
    # @option opts [String] :query Optional text refinement (e.g. &#39;pizza&#39;)
    # @option opts [String] :country ISO country code (alias for gl)
    # @option opts [String] :language Language code (alias for hl)
    # @option opts [String] :gl Country code (default to 'us')
    # @option opts [String] :hl Language code (default to 'en')
    # @option opts [Boolean] :product Bias towards shoppable product matches (default to false)
    # @option opts [Boolean] :visual_matches Include the visual-matches carousel (default to true)
    # @option opts [Boolean] :exact_matches Restrict to exact-match results (default to false)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_google_lens_visual_search_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_google_lens_visual_search ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling GoogleApi.google_google_lens_visual_search"
      end
      # resource path
      local_var_path = '/v1/google/lens/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?
      query_params[:'product'] = opts[:'product'] if !opts[:'product'].nil?
      query_params[:'visual_matches'] = opts[:'visual_matches'] if !opts[:'visual_matches'].nil?
      query_params[:'exact_matches'] = opts[:'exact_matches'] if !opts[:'exact_matches'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_google_lens_visual_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_google_lens_visual_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Google scraper health check
    # Check health of the Google scraper service.  Accepts ``HEAD`` so external uptime checkers (UptimeRobot uses HEAD by default for HTTP monitors) don't get a 405 Method Not Allowed.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def google_google_scraper_health_check(opts = {})
      data, _status_code, _headers = google_google_scraper_health_check_with_http_info(opts)
      data
    end

    # Google scraper health check
    # Check health of the Google scraper service.  Accepts &#x60;&#x60;HEAD&#x60;&#x60; so external uptime checkers (UptimeRobot uses HEAD by default for HTTP monitors) don&#39;t get a 405 Method Not Allowed.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_google_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_google_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/google/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_google_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_google_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Google scraper health check
    # Check health of the Google scraper service.  Accepts ``HEAD`` so external uptime checkers (UptimeRobot uses HEAD by default for HTTP monitors) don't get a 405 Method Not Allowed.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def google_google_scraper_health_check_head(opts = {})
      data, _status_code, _headers = google_google_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Google scraper health check
    # Check health of the Google scraper service.  Accepts &#x60;&#x60;HEAD&#x60;&#x60; so external uptime checkers (UptimeRobot uses HEAD by default for HTTP monitors) don&#39;t get a 405 Method Not Allowed.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_google_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_google_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/google/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_google_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_google_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Google search suggestions
    # Get Google search autocomplete suggestions.
    # @param q [String] Search query to get suggestions for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :hl Language code (default to 'en')
    # @option opts [String] :gl Country code (default to 'us')
    # @return [Object]
    def google_google_search_suggestions(q, opts = {})
      data, _status_code, _headers = google_google_search_suggestions_with_http_info(q, opts)
      data
    end

    # Google search suggestions
    # Get Google search autocomplete suggestions.
    # @param q [String] Search query to get suggestions for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :hl Language code (default to 'en')
    # @option opts [String] :gl Country code (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_google_search_suggestions_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_google_search_suggestions ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling GoogleApi.google_google_search_suggestions"
      end
      # resource path
      local_var_path = '/v1/google/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_google_search_suggestions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_google_search_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Google Shorts search
    # Return short-form video results (YouTube Shorts, TikToks) from Google Shorts mode.
    # @param q [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl Country code (default to 'us')
    # @option opts [String] :hl Language code (default to 'en')
    # @option opts [String] :domain Google domain (default to 'google.com')
    # @option opts [Integer] :num Results per page (default to 20)
    # @option opts [Integer] :start Pagination offset (default to 0)
    # @return [Object]
    def google_google_shorts_search(q, opts = {})
      data, _status_code, _headers = google_google_shorts_search_with_http_info(q, opts)
      data
    end

    # Google Shorts search
    # Return short-form video results (YouTube Shorts, TikToks) from Google Shorts mode.
    # @param q [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl Country code (default to 'us')
    # @option opts [String] :hl Language code (default to 'en')
    # @option opts [String] :domain Google domain (default to 'google.com')
    # @option opts [Integer] :num Results per page (default to 20)
    # @option opts [Integer] :start Pagination offset (default to 0)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_google_shorts_search_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_google_shorts_search ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling GoogleApi.google_google_shorts_search"
      end
      if @api_client.config.client_side_validation && !opts[:'num'].nil? && opts[:'num'] > 50
        fail ArgumentError, 'invalid value for "opts[:"num"]" when calling GoogleApi.google_google_shorts_search, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'num'].nil? && opts[:'num'] < 1
        fail ArgumentError, 'invalid value for "opts[:"num"]" when calling GoogleApi.google_google_shorts_search, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'start'].nil? && opts[:'start'] < 0
        fail ArgumentError, 'invalid value for "opts[:"start"]" when calling GoogleApi.google_google_shorts_search, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/google/shorts/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'num'] = opts[:'num'] if !opts[:'num'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_google_shorts_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_google_shorts_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Google web search
    # Search Google and get structured results (organic, ads, KG, AI overview, PAA).
    # @param q [String] Search query (supports Google operators)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl Country code (default to 'us')
    # @option opts [String] :hl Language code (default to 'en')
    # @option opts [Integer] :num  (default to 10)
    # @option opts [Integer] :start Page offset (0, 10, 20...) (default to 0)
    # @option opts [String] :domain Google domain (default to 'google.com')
    # @option opts [String] :device Device target: desktop, mobile, iphone, android, tablet (default to 'desktop')
    # @option opts [String] :user_agent Custom User-Agent (overrides device)
    # @option opts [String] :output Response format: json (parsed) or html (raw SERP) (default to 'json')
    # @option opts [String] :location City-level geo-targeting
    # @option opts [String] :lr Language restrict (e.g. lang_en)
    # @option opts [String] :tbs Time filter (e.g. qdr:d)
    # @option opts [String] :safe  (default to 'off')
    # @option opts [String] :uule UULE encoded location
    # @option opts [Integer] :filter Show omitted results
    # @option opts [Integer] :nfpr Disable auto-correction (default to 0)
    # @option opts [String] :cr Country restrict
    # @option opts [String] :ludocid Google Place CID
    # @option opts [String] :lsig Knowledge Graph map ID
    # @option opts [String] :kgmid Knowledge Graph entity ID
    # @option opts [String] :si Cached search params
    # @option opts [String] :ibp Layout control
    # @option opts [String] :uds Google filter string
    # @option opts [Boolean] :ai_overview Chase deferred AI Overview page_token with a follow-up fetch and merge the result. Adds ~1s and 1 credit when the SERP defers the overview. (default to false)
    # @return [Object]
    def google_google_web_search(q, opts = {})
      data, _status_code, _headers = google_google_web_search_with_http_info(q, opts)
      data
    end

    # Google web search
    # Search Google and get structured results (organic, ads, KG, AI overview, PAA).
    # @param q [String] Search query (supports Google operators)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl Country code (default to 'us')
    # @option opts [String] :hl Language code (default to 'en')
    # @option opts [Integer] :num  (default to 10)
    # @option opts [Integer] :start Page offset (0, 10, 20...) (default to 0)
    # @option opts [String] :domain Google domain (default to 'google.com')
    # @option opts [String] :device Device target: desktop, mobile, iphone, android, tablet (default to 'desktop')
    # @option opts [String] :user_agent Custom User-Agent (overrides device)
    # @option opts [String] :output Response format: json (parsed) or html (raw SERP) (default to 'json')
    # @option opts [String] :location City-level geo-targeting
    # @option opts [String] :lr Language restrict (e.g. lang_en)
    # @option opts [String] :tbs Time filter (e.g. qdr:d)
    # @option opts [String] :safe  (default to 'off')
    # @option opts [String] :uule UULE encoded location
    # @option opts [Integer] :filter Show omitted results
    # @option opts [Integer] :nfpr Disable auto-correction (default to 0)
    # @option opts [String] :cr Country restrict
    # @option opts [String] :ludocid Google Place CID
    # @option opts [String] :lsig Knowledge Graph map ID
    # @option opts [String] :kgmid Knowledge Graph entity ID
    # @option opts [String] :si Cached search params
    # @option opts [String] :ibp Layout control
    # @option opts [String] :uds Google filter string
    # @option opts [Boolean] :ai_overview Chase deferred AI Overview page_token with a follow-up fetch and merge the result. Adds ~1s and 1 credit when the SERP defers the overview. (default to false)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_google_web_search_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_google_web_search ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling GoogleApi.google_google_web_search"
      end
      if @api_client.config.client_side_validation && !opts[:'num'].nil? && opts[:'num'] > 100
        fail ArgumentError, 'invalid value for "opts[:"num"]" when calling GoogleApi.google_google_web_search, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'num'].nil? && opts[:'num'] < 1
        fail ArgumentError, 'invalid value for "opts[:"num"]" when calling GoogleApi.google_google_web_search, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'start'].nil? && opts[:'start'] < 0
        fail ArgumentError, 'invalid value for "opts[:"start"]" when calling GoogleApi.google_google_web_search, must be greater than or equal to 0.'
      end

      allowable_values = ["desktop", "mobile", "iphone", "android", "tablet"]
      if @api_client.config.client_side_validation && opts[:'device'] && !allowable_values.include?(opts[:'device'])
        fail ArgumentError, "invalid value for \"device\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'user_agent'].nil? && opts[:'user_agent'].to_s.length > 512
        fail ArgumentError, 'invalid value for "opts[:"user_agent"]" when calling GoogleApi.google_google_web_search, the character length must be smaller than or equal to 512.'
      end

      pattern = Regexp.new(/^[^\r\n]*$/)
      if @api_client.config.client_side_validation && !opts[:'user_agent'].nil? && opts[:'user_agent'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"user_agent\"]' when calling GoogleApi.google_google_web_search, must conform to the pattern #{pattern}."
      end

      allowable_values = ["json", "html"]
      if @api_client.config.client_side_validation && opts[:'output'] && !allowable_values.include?(opts[:'output'])
        fail ArgumentError, "invalid value for \"output\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/google/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?
      query_params[:'num'] = opts[:'num'] if !opts[:'num'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'device'] = opts[:'device'] if !opts[:'device'].nil?
      query_params[:'user_agent'] = opts[:'user_agent'] if !opts[:'user_agent'].nil?
      query_params[:'output'] = opts[:'output'] if !opts[:'output'].nil?
      query_params[:'location'] = opts[:'location'] if !opts[:'location'].nil?
      query_params[:'lr'] = opts[:'lr'] if !opts[:'lr'].nil?
      query_params[:'tbs'] = opts[:'tbs'] if !opts[:'tbs'].nil?
      query_params[:'safe'] = opts[:'safe'] if !opts[:'safe'].nil?
      query_params[:'uule'] = opts[:'uule'] if !opts[:'uule'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'nfpr'] = opts[:'nfpr'] if !opts[:'nfpr'].nil?
      query_params[:'cr'] = opts[:'cr'] if !opts[:'cr'].nil?
      query_params[:'ludocid'] = opts[:'ludocid'] if !opts[:'ludocid'].nil?
      query_params[:'lsig'] = opts[:'lsig'] if !opts[:'lsig'].nil?
      query_params[:'kgmid'] = opts[:'kgmid'] if !opts[:'kgmid'].nil?
      query_params[:'si'] = opts[:'si'] if !opts[:'si'].nil?
      query_params[:'ibp'] = opts[:'ibp'] if !opts[:'ibp'].nil?
      query_params[:'uds'] = opts[:'uds'] if !opts[:'uds'].nil?
      query_params[:'ai_overview'] = opts[:'ai_overview'] if !opts[:'ai_overview'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_google_web_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_google_web_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Hotel details
    # @param property_token [String] Property token
    # @param check_in [String] YYYY-MM-DD
    # @param check_out [String] YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def google_hotel_details(property_token, check_in, check_out, opts = {})
      data, _status_code, _headers = google_hotel_details_with_http_info(property_token, check_in, check_out, opts)
      data
    end

    # Hotel details
    # @param property_token [String] Property token
    # @param check_in [String] YYYY-MM-DD
    # @param check_out [String] YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_hotel_details_with_http_info(property_token, check_in, check_out, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_hotel_details ...'
      end
      # verify the required parameter 'property_token' is set
      if @api_client.config.client_side_validation && property_token.nil?
        fail ArgumentError, "Missing the required parameter 'property_token' when calling GoogleApi.google_hotel_details"
      end
      # verify the required parameter 'check_in' is set
      if @api_client.config.client_side_validation && check_in.nil?
        fail ArgumentError, "Missing the required parameter 'check_in' when calling GoogleApi.google_hotel_details"
      end
      # verify the required parameter 'check_out' is set
      if @api_client.config.client_side_validation && check_out.nil?
        fail ArgumentError, "Missing the required parameter 'check_out' when calling GoogleApi.google_hotel_details"
      end
      # resource path
      local_var_path = '/v1/google/hotels/details'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'property_token'] = property_token
      query_params[:'check_in'] = check_in
      query_params[:'check_out'] = check_out

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_hotel_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_hotel_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Immersive product detail
    # Get deep product details from Google's immersive product page.
    # @param product_id [String] Google Shopping &#x60;&#x60;gpcid&#x60;&#x60; — the product_id returned on &#x60;&#x60;/shopping/search&#x60;&#x60; tiles. Scrapingdog-compatible.
    # @param q [String] Original search query that surfaced the product. Required by Google&#39;s &#x60;&#x60;/async/oapv&#x60;&#x60; RPC.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl Country code (ISO 3166 alpha-2) (default to 'us')
    # @option opts [String] :hl Language code (default to 'en')
    # @option opts [String] :catalog_id Optional &#x60;&#x60;catalogid&#x60;&#x60; from the Shopping tile (improves parity).
    # @option opts [String] :image_docid Optional &#x60;&#x60;imageDocid&#x60;&#x60; for higher-fidelity images.
    # @option opts [String] :headline_offer_docid Optional &#x60;&#x60;headlineOfferDocid&#x60;&#x60; to pin the featured seller.
    # @option opts [String] :mid Optional Google Knowledge-Graph &#x60;&#x60;mid&#x60;&#x60;.
    # @option opts [Boolean] :include_offers When true, fetch the full merchant-offer list via a secondary RPC (&#x60;&#x60;/async/piu_ps&#x60;&#x60;). Adds ~1 s. (default to false)
    # @option opts [Boolean] :include_variants When true, fetch size/colour variants via a secondary RPC (&#x60;&#x60;/async/toy_v&#x60;&#x60;). Adds ~1 s. (default to false)
    # @return [Object]
    def google_immersive_product_detail(product_id, q, opts = {})
      data, _status_code, _headers = google_immersive_product_detail_with_http_info(product_id, q, opts)
      data
    end

    # Immersive product detail
    # Get deep product details from Google&#39;s immersive product page.
    # @param product_id [String] Google Shopping &#x60;&#x60;gpcid&#x60;&#x60; — the product_id returned on &#x60;&#x60;/shopping/search&#x60;&#x60; tiles. Scrapingdog-compatible.
    # @param q [String] Original search query that surfaced the product. Required by Google&#39;s &#x60;&#x60;/async/oapv&#x60;&#x60; RPC.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl Country code (ISO 3166 alpha-2) (default to 'us')
    # @option opts [String] :hl Language code (default to 'en')
    # @option opts [String] :catalog_id Optional &#x60;&#x60;catalogid&#x60;&#x60; from the Shopping tile (improves parity).
    # @option opts [String] :image_docid Optional &#x60;&#x60;imageDocid&#x60;&#x60; for higher-fidelity images.
    # @option opts [String] :headline_offer_docid Optional &#x60;&#x60;headlineOfferDocid&#x60;&#x60; to pin the featured seller.
    # @option opts [String] :mid Optional Google Knowledge-Graph &#x60;&#x60;mid&#x60;&#x60;.
    # @option opts [Boolean] :include_offers When true, fetch the full merchant-offer list via a secondary RPC (&#x60;&#x60;/async/piu_ps&#x60;&#x60;). Adds ~1 s. (default to false)
    # @option opts [Boolean] :include_variants When true, fetch size/colour variants via a secondary RPC (&#x60;&#x60;/async/toy_v&#x60;&#x60;). Adds ~1 s. (default to false)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_immersive_product_detail_with_http_info(product_id, q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_immersive_product_detail ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling GoogleApi.google_immersive_product_detail"
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling GoogleApi.google_immersive_product_detail"
      end
      # resource path
      local_var_path = '/v1/google/products/detail'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'product_id'] = product_id
      query_params[:'q'] = q
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?
      query_params[:'catalog_id'] = opts[:'catalog_id'] if !opts[:'catalog_id'].nil?
      query_params[:'image_docid'] = opts[:'image_docid'] if !opts[:'image_docid'].nil?
      query_params[:'headline_offer_docid'] = opts[:'headline_offer_docid'] if !opts[:'headline_offer_docid'].nil?
      query_params[:'mid'] = opts[:'mid'] if !opts[:'mid'].nil?
      query_params[:'include_offers'] = opts[:'include_offers'] if !opts[:'include_offers'].nil?
      query_params[:'include_variants'] = opts[:'include_variants'] if !opts[:'include_variants'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_immersive_product_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_immersive_product_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Interest by region
    # @param q [String] Search term
    # @param [Hash] opts the optional parameters
    # @option opts [String] :geo  (default to '')
    # @return [Object]
    def google_interest_by_region(q, opts = {})
      data, _status_code, _headers = google_interest_by_region_with_http_info(q, opts)
      data
    end

    # Interest by region
    # @param q [String] Search term
    # @param [Hash] opts the optional parameters
    # @option opts [String] :geo  (default to '')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_interest_by_region_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_interest_by_region ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling GoogleApi.google_interest_by_region"
      end
      # resource path
      local_var_path = '/v1/google/trends/regions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'geo'] = opts[:'geo'] if !opts[:'geo'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_interest_by_region",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_interest_by_region\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Interest over time
    # @param q [String] Search terms
    # @param [Hash] opts the optional parameters
    # @option opts [String] :geo  (default to '')
    # @option opts [String] :date  (default to 'today 12-m')
    # @return [Object]
    def google_interest_over_time(q, opts = {})
      data, _status_code, _headers = google_interest_over_time_with_http_info(q, opts)
      data
    end

    # Interest over time
    # @param q [String] Search terms
    # @param [Hash] opts the optional parameters
    # @option opts [String] :geo  (default to '')
    # @option opts [String] :date  (default to 'today 12-m')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_interest_over_time_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_interest_over_time ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling GoogleApi.google_interest_over_time"
      end
      # resource path
      local_var_path = '/v1/google/trends/interest'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'geo'] = opts[:'geo'] if !opts[:'geo'].nil?
      query_params[:'date'] = opts[:'date'] if !opts[:'date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_interest_over_time",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_interest_over_time\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Multi-seller offers by barcode
    # Resolve a barcode to a product via Google web search, then return its Google Shopping seller offers (source + price per merchant).
    # @param barcode [String] Product barcode — GTIN-8 / UPC-A / EAN-13 / GTIN-14
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl Country code (ISO 3166 alpha-2)
    # @option opts [String] :hl Language code (default to 'en')
    # @return [Object]
    def google_multi_seller_offers_by_barcode(barcode, opts = {})
      data, _status_code, _headers = google_multi_seller_offers_by_barcode_with_http_info(barcode, opts)
      data
    end

    # Multi-seller offers by barcode
    # Resolve a barcode to a product via Google web search, then return its Google Shopping seller offers (source + price per merchant).
    # @param barcode [String] Product barcode — GTIN-8 / UPC-A / EAN-13 / GTIN-14
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl Country code (ISO 3166 alpha-2)
    # @option opts [String] :hl Language code (default to 'en')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_multi_seller_offers_by_barcode_with_http_info(barcode, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_multi_seller_offers_by_barcode ...'
      end
      # verify the required parameter 'barcode' is set
      if @api_client.config.client_side_validation && barcode.nil?
        fail ArgumentError, "Missing the required parameter 'barcode' when calling GoogleApi.google_multi_seller_offers_by_barcode"
      end
      # resource path
      local_var_path = '/v1/google/shopping/offers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'barcode'] = barcode
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_multi_seller_offers_by_barcode",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_multi_seller_offers_by_barcode\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # News by topic
    # @param topic [String] Topic name
    # @param [Hash] opts the optional parameters
    # @option opts [String] :hl  (default to 'en')
    # @option opts [String] :gl  (default to 'US')
    # @option opts [Integer] :max_results  (default to 10)
    # @return [Object]
    def google_news_by_topic(topic, opts = {})
      data, _status_code, _headers = google_news_by_topic_with_http_info(topic, opts)
      data
    end

    # News by topic
    # @param topic [String] Topic name
    # @param [Hash] opts the optional parameters
    # @option opts [String] :hl  (default to 'en')
    # @option opts [String] :gl  (default to 'US')
    # @option opts [Integer] :max_results  (default to 10)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_news_by_topic_with_http_info(topic, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_news_by_topic ...'
      end
      # verify the required parameter 'topic' is set
      if @api_client.config.client_side_validation && topic.nil?
        fail ArgumentError, "Missing the required parameter 'topic' when calling GoogleApi.google_news_by_topic"
      end
      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling GoogleApi.google_news_by_topic, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling GoogleApi.google_news_by_topic, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/google/news/topics'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'topic'] = topic
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_news_by_topic",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

[...]
