=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class GooglePlayApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Browse a category
    # The top apps within a Play category.
    # @param category_id [String] Play category id, e.g. &#39;GAME_PUZZLE&#39; or &#39;SOCIAL&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Play storefront country (gl), ISO 3166-1 alpha-2, e.g. &#39;US&#39; (default to 'US')
    # @option opts [String] :lang Play content language (hl), e.g. &#39;en&#39; or &#39;pt-BR&#39; (default to 'en')
    # @return [Object]
    def google_play_browse_a_category(category_id, opts = {})
      data, _status_code, _headers = google_play_browse_a_category_with_http_info(category_id, opts)
      data
    end

    # Browse a category
    # The top apps within a Play category.
    # @param category_id [String] Play category id, e.g. &#39;GAME_PUZZLE&#39; or &#39;SOCIAL&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Play storefront country (gl), ISO 3166-1 alpha-2, e.g. &#39;US&#39; (default to 'US')
    # @option opts [String] :lang Play content language (hl), e.g. &#39;en&#39; or &#39;pt-BR&#39; (default to 'en')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_play_browse_a_category_with_http_info(category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_browse_a_category ...'
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling GooglePlayApi.google_play_browse_a_category"
      end
      # resource path
      local_var_path = '/v1/google-play/categories/{category_id}'.sub('{' + 'category_id' + '}', CGI.escape(category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_browse_a_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_browse_a_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get app detail
    # Full app detail: ratings histogram, installs, pricing, IAP, developer, screenshots, version metadata and what's-new.
    # @param app_id [String] Android package id, e.g. &#39;com.whatsapp&#39;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Play storefront country (gl), ISO 3166-1 alpha-2, e.g. &#39;US&#39; (default to 'US')
    # @option opts [String] :lang Play content language (hl), e.g. &#39;en&#39; or &#39;pt-BR&#39; (default to 'en')
    # @return [Object]
    def google_play_get_app_detail(app_id, opts = {})
      data, _status_code, _headers = google_play_get_app_detail_with_http_info(app_id, opts)
      data
    end

    # Get app detail
    # Full app detail: ratings histogram, installs, pricing, IAP, developer, screenshots, version metadata and what&#39;s-new.
    # @param app_id [String] Android package id, e.g. &#39;com.whatsapp&#39;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Play storefront country (gl), ISO 3166-1 alpha-2, e.g. &#39;US&#39; (default to 'US')
    # @option opts [String] :lang Play content language (hl), e.g. &#39;en&#39; or &#39;pt-BR&#39; (default to 'en')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_play_get_app_detail_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_get_app_detail ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling GooglePlayApi.google_play_get_app_detail"
      end
      # resource path
      local_var_path = '/v1/google-play/apps/{app_id}'.sub('{' + 'app_id' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_get_app_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_get_app_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get app permissions
    # The app's requested Android permissions, grouped.
    # @param app_id [String] Android package id, e.g. &#39;com.whatsapp&#39;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang Play content language (hl), e.g. &#39;en&#39; or &#39;pt-BR&#39; (default to 'en')
    # @return [Object]
    def google_play_get_app_permissions(app_id, opts = {})
      data, _status_code, _headers = google_play_get_app_permissions_with_http_info(app_id, opts)
      data
    end

    # Get app permissions
    # The app&#39;s requested Android permissions, grouped.
    # @param app_id [String] Android package id, e.g. &#39;com.whatsapp&#39;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang Play content language (hl), e.g. &#39;en&#39; or &#39;pt-BR&#39; (default to 'en')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_play_get_app_permissions_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_get_app_permissions ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling GooglePlayApi.google_play_get_app_permissions"
      end
      # resource path
      local_var_path = '/v1/google-play/apps/{app_id}/permissions'.sub('{' + 'app_id' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_get_app_permissions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_get_app_permissions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get app reviews
    # Paginated app reviews via the Play batchexecute RPC.
    # @param app_id [String] Android package id, e.g. &#39;com.whatsapp&#39;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Play storefront country (gl), ISO 3166-1 alpha-2, e.g. &#39;US&#39; (default to 'US')
    # @option opts [String] :lang Play content language (hl), e.g. &#39;en&#39; or &#39;pt-BR&#39; (default to 'en')
    # @option opts [String] :sort newest | rating | helpfulness (default to 'newest')
    # @option opts [Integer] :count  (default to 40)
    # @option opts [String] :page_token Pagination token
    # @return [Object]
    def google_play_get_app_reviews(app_id, opts = {})
      data, _status_code, _headers = google_play_get_app_reviews_with_http_info(app_id, opts)
      data
    end

    # Get app reviews
    # Paginated app reviews via the Play batchexecute RPC.
    # @param app_id [String] Android package id, e.g. &#39;com.whatsapp&#39;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Play storefront country (gl), ISO 3166-1 alpha-2, e.g. &#39;US&#39; (default to 'US')
    # @option opts [String] :lang Play content language (hl), e.g. &#39;en&#39; or &#39;pt-BR&#39; (default to 'en')
    # @option opts [String] :sort newest | rating | helpfulness (default to 'newest')
    # @option opts [Integer] :count  (default to 40)
    # @option opts [String] :page_token Pagination token
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_play_get_app_reviews_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_get_app_reviews ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling GooglePlayApi.google_play_get_app_reviews"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 150
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling GooglePlayApi.google_play_get_app_reviews, must be smaller than or equal to 150.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling GooglePlayApi.google_play_get_app_reviews, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/google-play/apps/{app_id}/reviews'.sub('{' + 'app_id' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'page_token'] = opts[:'page_token'] if !opts[:'page_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_get_app_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_get_app_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get developer apps
    # A developer's published apps.
    # @param developer [String] Developer name or numeric id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Play storefront country (gl), ISO 3166-1 alpha-2, e.g. &#39;US&#39; (default to 'US')
    # @option opts [String] :lang Play content language (hl), e.g. &#39;en&#39; or &#39;pt-BR&#39; (default to 'en')
    # @return [Object]
    def google_play_get_developer_apps(developer, opts = {})
      data, _status_code, _headers = google_play_get_developer_apps_with_http_info(developer, opts)
      data
    end

    # Get developer apps
    # A developer&#39;s published apps.
    # @param developer [String] Developer name or numeric id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Play storefront country (gl), ISO 3166-1 alpha-2, e.g. &#39;US&#39; (default to 'US')
    # @option opts [String] :lang Play content language (hl), e.g. &#39;en&#39; or &#39;pt-BR&#39; (default to 'en')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_play_get_developer_apps_with_http_info(developer, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_get_developer_apps ...'
      end
      # verify the required parameter 'developer' is set
      if @api_client.config.client_side_validation && developer.nil?
        fail ArgumentError, "Missing the required parameter 'developer' when calling GooglePlayApi.google_play_get_developer_apps"
      end
      # resource path
      local_var_path = '/v1/google-play/developers/{developer}'.sub('{' + 'developer' + '}', CGI.escape(developer.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_get_developer_apps",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_get_developer_apps\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get similar apps
    # Apps Google Play lists as similar to this one.
    # @param app_id [String] Android package id, e.g. &#39;com.whatsapp&#39;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Play storefront country (gl), ISO 3166-1 alpha-2, e.g. &#39;US&#39; (default to 'US')
    # @option opts [String] :lang Play content language (hl), e.g. &#39;en&#39; or &#39;pt-BR&#39; (default to 'en')
    # @return [Object]
    def google_play_get_similar_apps(app_id, opts = {})
      data, _status_code, _headers = google_play_get_similar_apps_with_http_info(app_id, opts)
      data
    end

    # Get similar apps
    # Apps Google Play lists as similar to this one.
    # @param app_id [String] Android package id, e.g. &#39;com.whatsapp&#39;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Play storefront country (gl), ISO 3166-1 alpha-2, e.g. &#39;US&#39; (default to 'US')
    # @option opts [String] :lang Play content language (hl), e.g. &#39;en&#39; or &#39;pt-BR&#39; (default to 'en')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_play_get_similar_apps_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_get_similar_apps ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling GooglePlayApi.google_play_get_similar_apps"
      end
      # resource path
      local_var_path = '/v1/google-play/apps/{app_id}/similar'.sub('{' + 'app_id' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_get_similar_apps",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_get_similar_apps\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List categories
    # The Google Play app/game category ids.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def google_play_list_categories(opts = {})
      data, _status_code, _headers = google_play_list_categories_with_http_info(opts)
      data
    end

    # List categories
    # The Google Play app/game category ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_play_list_categories_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_list_categories ...'
      end
      # resource path
      local_var_path = '/v1/google-play/categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_list_categories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_list_categories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List markets
    # Supported Google Play store countries and languages.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def google_play_list_markets(opts = {})
      data, _status_code, _headers = google_play_list_markets_with_http_info(opts)
      data
    end

    # List markets
    # Supported Google Play store countries and languages.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_play_list_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_list_markets ...'
      end
      # resource path
      local_var_path = '/v1/google-play/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_list_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_list_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search apps
    # Search Google Play for apps and games (the ~30 server-rendered results; Play exposes no page parameter).
    # @param query [String] Search keywords, e.g. &#39;puzzle&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Play storefront country (gl), ISO 3166-1 alpha-2, e.g. &#39;US&#39; (default to 'US')
    # @option opts [String] :lang Play content language (hl), e.g. &#39;en&#39; or &#39;pt-BR&#39; (default to 'en')
    # @option opts [String] :price free | paid | all
    # @return [Object]
    def google_play_search_apps(query, opts = {})
      data, _status_code, _headers = google_play_search_apps_with_http_info(query, opts)
      data
    end

    # Search apps
    # Search Google Play for apps and games (the ~30 server-rendered results; Play exposes no page parameter).
    # @param query [String] Search keywords, e.g. &#39;puzzle&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Play storefront country (gl), ISO 3166-1 alpha-2, e.g. &#39;US&#39; (default to 'US')
    # @option opts [String] :lang Play content language (hl), e.g. &#39;en&#39; or &#39;pt-BR&#39; (default to 'en')
    # @option opts [String] :price free | paid | all
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_play_search_apps_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_search_apps ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling GooglePlayApi.google_play_search_apps"
      end
      # resource path
      local_var_path = '/v1/google-play/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'price'] = opts[:'price'] if !opts[:'price'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_search_apps",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_search_apps\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Top charts
    # Top charts for a collection, optionally scoped to a category.
    # @param collection [String] topselling_free | topselling_paid | topgrossing
    # @param [Hash] opts the optional parameters
    # @option opts [String] :category Play category, e.g. &#39;GAME&#39; (default to 'APPLICATION')
    # @option opts [String] :country Play storefront country (gl), ISO 3166-1 alpha-2, e.g. &#39;US&#39; (default to 'US')
    # @option opts [String] :lang Play content language (hl), e.g. &#39;en&#39; or &#39;pt-BR&#39; (default to 'en')
    # @return [Object]
    def google_play_top_charts(collection, opts = {})
      data, _status_code, _headers = google_play_top_charts_with_http_info(collection, opts)
      data
    end

    # Top charts
    # Top charts for a collection, optionally scoped to a category.
    # @param collection [String] topselling_free | topselling_paid | topgrossing
    # @param [Hash] opts the optional parameters
    # @option opts [String] :category Play category, e.g. &#39;GAME&#39; (default to 'APPLICATION')
    # @option opts [String] :country Play storefront country (gl), ISO 3166-1 alpha-2, e.g. &#39;US&#39; (default to 'US')
    # @option opts [String] :lang Play content language (hl), e.g. &#39;en&#39; or &#39;pt-BR&#39; (default to 'en')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def google_play_top_charts_with_http_info(collection, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_top_charts ...'
      end
      # verify the required parameter 'collection' is set
      if @api_client.config.client_side_validation && collection.nil?
        fail ArgumentError, "Missing the required parameter 'collection' when calling GooglePlayApi.google_play_top_charts"
      end
      # resource path
      local_var_path = '/v1/google-play/collections/{collection}'.sub('{' + 'collection' + '}', CGI.escape(collection.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_top_charts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_top_charts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
