=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class IdealistaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Agency by phone
    # Reverse-lookup the agency behind a contact phone (national number), with its listings.
    # @param phone [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market es|it|pt (default to 'es')
    # @option opts [String] :operation sale|rent
    # @option opts [String] :property_type homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :max_items  (default to 30)
    # @option opts [Boolean] :include_listings  (default to true)
    # @return [Object]
    def idealista_agency_by_phone(phone, opts = {})
      data, _status_code, _headers = idealista_agency_by_phone_with_http_info(phone, opts)
      data
    end

    # Agency by phone
    # Reverse-lookup the agency behind a contact phone (national number), with its listings.
    # @param phone [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market es|it|pt (default to 'es')
    # @option opts [String] :operation sale|rent
    # @option opts [String] :property_type homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :max_items  (default to 30)
    # @option opts [Boolean] :include_listings  (default to true)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def idealista_agency_by_phone_with_http_info(phone, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdealistaApi.idealista_agency_by_phone ...'
      end
      # verify the required parameter 'phone' is set
      if @api_client.config.client_side_validation && phone.nil?
        fail ArgumentError, "Missing the required parameter 'phone' when calling IdealistaApi.idealista_agency_by_phone"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling IdealistaApi.idealista_agency_by_phone, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_items'].nil? && opts[:'max_items'] > 50
        fail ArgumentError, 'invalid value for "opts[:"max_items"]" when calling IdealistaApi.idealista_agency_by_phone, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_items'].nil? && opts[:'max_items'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_items"]" when calling IdealistaApi.idealista_agency_by_phone, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/idealista/agency/by-phone/{phone}'.sub('{' + 'phone' + '}', CGI.escape(phone.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'operation'] = opts[:'operation'] if !opts[:'operation'].nil?
      query_params[:'property_type'] = opts[:'property_type'] if !opts[:'property_type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'max_items'] = opts[:'max_items'] if !opts[:'max_items'].nil?
      query_params[:'include_listings'] = opts[:'include_listings'] if !opts[:'include_listings'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"IdealistaApi.idealista_agency_by_phone",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdealistaApi#idealista_agency_by_phone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Agency profile + listings
    # An agency's microsite profile plus a page of its listings (by URL-slug shortName).
    # @param short_name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market es|it|pt (default to 'es')
    # @option opts [String] :operation sale|rent
    # @option opts [String] :property_type homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :max_items  (default to 30)
    # @option opts [Boolean] :include_listings  (default to true)
    # @return [Object]
    def idealista_agency_profile_listings(short_name, opts = {})
      data, _status_code, _headers = idealista_agency_profile_listings_with_http_info(short_name, opts)
      data
    end

    # Agency profile + listings
    # An agency&#39;s microsite profile plus a page of its listings (by URL-slug shortName).
    # @param short_name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market es|it|pt (default to 'es')
    # @option opts [String] :operation sale|rent
    # @option opts [String] :property_type homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :max_items  (default to 30)
    # @option opts [Boolean] :include_listings  (default to true)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def idealista_agency_profile_listings_with_http_info(short_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdealistaApi.idealista_agency_profile_listings ...'
      end
      # verify the required parameter 'short_name' is set
      if @api_client.config.client_side_validation && short_name.nil?
        fail ArgumentError, "Missing the required parameter 'short_name' when calling IdealistaApi.idealista_agency_profile_listings"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling IdealistaApi.idealista_agency_profile_listings, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_items'].nil? && opts[:'max_items'] > 50
        fail ArgumentError, 'invalid value for "opts[:"max_items"]" when calling IdealistaApi.idealista_agency_profile_listings, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_items'].nil? && opts[:'max_items'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_items"]" when calling IdealistaApi.idealista_agency_profile_listings, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/idealista/agency/{short_name}'.sub('{' + 'short_name' + '}', CGI.escape(short_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'operation'] = opts[:'operation'] if !opts[:'operation'].nil?
      query_params[:'property_type'] = opts[:'property_type'] if !opts[:'property_type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'max_items'] = opts[:'max_items'] if !opts[:'max_items'].nil?
      query_params[:'include_listings'] = opts[:'include_listings'] if !opts[:'include_listings'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"IdealistaApi.idealista_agency_profile_listings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdealistaApi#idealista_agency_profile_listings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get listing engagement stats
    # Engagement counters for a listing: views, email contacts, sent-to-friend, favourites.
    # @param property_code [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market es|it|pt (default to 'es')
    # @option opts [String] :locale Language for stat labels (default to 'en')
    # @return [Object]
    def idealista_get_listing_engagement_stats(property_code, opts = {})
      data, _status_code, _headers = idealista_get_listing_engagement_stats_with_http_info(property_code, opts)
      data
    end

    # Get listing engagement stats
    # Engagement counters for a listing: views, email contacts, sent-to-friend, favourites.
    # @param property_code [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market es|it|pt (default to 'es')
    # @option opts [String] :locale Language for stat labels (default to 'en')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def idealista_get_listing_engagement_stats_with_http_info(property_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdealistaApi.idealista_get_listing_engagement_stats ...'
      end
      # verify the required parameter 'property_code' is set
      if @api_client.config.client_side_validation && property_code.nil?
        fail ArgumentError, "Missing the required parameter 'property_code' when calling IdealistaApi.idealista_get_listing_engagement_stats"
      end
      # resource path
      local_var_path = '/v1/idealista/properties/{property_code}/stats'.sub('{' + 'property_code' + '}', CGI.escape(property_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"IdealistaApi.idealista_get_listing_engagement_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdealistaApi#idealista_get_listing_engagement_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get property detail
    # Get a single Idealista listing's full detail (energy cert, characteristics, media).
    # @param property_code [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market es|it|pt (default to 'es')
    # @option opts [String] :locale Response language (en, es, it, pt) (default to 'en')
    # @return [Object]
    def idealista_get_property_detail(property_code, opts = {})
      data, _status_code, _headers = idealista_get_property_detail_with_http_info(property_code, opts)
      data
    end

    # Get property detail
    # Get a single Idealista listing&#39;s full detail (energy cert, characteristics, media).
    # @param property_code [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market es|it|pt (default to 'es')
    # @option opts [String] :locale Response language (en, es, it, pt) (default to 'en')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def idealista_get_property_detail_with_http_info(property_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdealistaApi.idealista_get_property_detail ...'
      end
      # verify the required parameter 'property_code' is set
      if @api_client.config.client_side_validation && property_code.nil?
        fail ArgumentError, "Missing the required parameter 'property_code' when calling IdealistaApi.idealista_get_property_detail"
      end
      # resource path
      local_var_path = '/v1/idealista/properties/{property_code}'.sub('{' + 'property_code' + '}', CGI.escape(property_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"IdealistaApi.idealista_get_property_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdealistaApi#idealista_get_property_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Idealista scraper health check
    # Check health of the Idealista scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def idealista_idealista_scraper_health_check(opts = {})
      data, _status_code, _headers = idealista_idealista_scraper_health_check_with_http_info(opts)
      data
    end

    # Idealista scraper health check
    # Check health of the Idealista scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def idealista_idealista_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdealistaApi.idealista_idealista_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/idealista/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"IdealistaApi.idealista_idealista_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdealistaApi#idealista_idealista_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Idealista scraper health check
    # Check health of the Idealista scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def idealista_idealista_scraper_health_check_head(opts = {})
      data, _status_code, _headers = idealista_idealista_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Idealista scraper health check
    # Check health of the Idealista scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def idealista_idealista_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdealistaApi.idealista_idealista_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/idealista/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"IdealistaApi.idealista_idealista_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdealistaApi#idealista_idealista_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List markets
    # List supported Idealista markets (ES, IT, PT).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def idealista_list_markets(opts = {})
      data, _status_code, _headers = idealista_list_markets_with_http_info(opts)
      data
    end

    # List markets
    # List supported Idealista markets (ES, IT, PT).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def idealista_list_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdealistaApi.idealista_list_markets ...'
      end
      # resource path
      local_var_path = '/v1/idealista/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"IdealistaApi.idealista_list_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdealistaApi#idealista_list_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resolve locations
    # Resolve a free-text query into Idealista location codes for a search.
    # @param query [String] Free-text location, e.g. &#39;sagrada familia&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :operation sale|rent (default to 'sale')
    # @option opts [String] :property_type homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (default to 'homes')
    # @option opts [String] :market es|it|pt (default to 'es')
    # @option opts [String] :locale Response language (en, es, it, pt)
    # @return [Object]
    def idealista_resolve_locations(query, opts = {})
      data, _status_code, _headers = idealista_resolve_locations_with_http_info(query, opts)
      data
    end

    # Resolve locations
    # Resolve a free-text query into Idealista location codes for a search.
    # @param query [String] Free-text location, e.g. &#39;sagrada familia&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :operation sale|rent (default to 'sale')
    # @option opts [String] :property_type homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (default to 'homes')
    # @option opts [String] :market es|it|pt (default to 'es')
    # @option opts [String] :locale Response language (en, es, it, pt)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def idealista_resolve_locations_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdealistaApi.idealista_resolve_locations ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling IdealistaApi.idealista_resolve_locations"
      end
      # resource path
      local_var_path = '/v1/idealista/suggest'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'operation'] = opts[:'operation'] if !opts[:'operation'].nil?
      query_params[:'property_type'] = opts[:'property_type'] if !opts[:'property_type'].nil?
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"IdealistaApi.idealista_resolve_locations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdealistaApi#idealista_resolve_locations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search all (beats result cap)
    # Full inventory for a location, beating Idealista's ~1800 per-search cap via price-range tiling (deduped). Billed per page fetched.
    # @param location [String] Idealista location code (from /suggest)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :operation sale|rent (default to 'sale')
    # @option opts [String] :property_type homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (default to 'homes')
    # @option opts [String] :market es|it|pt (default to 'es')
    # @option opts [Integer] :max_results  (default to 500)
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @option opts [Float] :min_size 
    # @option opts [Float] :max_size 
    # @option opts [Integer] :min_rooms 
    # @option opts [Integer] :max_rooms 
    # @option opts [String] :locale Response language (en, es, it, pt)
    # @return [Object]
    def idealista_search_all_beats_result_cap(location, opts = {})
      data, _status_code, _headers = idealista_search_all_beats_result_cap_with_http_info(location, opts)
      data
    end

    # Search all (beats result cap)
    # Full inventory for a location, beating Idealista&#39;s ~1800 per-search cap via price-range tiling (deduped). Billed per page fetched.
    # @param location [String] Idealista location code (from /suggest)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :operation sale|rent (default to 'sale')
    # @option opts [String] :property_type homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (default to 'homes')
    # @option opts [String] :market es|it|pt (default to 'es')
    # @option opts [Integer] :max_results  (default to 500)
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @option opts [Float] :min_size 
    # @option opts [Float] :max_size 
    # @option opts [Integer] :min_rooms 
    # @option opts [Integer] :max_rooms 
    # @option opts [String] :locale Response language (en, es, it, pt)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def idealista_search_all_beats_result_cap_with_http_info(location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdealistaApi.idealista_search_all_beats_result_cap ...'
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling IdealistaApi.idealista_search_all_beats_result_cap"
      end
      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 3000
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling IdealistaApi.idealista_search_all_beats_result_cap, must be smaller than or equal to 3000.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling IdealistaApi.idealista_search_all_beats_result_cap, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_price'].nil? && opts[:'min_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_price"]" when calling IdealistaApi.idealista_search_all_beats_result_cap, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_price'].nil? && opts[:'max_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_price"]" when calling IdealistaApi.idealista_search_all_beats_result_cap, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_size'].nil? && opts[:'min_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_size"]" when calling IdealistaApi.idealista_search_all_beats_result_cap, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_size'].nil? && opts[:'max_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_size"]" when calling IdealistaApi.idealista_search_all_beats_result_cap, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_rooms'].nil? && opts[:'min_rooms'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_rooms"]" when calling IdealistaApi.idealista_search_all_beats_result_cap, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_rooms'].nil? && opts[:'max_rooms'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_rooms"]" when calling IdealistaApi.idealista_search_all_beats_result_cap, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/idealista/search/all'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'location'] = location
      query_params[:'operation'] = opts[:'operation'] if !opts[:'operation'].nil?
      query_params[:'property_type'] = opts[:'property_type'] if !opts[:'property_type'].nil?
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?
      query_params[:'min_price'] = opts[:'min_price'] if !opts[:'min_price'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?
      query_params[:'min_size'] = opts[:'min_size'] if !opts[:'min_size'].nil?
      query_params[:'max_size'] = opts[:'max_size'] if !opts[:'max_size'].nil?
      query_params[:'min_rooms'] = opts[:'min_rooms'] if !opts[:'min_rooms'].nil?
      query_params[:'max_rooms'] = opts[:'max_rooms'] if !opts[:'max_rooms'].nil?
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"IdealistaApi.idealista_search_all_beats_result_cap",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdealistaApi#idealista_search_all_beats_result_cap\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search listings
    # Search Idealista real-estate listings by location code.
    # @param location [String] Idealista location code (from /suggest)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :operation sale|rent (default to 'sale')
    # @option opts [String] :property_type homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (default to 'homes')
    # @option opts [String] :market es|it|pt (default to 'es')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :max_items  (default to 30)
    # @option opts [String] :sort_by distance|size|rooms|floor|ratioeurm2|price|street|photos|modificationDate|publicationDate|weigh|priceDown|preservationTypeAndPrice|privateAds
    # @option opts [String] :sort_order asc|desc (default to 'desc')
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @option opts [Float] :min_size 
    # @option opts [Float] :max_size 
    # @option opts [Integer] :min_rooms 
    # @option opts [Integer] :max_rooms 
    # @option opts [String] :locale Response language (en, es, it, pt)
    # @return [Object]
    def idealista_search_listings(location, opts = {})
      data, _status_code, _headers = idealista_search_listings_with_http_info(location, opts)
      data
    end

    # Search listings
    # Search Idealista real-estate listings by location code.
    # @param location [String] Idealista location code (from /suggest)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :operation sale|rent (default to 'sale')
    # @option opts [String] :property_type homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (default to 'homes')
    # @option opts [String] :market es|it|pt (default to 'es')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :max_items  (default to 30)
    # @option opts [String] :sort_by distance|size|rooms|floor|ratioeurm2|price|street|photos|modificationDate|publicationDate|weigh|priceDown|preservationTypeAndPrice|privateAds
    # @option opts [String] :sort_order asc|desc (default to 'desc')
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @option opts [Float] :min_size 
    # @option opts [Float] :max_size 
    # @option opts [Integer] :min_rooms 
    # @option opts [Integer] :max_rooms 
    # @option opts [String] :locale Response language (en, es, it, pt)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def idealista_search_listings_with_http_info(location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdealistaApi.idealista_search_listings ...'
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling IdealistaApi.idealista_search_listings"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling IdealistaApi.idealista_search_listings, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_items'].nil? && opts[:'max_items'] > 50
        fail ArgumentError, 'invalid value for "opts[:"max_items"]" when calling IdealistaApi.idealista_search_listings, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_items'].nil? && opts[:'max_items'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_items"]" when calling IdealistaApi.idealista_search_listings, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_price'].nil? && opts[:'min_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_price"]" when calling IdealistaApi.idealista_search_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_price'].nil? && opts[:'max_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_price"]" when calling IdealistaApi.idealista_search_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_size'].nil? && opts[:'min_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_size"]" when calling IdealistaApi.idealista_search_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_size'].nil? && opts[:'max_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_size"]" when calling IdealistaApi.idealista_search_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_rooms'].nil? && opts[:'min_rooms'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_rooms"]" when calling IdealistaApi.idealista_search_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_rooms'].nil? && opts[:'max_rooms'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_rooms"]" when calling IdealistaApi.idealista_search_listings, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/idealista/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'location'] = location
      query_params[:'operation'] = opts[:'operation'] if !opts[:'operation'].nil?
      query_params[:'property_type'] = opts[:'property_type'] if !opts[:'property_type'].nil?
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'max_items'] = opts[:'max_items'] if !opts[:'max_items'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'min_price'] = opts[:'min_price'] if !opts[:'min_price'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?
      query_params[:'min_size'] = opts[:'min_size'] if !opts[:'min_size'].nil?
      query_params[:'max_size'] = opts[:'max_size'] if !opts[:'max_size'].nil?
      query_params[:'min_rooms'] = opts[:'min_rooms'] if !opts[:'min_rooms'].nil?
      query_params[:'max_rooms'] = opts[:'max_rooms'] if !opts[:'max_rooms'].nil?
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"IdealistaApi.idealista_search_listings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdealistaApi#idealista_search_listings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
