=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class ImmobiliareApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get agency profile
    # Public agency/advertiser profile.
    # @param agency_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market it | es | gr | lu (default to 'it')
    # @return [Object]
    def immobiliare_get_agency_profile(agency_id, opts = {})
      data, _status_code, _headers = immobiliare_get_agency_profile_with_http_info(agency_id, opts)
      data
    end

    # Get agency profile
    # Public agency/advertiser profile.
    # @param agency_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market it | es | gr | lu (default to 'it')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def immobiliare_get_agency_profile_with_http_info(agency_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImmobiliareApi.immobiliare_get_agency_profile ...'
      end
      # verify the required parameter 'agency_id' is set
      if @api_client.config.client_side_validation && agency_id.nil?
        fail ArgumentError, "Missing the required parameter 'agency_id' when calling ImmobiliareApi.immobiliare_get_agency_profile"
      end
      # resource path
      local_var_path = '/v1/immobiliare/agencies/{agency_id}'.sub('{' + 'agency_id' + '}', CGI.escape(agency_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ImmobiliareApi.immobiliare_get_agency_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImmobiliareApi#immobiliare_get_agency_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an agency's listings
    # An agency's active listings.
    # @param agency_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market it | es | gr | lu (default to 'it')
    # @option opts [String] :contract sale | rent (default to 'sale')
    # @option opts [Integer] :page  (default to 1)
    # @return [Object]
    def immobiliare_get_an_agency_s_listings(agency_id, opts = {})
      data, _status_code, _headers = immobiliare_get_an_agency_s_listings_with_http_info(agency_id, opts)
      data
    end

    # Get an agency&#39;s listings
    # An agency&#39;s active listings.
    # @param agency_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market it | es | gr | lu (default to 'it')
    # @option opts [String] :contract sale | rent (default to 'sale')
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def immobiliare_get_an_agency_s_listings_with_http_info(agency_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImmobiliareApi.immobiliare_get_an_agency_s_listings ...'
      end
      # verify the required parameter 'agency_id' is set
      if @api_client.config.client_side_validation && agency_id.nil?
        fail ArgumentError, "Missing the required parameter 'agency_id' when calling ImmobiliareApi.immobiliare_get_an_agency_s_listings"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ImmobiliareApi.immobiliare_get_an_agency_s_listings, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/immobiliare/agencies/{agency_id}/listings'.sub('{' + 'agency_id' + '}', CGI.escape(agency_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'contract'] = opts[:'contract'] if !opts[:'contract'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ImmobiliareApi.immobiliare_get_an_agency_s_listings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImmobiliareApi#immobiliare_get_an_agency_s_listings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get listing detail
    # Full detail for a single listing.
    # @param listing_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market it | es | gr | lu (default to 'it')
    # @return [Object]
    def immobiliare_get_listing_detail(listing_id, opts = {})
      data, _status_code, _headers = immobiliare_get_listing_detail_with_http_info(listing_id, opts)
      data
    end

    # Get listing detail
    # Full detail for a single listing.
    # @param listing_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market it | es | gr | lu (default to 'it')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def immobiliare_get_listing_detail_with_http_info(listing_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImmobiliareApi.immobiliare_get_listing_detail ...'
      end
      # verify the required parameter 'listing_id' is set
      if @api_client.config.client_side_validation && listing_id.nil?
        fail ArgumentError, "Missing the required parameter 'listing_id' when calling ImmobiliareApi.immobiliare_get_listing_detail"
      end
      # resource path
      local_var_path = '/v1/immobiliare/listings/{listing_id}'.sub('{' + 'listing_id' + '}', CGI.escape(listing_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ImmobiliareApi.immobiliare_get_listing_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImmobiliareApi#immobiliare_get_listing_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Immobiliare scraper health check
    # Check health of the Immobiliare scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def immobiliare_immobiliare_scraper_health_check(opts = {})
      data, _status_code, _headers = immobiliare_immobiliare_scraper_health_check_with_http_info(opts)
      data
    end

    # Immobiliare scraper health check
    # Check health of the Immobiliare scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def immobiliare_immobiliare_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImmobiliareApi.immobiliare_immobiliare_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/immobiliare/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ImmobiliareApi.immobiliare_immobiliare_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImmobiliareApi#immobiliare_immobiliare_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Immobiliare scraper health check
    # Check health of the Immobiliare scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def immobiliare_immobiliare_scraper_health_check_head(opts = {})
      data, _status_code, _headers = immobiliare_immobiliare_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Immobiliare scraper health check
    # Check health of the Immobiliare scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def immobiliare_immobiliare_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImmobiliareApi.immobiliare_immobiliare_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/immobiliare/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ImmobiliareApi.immobiliare_immobiliare_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImmobiliareApi#immobiliare_immobiliare_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List filter enums
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def immobiliare_list_filter_enums(opts = {})
      data, _status_code, _headers = immobiliare_list_filter_enums_with_http_info(opts)
      data
    end

    # List filter enums
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def immobiliare_list_filter_enums_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImmobiliareApi.immobiliare_list_filter_enums ...'
      end
      # resource path
      local_var_path = '/v1/immobiliare/reference'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ImmobiliareApi.immobiliare_list_filter_enums",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImmobiliareApi#immobiliare_list_filter_enums\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List markets
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def immobiliare_list_markets(opts = {})
      data, _status_code, _headers = immobiliare_list_markets_with_http_info(opts)
      data
    end

    # List markets
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def immobiliare_list_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImmobiliareApi.immobiliare_list_markets ...'
      end
      # resource path
      local_var_path = '/v1/immobiliare/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ImmobiliareApi.immobiliare_list_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImmobiliareApi#immobiliare_list_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Location autocomplete
    # Resolve a place name to region/province/city ids usable in search.
    # @param query [String] Free-text place name, e.g. &#39;Milano&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market it | es | gr | lu (default to 'it')
    # @return [Object]
    def immobiliare_location_autocomplete(query, opts = {})
      data, _status_code, _headers = immobiliare_location_autocomplete_with_http_info(query, opts)
      data
    end

    # Location autocomplete
    # Resolve a place name to region/province/city ids usable in search.
    # @param query [String] Free-text place name, e.g. &#39;Milano&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market it | es | gr | lu (default to 'it')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def immobiliare_location_autocomplete_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImmobiliareApi.immobiliare_location_autocomplete ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling ImmobiliareApi.immobiliare_location_autocomplete"
      end
      # resource path
      local_var_path = '/v1/immobiliare/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ImmobiliareApi.immobiliare_location_autocomplete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImmobiliareApi#immobiliare_location_autocomplete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Price €/m² time series
    # Historical €/m² price statistics for an area.
    # @param region_id [String] Region id, e.g. &#39;lom&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market it | es | gr | lu (default to 'it')
    # @option opts [String] :province_id Province id, e.g. &#39;MI&#39;
    # @option opts [String] :city_id City id (idComune)
    # @option opts [String] :contract sale | rent (default to 'sale')
    # @return [Object]
    def immobiliare_price_m_time_series(region_id, opts = {})
      data, _status_code, _headers = immobiliare_price_m_time_series_with_http_info(region_id, opts)
      data
    end

    # Price €/m² time series
    # Historical €/m² price statistics for an area.
    # @param region_id [String] Region id, e.g. &#39;lom&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market it | es | gr | lu (default to 'it')
    # @option opts [String] :province_id Province id, e.g. &#39;MI&#39;
    # @option opts [String] :city_id City id (idComune)
    # @option opts [String] :contract sale | rent (default to 'sale')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def immobiliare_price_m_time_series_with_http_info(region_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImmobiliareApi.immobiliare_price_m_time_series ...'
      end
      # verify the required parameter 'region_id' is set
      if @api_client.config.client_side_validation && region_id.nil?
        fail ArgumentError, "Missing the required parameter 'region_id' when calling ImmobiliareApi.immobiliare_price_m_time_series"
      end
      # resource path
      local_var_path = '/v1/immobiliare/market-insights/prices'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region_id'] = region_id
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'province_id'] = opts[:'province_id'] if !opts[:'province_id'].nil?
      query_params[:'city_id'] = opts[:'city_id'] if !opts[:'city_id'].nil?
      query_params[:'contract'] = opts[:'contract'] if !opts[:'contract'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ImmobiliareApi.immobiliare_price_m_time_series",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImmobiliareApi#immobiliare_price_m_time_series\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search listings
    # Search Immobiliare-group listings (scope by location + contract + filters).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market it | es | gr | lu (default to 'it')
    # @option opts [String] :location Free-text place (auto-resolved)
    # @option opts [String] :region_id fkRegione (from /autocomplete)
    # @option opts [String] :province_id idProvincia (from /autocomplete)
    # @option opts [String] :city_id idComune (from /autocomplete)
    # @option opts [String] :contract sale | rent (default to 'sale')
    # @option opts [String] :category see /reference (default to 'residential')
    # @option opts [Integer] :price_min 
    # @option opts [Integer] :price_max 
    # @option opts [Integer] :surface_min 
    # @option opts [Integer] :surface_max 
    # @option opts [Integer] :rooms_min 
    # @option opts [Integer] :rooms_max 
    # @option opts [Integer] :bathrooms_min 
    # @option opts [String] :sort see /reference (default to 'relevance')
    # @option opts [Integer] :page  (default to 1)
    # @return [Object]
    def immobiliare_search_listings(opts = {})
      data, _status_code, _headers = immobiliare_search_listings_with_http_info(opts)
      data
    end

    # Search listings
    # Search Immobiliare-group listings (scope by location + contract + filters).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market it | es | gr | lu (default to 'it')
    # @option opts [String] :location Free-text place (auto-resolved)
    # @option opts [String] :region_id fkRegione (from /autocomplete)
    # @option opts [String] :province_id idProvincia (from /autocomplete)
    # @option opts [String] :city_id idComune (from /autocomplete)
    # @option opts [String] :contract sale | rent (default to 'sale')
    # @option opts [String] :category see /reference (default to 'residential')
    # @option opts [Integer] :price_min 
    # @option opts [Integer] :price_max 
    # @option opts [Integer] :surface_min 
    # @option opts [Integer] :surface_max 
    # @option opts [Integer] :rooms_min 
    # @option opts [Integer] :rooms_max 
    # @option opts [Integer] :bathrooms_min 
    # @option opts [String] :sort see /reference (default to 'relevance')
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def immobiliare_search_listings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImmobiliareApi.immobiliare_search_listings ...'
      end
      if @api_client.config.client_side_validation && !opts[:'price_min'].nil? && opts[:'price_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"price_min"]" when calling ImmobiliareApi.immobiliare_search_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'price_max'].nil? && opts[:'price_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"price_max"]" when calling ImmobiliareApi.immobiliare_search_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'surface_min'].nil? && opts[:'surface_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"surface_min"]" when calling ImmobiliareApi.immobiliare_search_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'surface_max'].nil? && opts[:'surface_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"surface_max"]" when calling ImmobiliareApi.immobiliare_search_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'rooms_min'].nil? && opts[:'rooms_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"rooms_min"]" when calling ImmobiliareApi.immobiliare_search_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'rooms_max'].nil? && opts[:'rooms_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"rooms_max"]" when calling ImmobiliareApi.immobiliare_search_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'bathrooms_min'].nil? && opts[:'bathrooms_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"bathrooms_min"]" when calling ImmobiliareApi.immobiliare_search_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ImmobiliareApi.immobiliare_search_listings, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/immobiliare/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'location'] = opts[:'location'] if !opts[:'location'].nil?
      query_params[:'region_id'] = opts[:'region_id'] if !opts[:'region_id'].nil?
      query_params[:'province_id'] = opts[:'province_id'] if !opts[:'province_id'].nil?
      query_params[:'city_id'] = opts[:'city_id'] if !opts[:'city_id'].nil?
      query_params[:'contract'] = opts[:'contract'] if !opts[:'contract'].nil?
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?
      query_params[:'price_min'] = opts[:'price_min'] if !opts[:'price_min'].nil?
      query_params[:'price_max'] = opts[:'price_max'] if !opts[:'price_max'].nil?
      query_params[:'surface_min'] = opts[:'surface_min'] if !opts[:'surface_min'].nil?
      query_params[:'surface_max'] = opts[:'surface_max'] if !opts[:'surface_max'].nil?
      query_params[:'rooms_min'] = opts[:'rooms_min'] if !opts[:'rooms_min'].nil?
      query_params[:'rooms_max'] = opts[:'rooms_max'] if !opts[:'rooms_max'].nil?
      query_params[:'bathrooms_min'] = opts[:'bathrooms_min'] if !opts[:'bathrooms_min'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ImmobiliareApi.immobiliare_search_listings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImmobiliareApi#immobiliare_search_listings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
