=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class InstagramApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # About this account
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview. Country, join date and former usernames.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def instagram_about_this_account(username, opts = {})
      data, _status_code, _headers = instagram_about_this_account_with_http_info(username, opts)
      data
    end

    # About this account
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview. Country, join date and former usernames.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_about_this_account_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_about_this_account ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_about_this_account"
      end
      # resource path
      local_var_path = '/v1/instagram/users/{username}/about'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_about_this_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_about_this_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Blended top search
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def instagram_blended_top_search(query, opts = {})
      data, _status_code, _headers = instagram_blended_top_search_with_http_info(query, opts)
      data
    end

    # Blended top search
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_blended_top_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_blended_top_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling InstagramApi.instagram_blended_top_search"
      end
      if @api_client.config.client_side_validation && query.to_s.length < 1
        fail ArgumentError, 'invalid value for "query" when calling InstagramApi.instagram_blended_top_search, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/instagram/search/top'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_blended_top_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_blended_top_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get active stories
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview. Active stories (account pool only).
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def instagram_get_active_stories(username, opts = {})
      data, _status_code, _headers = instagram_get_active_stories_with_http_info(username, opts)
      data
    end

    # Get active stories
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview. Active stories (account pool only).
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_get_active_stories_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_get_active_stories ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_get_active_stories"
      end
      # resource path
      local_var_path = '/v1/instagram/users/{username}/stories'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_get_active_stories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_get_active_stories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get audio track
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param audio_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def instagram_get_audio_track(audio_id, opts = {})
      data, _status_code, _headers = instagram_get_audio_track_with_http_info(audio_id, opts)
      data
    end

    # Get audio track
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param audio_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_get_audio_track_with_http_info(audio_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_get_audio_track ...'
      end
      # verify the required parameter 'audio_id' is set
      if @api_client.config.client_side_validation && audio_id.nil?
        fail ArgumentError, "Missing the required parameter 'audio_id' when calling InstagramApi.instagram_get_audio_track"
      end
      # resource path
      local_var_path = '/v1/instagram/audio/{audio_id}'.sub('{' + 'audio_id' + '}', CGI.escape(audio_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_get_audio_track",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_get_audio_track\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get comments
    # @param code [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :amount  (default to 20)
    # @option opts [String] :cursor 
    # @return [Object]
    def instagram_get_comments(code, opts = {})
      data, _status_code, _headers = instagram_get_comments_with_http_info(code, opts)
      data
    end

    # Get comments
    # @param code [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :amount  (default to 20)
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_get_comments_with_http_info(code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_get_comments ...'
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling InstagramApi.instagram_get_comments"
      end
      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] > 100
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling InstagramApi.instagram_get_comments, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] < 1
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling InstagramApi.instagram_get_comments, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/instagram/media/{code}/comments'.sub('{' + 'code' + '}', CGI.escape(code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'amount'] = opts[:'amount'] if !opts[:'amount'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_get_comments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_get_comments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get followers
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview. Followers list, paginated (account pool).
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :amount  (default to 50)
    # @option opts [String] :cursor 
    # @option opts [String] :order date_followed_latest | date_followed_earliest
    # @return [Object]
    def instagram_get_followers(username, opts = {})
      data, _status_code, _headers = instagram_get_followers_with_http_info(username, opts)
      data
    end

    # Get followers
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview. Followers list, paginated (account pool).
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :amount  (default to 50)
    # @option opts [String] :cursor 
    # @option opts [String] :order date_followed_latest | date_followed_earliest
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_get_followers_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_get_followers ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_get_followers"
      end
      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] > 100
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling InstagramApi.instagram_get_followers, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] < 1
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling InstagramApi.instagram_get_followers, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/instagram/users/{username}/followers'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'amount'] = opts[:'amount'] if !opts[:'amount'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_get_followers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_get_followers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get following
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :amount  (default to 50)
    # @option opts [String] :cursor 
    # @return [Object]
    def instagram_get_following(username, opts = {})
      data, _status_code, _headers = instagram_get_following_with_http_info(username, opts)
      data
    end

    # Get following
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :amount  (default to 50)
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_get_following_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_get_following ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_get_following"
      end
      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] > 100
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling InstagramApi.instagram_get_following, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] < 1
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling InstagramApi.instagram_get_following, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/instagram/users/{username}/following'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'amount'] = opts[:'amount'] if !opts[:'amount'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_get_following",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_get_following\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get hashtag info
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def instagram_get_hashtag_info(tag, opts = {})
      data, _status_code, _headers = instagram_get_hashtag_info_with_http_info(tag, opts)
      data
    end

    # Get hashtag info
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_get_hashtag_info_with_http_info(tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_get_hashtag_info ...'
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling InstagramApi.instagram_get_hashtag_info"
      end
      # resource path
      local_var_path = '/v1/instagram/hashtags/{tag}'.sub('{' + 'tag' + '}', CGI.escape(tag.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_get_hashtag_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_get_hashtag_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get highlights
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def instagram_get_highlights(username, opts = {})
      data, _status_code, _headers = instagram_get_highlights_with_http_info(username, opts)
      data
    end

    # Get highlights
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_get_highlights_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_get_highlights ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_get_highlights"
      end
      # resource path
      local_var_path = '/v1/instagram/users/{username}/highlights'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_get_highlights",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_get_highlights\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get likers
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param code [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def instagram_get_likers(code, opts = {})
      data, _status_code, _headers = instagram_get_likers_with_http_info(code, opts)
      data
    end

    # Get likers
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param code [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_get_likers_with_http_info(code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_get_likers ...'
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling InstagramApi.instagram_get_likers"
      end
      # resource path
      local_var_path = '/v1/instagram/media/{code}/likers'.sub('{' + 'code' + '}', CGI.escape(code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_get_likers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_get_likers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get location
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param location_pk [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def instagram_get_location(location_pk, opts = {})
      data, _status_code, _headers = instagram_get_location_with_http_info(location_pk, opts)
      data
    end

    # Get location
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param location_pk [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_get_location_with_http_info(location_pk, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_get_location ...'
      end
      # verify the required parameter 'location_pk' is set
      if @api_client.config.client_side_validation && location_pk.nil?
        fail ArgumentError, "Missing the required parameter 'location_pk' when calling InstagramApi.instagram_get_location"
      end
      # resource path
      local_var_path = '/v1/instagram/locations/{location_pk}'.sub('{' + 'location_pk' + '}', CGI.escape(location_pk.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_get_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_get_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get post/reel detail
    # Single post or reel: caption, media, counts, tags, location, carousel.
    # @param code [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def instagram_get_post_reel_detail(code, opts = {})
      data, _status_code, _headers = instagram_get_post_reel_detail_with_http_info(code, opts)
      data
    end

    # Get post/reel detail
    # Single post or reel: caption, media, counts, tags, location, carousel.
    # @param code [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_get_post_reel_detail_with_http_info(code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_get_post_reel_detail ...'
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling InstagramApi.instagram_get_post_reel_detail"
      end
      # resource path
      local_var_path = '/v1/instagram/media/{code}'.sub('{' + 'code' + '}', CGI.escape(code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_get_post_reel_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_get_post_reel_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get profile
    # Full public profile: bio, counts, verification, business contact, links.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def instagram_get_profile(username, opts = {})
      data, _status_code, _headers = instagram_get_profile_with_http_info(username, opts)
      data
    end

    # Get profile
    # Full public profile: bio, counts, verification, business contact, links.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_get_profile_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_get_profile ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_get_profile"
      end
      # resource path
      local_var_path = '/v1/instagram/users/{username}'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_get_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_get_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tagged posts
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :amount  (default to 20)
    # @option opts [String] :cursor 
    # @return [Object]
    def instagram_get_tagged_posts(username, opts = {})
      data, _status_code, _headers = instagram_get_tagged_posts_with_http_info(username, opts)
      data
    end

    # Get tagged posts
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :amount  (default to 20)
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_get_tagged_posts_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_get_tagged_posts ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_get_tagged_posts"
      end
      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] > 100
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling InstagramApi.instagram_get_tagged_posts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] < 1
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling InstagramApi.instagram_get_tagged_posts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/instagram/users/{username}/tagged'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'amount'] = opts[:'amount'] if !opts[:'amount'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_get_tagged_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_get_tagged_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user posts
    # Timeline posts, paginated.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :amount  (default to 20)
    # @option opts [String] :cursor 
    # @return [Object]
    def instagram_get_user_posts(username, opts = {})
      data, _status_code, _headers = instagram_get_user_posts_with_http_info(username, opts)
      data
    end

    # Get user posts
    # Timeline posts, paginated.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :amount  (default to 20)
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_get_user_posts_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_get_user_posts ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_get_user_posts"
      end
      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] > 100
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling InstagramApi.instagram_get_user_posts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] < 1
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling InstagramApi.instagram_get_user_posts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/instagram/users/{username}/posts'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'amount'] = opts[:'amount'] if !opts[:'amount'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_get_user_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_get_user_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user reels
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :amount  (default to 20)
    # @option opts [String] :cursor 
    # @return [Object]
    def instagram_get_user_reels(username, opts = {})
      data, _status_code, _headers = instagram_get_user_reels_with_http_info(username, opts)
      data
    end

    # Get user reels
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :amount  (default to 20)
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_get_user_reels_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_get_user_reels ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_get_user_reels"
      end
      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] > 100
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling InstagramApi.instagram_get_user_reels, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] < 1
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling InstagramApi.instagram_get_user_reels, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/instagram/users/{username}/reels'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'amount'] = opts[:'amount'] if !opts[:'amount'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_get_user_reels",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_get_user_reels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Health
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def instagram_health(opts = {})
      data, _status_code, _headers = instagram_health_with_http_info(opts)
      data
    end

    # Health
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_health_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_health ...'
      end
      # resource path
      local_var_path = '/v1/instagram/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_health",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_health\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Health
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def instagram_health_head(opts = {})
      data, _status_code, _headers = instagram_health_head_with_http_info(opts)
      data
    end

    # Health
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_health_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_health_head ...'
      end
      # resource path
      local_var_path = '/v1/instagram/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_health_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_health_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Recent hashtag posts
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :amount  (default to 20)
    # @option opts [String] :cursor 
    # @return [Object]
    def instagram_recent_hashtag_posts(tag, opts = {})
      data, _status_code, _headers = instagram_recent_hashtag_posts_with_http_info(tag, opts)
      data
    end

    # Recent hashtag posts
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :amount  (default to 20)
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_recent_hashtag_posts_with_http_info(tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_recent_hashtag_posts ...'
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling InstagramApi.instagram_recent_hashtag_posts"
      end
      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] > 100
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling InstagramApi.instagram_recent_hashtag_posts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] < 1
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling InstagramApi.instagram_recent_hashtag_posts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/instagram/hashtags/{tag}/recent'.sub('{' + 'tag' + '}', CGI.escape(tag.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'amount'] = opts[:'amount'] if !opts[:'amount'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_recent_hashtag_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_recent_hashtag_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Related profiles
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def instagram_related_profiles(username, opts = {})
      data, _status_code, _headers = instagram_related_profiles_with_http_info(username, opts)
      data
    end

    # Related profiles
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_related_profiles_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_related_profiles ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_related_profiles"
      end
      # resource path
      local_var_path = '/v1/instagram/users/{username}/related'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_related_profiles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_related_profiles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search hashtags
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def instagram_search_hashtags(query, opts = {})
      data, _status_code, _headers = instagram_search_hashtags_with_http_info(query, opts)
      data
    end

    # Search hashtags
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_search_hashtags_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_search_hashtags ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling InstagramApi.instagram_search_hashtags"
      end
      if @api_client.config.client_side_validation && query.to_s.length < 1
        fail ArgumentError, 'invalid value for "query" when calling InstagramApi.instagram_search_hashtags, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/instagram/search/hashtags'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_search_hashtags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_search_hashtags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search users
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def instagram_search_users(query, opts = {})
      data, _status_code, _headers = instagram_search_users_with_http_info(query, opts)
      data
    end

    # Search users
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_search_users_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_search_users ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling InstagramApi.instagram_search_users"
      end
      if @api_client.config.client_side_validation && query.to_s.length < 1
        fail ArgumentError, 'invalid value for "query" when calling InstagramApi.instagram_search_users, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/instagram/search/users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_search_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_search_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Top hashtag posts
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns `503 temporarily_unavailable` (not billed, `Retry-After` set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :amount  (default to 20)
    # @option opts [String] :cursor 
    # @return [Object]
    def instagram_top_hashtag_posts(tag, opts = {})
      data, _status_code, _headers = instagram_top_hashtag_posts_with_http_info(tag, opts)
      data
    end

    # Top hashtag posts
    # **Temporarily unavailable.** The authenticated Instagram tier is offline, so this endpoint currently returns &#x60;503 temporarily_unavailable&#x60; (not billed, &#x60;Retry-After&#x60; set) — see https://docs.scrapebadger.com/instagram/overview.
    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :amount  (default to 20)
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def instagram_top_hashtag_posts_with_http_info(tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_top_hashtag_posts ...'
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling InstagramApi.instagram_top_hashtag_posts"
      end
      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] > 100
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling InstagramApi.instagram_top_hashtag_posts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] < 1
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling InstagramApi.instagram_top_hashtag_posts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/instagram/hashtags/{tag}/top'.sub('{' + 'tag' + '}', CGI.escape(tag.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'amount'] = opts[:'amount'] if !opts[:'amount'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_top_hashtag_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_top_hashtag_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
