=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class LeboncoinApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a seller's ads
    # A seller's active ads.
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 35)
    # @return [Object]
    def leboncoin_get_a_seller_s_ads(user_id, opts = {})
      data, _status_code, _headers = leboncoin_get_a_seller_s_ads_with_http_info(user_id, opts)
      data
    end

    # Get a seller&#39;s ads
    # A seller&#39;s active ads.
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 35)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def leboncoin_get_a_seller_s_ads_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeboncoinApi.leboncoin_get_a_seller_s_ads ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling LeboncoinApi.leboncoin_get_a_seller_s_ads"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling LeboncoinApi.leboncoin_get_a_seller_s_ads, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LeboncoinApi.leboncoin_get_a_seller_s_ads, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LeboncoinApi.leboncoin_get_a_seller_s_ads, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/leboncoin/sellers/{user_id}/listings'.sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LeboncoinApi.leboncoin_get_a_seller_s_ads",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeboncoinApi#leboncoin_get_a_seller_s_ads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ad detail
    # Full detail for a Leboncoin ad.
    # @param list_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def leboncoin_get_ad_detail(list_id, opts = {})
      data, _status_code, _headers = leboncoin_get_ad_detail_with_http_info(list_id, opts)
      data
    end

    # Get ad detail
    # Full detail for a Leboncoin ad.
    # @param list_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def leboncoin_get_ad_detail_with_http_info(list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeboncoinApi.leboncoin_get_ad_detail ...'
      end
      # verify the required parameter 'list_id' is set
      if @api_client.config.client_side_validation && list_id.nil?
        fail ArgumentError, "Missing the required parameter 'list_id' when calling LeboncoinApi.leboncoin_get_ad_detail"
      end
      # resource path
      local_var_path = '/v1/leboncoin/ads/{list_id}'.sub('{' + 'list_id' + '}', CGI.escape(list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LeboncoinApi.leboncoin_get_ad_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeboncoinApi#leboncoin_get_ad_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get seller profile
    # Public seller/pro-store profile.
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def leboncoin_get_seller_profile(user_id, opts = {})
      data, _status_code, _headers = leboncoin_get_seller_profile_with_http_info(user_id, opts)
      data
    end

    # Get seller profile
    # Public seller/pro-store profile.
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def leboncoin_get_seller_profile_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeboncoinApi.leboncoin_get_seller_profile ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling LeboncoinApi.leboncoin_get_seller_profile"
      end
      # resource path
      local_var_path = '/v1/leboncoin/sellers/{user_id}'.sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LeboncoinApi.leboncoin_get_seller_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeboncoinApi#leboncoin_get_seller_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get similar ads
    # Ads Leboncoin surfaces as similar to the given ad.
    # @param list_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 20)
    # @return [Object]
    def leboncoin_get_similar_ads(list_id, opts = {})
      data, _status_code, _headers = leboncoin_get_similar_ads_with_http_info(list_id, opts)
      data
    end

    # Get similar ads
    # Ads Leboncoin surfaces as similar to the given ad.
    # @param list_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def leboncoin_get_similar_ads_with_http_info(list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeboncoinApi.leboncoin_get_similar_ads ...'
      end
      # verify the required parameter 'list_id' is set
      if @api_client.config.client_side_validation && list_id.nil?
        fail ArgumentError, "Missing the required parameter 'list_id' when calling LeboncoinApi.leboncoin_get_similar_ads"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LeboncoinApi.leboncoin_get_similar_ads, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LeboncoinApi.leboncoin_get_similar_ads, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/leboncoin/ads/{list_id}/similar'.sub('{' + 'list_id' + '}', CGI.escape(list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LeboncoinApi.leboncoin_get_similar_ads",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeboncoinApi#leboncoin_get_similar_ads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Leboncoin scraper health check
    # Check health of the Leboncoin scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def leboncoin_leboncoin_scraper_health_check(opts = {})
      data, _status_code, _headers = leboncoin_leboncoin_scraper_health_check_with_http_info(opts)
      data
    end

    # Leboncoin scraper health check
    # Check health of the Leboncoin scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def leboncoin_leboncoin_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeboncoinApi.leboncoin_leboncoin_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/leboncoin/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LeboncoinApi.leboncoin_leboncoin_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeboncoinApi#leboncoin_leboncoin_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Leboncoin scraper health check
    # Check health of the Leboncoin scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def leboncoin_leboncoin_scraper_health_check_head(opts = {})
      data, _status_code, _headers = leboncoin_leboncoin_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Leboncoin scraper health check
    # Check health of the Leboncoin scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def leboncoin_leboncoin_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeboncoinApi.leboncoin_leboncoin_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/leboncoin/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LeboncoinApi.leboncoin_leboncoin_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeboncoinApi#leboncoin_leboncoin_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List categories
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def leboncoin_list_categories(opts = {})
      data, _status_code, _headers = leboncoin_list_categories_with_http_info(opts)
      data
    end

    # List categories
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def leboncoin_list_categories_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeboncoinApi.leboncoin_list_categories ...'
      end
      # resource path
      local_var_path = '/v1/leboncoin/categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LeboncoinApi.leboncoin_list_categories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeboncoinApi#leboncoin_list_categories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List departments
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region_id 
    # @return [Object]
    def leboncoin_list_departments(opts = {})
      data, _status_code, _headers = leboncoin_list_departments_with_http_info(opts)
      data
    end

    # List departments
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region_id 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def leboncoin_list_departments_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeboncoinApi.leboncoin_list_departments ...'
      end
      # resource path
      local_var_path = '/v1/leboncoin/departments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region_id'] = opts[:'region_id'] if !opts[:'region_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LeboncoinApi.leboncoin_list_departments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeboncoinApi#leboncoin_list_departments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List markets
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def leboncoin_list_markets(opts = {})
      data, _status_code, _headers = leboncoin_list_markets_with_http_info(opts)
      data
    end

    # List markets
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def leboncoin_list_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeboncoinApi.leboncoin_list_markets ...'
      end
      # resource path
      local_var_path = '/v1/leboncoin/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LeboncoinApi.leboncoin_list_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeboncoinApi#leboncoin_list_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List regions
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def leboncoin_list_regions(opts = {})
      data, _status_code, _headers = leboncoin_list_regions_with_http_info(opts)
      data
    end

    # List regions
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def leboncoin_list_regions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeboncoinApi.leboncoin_list_regions ...'
      end
      # resource path
      local_var_path = '/v1/leboncoin/regions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LeboncoinApi.leboncoin_list_regions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeboncoinApi#leboncoin_list_regions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Location autocomplete
    # @param q [String] Place name
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def leboncoin_location_autocomplete(q, opts = {})
      data, _status_code, _headers = leboncoin_location_autocomplete_with_http_info(q, opts)
      data
    end

    # Location autocomplete
    # @param q [String] Place name
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def leboncoin_location_autocomplete_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeboncoinApi.leboncoin_location_autocomplete ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling LeboncoinApi.leboncoin_location_autocomplete"
      end
      # resource path
      local_var_path = '/v1/leboncoin/locations/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LeboncoinApi.leboncoin_location_autocomplete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeboncoinApi#leboncoin_location_autocomplete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Leboncoin ads
    # Search Leboncoin classifieds (France; scope by region/department/city).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :text Free-text query
    # @option opts [String] :category Category id (see /categories)
    # @option opts [String] :region_id Region id (see /regions)
    # @option opts [String] :department_id Department id, e.g. 75
    # @option opts [String] :city 
    # @option opts [String] :zipcode 
    # @option opts [Integer] :price_min 
    # @option opts [Integer] :price_max 
    # @option opts [String] :owner_type all | pro | private (default to 'all')
    # @option opts [String] :ad_type offer | demand (default to 'offer')
    # @option opts [String] :sort relevance|newest|oldest|price_low|price_high (default to 'relevance')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 35)
    # @return [Object]
    def leboncoin_search_leboncoin_ads(opts = {})
      data, _status_code, _headers = leboncoin_search_leboncoin_ads_with_http_info(opts)
      data
    end

    # Search Leboncoin ads
    # Search Leboncoin classifieds (France; scope by region/department/city).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :text Free-text query
    # @option opts [String] :category Category id (see /categories)
    # @option opts [String] :region_id Region id (see /regions)
    # @option opts [String] :department_id Department id, e.g. 75
    # @option opts [String] :city 
    # @option opts [String] :zipcode 
    # @option opts [Integer] :price_min 
    # @option opts [Integer] :price_max 
    # @option opts [String] :owner_type all | pro | private (default to 'all')
    # @option opts [String] :ad_type offer | demand (default to 'offer')
    # @option opts [String] :sort relevance|newest|oldest|price_low|price_high (default to 'relevance')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 35)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def leboncoin_search_leboncoin_ads_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeboncoinApi.leboncoin_search_leboncoin_ads ...'
      end
      if @api_client.config.client_side_validation && !opts[:'price_min'].nil? && opts[:'price_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"price_min"]" when calling LeboncoinApi.leboncoin_search_leboncoin_ads, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'price_max'].nil? && opts[:'price_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"price_max"]" when calling LeboncoinApi.leboncoin_search_leboncoin_ads, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling LeboncoinApi.leboncoin_search_leboncoin_ads, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LeboncoinApi.leboncoin_search_leboncoin_ads, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LeboncoinApi.leboncoin_search_leboncoin_ads, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/leboncoin/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'text'] = opts[:'text'] if !opts[:'text'].nil?
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?
      query_params[:'region_id'] = opts[:'region_id'] if !opts[:'region_id'].nil?
      query_params[:'department_id'] = opts[:'department_id'] if !opts[:'department_id'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'zipcode'] = opts[:'zipcode'] if !opts[:'zipcode'].nil?
      query_params[:'price_min'] = opts[:'price_min'] if !opts[:'price_min'].nil?
      query_params[:'price_max'] = opts[:'price_max'] if !opts[:'price_max'].nil?
      query_params[:'owner_type'] = opts[:'owner_type'] if !opts[:'owner_type'].nil?
      query_params[:'ad_type'] = opts[:'ad_type'] if !opts[:'ad_type'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LeboncoinApi.leboncoin_search_leboncoin_ads",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeboncoinApi#leboncoin_search_leboncoin_ads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
