=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class LinkedInApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a company's job postings
    # Public job postings for a company (numeric company id from the company endpoint).
    # @param company_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start Pagination offset (0, 25, 50, ...) (default to 0)
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Object]
    def linkedin_get_a_company_s_job_postings(company_id, opts = {})
      data, _status_code, _headers = linkedin_get_a_company_s_job_postings_with_http_info(company_id, opts)
      data
    end

    # Get a company&#39;s job postings
    # Public job postings for a company (numeric company id from the company endpoint).
    # @param company_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start Pagination offset (0, 25, 50, ...) (default to 0)
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def linkedin_get_a_company_s_job_postings_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedInApi.linkedin_get_a_company_s_job_postings ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling LinkedInApi.linkedin_get_a_company_s_job_postings"
      end
      if @api_client.config.client_side_validation && !opts[:'start'].nil? && opts[:'start'] < 0
        fail ArgumentError, 'invalid value for "opts[:"start"]" when calling LinkedInApi.linkedin_get_a_company_s_job_postings, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/linkedin/companies/{company_id}/jobs'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LinkedInApi.linkedin_get_a_company_s_job_postings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedInApi#linkedin_get_a_company_s_job_postings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a course
    # A public LinkedIn Learning course — provider, workload, instructors, rating.
    # @param course_slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Object]
    def linkedin_get_a_course(course_slug, opts = {})
      data, _status_code, _headers = linkedin_get_a_course_with_http_info(course_slug, opts)
      data
    end

    # Get a course
    # A public LinkedIn Learning course — provider, workload, instructors, rating.
    # @param course_slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def linkedin_get_a_course_with_http_info(course_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedInApi.linkedin_get_a_course ...'
      end
      # verify the required parameter 'course_slug' is set
      if @api_client.config.client_side_validation && course_slug.nil?
        fail ArgumentError, "Missing the required parameter 'course_slug' when calling LinkedInApi.linkedin_get_a_course"
      end
      # resource path
      local_var_path = '/v1/linkedin/learning/{course_slug}'.sub('{' + 'course_slug' + '}', CGI.escape(course_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LinkedInApi.linkedin_get_a_course",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedInApi#linkedin_get_a_course\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a public article
    # A public Pulse article — title, body, author, reactions (JSON-LD).
    # @param article_slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Object]
    def linkedin_get_a_public_article(article_slug, opts = {})
      data, _status_code, _headers = linkedin_get_a_public_article_with_http_info(article_slug, opts)
      data
    end

    # Get a public article
    # A public Pulse article — title, body, author, reactions (JSON-LD).
    # @param article_slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def linkedin_get_a_public_article_with_http_info(article_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedInApi.linkedin_get_a_public_article ...'
      end
      # verify the required parameter 'article_slug' is set
      if @api_client.config.client_side_validation && article_slug.nil?
        fail ArgumentError, "Missing the required parameter 'article_slug' when calling LinkedInApi.linkedin_get_a_public_article"
      end
      # resource path
      local_var_path = '/v1/linkedin/articles/{article_slug}'.sub('{' + 'article_slug' + '}', CGI.escape(article_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LinkedInApi.linkedin_get_a_public_article",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedInApi#linkedin_get_a_public_article\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a public post
    # A public activity share — text, author, reactions, comments (JSON-LD).
    # @param post_slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Object]
    def linkedin_get_a_public_post(post_slug, opts = {})
      data, _status_code, _headers = linkedin_get_a_public_post_with_http_info(post_slug, opts)
      data
    end

    # Get a public post
    # A public activity share — text, author, reactions, comments (JSON-LD).
    # @param post_slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def linkedin_get_a_public_post_with_http_info(post_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedInApi.linkedin_get_a_public_post ...'
      end
      # verify the required parameter 'post_slug' is set
      if @api_client.config.client_side_validation && post_slug.nil?
        fail ArgumentError, "Missing the required parameter 'post_slug' when calling LinkedInApi.linkedin_get_a_public_post"
      end
      # resource path
      local_var_path = '/v1/linkedin/posts/{post_slug}'.sub('{' + 'post_slug' + '}', CGI.escape(post_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LinkedInApi.linkedin_get_a_public_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedInApi#linkedin_get_a_public_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get company
    # Public company page — industry, size, HQ, followers, specialties (JSON-LD + SSR).
    # @param universal_name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Object]
    def linkedin_get_company(universal_name, opts = {})
      data, _status_code, _headers = linkedin_get_company_with_http_info(universal_name, opts)
      data
    end

    # Get company
    # Public company page — industry, size, HQ, followers, specialties (JSON-LD + SSR).
    # @param universal_name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def linkedin_get_company_with_http_info(universal_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedInApi.linkedin_get_company ...'
      end
      # verify the required parameter 'universal_name' is set
      if @api_client.config.client_side_validation && universal_name.nil?
        fail ArgumentError, "Missing the required parameter 'universal_name' when calling LinkedInApi.linkedin_get_company"
      end
      # resource path
      local_var_path = '/v1/linkedin/companies/{universal_name}'.sub('{' + 'universal_name' + '}', CGI.escape(universal_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LinkedInApi.linkedin_get_company",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedInApi#linkedin_get_company\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get job detail
    # Full detail for one job posting (guest API, no login).
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Object]
    def linkedin_get_job_detail(job_id, opts = {})
      data, _status_code, _headers = linkedin_get_job_detail_with_http_info(job_id, opts)
      data
    end

    # Get job detail
    # Full detail for one job posting (guest API, no login).
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def linkedin_get_job_detail_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedInApi.linkedin_get_job_detail ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling LinkedInApi.linkedin_get_job_detail"
      end
      # resource path
      local_var_path = '/v1/linkedin/jobs/{job_id}'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LinkedInApi.linkedin_get_job_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedInApi#linkedin_get_job_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get public profile
    # Public profile by vanity id (the ``/in/{public_id}`` slug) — name, headline, location, about, experience, education (public JSON-LD + SSR subset).
    # @param public_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Object]
    def linkedin_get_public_profile(public_id, opts = {})
      data, _status_code, _headers = linkedin_get_public_profile_with_http_info(public_id, opts)
      data
    end

    # Get public profile
    # Public profile by vanity id (the &#x60;&#x60;/in/{public_id}&#x60;&#x60; slug) — name, headline, location, about, experience, education (public JSON-LD + SSR subset).
    # @param public_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def linkedin_get_public_profile_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedInApi.linkedin_get_public_profile ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling LinkedInApi.linkedin_get_public_profile"
      end
      # resource path
      local_var_path = '/v1/linkedin/profiles/{public_id}'.sub('{' + 'public_id' + '}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LinkedInApi.linkedin_get_public_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedInApi#linkedin_get_public_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get school
    # Public school page — name, description, website, follower/alumni counts.
    # @param universal_name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Object]
    def linkedin_get_school(universal_name, opts = {})
      data, _status_code, _headers = linkedin_get_school_with_http_info(universal_name, opts)
      data
    end

    # Get school
    # Public school page — name, description, website, follower/alumni counts.
    # @param universal_name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def linkedin_get_school_with_http_info(universal_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedInApi.linkedin_get_school ...'
      end
      # verify the required parameter 'universal_name' is set
      if @api_client.config.client_side_validation && universal_name.nil?
        fail ArgumentError, "Missing the required parameter 'universal_name' when calling LinkedInApi.linkedin_get_school"
      end
      # resource path
      local_var_path = '/v1/linkedin/schools/{universal_name}'.sub('{' + 'universal_name' + '}', CGI.escape(universal_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LinkedInApi.linkedin_get_school",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedInApi#linkedin_get_school\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # LinkedIn scraper health check
    # Check health of the LinkedIn scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def linkedin_linkedin_scraper_health_check(opts = {})
      data, _status_code, _headers = linkedin_linkedin_scraper_health_check_with_http_info(opts)
      data
    end

    # LinkedIn scraper health check
    # Check health of the LinkedIn scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def linkedin_linkedin_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedInApi.linkedin_linkedin_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/linkedin/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LinkedInApi.linkedin_linkedin_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedInApi#linkedin_linkedin_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # LinkedIn scraper health check
    # Check health of the LinkedIn scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def linkedin_linkedin_scraper_health_check_head(opts = {})
      data, _status_code, _headers = linkedin_linkedin_scraper_health_check_head_with_http_info(opts)
      data
    end

    # LinkedIn scraper health check
    # Check health of the LinkedIn scraper service (accepts HEAD).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def linkedin_linkedin_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedInApi.linkedin_linkedin_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/linkedin/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LinkedInApi.linkedin_linkedin_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedInApi#linkedin_linkedin_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search LinkedIn jobs
    # Search public LinkedIn job postings (guest API, no login).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keywords Job title / keywords
    # @option opts [String] :location Location text, e.g. &#39;New York&#39;
    # @option opts [String] :geo_id LinkedIn numeric geo id (overrides location)
    # @option opts [String] :company_id Restrict to a company (numeric id)
    # @option opts [String] :date_posted past_24h | past_week | past_month | any
    # @option opts [String] :experience internship|entry|associate|mid_senior|director|executive (comma-separated)
    # @option opts [String] :job_type full_time|part_time|contract|temporary|internship|volunteer|other
    # @option opts [String] :workplace onsite|remote|hybrid (comma-separated)
    # @option opts [String] :sort relevant | recent
    # @option opts [Integer] :start Pagination offset (0, 25, 50, ...) (default to 0)
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Object]
    def linkedin_search_linkedin_jobs(opts = {})
      data, _status_code, _headers = linkedin_search_linkedin_jobs_with_http_info(opts)
      data
    end

    # Search LinkedIn jobs
    # Search public LinkedIn job postings (guest API, no login).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keywords Job title / keywords
    # @option opts [String] :location Location text, e.g. &#39;New York&#39;
    # @option opts [String] :geo_id LinkedIn numeric geo id (overrides location)
    # @option opts [String] :company_id Restrict to a company (numeric id)
    # @option opts [String] :date_posted past_24h | past_week | past_month | any
    # @option opts [String] :experience internship|entry|associate|mid_senior|director|executive (comma-separated)
    # @option opts [String] :job_type full_time|part_time|contract|temporary|internship|volunteer|other
    # @option opts [String] :workplace onsite|remote|hybrid (comma-separated)
    # @option opts [String] :sort relevant | recent
    # @option opts [Integer] :start Pagination offset (0, 25, 50, ...) (default to 0)
    # @option opts [String] :country Residential proxy country (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def linkedin_search_linkedin_jobs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedInApi.linkedin_search_linkedin_jobs ...'
      end
      if @api_client.config.client_side_validation && !opts[:'start'].nil? && opts[:'start'] < 0
        fail ArgumentError, 'invalid value for "opts[:"start"]" when calling LinkedInApi.linkedin_search_linkedin_jobs, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/linkedin/jobs/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'keywords'] = opts[:'keywords'] if !opts[:'keywords'].nil?
      query_params[:'location'] = opts[:'location'] if !opts[:'location'].nil?
      query_params[:'geo_id'] = opts[:'geo_id'] if !opts[:'geo_id'].nil?
      query_params[:'company_id'] = opts[:'company_id'] if !opts[:'company_id'].nil?
      query_params[:'date_posted'] = opts[:'date_posted'] if !opts[:'date_posted'].nil?
      query_params[:'experience'] = opts[:'experience'] if !opts[:'experience'].nil?
      query_params[:'job_type'] = opts[:'job_type'] if !opts[:'job_type'].nil?
      query_params[:'workplace'] = opts[:'workplace'] if !opts[:'workplace'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LinkedInApi.linkedin_search_linkedin_jobs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedInApi#linkedin_search_linkedin_jobs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Suggest location geo ids
    # Resolve a name to LinkedIn ids (job-search ``geo_id`` / ``company_id`` helper).
    # @param query [String] Location text, e.g. &#39;London&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type geo | company (default to 'geo')
    # @return [Object]
    def linkedin_suggest_location_geo_ids(query, opts = {})
      data, _status_code, _headers = linkedin_suggest_location_geo_ids_with_http_info(query, opts)
      data
    end

    # Suggest location geo ids
    # Resolve a name to LinkedIn ids (job-search &#x60;&#x60;geo_id&#x60;&#x60; / &#x60;&#x60;company_id&#x60;&#x60; helper).
    # @param query [String] Location text, e.g. &#39;London&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type geo | company (default to 'geo')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def linkedin_suggest_location_geo_ids_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedInApi.linkedin_suggest_location_geo_ids ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling LinkedInApi.linkedin_suggest_location_geo_ids"
      end
      # resource path
      local_var_path = '/v1/linkedin/geo/suggest'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LinkedInApi.linkedin_suggest_location_geo_ids",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedInApi#linkedin_suggest_location_geo_ids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
