=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class LoopNetApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get broker profile
    # Get a LoopNet broker profile + their listings by slug + id.
    # @param slug [String] 
    # @param broker_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market us|ca|uk|fr|es (default to 'us')
    # @return [Object]
    def loopnet_get_broker_profile(slug, broker_id, opts = {})
      data, _status_code, _headers = loopnet_get_broker_profile_with_http_info(slug, broker_id, opts)
      data
    end

    # Get broker profile
    # Get a LoopNet broker profile + their listings by slug + id.
    # @param slug [String] 
    # @param broker_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market us|ca|uk|fr|es (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def loopnet_get_broker_profile_with_http_info(slug, broker_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoopNetApi.loopnet_get_broker_profile ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling LoopNetApi.loopnet_get_broker_profile"
      end
      # verify the required parameter 'broker_id' is set
      if @api_client.config.client_side_validation && broker_id.nil?
        fail ArgumentError, "Missing the required parameter 'broker_id' when calling LoopNetApi.loopnet_get_broker_profile"
      end
      # resource path
      local_var_path = '/v1/loopnet/brokers/{slug}/{broker_id}'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s)).sub('{' + 'broker_id' + '}', CGI.escape(broker_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LoopNetApi.loopnet_get_broker_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoopNetApi#loopnet_get_broker_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get listing detail
    # Get a single LoopNet listing's full detail by its numeric id.
    # @param listing_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market us|ca|uk|fr|es (default to 'us')
    # @return [Object]
    def loopnet_get_listing_detail(listing_id, opts = {})
      data, _status_code, _headers = loopnet_get_listing_detail_with_http_info(listing_id, opts)
      data
    end

    # Get listing detail
    # Get a single LoopNet listing&#39;s full detail by its numeric id.
    # @param listing_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market us|ca|uk|fr|es (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def loopnet_get_listing_detail_with_http_info(listing_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoopNetApi.loopnet_get_listing_detail ...'
      end
      # verify the required parameter 'listing_id' is set
      if @api_client.config.client_side_validation && listing_id.nil?
        fail ArgumentError, "Missing the required parameter 'listing_id' when calling LoopNetApi.loopnet_get_listing_detail"
      end
      # resource path
      local_var_path = '/v1/loopnet/listings/{listing_id}'.sub('{' + 'listing_id' + '}', CGI.escape(listing_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LoopNetApi.loopnet_get_listing_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoopNetApi#loopnet_get_listing_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List coverage markets
    # List LoopNet coverage markets (US, CA, UK, FR, ES).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def loopnet_list_coverage_markets(opts = {})
      data, _status_code, _headers = loopnet_list_coverage_markets_with_http_info(opts)
      data
    end

    # List coverage markets
    # List LoopNet coverage markets (US, CA, UK, FR, ES).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def loopnet_list_coverage_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoopNetApi.loopnet_list_coverage_markets ...'
      end
      # resource path
      local_var_path = '/v1/loopnet/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LoopNetApi.loopnet_list_coverage_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoopNetApi#loopnet_list_coverage_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List property types
    # List LoopNet property-type facets accepted by /search.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def loopnet_list_property_types(opts = {})
      data, _status_code, _headers = loopnet_list_property_types_with_http_info(opts)
      data
    end

    # List property types
    # List LoopNet property-type facets accepted by /search.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def loopnet_list_property_types_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoopNetApi.loopnet_list_property_types ...'
      end
      # resource path
      local_var_path = '/v1/loopnet/property-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LoopNetApi.loopnet_list_property_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoopNetApi#loopnet_list_property_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # LoopNet scraper health check
    # Check health of the LoopNet scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def loopnet_loopnet_scraper_health_check(opts = {})
      data, _status_code, _headers = loopnet_loopnet_scraper_health_check_with_http_info(opts)
      data
    end

    # LoopNet scraper health check
    # Check health of the LoopNet scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def loopnet_loopnet_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoopNetApi.loopnet_loopnet_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/loopnet/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LoopNetApi.loopnet_loopnet_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoopNetApi#loopnet_loopnet_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # LoopNet scraper health check
    # Check health of the LoopNet scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def loopnet_loopnet_scraper_health_check_head(opts = {})
      data, _status_code, _headers = loopnet_loopnet_scraper_health_check_head_with_http_info(opts)
      data
    end

    # LoopNet scraper health check
    # Check health of the LoopNet scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def loopnet_loopnet_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoopNetApi.loopnet_loopnet_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/loopnet/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LoopNetApi.loopnet_loopnet_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoopNetApi#loopnet_loopnet_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search commercial real estate
    # Search LoopNet for-lease / for-sale / auction listings across all markets.
    # @param location [String] City/state, ZIP, state code, or &#39;usa&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market us|ca|uk|fr|es (default to 'us')
    # @option opts [String] :listing_type for-lease|for-sale|auctions (default to 'for-lease')
    # @option opts [String] :property_type Slug from /property-types
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :min_price 
    # @option opts [Integer] :max_price 
    # @option opts [String] :price_type unit | sf | acre
    # @option opts [Integer] :min_size 
    # @option opts [Integer] :max_size 
    # @return [Object]
    def loopnet_search_commercial_real_estate(location, opts = {})
      data, _status_code, _headers = loopnet_search_commercial_real_estate_with_http_info(location, opts)
      data
    end

    # Search commercial real estate
    # Search LoopNet for-lease / for-sale / auction listings across all markets.
    # @param location [String] City/state, ZIP, state code, or &#39;usa&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market us|ca|uk|fr|es (default to 'us')
    # @option opts [String] :listing_type for-lease|for-sale|auctions (default to 'for-lease')
    # @option opts [String] :property_type Slug from /property-types
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :min_price 
    # @option opts [Integer] :max_price 
    # @option opts [String] :price_type unit | sf | acre
    # @option opts [Integer] :min_size 
    # @option opts [Integer] :max_size 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def loopnet_search_commercial_real_estate_with_http_info(location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoopNetApi.loopnet_search_commercial_real_estate ...'
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling LoopNetApi.loopnet_search_commercial_real_estate"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 20
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling LoopNetApi.loopnet_search_commercial_real_estate, must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling LoopNetApi.loopnet_search_commercial_real_estate, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_price'].nil? && opts[:'min_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_price"]" when calling LoopNetApi.loopnet_search_commercial_real_estate, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_price'].nil? && opts[:'max_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_price"]" when calling LoopNetApi.loopnet_search_commercial_real_estate, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_size'].nil? && opts[:'min_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_size"]" when calling LoopNetApi.loopnet_search_commercial_real_estate, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_size'].nil? && opts[:'max_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_size"]" when calling LoopNetApi.loopnet_search_commercial_real_estate, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/loopnet/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'location'] = location
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'listing_type'] = opts[:'listing_type'] if !opts[:'listing_type'].nil?
      query_params[:'property_type'] = opts[:'property_type'] if !opts[:'property_type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'min_price'] = opts[:'min_price'] if !opts[:'min_price'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?
      query_params[:'price_type'] = opts[:'price_type'] if !opts[:'price_type'].nil?
      query_params[:'min_size'] = opts[:'min_size'] if !opts[:'min_size'].nil?
      query_params[:'max_size'] = opts[:'max_size'] if !opts[:'max_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LoopNetApi.loopnet_search_commercial_real_estate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoopNetApi#loopnet_search_commercial_real_estate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
