=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class NaverApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Naver blog search
    # Naver blog vertical — post title, blog name and real post URLs.
    # @param query [String] 검색어
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @return [Object]
    def naver_naver_blog_search(query, opts = {})
      data, _status_code, _headers = naver_naver_blog_search_with_http_info(query, opts)
      data
    end

    # Naver blog search
    # Naver blog vertical — post title, blog name and real post URLs.
    # @param query [String] 검색어
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def naver_naver_blog_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NaverApi.naver_naver_blog_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling NaverApi.naver_naver_blog_search"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling NaverApi.naver_naver_blog_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/naver/blog'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"NaverApi.naver_naver_blog_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NaverApi#naver_naver_blog_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Naver DataLab shopping keyword insight
    # DataLab Shopping Insight — top search keywords in a category over a window.
    # @param category_id [String] DataLab category id (cid), e.g. 50000000
    # @param start_date [String] YYYY-MM-DD
    # @param end_date [String] YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @option opts [String] :time_unit date | week | month (default to 'date')
    # @option opts [Integer] :count Keywords to return (default to 20)
    # @return [Object]
    def naver_naver_datalab_shopping_keyword_insight(category_id, start_date, end_date, opts = {})
      data, _status_code, _headers = naver_naver_datalab_shopping_keyword_insight_with_http_info(category_id, start_date, end_date, opts)
      data
    end

    # Naver DataLab shopping keyword insight
    # DataLab Shopping Insight — top search keywords in a category over a window.
    # @param category_id [String] DataLab category id (cid), e.g. 50000000
    # @param start_date [String] YYYY-MM-DD
    # @param end_date [String] YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @option opts [String] :time_unit date | week | month (default to 'date')
    # @option opts [Integer] :count Keywords to return (default to 20)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def naver_naver_datalab_shopping_keyword_insight_with_http_info(category_id, start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NaverApi.naver_naver_datalab_shopping_keyword_insight ...'
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling NaverApi.naver_naver_datalab_shopping_keyword_insight"
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling NaverApi.naver_naver_datalab_shopping_keyword_insight"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling NaverApi.naver_naver_datalab_shopping_keyword_insight"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 100
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling NaverApi.naver_naver_datalab_shopping_keyword_insight, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling NaverApi.naver_naver_datalab_shopping_keyword_insight, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/naver/shopping/insight'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'category_id'] = category_id
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'time_unit'] = opts[:'time_unit'] if !opts[:'time_unit'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"NaverApi.naver_naver_datalab_shopping_keyword_insight",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NaverApi#naver_naver_datalab_shopping_keyword_insight\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Naver news search
    # Naver news vertical — publisher, age string and real article URLs.
    # @param query [String] 검색어
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @return [Object]
    def naver_naver_news_search(query, opts = {})
      data, _status_code, _headers = naver_naver_news_search_with_http_info(query, opts)
      data
    end

    # Naver news search
    # Naver news vertical — publisher, age string and real article URLs.
    # @param query [String] 검색어
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def naver_naver_news_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NaverApi.naver_naver_news_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling NaverApi.naver_naver_news_search"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling NaverApi.naver_naver_news_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/naver/news'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"NaverApi.naver_naver_news_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NaverApi#naver_naver_news_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Naver place detail
    # Naver Place detail by place id.
    # @param place_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def naver_naver_place_detail(place_id, opts = {})
      data, _status_code, _headers = naver_naver_place_detail_with_http_info(place_id, opts)
      data
    end

    # Naver place detail
    # Naver Place detail by place id.
    # @param place_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def naver_naver_place_detail_with_http_info(place_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NaverApi.naver_naver_place_detail ...'
      end
      # verify the required parameter 'place_id' is set
      if @api_client.config.client_side_validation && place_id.nil?
        fail ArgumentError, "Missing the required parameter 'place_id' when calling NaverApi.naver_naver_place_detail"
      end
      # resource path
      local_var_path = '/v1/naver/place/{place_id}'.sub('{' + 'place_id' + '}', CGI.escape(place_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"NaverApi.naver_naver_place_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NaverApi#naver_naver_place_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Naver Place/Local search
    # Naver Place/Local search — name, category, rating, hours status.
    # @param query [String] Place query, e.g. &#39;성남 카페&#39;
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def naver_naver_place_local_search(query, opts = {})
      data, _status_code, _headers = naver_naver_place_local_search_with_http_info(query, opts)
      data
    end

    # Naver Place/Local search
    # Naver Place/Local search — name, category, rating, hours status.
    # @param query [String] Place query, e.g. &#39;성남 카페&#39;
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def naver_naver_place_local_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NaverApi.naver_naver_place_local_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling NaverApi.naver_naver_place_local_search"
      end
      # resource path
      local_var_path = '/v1/naver/local'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"NaverApi.naver_naver_place_local_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NaverApi#naver_naver_place_local_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Naver place visitor reviews
    # Visitor reviews for a Naver place — rating, body, reviewer, voted keywords, photos.
    # @param place_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def naver_naver_place_visitor_reviews(place_id, opts = {})
      data, _status_code, _headers = naver_naver_place_visitor_reviews_with_http_info(place_id, opts)
      data
    end

    # Naver place visitor reviews
    # Visitor reviews for a Naver place — rating, body, reviewer, voted keywords, photos.
    # @param place_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def naver_naver_place_visitor_reviews_with_http_info(place_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NaverApi.naver_naver_place_visitor_reviews ...'
      end
      # verify the required parameter 'place_id' is set
      if @api_client.config.client_side_validation && place_id.nil?
        fail ArgumentError, "Missing the required parameter 'place_id' when calling NaverApi.naver_naver_place_visitor_reviews"
      end
      # resource path
      local_var_path = '/v1/naver/place/{place_id}/reviews'.sub('{' + 'place_id' + '}', CGI.escape(place_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"NaverApi.naver_naver_place_visitor_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NaverApi#naver_naver_place_visitor_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Naver scraper health check
    # Check health of the Naver scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def naver_naver_scraper_health_check(opts = {})
      data, _status_code, _headers = naver_naver_scraper_health_check_with_http_info(opts)
      data
    end

    # Naver scraper health check
    # Check health of the Naver scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def naver_naver_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NaverApi.naver_naver_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/naver/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"NaverApi.naver_naver_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NaverApi#naver_naver_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Naver scraper health check
    # Check health of the Naver scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def naver_naver_scraper_health_check_head(opts = {})
      data, _status_code, _headers = naver_naver_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Naver scraper health check
    # Check health of the Naver scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def naver_naver_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NaverApi.naver_naver_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/naver/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"NaverApi.naver_naver_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NaverApi#naver_naver_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Naver Shopping bestseller rankings
    # Naver Shopping bestseller rankings — ranked products with price, review score, mall.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :category_id Naver shopping category id, or ALL (default to 'ALL')
    # @option opts [String] :age_type ALL | MEN_20 | WOMEN_20 | ... (default to 'ALL')
    # @option opts [String] :sort_type PRODUCT_CLICK | PRODUCT_BUY (default to 'PRODUCT_CLICK')
    # @option opts [String] :period_type DAILY | WEEKLY (default to 'DAILY')
    # @return [Object]
    def naver_naver_shopping_bestseller_rankings(opts = {})
      data, _status_code, _headers = naver_naver_shopping_bestseller_rankings_with_http_info(opts)
      data
    end

    # Naver Shopping bestseller rankings
    # Naver Shopping bestseller rankings — ranked products with price, review score, mall.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :category_id Naver shopping category id, or ALL (default to 'ALL')
    # @option opts [String] :age_type ALL | MEN_20 | WOMEN_20 | ... (default to 'ALL')
    # @option opts [String] :sort_type PRODUCT_CLICK | PRODUCT_BUY (default to 'PRODUCT_CLICK')
    # @option opts [String] :period_type DAILY | WEEKLY (default to 'DAILY')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def naver_naver_shopping_bestseller_rankings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NaverApi.naver_naver_shopping_bestseller_rankings ...'
      end
      # resource path
      local_var_path = '/v1/naver/shopping/bestsellers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'category_id'] = opts[:'category_id'] if !opts[:'category_id'].nil?
      query_params[:'age_type'] = opts[:'age_type'] if !opts[:'age_type'].nil?
      query_params[:'sort_type'] = opts[:'sort_type'] if !opts[:'sort_type'].nil?
      query_params[:'period_type'] = opts[:'period_type'] if !opts[:'period_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"NaverApi.naver_naver_shopping_bestseller_rankings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NaverApi#naver_naver_shopping_bestseller_rankings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Naver Shopping category reference
    # Naver Shopping top-level category ids (for bestsellers/keywords/insight). Free.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def naver_naver_shopping_category_reference(opts = {})
      data, _status_code, _headers = naver_naver_shopping_category_reference_with_http_info(opts)
      data
    end

    # Naver Shopping category reference
    # Naver Shopping top-level category ids (for bestsellers/keywords/insight). Free.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def naver_naver_shopping_category_reference_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NaverApi.naver_naver_shopping_category_reference ...'
      end
      # resource path
      local_var_path = '/v1/naver/shopping/categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"NaverApi.naver_naver_shopping_category_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NaverApi#naver_naver_shopping_category_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Naver Shopping trending keyword rankings
    # Trending Naver Shopping keywords for a category (snxbest keyword rankings).
    # @param category_id [String] Naver shopping category id (see /shopping/categories)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :age_type ALL | MEN_20 | WOMEN_20 | ... (default to 'ALL')
    # @option opts [String] :sort_type  (default to 'KEYWORD_POPULAR')
    # @option opts [String] :period_type DAILY | WEEKLY (default to 'WEEKLY')
    # @return [Object]
    def naver_naver_shopping_trending_keyword_rankings(category_id, opts = {})
      data, _status_code, _headers = naver_naver_shopping_trending_keyword_rankings_with_http_info(category_id, opts)
      data
    end

    # Naver Shopping trending keyword rankings
    # Trending Naver Shopping keywords for a category (snxbest keyword rankings).
    # @param category_id [String] Naver shopping category id (see /shopping/categories)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :age_type ALL | MEN_20 | WOMEN_20 | ... (default to 'ALL')
    # @option opts [String] :sort_type  (default to 'KEYWORD_POPULAR')
    # @option opts [String] :period_type DAILY | WEEKLY (default to 'WEEKLY')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def naver_naver_shopping_trending_keyword_rankings_with_http_info(category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NaverApi.naver_naver_shopping_trending_keyword_rankings ...'
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling NaverApi.naver_naver_shopping_trending_keyword_rankings"
      end
      # resource path
      local_var_path = '/v1/naver/shopping/keywords'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'category_id'] = category_id
      query_params[:'age_type'] = opts[:'age_type'] if !opts[:'age_type'].nil?
      query_params[:'sort_type'] = opts[:'sort_type'] if !opts[:'sort_type'].nil?
      query_params[:'period_type'] = opts[:'period_type'] if !opts[:'period_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"NaverApi.naver_naver_shopping_trending_keyword_rankings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NaverApi#naver_naver_shopping_trending_keyword_rankings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Naver web search
    # Naver integrated SERP — organic results plus the inline Place pack.
    # @param query [String] 검색어, e.g. &#39;성남 카페&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Result page (default to 1)
    # @return [Object]
    def naver_naver_web_search(query, opts = {})
      data, _status_code, _headers = naver_naver_web_search_with_http_info(query, opts)
      data
    end

    # Naver web search
    # Naver integrated SERP — organic results plus the inline Place pack.
    # @param query [String] 검색어, e.g. &#39;성남 카페&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Result page (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def naver_naver_web_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NaverApi.naver_naver_web_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling NaverApi.naver_naver_web_search"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling NaverApi.naver_naver_web_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/naver/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"NaverApi.naver_naver_web_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NaverApi#naver_naver_web_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search suggestions
    # Naver search-box suggestions.
    # @param query [String] Partial search term
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def naver_search_suggestions(query, opts = {})
      data, _status_code, _headers = naver_search_suggestions_with_http_info(query, opts)
      data
    end

    # Search suggestions
    # Naver search-box suggestions.
    # @param query [String] Partial search term
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def naver_search_suggestions_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NaverApi.naver_search_suggestions ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling NaverApi.naver_search_suggestions"
      end
      # resource path
      local_var_path = '/v1/naver/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"NaverApi.naver_search_suggestions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NaverApi#naver_search_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
