=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class RealtorApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get full property detail
    # Full listing detail: features, tax & price history, schools, photos, agents.
    # @param property_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market us (realtor.com) | ca (realtor.ca) (default to 'us')
    # @return [Object]
    def realtor_get_full_property_detail(property_id, opts = {})
      data, _status_code, _headers = realtor_get_full_property_detail_with_http_info(property_id, opts)
      data
    end

    # Get full property detail
    # Full listing detail: features, tax &amp; price history, schools, photos, agents.
    # @param property_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market us (realtor.com) | ca (realtor.ca) (default to 'us')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def realtor_get_full_property_detail_with_http_info(property_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealtorApi.realtor_get_full_property_detail ...'
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling RealtorApi.realtor_get_full_property_detail"
      end
      # resource path
      local_var_path = '/v1/realtor/properties/{property_id}'.sub('{' + 'property_id' + '}', CGI.escape(property_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RealtorApi.realtor_get_full_property_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealtorApi#realtor_get_full_property_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List markets
    # List supported Realtor markets (US = realtor.com, CA = realtor.ca).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def realtor_list_markets(opts = {})
      data, _status_code, _headers = realtor_list_markets_with_http_info(opts)
      data
    end

    # List markets
    # List supported Realtor markets (US &#x3D; realtor.com, CA &#x3D; realtor.ca).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def realtor_list_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealtorApi.realtor_list_markets ...'
      end
      # resource path
      local_var_path = '/v1/realtor/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RealtorApi.realtor_list_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealtorApi#realtor_list_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Location autocomplete
    # Resolve a location query into candidate places to feed /search.
    # @param query [String] Freetext location (city, ZIP/postal, address…)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market us (realtor.com) | ca (realtor.ca) (default to 'us')
    # @option opts [Integer] :limit  (default to 10)
    # @return [Object]
    def realtor_location_autocomplete(query, opts = {})
      data, _status_code, _headers = realtor_location_autocomplete_with_http_info(query, opts)
      data
    end

    # Location autocomplete
    # Resolve a location query into candidate places to feed /search.
    # @param query [String] Freetext location (city, ZIP/postal, address…)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market us (realtor.com) | ca (realtor.ca) (default to 'us')
    # @option opts [Integer] :limit  (default to 10)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def realtor_location_autocomplete_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealtorApi.realtor_location_autocomplete ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling RealtorApi.realtor_location_autocomplete"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 25
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RealtorApi.realtor_location_autocomplete, must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RealtorApi.realtor_location_autocomplete, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/realtor/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RealtorApi.realtor_location_autocomplete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealtorApi#realtor_location_autocomplete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Realtor scraper health check
    # Check health of the realtor scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def realtor_realtor_scraper_health_check(opts = {})
      data, _status_code, _headers = realtor_realtor_scraper_health_check_with_http_info(opts)
      data
    end

    # Realtor scraper health check
    # Check health of the realtor scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def realtor_realtor_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealtorApi.realtor_realtor_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/realtor/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RealtorApi.realtor_realtor_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealtorApi#realtor_realtor_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Realtor scraper health check
    # Check health of the realtor scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def realtor_realtor_scraper_health_check_head(opts = {})
      data, _status_code, _headers = realtor_realtor_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Realtor scraper health check
    # Check health of the realtor scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def realtor_realtor_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealtorApi.realtor_realtor_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/realtor/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RealtorApi.realtor_realtor_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealtorApi#realtor_realtor_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search property listings
    # Search for-sale/for-rent/sold listings with rich filters.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location &#39;Austin, TX&#39;, a ZIP, &#39;Toronto, ON&#39;…
    # @option opts [String] :market us (realtor.com) | ca (realtor.ca) (default to 'us')
    # @option opts [String] :status for_sale | for_rent | sold | pending (default to 'for_sale')
    # @option opts [Float] :price_min 
    # @option opts [Float] :price_max 
    # @option opts [Integer] :beds_min 
    # @option opts [Integer] :baths_min 
    # @option opts [Integer] :sqft_min US only
    # @option opts [Integer] :sqft_max US only
    # @option opts [String] :property_type US only, CSV of property types
    # @option opts [String] :sort relevant | newest | price_low | price_high | photo_count (default to 'relevant')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit 
    # @option opts [Float] :lat_min CA bbox south
    # @option opts [Float] :lat_max CA bbox north
    # @option opts [Float] :lng_min CA bbox west
    # @option opts [Float] :lng_max CA bbox east
    # @return [Object]
    def realtor_search_property_listings(opts = {})
      data, _status_code, _headers = realtor_search_property_listings_with_http_info(opts)
      data
    end

    # Search property listings
    # Search for-sale/for-rent/sold listings with rich filters.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location &#39;Austin, TX&#39;, a ZIP, &#39;Toronto, ON&#39;…
    # @option opts [String] :market us (realtor.com) | ca (realtor.ca) (default to 'us')
    # @option opts [String] :status for_sale | for_rent | sold | pending (default to 'for_sale')
    # @option opts [Float] :price_min 
    # @option opts [Float] :price_max 
    # @option opts [Integer] :beds_min 
    # @option opts [Integer] :baths_min 
    # @option opts [Integer] :sqft_min US only
    # @option opts [Integer] :sqft_max US only
    # @option opts [String] :property_type US only, CSV of property types
    # @option opts [String] :sort relevant | newest | price_low | price_high | photo_count (default to 'relevant')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit 
    # @option opts [Float] :lat_min CA bbox south
    # @option opts [Float] :lat_max CA bbox north
    # @option opts [Float] :lng_min CA bbox west
    # @option opts [Float] :lng_max CA bbox east
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def realtor_search_property_listings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealtorApi.realtor_search_property_listings ...'
      end
      if @api_client.config.client_side_validation && !opts[:'price_min'].nil? && opts[:'price_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"price_min"]" when calling RealtorApi.realtor_search_property_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'price_max'].nil? && opts[:'price_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"price_max"]" when calling RealtorApi.realtor_search_property_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'beds_min'].nil? && opts[:'beds_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"beds_min"]" when calling RealtorApi.realtor_search_property_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'baths_min'].nil? && opts[:'baths_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"baths_min"]" when calling RealtorApi.realtor_search_property_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'sqft_min'].nil? && opts[:'sqft_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"sqft_min"]" when calling RealtorApi.realtor_search_property_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'sqft_max'].nil? && opts[:'sqft_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"sqft_max"]" when calling RealtorApi.realtor_search_property_listings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling RealtorApi.realtor_search_property_listings, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RealtorApi.realtor_search_property_listings, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RealtorApi.realtor_search_property_listings, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/realtor/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'location'] = opts[:'location'] if !opts[:'location'].nil?
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'price_min'] = opts[:'price_min'] if !opts[:'price_min'].nil?
      query_params[:'price_max'] = opts[:'price_max'] if !opts[:'price_max'].nil?
      query_params[:'beds_min'] = opts[:'beds_min'] if !opts[:'beds_min'].nil?
      query_params[:'baths_min'] = opts[:'baths_min'] if !opts[:'baths_min'].nil?
      query_params[:'sqft_min'] = opts[:'sqft_min'] if !opts[:'sqft_min'].nil?
      query_params[:'sqft_max'] = opts[:'sqft_max'] if !opts[:'sqft_max'].nil?
      query_params[:'property_type'] = opts[:'property_type'] if !opts[:'property_type'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'lat_min'] = opts[:'lat_min'] if !opts[:'lat_min'].nil?
      query_params[:'lat_max'] = opts[:'lat_max'] if !opts[:'lat_max'].nil?
      query_params[:'lng_min'] = opts[:'lng_min'] if !opts[:'lng_min'].nil?
      query_params[:'lng_max'] = opts[:'lng_max'] if !opts[:'lng_max'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RealtorApi.realtor_search_property_listings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealtorApi#realtor_search_property_listings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
