=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class RedditApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get cross-posts
    # Get cross-posts and duplicates of a Reddit post.
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Object]
    def reddit_get_cross_posts(post_id, opts = {})
      data, _status_code, _headers = reddit_get_cross_posts_with_http_info(post_id, opts)
      data
    end

    # Get cross-posts
    # Get cross-posts and duplicates of a Reddit post.
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_get_cross_posts_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_get_cross_posts ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling RedditApi.reddit_get_cross_posts"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_get_cross_posts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_get_cross_posts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/reddit/posts/{post_id}/duplicates'.sub('{' + 'post_id' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_get_cross_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_get_cross_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get post comments
    # Get comment tree for a Reddit post.
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort Sort: confidence, top, new, controversial, old, qa (default to 'confidence')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [Integer] :depth 
    # @return [Object]
    def reddit_get_post_comments(post_id, opts = {})
      data, _status_code, _headers = reddit_get_post_comments_with_http_info(post_id, opts)
      data
    end

    # Get post comments
    # Get comment tree for a Reddit post.
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort Sort: confidence, top, new, controversial, old, qa (default to 'confidence')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [Integer] :depth 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_get_post_comments_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_get_post_comments ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling RedditApi.reddit_get_post_comments"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_get_post_comments, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_get_post_comments, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling RedditApi.reddit_get_post_comments, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling RedditApi.reddit_get_post_comments, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/reddit/posts/{post_id}/comments'.sub('{' + 'post_id' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_get_post_comments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_get_post_comments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get post detail
    # Get detailed information about a Reddit post.
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def reddit_get_post_detail(post_id, opts = {})
      data, _status_code, _headers = reddit_get_post_detail_with_http_info(post_id, opts)
      data
    end

    # Get post detail
    # Get detailed information about a Reddit post.
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_get_post_detail_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_get_post_detail ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling RedditApi.reddit_get_post_detail"
      end
      # resource path
      local_var_path = '/v1/reddit/posts/{post_id}'.sub('{' + 'post_id' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_get_post_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_get_post_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get posts by domain
    # Get Reddit posts linking to a specific domain.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort  (default to 'hot')
    # @option opts [String] :t  (default to 'all')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Object]
    def reddit_get_posts_by_domain(domain, opts = {})
      data, _status_code, _headers = reddit_get_posts_by_domain_with_http_info(domain, opts)
      data
    end

    # Get posts by domain
    # Get Reddit posts linking to a specific domain.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort  (default to 'hot')
    # @option opts [String] :t  (default to 'all')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_get_posts_by_domain_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_get_posts_by_domain ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling RedditApi.reddit_get_posts_by_domain"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_get_posts_by_domain, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_get_posts_by_domain, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/reddit/domains/{domain}/posts'.sub('{' + 'domain' + '}', CGI.escape(domain.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'t'] = opts[:'t'] if !opts[:'t'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_get_posts_by_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_get_posts_by_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get subreddit info
    # Get detailed information about a subreddit.
    # @param subreddit [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def reddit_get_subreddit_info(subreddit, opts = {})
      data, _status_code, _headers = reddit_get_subreddit_info_with_http_info(subreddit, opts)
      data
    end

    # Get subreddit info
    # Get detailed information about a subreddit.
    # @param subreddit [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_get_subreddit_info_with_http_info(subreddit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_get_subreddit_info ...'
      end
      # verify the required parameter 'subreddit' is set
      if @api_client.config.client_side_validation && subreddit.nil?
        fail ArgumentError, "Missing the required parameter 'subreddit' when calling RedditApi.reddit_get_subreddit_info"
      end
      # resource path
      local_var_path = '/v1/reddit/subreddits/{subreddit}'.sub('{' + 'subreddit' + '}', CGI.escape(subreddit.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_get_subreddit_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_get_subreddit_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get subreddit posts
    # Get posts from a subreddit with sorting options.
    # @param subreddit [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort Sort: hot, new, top, rising, controversial (default to 'hot')
    # @option opts [String] :t Time filter (default to 'all')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Object]
    def reddit_get_subreddit_posts(subreddit, opts = {})
      data, _status_code, _headers = reddit_get_subreddit_posts_with_http_info(subreddit, opts)
      data
    end

    # Get subreddit posts
    # Get posts from a subreddit with sorting options.
    # @param subreddit [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort Sort: hot, new, top, rising, controversial (default to 'hot')
    # @option opts [String] :t Time filter (default to 'all')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_get_subreddit_posts_with_http_info(subreddit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_get_subreddit_posts ...'
      end
      # verify the required parameter 'subreddit' is set
      if @api_client.config.client_side_validation && subreddit.nil?
        fail ArgumentError, "Missing the required parameter 'subreddit' when calling RedditApi.reddit_get_subreddit_posts"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_get_subreddit_posts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_get_subreddit_posts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/reddit/subreddits/{subreddit}/posts'.sub('{' + 'subreddit' + '}', CGI.escape(subreddit.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'t'] = opts[:'t'] if !opts[:'t'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_get_subreddit_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_get_subreddit_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get subreddit rules
    # Get the rules of a subreddit.
    # @param subreddit [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def reddit_get_subreddit_rules(subreddit, opts = {})
      data, _status_code, _headers = reddit_get_subreddit_rules_with_http_info(subreddit, opts)
      data
    end

    # Get subreddit rules
    # Get the rules of a subreddit.
    # @param subreddit [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_get_subreddit_rules_with_http_info(subreddit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_get_subreddit_rules ...'
      end
      # verify the required parameter 'subreddit' is set
      if @api_client.config.client_side_validation && subreddit.nil?
        fail ArgumentError, "Missing the required parameter 'subreddit' when calling RedditApi.reddit_get_subreddit_rules"
      end
      # resource path
      local_var_path = '/v1/reddit/subreddits/{subreddit}/rules'.sub('{' + 'subreddit' + '}', CGI.escape(subreddit.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_get_subreddit_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_get_subreddit_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get trending posts
    # Get trending posts from Reddit's front page.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort Sort: hot, new, top, rising, controversial, best (default to 'hot')
    # @option opts [String] :t Time filter (default to 'day')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Object]
    def reddit_get_trending_posts(opts = {})
      data, _status_code, _headers = reddit_get_trending_posts_with_http_info(opts)
      data
    end

    # Get trending posts
    # Get trending posts from Reddit&#39;s front page.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort Sort: hot, new, top, rising, controversial, best (default to 'hot')
    # @option opts [String] :t Time filter (default to 'day')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_get_trending_posts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_get_trending_posts ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_get_trending_posts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_get_trending_posts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/reddit/posts/trending'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'t'] = opts[:'t'] if !opts[:'t'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_get_trending_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_get_trending_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user profile
    # Get a Reddit user's profile.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def reddit_get_user_profile(username, opts = {})
      data, _status_code, _headers = reddit_get_user_profile_with_http_info(username, opts)
      data
    end

    # Get user profile
    # Get a Reddit user&#39;s profile.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_get_user_profile_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_get_user_profile ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling RedditApi.reddit_get_user_profile"
      end
      # resource path
      local_var_path = '/v1/reddit/users/{username}'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_get_user_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_get_user_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user's comments
    # Get comments by a Reddit user.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort  (default to 'new')
    # @option opts [String] :t  (default to 'all')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Object]
    def reddit_get_user_s_comments(username, opts = {})
      data, _status_code, _headers = reddit_get_user_s_comments_with_http_info(username, opts)
      data
    end

    # Get user&#39;s comments
    # Get comments by a Reddit user.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort  (default to 'new')
    # @option opts [String] :t  (default to 'all')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_get_user_s_comments_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_get_user_s_comments ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling RedditApi.reddit_get_user_s_comments"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_get_user_s_comments, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_get_user_s_comments, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/reddit/users/{username}/comments'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'t'] = opts[:'t'] if !opts[:'t'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_get_user_s_comments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_get_user_s_comments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user's moderated subreddits
    # Get subreddits moderated by a user.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def reddit_get_user_s_moderated_subreddits(username, opts = {})
      data, _status_code, _headers = reddit_get_user_s_moderated_subreddits_with_http_info(username, opts)
      data
    end

    # Get user&#39;s moderated subreddits
    # Get subreddits moderated by a user.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_get_user_s_moderated_subreddits_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_get_user_s_moderated_subreddits ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling RedditApi.reddit_get_user_s_moderated_subreddits"
      end
      # resource path
      local_var_path = '/v1/reddit/users/{username}/moderated'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_get_user_s_moderated_subreddits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_get_user_s_moderated_subreddits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user's posts
    # Get posts submitted by a Reddit user.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort  (default to 'new')
    # @option opts [String] :t  (default to 'all')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Object]
    def reddit_get_user_s_posts(username, opts = {})
      data, _status_code, _headers = reddit_get_user_s_posts_with_http_info(username, opts)
      data
    end

    # Get user&#39;s posts
    # Get posts submitted by a Reddit user.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort  (default to 'new')
    # @option opts [String] :t  (default to 'all')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_get_user_s_posts_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_get_user_s_posts ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling RedditApi.reddit_get_user_s_posts"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_get_user_s_posts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_get_user_s_posts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/reddit/users/{username}/posts'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'t'] = opts[:'t'] if !opts[:'t'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_get_user_s_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_get_user_s_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user's trophies
    # Get a user's trophy case.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def reddit_get_user_s_trophies(username, opts = {})
      data, _status_code, _headers = reddit_get_user_s_trophies_with_http_info(username, opts)
      data
    end

    # Get user&#39;s trophies
    # Get a user&#39;s trophy case.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_get_user_s_trophies_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_get_user_s_trophies ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling RedditApi.reddit_get_user_s_trophies"
      end
      # resource path
      local_var_path = '/v1/reddit/users/{username}/trophies'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_get_user_s_trophies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_get_user_s_trophies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get wiki page content
    # Get the content of a specific wiki page.
    # @param subreddit [String] 
    # @param page [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def reddit_get_wiki_page_content(subreddit, page, opts = {})
      data, _status_code, _headers = reddit_get_wiki_page_content_with_http_info(subreddit, page, opts)
      data
    end

    # Get wiki page content
    # Get the content of a specific wiki page.
    # @param subreddit [String] 
    # @param page [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_get_wiki_page_content_with_http_info(subreddit, page, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_get_wiki_page_content ...'
      end
      # verify the required parameter 'subreddit' is set
      if @api_client.config.client_side_validation && subreddit.nil?
        fail ArgumentError, "Missing the required parameter 'subreddit' when calling RedditApi.reddit_get_wiki_page_content"
      end
      # verify the required parameter 'page' is set
      if @api_client.config.client_side_validation && page.nil?
        fail ArgumentError, "Missing the required parameter 'page' when calling RedditApi.reddit_get_wiki_page_content"
      end
      # resource path
      local_var_path = '/v1/reddit/subreddits/{subreddit}/wiki/{page}'.sub('{' + 'subreddit' + '}', CGI.escape(subreddit.to_s)).sub('{' + 'page' + '}', CGI.escape(page.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_get_wiki_page_content",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_get_wiki_page_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List wiki pages
    # List all wiki pages in a subreddit.
    # @param subreddit [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def reddit_list_wiki_pages(subreddit, opts = {})
      data, _status_code, _headers = reddit_list_wiki_pages_with_http_info(subreddit, opts)
      data
    end

    # List wiki pages
    # List all wiki pages in a subreddit.
    # @param subreddit [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_list_wiki_pages_with_http_info(subreddit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_list_wiki_pages ...'
      end
      # verify the required parameter 'subreddit' is set
      if @api_client.config.client_side_validation && subreddit.nil?
        fail ArgumentError, "Missing the required parameter 'subreddit' when calling RedditApi.reddit_list_wiki_pages"
      end
      # resource path
      local_var_path = '/v1/reddit/subreddits/{subreddit}/wiki'.sub('{' + 'subreddit' + '}', CGI.escape(subreddit.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_list_wiki_pages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_list_wiki_pages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # New subreddits
    # Get recently created subreddits.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Object]
    def reddit_new_subreddits(opts = {})
      data, _status_code, _headers = reddit_new_subreddits_with_http_info(opts)
      data
    end

    # New subreddits
    # Get recently created subreddits.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_new_subreddits_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_new_subreddits ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_new_subreddits, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_new_subreddits, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/reddit/subreddits/new'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_new_subreddits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_new_subreddits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Popular subreddits
    # Get popular subreddits by subscriber count.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Object]
    def reddit_popular_subreddits(opts = {})
      data, _status_code, _headers = reddit_popular_subreddits_with_http_info(opts)
      data
    end

    # Popular subreddits
    # Get popular subreddits by subscriber count.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_popular_subreddits_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_popular_subreddits ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_popular_subreddits, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_popular_subreddits, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/reddit/subreddits/popular'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_popular_subreddits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_popular_subreddits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reddit scraper health check
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def reddit_reddit_scraper_health_check(opts = {})
      data, _status_code, _headers = reddit_reddit_scraper_health_check_with_http_info(opts)
      data
    end

    # Reddit scraper health check
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_reddit_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_reddit_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/reddit/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_reddit_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_reddit_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reddit scraper health check
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def reddit_reddit_scraper_health_check_head(opts = {})
      data, _status_code, _headers = reddit_reddit_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Reddit scraper health check
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_reddit_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_reddit_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/reddit/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_reddit_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_reddit_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Reddit posts
    # Search Reddit posts globally or within a subreddit.
    # @param q [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :subreddit Restrict to subreddit
    # @option opts [String] :sort Sort: relevance, hot, top, new, comments (default to 'relevance')
    # @option opts [String] :t Time: hour, day, week, month, year, all (default to 'all')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Object]
    def reddit_search_reddit_posts(q, opts = {})
      data, _status_code, _headers = reddit_search_reddit_posts_with_http_info(q, opts)
      data
    end

    # Search Reddit posts
    # Search Reddit posts globally or within a subreddit.
    # @param q [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :subreddit Restrict to subreddit
    # @option opts [String] :sort Sort: relevance, hot, top, new, comments (default to 'relevance')
    # @option opts [String] :t Time: hour, day, week, month, year, all (default to 'all')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_search_reddit_posts_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_search_reddit_posts ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling RedditApi.reddit_search_reddit_posts"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_search_reddit_posts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_search_reddit_posts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/reddit/search/posts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'subreddit'] = opts[:'subreddit'] if !opts[:'subreddit'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'t'] = opts[:'t'] if !opts[:'t'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_search_reddit_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_search_reddit_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search subreddits
    # Search for subreddits by keyword.
    # @param q [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Object]
    def reddit_search_subreddits(q, opts = {})
      data, _status_code, _headers = reddit_search_subreddits_with_http_info(q, opts)
      data
    end

    # Search subreddits
    # Search for subreddits by keyword.
    # @param q [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_search_subreddits_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_search_subreddits ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling RedditApi.reddit_search_subreddits"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_search_subreddits, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_search_subreddits, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/reddit/search/subreddits'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_search_subreddits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_search_subreddits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search users
    # Search for Reddit users.
    # @param q [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Object]
    def reddit_search_users(q, opts = {})
      data, _status_code, _headers = reddit_search_users_with_http_info(q, opts)
      data
    end

    # Search users
    # Search for Reddit users.
    # @param q [String] Search query
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reddit_search_users_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_search_users ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling RedditApi.reddit_search_users"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_search_users, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditApi.reddit_search_users, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/reddit/search/users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_search_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_search_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
