=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class RedfinApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get agent profile + listings
    # Get a Redfin real-estate agent's profile and their active listings.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :url Full Redfin /realestateagents/ URL
    # @option opts [String] :agent_id Redfin agent id
    # @return [Object]
    def redfin_get_agent_profile_listings(opts = {})
      data, _status_code, _headers = redfin_get_agent_profile_listings_with_http_info(opts)
      data
    end

    # Get agent profile + listings
    # Get a Redfin real-estate agent&#39;s profile and their active listings.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :url Full Redfin /realestateagents/ URL
    # @option opts [String] :agent_id Redfin agent id
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def redfin_get_agent_profile_listings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedfinApi.redfin_get_agent_profile_listings ...'
      end
      # resource path
      local_var_path = '/v1/redfin/agent'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?
      query_params[:'agent_id'] = opts[:'agent_id'] if !opts[:'agent_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedfinApi.redfin_get_agent_profile_listings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedfinApi#redfin_get_agent_profile_listings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get property detail
    # Get a single Redfin property's full detail by its numeric propertyId.
    # @param property_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def redfin_get_property_detail(property_id, opts = {})
      data, _status_code, _headers = redfin_get_property_detail_with_http_info(property_id, opts)
      data
    end

    # Get property detail
    # Get a single Redfin property&#39;s full detail by its numeric propertyId.
    # @param property_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def redfin_get_property_detail_with_http_info(property_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedfinApi.redfin_get_property_detail ...'
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling RedfinApi.redfin_get_property_detail"
      end
      # resource path
      local_var_path = '/v1/redfin/property/{property_id}'.sub('{' + 'property_id' + '}', CGI.escape(property_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedfinApi.redfin_get_property_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedfinApi#redfin_get_property_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get property detail by URL
    # Get a single Redfin property's full detail by its home URL.
    # @param url [String] Full Redfin property URL (/CA/City/.../home/12345678)
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def redfin_get_property_detail_by_url(url, opts = {})
      data, _status_code, _headers = redfin_get_property_detail_by_url_with_http_info(url, opts)
      data
    end

    # Get property detail by URL
    # Get a single Redfin property&#39;s full detail by its home URL.
    # @param url [String] Full Redfin property URL (/CA/City/.../home/12345678)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def redfin_get_property_detail_by_url_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedfinApi.redfin_get_property_detail_by_url ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling RedfinApi.redfin_get_property_detail_by_url"
      end
      # resource path
      local_var_path = '/v1/redfin/property'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedfinApi.redfin_get_property_detail_by_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedfinApi#redfin_get_property_detail_by_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List coverage markets
    # List Redfin coverage regions (US).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def redfin_list_coverage_markets(opts = {})
      data, _status_code, _headers = redfin_list_coverage_markets_with_http_info(opts)
      data
    end

    # List coverage markets
    # List Redfin coverage regions (US).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def redfin_list_coverage_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedfinApi.redfin_list_coverage_markets ...'
      end
      # resource path
      local_var_path = '/v1/redfin/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedfinApi.redfin_list_coverage_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedfinApi#redfin_list_coverage_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Redfin scraper health check
    # Check health of the Redfin scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def redfin_redfin_scraper_health_check(opts = {})
      data, _status_code, _headers = redfin_redfin_scraper_health_check_with_http_info(opts)
      data
    end

    # Redfin scraper health check
    # Check health of the Redfin scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def redfin_redfin_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedfinApi.redfin_redfin_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/redfin/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedfinApi.redfin_redfin_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedfinApi#redfin_redfin_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Redfin scraper health check
    # Check health of the Redfin scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def redfin_redfin_scraper_health_check_head(opts = {})
      data, _status_code, _headers = redfin_redfin_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Redfin scraper health check
    # Check health of the Redfin scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def redfin_redfin_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedfinApi.redfin_redfin_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/redfin/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedfinApi.redfin_redfin_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedfinApi#redfin_redfin_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Region/address suggestions
    # Resolve a search term to Redfin regions/addresses.
    # @param query [String] Partial location — city, ZIP, address, neighborhood
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def redfin_region_address_suggestions(query, opts = {})
      data, _status_code, _headers = redfin_region_address_suggestions_with_http_info(query, opts)
      data
    end

    # Region/address suggestions
    # Resolve a search term to Redfin regions/addresses.
    # @param query [String] Partial location — city, ZIP, address, neighborhood
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def redfin_region_address_suggestions_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedfinApi.redfin_region_address_suggestions ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling RedfinApi.redfin_region_address_suggestions"
      end
      # resource path
      local_var_path = '/v1/redfin/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedfinApi.redfin_region_address_suggestions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedfinApi#redfin_region_address_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search properties
    # Search Redfin for for-sale / for-rent / recently-sold properties.
    # @param location [String] City/state, ZIP, address or neighborhood
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :sort relevant|newest|price_high_to_low|price_low_to_high|square_feet|lot_size|price_per_sqft|beds|baths
    # @option opts [Integer] :price_min 
    # @option opts [Integer] :price_max 
    # @option opts [Integer] :beds_min 
    # @option opts [Float] :baths_min 
    # @option opts [String] :home_type house|condo|townhouse|multi_family|land|mobile|coop|other
    # @option opts [Integer] :sqft_min 
    # @option opts [Integer] :sqft_max 
    # @option opts [Integer] :lot_min 
    # @option opts [Integer] :lot_max 
    # @option opts [Integer] :year_built_min 
    # @option opts [Integer] :year_built_max 
    # @option opts [Integer] :max_days_on_market 
    # @option opts [Float] :north Map bounds for tiling past the cap
    # @option opts [Float] :south 
    # @option opts [Float] :east 
    # @option opts [Float] :west 
    # @return [Object]
    def redfin_search_properties(location, opts = {})
      data, _status_code, _headers = redfin_search_properties_with_http_info(location, opts)
      data
    end

    # Search properties
    # Search Redfin for for-sale / for-rent / recently-sold properties.
    # @param location [String] City/state, ZIP, address or neighborhood
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :sort relevant|newest|price_high_to_low|price_low_to_high|square_feet|lot_size|price_per_sqft|beds|baths
    # @option opts [Integer] :price_min 
    # @option opts [Integer] :price_max 
    # @option opts [Integer] :beds_min 
    # @option opts [Float] :baths_min 
    # @option opts [String] :home_type house|condo|townhouse|multi_family|land|mobile|coop|other
    # @option opts [Integer] :sqft_min 
    # @option opts [Integer] :sqft_max 
    # @option opts [Integer] :lot_min 
    # @option opts [Integer] :lot_max 
    # @option opts [Integer] :year_built_min 
    # @option opts [Integer] :year_built_max 
    # @option opts [Integer] :max_days_on_market 
    # @option opts [Float] :north Map bounds for tiling past the cap
    # @option opts [Float] :south 
    # @option opts [Float] :east 
    # @option opts [Float] :west 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def redfin_search_properties_with_http_info(location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedfinApi.redfin_search_properties ...'
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling RedfinApi.redfin_search_properties"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 20
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling RedfinApi.redfin_search_properties, must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling RedfinApi.redfin_search_properties, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'price_min'].nil? && opts[:'price_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"price_min"]" when calling RedfinApi.redfin_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'price_max'].nil? && opts[:'price_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"price_max"]" when calling RedfinApi.redfin_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'beds_min'].nil? && opts[:'beds_min'] > 10
        fail ArgumentError, 'invalid value for "opts[:"beds_min"]" when calling RedfinApi.redfin_search_properties, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'beds_min'].nil? && opts[:'beds_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"beds_min"]" when calling RedfinApi.redfin_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'baths_min'].nil? && opts[:'baths_min'] > 10
        fail ArgumentError, 'invalid value for "opts[:"baths_min"]" when calling RedfinApi.redfin_search_properties, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'baths_min'].nil? && opts[:'baths_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"baths_min"]" when calling RedfinApi.redfin_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'sqft_min'].nil? && opts[:'sqft_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"sqft_min"]" when calling RedfinApi.redfin_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'sqft_max'].nil? && opts[:'sqft_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"sqft_max"]" when calling RedfinApi.redfin_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'lot_min'].nil? && opts[:'lot_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"lot_min"]" when calling RedfinApi.redfin_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'lot_max'].nil? && opts[:'lot_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"lot_max"]" when calling RedfinApi.redfin_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'year_built_min'].nil? && opts[:'year_built_min'] < 1800
        fail ArgumentError, 'invalid value for "opts[:"year_built_min"]" when calling RedfinApi.redfin_search_properties, must be greater than or equal to 1800.'
      end

      if @api_client.config.client_side_validation && !opts[:'year_built_max'].nil? && opts[:'year_built_max'] < 1800
        fail ArgumentError, 'invalid value for "opts[:"year_built_max"]" when calling RedfinApi.redfin_search_properties, must be greater than or equal to 1800.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_days_on_market'].nil? && opts[:'max_days_on_market'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_days_on_market"]" when calling RedfinApi.redfin_search_properties, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/redfin/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'location'] = location
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'price_min'] = opts[:'price_min'] if !opts[:'price_min'].nil?
      query_params[:'price_max'] = opts[:'price_max'] if !opts[:'price_max'].nil?
      query_params[:'beds_min'] = opts[:'beds_min'] if !opts[:'beds_min'].nil?
      query_params[:'baths_min'] = opts[:'baths_min'] if !opts[:'baths_min'].nil?
      query_params[:'home_type'] = opts[:'home_type'] if !opts[:'home_type'].nil?
      query_params[:'sqft_min'] = opts[:'sqft_min'] if !opts[:'sqft_min'].nil?
      query_params[:'sqft_max'] = opts[:'sqft_max'] if !opts[:'sqft_max'].nil?
      query_params[:'lot_min'] = opts[:'lot_min'] if !opts[:'lot_min'].nil?
      query_params[:'lot_max'] = opts[:'lot_max'] if !opts[:'lot_max'].nil?
      query_params[:'year_built_min'] = opts[:'year_built_min'] if !opts[:'year_built_min'].nil?
      query_params[:'year_built_max'] = opts[:'year_built_max'] if !opts[:'year_built_max'].nil?
      query_params[:'max_days_on_market'] = opts[:'max_days_on_market'] if !opts[:'max_days_on_market'].nil?
      query_params[:'north'] = opts[:'north'] if !opts[:'north'].nil?
      query_params[:'south'] = opts[:'south'] if !opts[:'south'].nil?
      query_params[:'east'] = opts[:'east'] if !opts[:'east'].nil?
      query_params[:'west'] = opts[:'west'] if !opts[:'west'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RedfinApi.redfin_search_properties",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedfinApi#redfin_search_properties\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
