=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class TikTokApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Best-selling TikTok Shop products
    # Sales-ranked best-selling products, available for every operating market.  Ranked by real sold_count (source: sales_ranked); works for SG/MY/JP where TikTok's curated /shop/rankings are not exposed. Omit category_id for a market-wide list.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region Market: US, GB, ID, JP, MX, SG, MY, PH, TH, VN; coverage varies by endpoint (default to 'US')
    # @option opts [String] :category_id 
    # @option opts [Integer] :pages  (default to 2)
    # @option opts [Integer] :limit  (default to 20)
    # @return [Object]
    def tiktok_best_selling_tiktok_shop_products(opts = {})
      data, _status_code, _headers = tiktok_best_selling_tiktok_shop_products_with_http_info(opts)
      data
    end

    # Best-selling TikTok Shop products
    # Sales-ranked best-selling products, available for every operating market.  Ranked by real sold_count (source: sales_ranked); works for SG/MY/JP where TikTok&#39;s curated /shop/rankings are not exposed. Omit category_id for a market-wide list.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region Market: US, GB, ID, JP, MX, SG, MY, PH, TH, VN; coverage varies by endpoint (default to 'US')
    # @option opts [String] :category_id 
    # @option opts [Integer] :pages  (default to 2)
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_best_selling_tiktok_shop_products_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_best_selling_tiktok_shop_products ...'
      end
      pattern = Regexp.new(/^[1-9][0-9]{0,18}$/)
      if @api_client.config.client_side_validation && !opts[:'category_id'].nil? && opts[:'category_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"category_id\"]' when calling TikTokApi.tiktok_best_selling_tiktok_shop_products, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'pages'].nil? && opts[:'pages'] > 4
        fail ArgumentError, 'invalid value for "opts[:"pages"]" when calling TikTokApi.tiktok_best_selling_tiktok_shop_products, must be smaller than or equal to 4.'
      end

      if @api_client.config.client_side_validation && !opts[:'pages'].nil? && opts[:'pages'] < 1
        fail ArgumentError, 'invalid value for "opts[:"pages"]" when calling TikTokApi.tiktok_best_selling_tiktok_shop_products, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TikTokApi.tiktok_best_selling_tiktok_shop_products, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TikTokApi.tiktok_best_selling_tiktok_shop_products, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/shop/bestsellers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'category_id'] = opts[:'category_id'] if !opts[:'category_id'].nil?
      query_params[:'pages'] = opts[:'pages'] if !opts[:'pages'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_best_selling_tiktok_shop_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_best_selling_tiktok_shop_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # General search
    # General TikTok search — video results from the Top feed.
    # @param query [String] Search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 20)
    # @option opts [String] :cursor Composite pagination cursor (offset.search_id) from a prior page&#39;s pagination.cursor
    # @return [Object]
    def tiktok_general_search(query, opts = {})
      data, _status_code, _headers = tiktok_general_search_with_http_info(query, opts)
      data
    end

    # General search
    # General TikTok search — video results from the Top feed.
    # @param query [String] Search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 20)
    # @option opts [String] :cursor Composite pagination cursor (offset.search_id) from a prior page&#39;s pagination.cursor
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_general_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_general_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling TikTokApi.tiktok_general_search"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_general_search, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_general_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_general_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_general_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get comment replies
    # Get replies to a TikTok comment (best-effort).
    # @param comment_id [String] 
    # @param video_id [String] Parent video id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 20)
    # @option opts [String] :cursor Pagination cursor from a prior page&#39;s pagination.cursor
    # @return [Object]
    def tiktok_get_comment_replies(comment_id, video_id, opts = {})
      data, _status_code, _headers = tiktok_get_comment_replies_with_http_info(comment_id, video_id, opts)
      data
    end

    # Get comment replies
    # Get replies to a TikTok comment (best-effort).
    # @param comment_id [String] 
    # @param video_id [String] Parent video id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 20)
    # @option opts [String] :cursor Pagination cursor from a prior page&#39;s pagination.cursor
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_comment_replies_with_http_info(comment_id, video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_comment_replies ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling TikTokApi.tiktok_get_comment_replies"
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling TikTokApi.tiktok_get_comment_replies"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_comment_replies, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_comment_replies, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/comments/{comment_id}/replies'.sub('{' + 'comment_id' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'video_id'] = video_id
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_comment_replies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_comment_replies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get comments
    # Get top-level comments on a TikTok video.
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 20)
    # @option opts [String] :cursor Pagination cursor from a prior page&#39;s pagination.cursor
    # @return [Object]
    def tiktok_get_comments(video_id, opts = {})
      data, _status_code, _headers = tiktok_get_comments_with_http_info(video_id, opts)
      data
    end

    # Get comments
    # Get top-level comments on a TikTok video.
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 20)
    # @option opts [String] :cursor Pagination cursor from a prior page&#39;s pagination.cursor
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_comments_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_comments ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling TikTokApi.tiktok_get_comments"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_comments, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_comments, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/videos/{video_id}/comments'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_comments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_comments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get followers (deprecated)
    # DEPRECATED — TikTok followers require an authenticated account session. Returns HTTP 410.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 30)
    # @return [Object]
    def tiktok_get_followers_deprecated(username, opts = {})
      data, _status_code, _headers = tiktok_get_followers_deprecated_with_http_info(username, opts)
      data
    end

    # Get followers (deprecated)
    # DEPRECATED — TikTok followers require an authenticated account session. Returns HTTP 410.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 30)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_followers_deprecated_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_followers_deprecated ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling TikTokApi.tiktok_get_followers_deprecated"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_followers_deprecated, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_followers_deprecated, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/users/{username}/followers'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_followers_deprecated",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_followers_deprecated\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get following (deprecated)
    # DEPRECATED — TikTok following requires an authenticated account session. Returns HTTP 410.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 30)
    # @return [Object]
    def tiktok_get_following_deprecated(username, opts = {})
      data, _status_code, _headers = tiktok_get_following_deprecated_with_http_info(username, opts)
      data
    end

    # Get following (deprecated)
    # DEPRECATED — TikTok following requires an authenticated account session. Returns HTTP 410.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 30)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_following_deprecated_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_following_deprecated ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling TikTokApi.tiktok_get_following_deprecated"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_following_deprecated, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_following_deprecated, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/users/{username}/following'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_following_deprecated",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_following_deprecated\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get hashtag detail
    # Get TikTok hashtag/challenge detail.
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @return [Object]
    def tiktok_get_hashtag_detail(name, opts = {})
      data, _status_code, _headers = tiktok_get_hashtag_detail_with_http_info(name, opts)
      data
    end

    # Get hashtag detail
    # Get TikTok hashtag/challenge detail.
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_hashtag_detail_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_hashtag_detail ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling TikTokApi.tiktok_get_hashtag_detail"
      end
      # resource path
      local_var_path = '/v1/tiktok/hashtags/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_hashtag_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_hashtag_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get hashtag videos
    # Get videos tagged with a TikTok hashtag.
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 30)
    # @option opts [String] :cursor Pagination cursor from a prior page&#39;s pagination.cursor
    # @return [Object]
    def tiktok_get_hashtag_videos(name, opts = {})
      data, _status_code, _headers = tiktok_get_hashtag_videos_with_http_info(name, opts)
      data
    end

    # Get hashtag videos
    # Get videos tagged with a TikTok hashtag.
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 30)
    # @option opts [String] :cursor Pagination cursor from a prior page&#39;s pagination.cursor
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_hashtag_videos_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_hashtag_videos ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling TikTokApi.tiktok_get_hashtag_videos"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_hashtag_videos, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_hashtag_videos, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/hashtags/{name}/videos'.sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_hashtag_videos",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_hashtag_videos\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get liked videos (deprecated)
    # DEPRECATED — TikTok liked videos require an authenticated account session. Returns HTTP 410.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 30)
    # @return [Object]
    def tiktok_get_liked_videos_deprecated(username, opts = {})
      data, _status_code, _headers = tiktok_get_liked_videos_deprecated_with_http_info(username, opts)
      data
    end

    # Get liked videos (deprecated)
    # DEPRECATED — TikTok liked videos require an authenticated account session. Returns HTTP 410.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 30)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_liked_videos_deprecated_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_liked_videos_deprecated ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling TikTokApi.tiktok_get_liked_videos_deprecated"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_liked_videos_deprecated, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_liked_videos_deprecated, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/users/{username}/liked'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_liked_videos_deprecated",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_liked_videos_deprecated\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get music/sound detail
    # Get TikTok sound/music detail.
    # @param music_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @return [Object]
    def tiktok_get_music_sound_detail(music_id, opts = {})
      data, _status_code, _headers = tiktok_get_music_sound_detail_with_http_info(music_id, opts)
      data
    end

    # Get music/sound detail
    # Get TikTok sound/music detail.
    # @param music_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_music_sound_detail_with_http_info(music_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_music_sound_detail ...'
      end
      # verify the required parameter 'music_id' is set
      if @api_client.config.client_side_validation && music_id.nil?
        fail ArgumentError, "Missing the required parameter 'music_id' when calling TikTokApi.tiktok_get_music_sound_detail"
      end
      # resource path
      local_var_path = '/v1/tiktok/music/{music_id}'.sub('{' + 'music_id' + '}', CGI.escape(music_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_music_sound_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_music_sound_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get music videos
    # Get videos using a given TikTok sound.
    # @param music_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 30)
    # @option opts [String] :cursor Pagination cursor from a prior page&#39;s pagination.cursor
    # @return [Object]
    def tiktok_get_music_videos(music_id, opts = {})
      data, _status_code, _headers = tiktok_get_music_videos_with_http_info(music_id, opts)
      data
    end

    # Get music videos
    # Get videos using a given TikTok sound.
    # @param music_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 30)
    # @option opts [String] :cursor Pagination cursor from a prior page&#39;s pagination.cursor
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_music_videos_with_http_info(music_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_music_videos ...'
      end
      # verify the required parameter 'music_id' is set
      if @api_client.config.client_side_validation && music_id.nil?
        fail ArgumentError, "Missing the required parameter 'music_id' when calling TikTokApi.tiktok_get_music_videos"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_music_videos, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_music_videos, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/music/{music_id}/videos'.sub('{' + 'music_id' + '}', CGI.escape(music_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_music_videos",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_music_videos\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get oEmbed metadata
    # Get cheap unauthenticated oEmbed metadata for a TikTok URL.
    # @param url [String] Full TikTok video or profile URL
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @return [Object]
    def tiktok_get_oembed_metadata(url, opts = {})
      data, _status_code, _headers = tiktok_get_oembed_metadata_with_http_info(url, opts)
      data
    end

    # Get oEmbed metadata
    # Get cheap unauthenticated oEmbed metadata for a TikTok URL.
    # @param url [String] Full TikTok video or profile URL
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_oembed_metadata_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_oembed_metadata ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling TikTokApi.tiktok_get_oembed_metadata"
      end
      # resource path
      local_var_path = '/v1/tiktok/oembed'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_oembed_metadata",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_oembed_metadata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get related videos
    # Get TikTok's related videos for a given video.
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 16)
    # @return [Object]
    def tiktok_get_related_videos(video_id, opts = {})
      data, _status_code, _headers = tiktok_get_related_videos_with_http_info(video_id, opts)
      data
    end

    # Get related videos
    # Get TikTok&#39;s related videos for a given video.
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 16)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_related_videos_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_related_videos ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling TikTokApi.tiktok_get_related_videos"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_related_videos, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_related_videos, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/videos/{video_id}/related'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_related_videos",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_related_videos\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get reposts
    # Get videos a TikTok user has reposted.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 30)
    # @return [Object]
    def tiktok_get_reposts(username, opts = {})
      data, _status_code, _headers = tiktok_get_reposts_with_http_info(username, opts)
      data
    end

    # Get reposts
    # Get videos a TikTok user has reposted.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 30)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_reposts_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_reposts ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling TikTokApi.tiktok_get_reposts"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_reposts, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_reposts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/users/{username}/reposts'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_reposts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_reposts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get TikTok ad detail
    # Get a single ad's advertiser, creatives, and targeting/impression breakdown.
    # @param ad_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region EU region code (the Ad Library is EU-only) (default to 'DE')
    # @return [Object]
    def tiktok_get_tiktok_ad_detail(ad_id, opts = {})
      data, _status_code, _headers = tiktok_get_tiktok_ad_detail_with_http_info(ad_id, opts)
      data
    end

    # Get TikTok ad detail
    # Get a single ad&#39;s advertiser, creatives, and targeting/impression breakdown.
    # @param ad_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region EU region code (the Ad Library is EU-only) (default to 'DE')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_tiktok_ad_detail_with_http_info(ad_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_tiktok_ad_detail ...'
      end
      # verify the required parameter 'ad_id' is set
      if @api_client.config.client_side_validation && ad_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_id' when calling TikTokApi.tiktok_get_tiktok_ad_detail"
      end
      # resource path
      local_var_path = '/v1/tiktok/ads/{ad_id}'.sub('{' + 'ad_id' + '}', CGI.escape(ad_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_tiktok_ad_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_tiktok_ad_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get transcript
    # Get subtitle/caption tracks for a TikTok video.
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @return [Object]
    def tiktok_get_transcript(video_id, opts = {})
      data, _status_code, _headers = tiktok_get_transcript_with_http_info(video_id, opts)
      data
    end

    # Get transcript
    # Get subtitle/caption tracks for a TikTok video.
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_transcript_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_transcript ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling TikTokApi.tiktok_get_transcript"
      end
      # resource path
      local_var_path = '/v1/tiktok/videos/{video_id}/transcript'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_transcript",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_transcript\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user profile
    # Get a TikTok user's full profile.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region Content region (ISO 3166-1 alpha-2) (default to 'US')
    # @return [Object]
    def tiktok_get_user_profile(username, opts = {})
      data, _status_code, _headers = tiktok_get_user_profile_with_http_info(username, opts)
      data
    end

    # Get user profile
    # Get a TikTok user&#39;s full profile.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region Content region (ISO 3166-1 alpha-2) (default to 'US')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_user_profile_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_user_profile ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling TikTokApi.tiktok_get_user_profile"
      end
      # resource path
      local_var_path = '/v1/tiktok/users/{username}'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_user_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_user_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user videos
    # Get a TikTok user's posted videos.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 30)
    # @option opts [String] :cursor Pagination cursor from a prior page&#39;s &#x60;pagination.cursor&#x60; (signer path only).
    # @return [Object]
    def tiktok_get_user_videos(username, opts = {})
      data, _status_code, _headers = tiktok_get_user_videos_with_http_info(username, opts)
      data
    end

    # Get user videos
    # Get a TikTok user&#39;s posted videos.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 30)
    # @option opts [String] :cursor Pagination cursor from a prior page&#39;s &#x60;pagination.cursor&#x60; (signer path only).
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_user_videos_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_user_videos ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling TikTokApi.tiktok_get_user_videos"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_user_videos, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_get_user_videos, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/users/{username}/videos'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_user_videos",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_user_videos\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get video detail
    # Get full metadata for a single TikTok video/post.
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [String] :username Author handle (skips oEmbed lookup)
    # @return [Object]
    def tiktok_get_video_detail(video_id, opts = {})
      data, _status_code, _headers = tiktok_get_video_detail_with_http_info(video_id, opts)
      data
    end

    # Get video detail
    # Get full metadata for a single TikTok video/post.
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [String] :username Author handle (skips oEmbed lookup)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_get_video_detail_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_get_video_detail ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling TikTokApi.tiktok_get_video_detail"
      end
      # resource path
      local_var_path = '/v1/tiktok/videos/{video_id}'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'username'] = opts[:'username'] if !opts[:'username'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_get_video_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_get_video_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Health check
    # Check health of the TikTok scraper service.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def tiktok_health_check(opts = {})
      data, _status_code, _headers = tiktok_health_check_with_http_info(opts)
      data
    end

    # Health check
    # Check health of the TikTok scraper service.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_health_check ...'
      end
      # resource path
      local_var_path = '/v1/tiktok/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Health check
    # Check health of the TikTok scraper service.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def tiktok_health_check_head(opts = {})
      data, _status_code, _headers = tiktok_health_check_head_with_http_info(opts)
      data
    end

    # Health check
    # Check health of the TikTok scraper service.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/tiktok/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List regions
    # List supported TikTok content regions.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def tiktok_list_regions(opts = {})
      data, _status_code, _headers = tiktok_list_regions_with_http_info(opts)
      data
    end

    # List regions
    # List supported TikTok content regions.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_list_regions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_list_regions ...'
      end
      # resource path
      local_var_path = '/v1/tiktok/regions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_list_regions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_list_regions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search hashtags
    # Search TikTok hashtags by keyword.
    # @param query [String] Search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 20)
    # @option opts [String] :cursor Composite pagination cursor (offset.search_id) from a prior page&#39;s pagination.cursor
    # @return [Object]
    def tiktok_search_hashtags(query, opts = {})
      data, _status_code, _headers = tiktok_search_hashtags_with_http_info(query, opts)
      data
    end

    # Search hashtags
    # Search TikTok hashtags by keyword.
    # @param query [String] Search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 20)
    # @option opts [String] :cursor Composite pagination cursor (offset.search_id) from a prior page&#39;s pagination.cursor
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_search_hashtags_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_search_hashtags ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling TikTokApi.tiktok_search_hashtags"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_search_hashtags, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_search_hashtags, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/search/hashtags'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_search_hashtags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_search_hashtags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search the TikTok Ad Library
    # Search TikTok's Commercial Content Library (ad transparency) by keyword or advertiser.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :query Keyword (ignored when advertiser_id is set) (default to '')
    # @option opts [String] :advertiser_id Advertiser business id(s) for advertiser search (default to '')
    # @option opts [String] :region EU region code (the Ad Library is EU-only) (default to 'DE')
    # @option opts [Integer] :days  (default to 30)
    # @option opts [String] :sort  (default to 'last_shown_date,desc')
    # @option opts [Integer] :offset  (default to 0)
    # @option opts [String] :search_id  (default to '')
    # @option opts [Integer] :count  (default to 20)
    # @return [Object]
    def tiktok_search_the_tiktok_ad_library(opts = {})
      data, _status_code, _headers = tiktok_search_the_tiktok_ad_library_with_http_info(opts)
      data
    end

    # Search the TikTok Ad Library
    # Search TikTok&#39;s Commercial Content Library (ad transparency) by keyword or advertiser.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :query Keyword (ignored when advertiser_id is set) (default to '')
    # @option opts [String] :advertiser_id Advertiser business id(s) for advertiser search (default to '')
    # @option opts [String] :region EU region code (the Ad Library is EU-only) (default to 'DE')
    # @option opts [Integer] :days  (default to 30)
    # @option opts [String] :sort  (default to 'last_shown_date,desc')
    # @option opts [Integer] :offset  (default to 0)
    # @option opts [String] :search_id  (default to '')
    # @option opts [Integer] :count  (default to 20)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_search_the_tiktok_ad_library_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_search_the_tiktok_ad_library ...'
      end
      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] > 365
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling TikTokApi.tiktok_search_the_tiktok_ad_library, must be smaller than or equal to 365.'
      end

      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] < 1
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling TikTokApi.tiktok_search_the_tiktok_ad_library, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling TikTokApi.tiktok_search_the_tiktok_ad_library, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_search_the_tiktok_ad_library, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_search_the_tiktok_ad_library, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/ads/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'advertiser_id'] = opts[:'advertiser_id'] if !opts[:'advertiser_id'].nil?
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'days'] = opts[:'days'] if !opts[:'days'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'search_id'] = opts[:'search_id'] if !opts[:'search_id'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_search_the_tiktok_ad_library",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_search_the_tiktok_ad_library\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search TikTok advertisers
    # Look up TikTok advertiser business ids by name (feeds ads/search?advertiser_id=).
    # @param query [String] Advertiser name (or partial) to look up
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region EU region code (the Ad Library is EU-only) (default to 'DE')
    # @option opts [Integer] :count  (default to 10)
    # @return [Object]
    def tiktok_search_tiktok_advertisers(query, opts = {})
      data, _status_code, _headers = tiktok_search_tiktok_advertisers_with_http_info(query, opts)
      data
    end

    # Search TikTok advertisers
    # Look up TikTok advertiser business ids by name (feeds ads/search?advertiser_id&#x3D;).
    # @param query [String] Advertiser name (or partial) to look up
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region EU region code (the Ad Library is EU-only) (default to 'DE')
    # @option opts [Integer] :count  (default to 10)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_search_tiktok_advertisers_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_search_tiktok_advertisers ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling TikTokApi.tiktok_search_tiktok_advertisers"
      end
      if @api_client.config.client_side_validation && query.to_s.length < 1
        fail ArgumentError, 'invalid value for "query" when calling TikTokApi.tiktok_search_tiktok_advertisers, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_search_tiktok_advertisers, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_search_tiktok_advertisers, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/ads/advertisers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_search_tiktok_advertisers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_search_tiktok_advertisers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search TikTok Shop products
    # Keyword search over TikTok Shop products: 30 per page with offset pagination (US); the first page also carries matching shops and related searches.
    # @param q [String] Keyword, e.g. &#39;wireless earbuds&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region Market: US, GB, ID, JP, MX, SG, MY, PH, TH, VN; coverage varies by endpoint (default to 'US')
    # @option opts [String] :page_token 
    # @option opts [Integer] :offset Pass back next_offset for the next page (US) (default to 0)
    # @return [Object]
    def tiktok_search_tiktok_shop_products(q, opts = {})
      data, _status_code, _headers = tiktok_search_tiktok_shop_products_with_http_info(q, opts)
      data
    end

    # Search TikTok Shop products
    # Keyword search over TikTok Shop products: 30 per page with offset pagination (US); the first page also carries matching shops and related searches.
    # @param q [String] Keyword, e.g. &#39;wireless earbuds&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region Market: US, GB, ID, JP, MX, SG, MY, PH, TH, VN; coverage varies by endpoint (default to 'US')
    # @option opts [String] :page_token 
    # @option opts [Integer] :offset Pass back next_offset for the next page (US) (default to 0)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_search_tiktok_shop_products_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_search_tiktok_shop_products ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling TikTokApi.tiktok_search_tiktok_shop_products"
      end
      if @api_client.config.client_side_validation && q.to_s.length < 1
        fail ArgumentError, 'invalid value for "q" when calling TikTokApi.tiktok_search_tiktok_shop_products, the character length must be great than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-f0-9]{32}$/)
      if @api_client.config.client_side_validation && !opts[:'page_token'].nil? && opts[:'page_token'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"page_token\"]' when calling TikTokApi.tiktok_search_tiktok_shop_products, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling TikTokApi.tiktok_search_tiktok_shop_products, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/tiktok/shop/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'page_token'] = opts[:'page_token'] if !opts[:'page_token'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_search_tiktok_shop_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_search_tiktok_shop_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search users
    # Search TikTok users by keyword.
    # @param query [String] Search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 20)
    # @option opts [String] :cursor Composite pagination cursor (offset.search_id) from a prior page&#39;s pagination.cursor
    # @return [Object]
    def tiktok_search_users(query, opts = {})
      data, _status_code, _headers = tiktok_search_users_with_http_info(query, opts)
      data
    end

    # Search users
    # Search TikTok users by keyword.
    # @param query [String] Search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 20)
    # @option opts [String] :cursor Composite pagination cursor (offset.search_id) from a prior page&#39;s pagination.cursor
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_search_users_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_search_users ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling TikTokApi.tiktok_search_users"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_search_users, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_search_users, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/search/users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_search_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_search_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search videos
    # Search TikTok videos by keyword.
    # @param query [String] Search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 20)
    # @option opts [String] :cursor Composite pagination cursor (offset.search_id) from a prior page&#39;s pagination.cursor
    # @return [Object]
    def tiktok_search_videos(query, opts = {})
      data, _status_code, _headers = tiktok_search_videos_with_http_info(query, opts)
      data
    end

    # Search videos
    # Search TikTok videos by keyword.
    # @param query [String] Search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region  (default to 'US')
    # @option opts [Integer] :count  (default to 20)
    # @option opts [String] :cursor Composite pagination cursor (offset.search_id) from a prior page&#39;s pagination.cursor
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_search_videos_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_search_videos ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling TikTokApi.tiktok_search_videos"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 50
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_search_videos, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_search_videos, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/search/videos'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_search_videos",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_search_videos\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # TikTok Shop category products
    # Category recommendations. Pass accumulated exclusion IDs for the next page; these are not sales rankings.
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region Market: US, GB, ID, JP, MX, SG, MY, PH, TH, VN; coverage varies by endpoint (default to 'US')
    # @option opts [Integer] :count  (default to 20)
    # @option opts [Array<String>] :exclude_product_ids Repeat for every next_exclude_product_ids value
    # @return [Object]
    def tiktok_tiktok_shop_category_products(category_id, opts = {})
      data, _status_code, _headers = tiktok_tiktok_shop_category_products_with_http_info(category_id, opts)
      data
    end

    # TikTok Shop category products
    # Category recommendations. Pass accumulated exclusion IDs for the next page; these are not sales rankings.
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region Market: US, GB, ID, JP, MX, SG, MY, PH, TH, VN; coverage varies by endpoint (default to 'US')
    # @option opts [Integer] :count  (default to 20)
    # @option opts [Array<String>] :exclude_product_ids Repeat for every next_exclude_product_ids value
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_tiktok_shop_category_products_with_http_info(category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_tiktok_shop_category_products ...'
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling TikTokApi.tiktok_tiktok_shop_category_products"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 40
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_tiktok_shop_category_products, must be smaller than or equal to 40.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TikTokApi.tiktok_tiktok_shop_category_products, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/shop/categories/{category_id}/products'.sub('{' + 'category_id' + '}', CGI.escape(category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'exclude_product_ids'] = @api_client.build_collection_param(opts[:'exclude_product_ids'], :multi) if !opts[:'exclude_product_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TikTokApi.tiktok_tiktok_shop_category_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TikTokApi#tiktok_tiktok_shop_category_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # TikTok Shop category: subcategories + top products
    # A category's subcategories and its top products as TikTok Shop ranks them.
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region Market: US, GB, ID, JP, MX, SG, MY, PH, TH, VN; coverage varies by endpoint (default to 'US')
    # @return [Object]
    def tiktok_tiktok_shop_category_subcategories_top_products(category_id, opts = {})
      data, _status_code, _headers = tiktok_tiktok_shop_category_subcategories_top_products_with_http_info(category_id, opts)
      data
    end

    # TikTok Shop category: subcategories + top products
    # A category&#39;s subcategories and its top products as TikTok Shop ranks them.
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region Market: US, GB, ID, JP, MX, SG, MY, PH, TH, VN; coverage varies by endpoint (default to 'US')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def tiktok_tiktok_shop_category_subcategories_top_products_with_http_info(category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TikTokApi.tiktok_tiktok_shop_category_subcategories_top_products ...'
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling TikTokApi.tiktok_tiktok_shop_category_subcategories_top_products"
      end
      # resource path
[...]
