=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class TwitterApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Advanced tweet search
    # Search tweets with advanced options.
    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :query_type 
    # @option opts [Integer] :count 
    # @option opts [String] :cursor 
    # @return [Object]
    def twitter_advanced_tweet_search(query, opts = {})
      data, _status_code, _headers = twitter_advanced_tweet_search_with_http_info(query, opts)
      data
    end

    # Advanced tweet search
    # Search tweets with advanced options.
    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :query_type 
    # @option opts [Integer] :count 
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_advanced_tweet_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_advanced_tweet_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling TwitterApi.twitter_advanced_tweet_search"
      end
      # resource path
      local_var_path = '/v1/twitter/tweets/advanced_search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'query_type'] = opts[:'query_type'] if !opts[:'query_type'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_advanced_tweet_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_advanced_tweet_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Batch get users by IDs
    # Get multiple user profiles by their numeric IDs (comma-separated).
    # @param user_ids [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def twitter_batch_get_users_by_ids(user_ids, opts = {})
      data, _status_code, _headers = twitter_batch_get_users_by_ids_with_http_info(user_ids, opts)
      data
    end

    # Batch get users by IDs
    # Get multiple user profiles by their numeric IDs (comma-separated).
    # @param user_ids [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_batch_get_users_by_ids_with_http_info(user_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_batch_get_users_by_ids ...'
      end
      # verify the required parameter 'user_ids' is set
      if @api_client.config.client_side_validation && user_ids.nil?
        fail ArgumentError, "Missing the required parameter 'user_ids' when calling TwitterApi.twitter_batch_get_users_by_ids"
      end
      # resource path
      local_var_path = '/v1/twitter/users/batch_by_ids'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'user_ids'] = user_ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_batch_get_users_by_ids",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_batch_get_users_by_ids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Batch get users by usernames
    # Get multiple user profiles by their usernames (comma-separated).
    # @param usernames [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def twitter_batch_get_users_by_usernames(usernames, opts = {})
      data, _status_code, _headers = twitter_batch_get_users_by_usernames_with_http_info(usernames, opts)
      data
    end

    # Batch get users by usernames
    # Get multiple user profiles by their usernames (comma-separated).
    # @param usernames [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_batch_get_users_by_usernames_with_http_info(usernames, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_batch_get_users_by_usernames ...'
      end
      # verify the required parameter 'usernames' is set
      if @api_client.config.client_side_validation && usernames.nil?
        fail ArgumentError, "Missing the required parameter 'usernames' when calling TwitterApi.twitter_batch_get_users_by_usernames"
      end
      # resource path
      local_var_path = '/v1/twitter/users/batch_by_usernames'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'usernames'] = usernames

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_batch_get_users_by_usernames",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_batch_get_users_by_usernames\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure webhook on a monitor
    # Configure a webhook delivery URL on a stream monitor.  The secret is returned only once on creation. Subsequent calls show secret_set: bool. If monitor already has a webhook, delete it first (409 is returned).
    # @param webhook_create [WebhookCreate] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookResponse]
    def twitter_configure_webhook_on_a_monitor(webhook_create, opts = {})
      data, _status_code, _headers = twitter_configure_webhook_on_a_monitor_with_http_info(webhook_create, opts)
      data
    end

    # Configure webhook on a monitor
    # Configure a webhook delivery URL on a stream monitor.  The secret is returned only once on creation. Subsequent calls show secret_set: bool. If monitor already has a webhook, delete it first (409 is returned).
    # @param webhook_create [WebhookCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookResponse, Integer, Hash)>] WebhookResponse data, response status code and response headers
    def twitter_configure_webhook_on_a_monitor_with_http_info(webhook_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_configure_webhook_on_a_monitor ...'
      end
      # verify the required parameter 'webhook_create' is set
      if @api_client.config.client_side_validation && webhook_create.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_create' when calling TwitterApi.twitter_configure_webhook_on_a_monitor"
      end
      # resource path
      local_var_path = '/v1/twitter/stream/webhooks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(webhook_create)

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_configure_webhook_on_a_monitor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_configure_webhook_on_a_monitor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create filter rule
    # Create a new query-based tweet filter rule.  The rule starts in 'active' status immediately. Credits must be positive. The (api_key_id, tag) pair must be unique.
    # @param filter_rule_create [FilterRuleCreate] 
    # @param [Hash] opts the optional parameters
    # @return [FilterRuleResponse]
    def twitter_create_filter_rule(filter_rule_create, opts = {})
      data, _status_code, _headers = twitter_create_filter_rule_with_http_info(filter_rule_create, opts)
      data
    end

    # Create filter rule
    # Create a new query-based tweet filter rule.  The rule starts in &#39;active&#39; status immediately. Credits must be positive. The (api_key_id, tag) pair must be unique.
    # @param filter_rule_create [FilterRuleCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FilterRuleResponse, Integer, Hash)>] FilterRuleResponse data, response status code and response headers
    def twitter_create_filter_rule_with_http_info(filter_rule_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_create_filter_rule ...'
      end
      # verify the required parameter 'filter_rule_create' is set
      if @api_client.config.client_side_validation && filter_rule_create.nil?
        fail ArgumentError, "Missing the required parameter 'filter_rule_create' when calling TwitterApi.twitter_create_filter_rule"
      end
      # resource path
      local_var_path = '/v1/twitter/stream/filter-rules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(filter_rule_create)

      # return_type
      return_type = opts[:debug_return_type] || 'FilterRuleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_create_filter_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_create_filter_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create stream monitor
    # Create a new stream monitor to watch Twitter accounts in real-time.
    # @param stream_monitor_create [StreamMonitorCreate] 
    # @param [Hash] opts the optional parameters
    # @return [StreamMonitorResponse]
    def twitter_create_stream_monitor(stream_monitor_create, opts = {})
      data, _status_code, _headers = twitter_create_stream_monitor_with_http_info(stream_monitor_create, opts)
      data
    end

    # Create stream monitor
    # Create a new stream monitor to watch Twitter accounts in real-time.
    # @param stream_monitor_create [StreamMonitorCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StreamMonitorResponse, Integer, Hash)>] StreamMonitorResponse data, response status code and response headers
    def twitter_create_stream_monitor_with_http_info(stream_monitor_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_create_stream_monitor ...'
      end
      # verify the required parameter 'stream_monitor_create' is set
      if @api_client.config.client_side_validation && stream_monitor_create.nil?
        fail ArgumentError, "Missing the required parameter 'stream_monitor_create' when calling TwitterApi.twitter_create_stream_monitor"
      end
      # resource path
      local_var_path = '/v1/twitter/stream/monitors'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(stream_monitor_create)

      # return_type
      return_type = opts[:debug_return_type] || 'StreamMonitorResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_create_stream_monitor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_create_stream_monitor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete filter rule
    # Delete a filter rule and all its logs.
    # @param rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def twitter_delete_filter_rule(rule_id, opts = {})
      twitter_delete_filter_rule_with_http_info(rule_id, opts)
      nil
    end

    # Delete filter rule
    # Delete a filter rule and all its logs.
    # @param rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def twitter_delete_filter_rule_with_http_info(rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_delete_filter_rule ...'
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling TwitterApi.twitter_delete_filter_rule"
      end
      # resource path
      local_var_path = '/v1/twitter/stream/filter-rules/{rule_id}'.sub('{' + 'rule_id' + '}', CGI.escape(rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_delete_filter_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_delete_filter_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete stream monitor
    # Delete a stream monitor and all its logs.
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def twitter_delete_stream_monitor(monitor_id, opts = {})
      twitter_delete_stream_monitor_with_http_info(monitor_id, opts)
      nil
    end

    # Delete stream monitor
    # Delete a stream monitor and all its logs.
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def twitter_delete_stream_monitor_with_http_info(monitor_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_delete_stream_monitor ...'
      end
      # verify the required parameter 'monitor_id' is set
      if @api_client.config.client_side_validation && monitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'monitor_id' when calling TwitterApi.twitter_delete_stream_monitor"
      end
      # resource path
      local_var_path = '/v1/twitter/stream/monitors/{monitor_id}'.sub('{' + 'monitor_id' + '}', CGI.escape(monitor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_delete_stream_monitor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_delete_stream_monitor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get article by ID
    # Get a long-form article by its ID.
    # @param article_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def twitter_get_article_by_id(article_id, opts = {})
      data, _status_code, _headers = twitter_get_article_by_id_with_http_info(article_id, opts)
      data
    end

    # Get article by ID
    # Get a long-form article by its ID.
    # @param article_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_article_by_id_with_http_info(article_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_article_by_id ...'
      end
      # verify the required parameter 'article_id' is set
      if @api_client.config.client_side_validation && article_id.nil?
        fail ArgumentError, "Missing the required parameter 'article_id' when calling TwitterApi.twitter_get_article_by_id"
      end
      # resource path
      local_var_path = '/v1/twitter/tweets/article/{article_id}'.sub('{' + 'article_id' + '}', CGI.escape(article_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_article_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_article_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get broadcast details
    # Get details of a live video broadcast.
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def twitter_get_broadcast_details(broadcast_id, opts = {})
      data, _status_code, _headers = twitter_get_broadcast_details_with_http_info(broadcast_id, opts)
      data
    end

    # Get broadcast details
    # Get details of a live video broadcast.
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_broadcast_details_with_http_info(broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_broadcast_details ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling TwitterApi.twitter_get_broadcast_details"
      end
      # resource path
      local_var_path = '/v1/twitter/spaces/broadcast/{broadcast_id}'.sub('{' + 'broadcast_id' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_broadcast_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_broadcast_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get community details
    # Get details of a specific community.
    # @param community_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def twitter_get_community_details(community_id, opts = {})
      data, _status_code, _headers = twitter_get_community_details_with_http_info(community_id, opts)
      data
    end

    # Get community details
    # Get details of a specific community.
    # @param community_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_community_details_with_http_info(community_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_community_details ...'
      end
      # verify the required parameter 'community_id' is set
      if @api_client.config.client_side_validation && community_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_id' when calling TwitterApi.twitter_get_community_details"
      end
      # resource path
      local_var_path = '/v1/twitter/communities/{community_id}'.sub('{' + 'community_id' + '}', CGI.escape(community_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_community_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_community_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get community notes
    # Get community notes (Birdwatch) for a specific tweet.
    # @param tweet_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def twitter_get_community_notes(tweet_id, opts = {})
      data, _status_code, _headers = twitter_get_community_notes_with_http_info(tweet_id, opts)
      data
    end

    # Get community notes
    # Get community notes (Birdwatch) for a specific tweet.
    # @param tweet_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_community_notes_with_http_info(tweet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_community_notes ...'
      end
      # verify the required parameter 'tweet_id' is set
      if @api_client.config.client_side_validation && tweet_id.nil?
        fail ArgumentError, "Missing the required parameter 'tweet_id' when calling TwitterApi.twitter_get_community_notes"
      end
      # resource path
      local_var_path = '/v1/twitter/tweets/tweet/{tweet_id}/community_notes'.sub('{' + 'tweet_id' + '}', CGI.escape(tweet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_community_notes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_community_notes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get community tweets
    # Get tweets from a specific community.
    # @param community_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tweet_type 
    # @option opts [String] :cursor 
    # @return [Object]
    def twitter_get_community_tweets(community_id, opts = {})
      data, _status_code, _headers = twitter_get_community_tweets_with_http_info(community_id, opts)
      data
    end

    # Get community tweets
    # Get tweets from a specific community.
    # @param community_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tweet_type 
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_community_tweets_with_http_info(community_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_community_tweets ...'
      end
      # verify the required parameter 'community_id' is set
      if @api_client.config.client_side_validation && community_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_id' when calling TwitterApi.twitter_get_community_tweets"
      end
      # resource path
      local_var_path = '/v1/twitter/communities/{community_id}/tweets'.sub('{' + 'community_id' + '}', CGI.escape(community_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tweet_type'] = opts[:'tweet_type'] if !opts[:'tweet_type'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_community_tweets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_community_tweets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get filter rule
    # Get a single filter rule by ID.
    # @param rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FilterRuleResponse]
    def twitter_get_filter_rule(rule_id, opts = {})
      data, _status_code, _headers = twitter_get_filter_rule_with_http_info(rule_id, opts)
      data
    end

    # Get filter rule
    # Get a single filter rule by ID.
    # @param rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FilterRuleResponse, Integer, Hash)>] FilterRuleResponse data, response status code and response headers
    def twitter_get_filter_rule_with_http_info(rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_filter_rule ...'
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling TwitterApi.twitter_get_filter_rule"
      end
      # resource path
      local_var_path = '/v1/twitter/stream/filter-rules/{rule_id}'.sub('{' + 'rule_id' + '}', CGI.escape(rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FilterRuleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_filter_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_filter_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get filter rule per-poll rates
    # Current per-poll rates (auth required — used by SDK + dashboard).
    # @param [Hash] opts the optional parameters
    # @return [PortalApiRoutersV1TwitterFilterRulesFilterRulePricingResponse]
    def twitter_get_filter_rule_per_poll_rates(opts = {})
      data, _status_code, _headers = twitter_get_filter_rule_per_poll_rates_with_http_info(opts)
      data
    end

    # Get filter rule per-poll rates
    # Current per-poll rates (auth required — used by SDK + dashboard).
    # @param [Hash] opts the optional parameters
    # @return [Array<(PortalApiRoutersV1TwitterFilterRulesFilterRulePricingResponse, Integer, Hash)>] PortalApiRoutersV1TwitterFilterRulesFilterRulePricingResponse data, response status code and response headers
    def twitter_get_filter_rule_per_poll_rates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_filter_rule_per_poll_rates ...'
      end
      # resource path
      local_var_path = '/v1/twitter/stream/filter-rules-pricing'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PortalApiRoutersV1TwitterFilterRulesFilterRulePricingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_filter_rule_per_poll_rates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_filter_rule_per_poll_rates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get list details
    # Get details of a specific list.
    # @param list_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def twitter_get_list_details(list_id, opts = {})
      data, _status_code, _headers = twitter_get_list_details_with_http_info(list_id, opts)
      data
    end

    # Get list details
    # Get details of a specific list.
    # @param list_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_list_details_with_http_info(list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_list_details ...'
      end
      # verify the required parameter 'list_id' is set
      if @api_client.config.client_side_validation && list_id.nil?
        fail ArgumentError, "Missing the required parameter 'list_id' when calling TwitterApi.twitter_get_list_details"
      end
      # resource path
      local_var_path = '/v1/twitter/lists/{list_id}/detail'.sub('{' + 'list_id' + '}', CGI.escape(list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_list_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_list_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get list tweets
    # Get tweets from a specific list.
    # @param list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Object]
    def twitter_get_list_tweets(list_id, opts = {})
      data, _status_code, _headers = twitter_get_list_tweets_with_http_info(list_id, opts)
      data
    end

    # Get list tweets
    # Get tweets from a specific list.
    # @param list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_list_tweets_with_http_info(list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_list_tweets ...'
      end
      # verify the required parameter 'list_id' is set
      if @api_client.config.client_side_validation && list_id.nil?
        fail ArgumentError, "Missing the required parameter 'list_id' when calling TwitterApi.twitter_get_list_tweets"
      end
      # resource path
      local_var_path = '/v1/twitter/lists/{list_id}/tweets'.sub('{' + 'list_id' + '}', CGI.escape(list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_list_tweets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_list_tweets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get place details
    # Get details of a specific place.
    # @param place_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def twitter_get_place_details(place_id, opts = {})
      data, _status_code, _headers = twitter_get_place_details_with_http_info(place_id, opts)
      data
    end

    # Get place details
    # Get details of a specific place.
    # @param place_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_place_details_with_http_info(place_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_place_details ...'
      end
      # verify the required parameter 'place_id' is set
      if @api_client.config.client_side_validation && place_id.nil?
        fail ArgumentError, "Missing the required parameter 'place_id' when calling TwitterApi.twitter_get_place_details"
      end
      # resource path
      local_var_path = '/v1/twitter/geo/places/{place_id}'.sub('{' + 'place_id' + '}', CGI.escape(place_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_place_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_place_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get similar tweets
    # Get tweets similar to a specific tweet.
    # @param tweet_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def twitter_get_similar_tweets(tweet_id, opts = {})
      data, _status_code, _headers = twitter_get_similar_tweets_with_http_info(tweet_id, opts)
      data
    end

    # Get similar tweets
    # Get tweets similar to a specific tweet.
    # @param tweet_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_similar_tweets_with_http_info(tweet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_similar_tweets ...'
      end
      # verify the required parameter 'tweet_id' is set
      if @api_client.config.client_side_validation && tweet_id.nil?
        fail ArgumentError, "Missing the required parameter 'tweet_id' when calling TwitterApi.twitter_get_similar_tweets"
      end
      # resource path
      local_var_path = '/v1/twitter/tweets/tweet/{tweet_id}/similar'.sub('{' + 'tweet_id' + '}', CGI.escape(tweet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_similar_tweets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_similar_tweets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Space details
    # Get details of a Twitter Space.
    # @param space_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def twitter_get_space_details(space_id, opts = {})
      data, _status_code, _headers = twitter_get_space_details_with_http_info(space_id, opts)
      data
    end

    # Get Space details
    # Get details of a Twitter Space.
    # @param space_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_space_details_with_http_info(space_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_space_details ...'
      end
      # verify the required parameter 'space_id' is set
      if @api_client.config.client_side_validation && space_id.nil?
        fail ArgumentError, "Missing the required parameter 'space_id' when calling TwitterApi.twitter_get_space_details"
      end
      # resource path
      local_var_path = '/v1/twitter/spaces/{space_id}'.sub('{' + 'space_id' + '}', CGI.escape(space_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_space_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_space_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get stream monitor
    # Get a single stream monitor by ID.
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [StreamMonitorResponse]
    def twitter_get_stream_monitor(monitor_id, opts = {})
      data, _status_code, _headers = twitter_get_stream_monitor_with_http_info(monitor_id, opts)
      data
    end

    # Get stream monitor
    # Get a single stream monitor by ID.
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StreamMonitorResponse, Integer, Hash)>] StreamMonitorResponse data, response status code and response headers
    def twitter_get_stream_monitor_with_http_info(monitor_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_stream_monitor ...'
      end
      # verify the required parameter 'monitor_id' is set
      if @api_client.config.client_side_validation && monitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'monitor_id' when calling TwitterApi.twitter_get_stream_monitor"
      end
      # resource path
      local_var_path = '/v1/twitter/stream/monitors/{monitor_id}'.sub('{' + 'monitor_id' + '}', CGI.escape(monitor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StreamMonitorResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_stream_monitor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_stream_monitor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get trending topics
    # Get trending topics.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :category 
    # @option opts [Integer] :count 
    # @return [Object]
    def twitter_get_trending_topics(opts = {})
      data, _status_code, _headers = twitter_get_trending_topics_with_http_info(opts)
      data
    end

    # Get trending topics
    # Get trending topics.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :category 
    # @option opts [Integer] :count 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_trending_topics_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_trending_topics ...'
      end
      # resource path
      local_var_path = '/v1/twitter/trends/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_trending_topics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_trending_topics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get trends by location
    # Get trending topics for a specific location (WOEID).
    # @param woeid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def twitter_get_trends_by_location(woeid, opts = {})
      data, _status_code, _headers = twitter_get_trends_by_location_with_http_info(woeid, opts)
      data
    end

    # Get trends by location
    # Get trending topics for a specific location (WOEID).
    # @param woeid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_trends_by_location_with_http_info(woeid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_trends_by_location ...'
      end
      # verify the required parameter 'woeid' is set
      if @api_client.config.client_side_validation && woeid.nil?
        fail ArgumentError, "Missing the required parameter 'woeid' when calling TwitterApi.twitter_get_trends_by_location"
      end
      # resource path
      local_var_path = '/v1/twitter/trends/place/{woeid}'.sub('{' + 'woeid' + '}', CGI.escape(woeid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_trends_by_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_trends_by_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tweet details
    # Get detailed information about a specific tweet.
    # @param tweet_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Object]
    def twitter_get_tweet_details(tweet_id, opts = {})
      data, _status_code, _headers = twitter_get_tweet_details_with_http_info(tweet_id, opts)
      data
    end

    # Get tweet details
    # Get detailed information about a specific tweet.
    # @param tweet_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_tweet_details_with_http_info(tweet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_tweet_details ...'
      end
      # verify the required parameter 'tweet_id' is set
      if @api_client.config.client_side_validation && tweet_id.nil?
        fail ArgumentError, "Missing the required parameter 'tweet_id' when calling TwitterApi.twitter_get_tweet_details"
      end
      # resource path
      local_var_path = '/v1/twitter/tweets/tweet/{tweet_id}'.sub('{' + 'tweet_id' + '}', CGI.escape(tweet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_tweet_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_tweet_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tweet edit history
    # Get the edit history of a tweet.
    # @param tweet_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def twitter_get_tweet_edit_history(tweet_id, opts = {})
      data, _status_code, _headers = twitter_get_tweet_edit_history_with_http_info(tweet_id, opts)
      data
    end

    # Get tweet edit history
    # Get the edit history of a tweet.
    # @param tweet_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_tweet_edit_history_with_http_info(tweet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_tweet_edit_history ...'
      end
      # verify the required parameter 'tweet_id' is set
      if @api_client.config.client_side_validation && tweet_id.nil?
        fail ArgumentError, "Missing the required parameter 'tweet_id' when calling TwitterApi.twitter_get_tweet_edit_history"
      end
      # resource path
      local_var_path = '/v1/twitter/tweets/tweet/{tweet_id}/edit_history'.sub('{' + 'tweet_id' + '}', CGI.escape(tweet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_tweet_edit_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_tweet_edit_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tweet favoriters
    # Get users who favorited a specific tweet.
    # @param tweet_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Object]
    def twitter_get_tweet_favoriters(tweet_id, opts = {})
      data, _status_code, _headers = twitter_get_tweet_favoriters_with_http_info(tweet_id, opts)
      data
    end

    # Get tweet favoriters
    # Get users who favorited a specific tweet.
    # @param tweet_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_tweet_favoriters_with_http_info(tweet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_tweet_favoriters ...'
      end
      # verify the required parameter 'tweet_id' is set
      if @api_client.config.client_side_validation && tweet_id.nil?
        fail ArgumentError, "Missing the required parameter 'tweet_id' when calling TwitterApi.twitter_get_tweet_favoriters"
      end
      # resource path
      local_var_path = '/v1/twitter/tweets/tweet/{tweet_id}/favoriters'.sub('{' + 'tweet_id' + '}', CGI.escape(tweet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_tweet_favoriters",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_tweet_favoriters\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tweet quotes
    # Get tweets that quote a specific tweet.
    # @param tweet_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Object]
    def twitter_get_tweet_quotes(tweet_id, opts = {})
      data, _status_code, _headers = twitter_get_tweet_quotes_with_http_info(tweet_id, opts)
      data
    end

    # Get tweet quotes
    # Get tweets that quote a specific tweet.
    # @param tweet_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_tweet_quotes_with_http_info(tweet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_tweet_quotes ...'
      end
      # verify the required parameter 'tweet_id' is set
      if @api_client.config.client_side_validation && tweet_id.nil?
        fail ArgumentError, "Missing the required parameter 'tweet_id' when calling TwitterApi.twitter_get_tweet_quotes"
      end
      # resource path
      local_var_path = '/v1/twitter/tweets/tweet/{tweet_id}/quotes'.sub('{' + 'tweet_id' + '}', CGI.escape(tweet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_tweet_quotes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_tweet_quotes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tweet replies
    # Get replies to a specific tweet.
    # @param tweet_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Object]
    def twitter_get_tweet_replies(tweet_id, opts = {})
      data, _status_code, _headers = twitter_get_tweet_replies_with_http_info(tweet_id, opts)
      data
    end

    # Get tweet replies
    # Get replies to a specific tweet.
    # @param tweet_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_tweet_replies_with_http_info(tweet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_tweet_replies ...'
      end
      # verify the required parameter 'tweet_id' is set
      if @api_client.config.client_side_validation && tweet_id.nil?
        fail ArgumentError, "Missing the required parameter 'tweet_id' when calling TwitterApi.twitter_get_tweet_replies"
      end
      # resource path
      local_var_path = '/v1/twitter/tweets/tweet/{tweet_id}/replies'.sub('{' + 'tweet_id' + '}', CGI.escape(tweet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_tweet_replies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_tweet_replies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tweet retweeters
    # Get users who retweeted a specific tweet.
    # @param tweet_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Object]
    def twitter_get_tweet_retweeters(tweet_id, opts = {})
      data, _status_code, _headers = twitter_get_tweet_retweeters_with_http_info(tweet_id, opts)
      data
    end

    # Get tweet retweeters
    # Get users who retweeted a specific tweet.
    # @param tweet_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_tweet_retweeters_with_http_info(tweet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_tweet_retweeters ...'
      end
      # verify the required parameter 'tweet_id' is set
      if @api_client.config.client_side_validation && tweet_id.nil?
        fail ArgumentError, "Missing the required parameter 'tweet_id' when calling TwitterApi.twitter_get_tweet_retweeters"
      end
      # resource path
      local_var_path = '/v1/twitter/tweets/tweet/{tweet_id}/retweeters'.sub('{' + 'tweet_id' + '}', CGI.escape(tweet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_tweet_retweeters",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_tweet_retweeters\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tweets by IDs
    # Get multiple tweets by their IDs.
    # @param tweets [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def twitter_get_tweets_by_ids(tweets, opts = {})
      data, _status_code, _headers = twitter_get_tweets_by_ids_with_http_info(tweets, opts)
      data
    end

    # Get tweets by IDs
    # Get multiple tweets by their IDs.
    # @param tweets [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_tweets_by_ids_with_http_info(tweets, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_tweets_by_ids ...'
      end
      # verify the required parameter 'tweets' is set
      if @api_client.config.client_side_validation && tweets.nil?
        fail ArgumentError, "Missing the required parameter 'tweets' when calling TwitterApi.twitter_get_tweets_by_ids"
      end
      # resource path
      local_var_path = '/v1/twitter/tweets/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tweets'] = tweets

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_tweets_by_ids",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_tweets_by_ids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user articles
    # Get long-form articles written by a user.
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Object]
    def twitter_get_user_articles(user_id, opts = {})
      data, _status_code, _headers = twitter_get_user_articles_with_http_info(user_id, opts)
      data
    end

    # Get user articles
    # Get long-form articles written by a user.
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_user_articles_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_user_articles ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling TwitterApi.twitter_get_user_articles"
      end
      # resource path
      local_var_path = '/v1/twitter/users/{user_id}/articles'.sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_user_articles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_user_articles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user by ID
    # Get user profile by user ID.
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def twitter_get_user_by_id(user_id, opts = {})
      data, _status_code, _headers = twitter_get_user_by_id_with_http_info(user_id, opts)
      data
    end

    # Get user by ID
    # Get user profile by user ID.
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_user_by_id_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_user_by_id ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling TwitterApi.twitter_get_user_by_id"
      end
      # resource path
      local_var_path = '/v1/twitter/users/{user_id}/by_id'.sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_user_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_user_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user by username
    # Get user profile by username.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def twitter_get_user_by_username(username, opts = {})
      data, _status_code, _headers = twitter_get_user_by_username_with_http_info(username, opts)
      data
    end

    # Get user by username
    # Get user profile by username.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_user_by_username_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_user_by_username ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling TwitterApi.twitter_get_user_by_username"
      end
      # resource path
      local_var_path = '/v1/twitter/users/{username}/by_username'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_user_by_username",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_user_by_username\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user followers
    # Get followers of a specific user.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Object]
    def twitter_get_user_followers(username, opts = {})
      data, _status_code, _headers = twitter_get_user_followers_with_http_info(username, opts)
      data
    end

    # Get user followers
    # Get followers of a specific user.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_user_followers_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_user_followers ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling TwitterApi.twitter_get_user_followers"
      end
      # resource path
      local_var_path = '/v1/twitter/users/{username}/followers'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_user_followers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_user_followers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user following
    # Get users that a specific user is following.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Object]
    def twitter_get_user_following(username, opts = {})
      data, _status_code, _headers = twitter_get_user_following_with_http_info(username, opts)
      data
    end

    # Get user following
    # Get users that a specific user is following.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_user_following_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_user_following ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling TwitterApi.twitter_get_user_following"
      end
      # resource path
      local_var_path = '/v1/twitter/users/{username}/followings'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_user_following",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_user_following\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user mentions
    # Get tweets mentioning a specific user.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count 
    # @option opts [String] :cursor 
    # @return [Object]
    def twitter_get_user_mentions(username, opts = {})
      data, _status_code, _headers = twitter_get_user_mentions_with_http_info(username, opts)
      data
    end

    # Get user mentions
    # Get tweets mentioning a specific user.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count 
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_user_mentions_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_user_mentions ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling TwitterApi.twitter_get_user_mentions"
      end
      # resource path
      local_var_path = '/v1/twitter/users/{username}/mentions'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_user_mentions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_user_mentions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user subscriptions
    # Get subscriptions of a specific user.
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Object]
    def twitter_get_user_subscriptions(user_id, opts = {})
      data, _status_code, _headers = twitter_get_user_subscriptions_with_http_info(user_id, opts)
      data
    end

    # Get user subscriptions
    # Get subscriptions of a specific user.
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_user_subscriptions_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_user_subscriptions ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling TwitterApi.twitter_get_user_subscriptions"
      end
      # resource path
      local_var_path = '/v1/twitter/users/{user_id}/subscriptions'.sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_user_subscriptions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_user_subscriptions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user tweets
    # Get latest tweets from a specific user.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Object]
    def twitter_get_user_tweets(username, opts = {})
      data, _status_code, _headers = twitter_get_user_tweets_with_http_info(username, opts)
      data
    end

    # Get user tweets
    # Get latest tweets from a specific user.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def twitter_get_user_tweets_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.twitter_get_user_tweets ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling TwitterApi.twitter_get_user_tweets"
      end
      # resource path
      local_var_path = '/v1/twitter/users/{username}/latest_tweets'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TwitterApi.twitter_get_user_tweets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#twitter_get_user_tweets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List billing logs
    # List billing activity logs for the authenticated API key's monitors.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :monitor_id 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [BillingLogListResponse]
    def twitter_list_billing_logs(opts = {})
      data, _status_code, _headers = twitter_list_billing_logs_with_http_info(opts)
      data
    end

    # List billing logs
[...]
