=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class VintedApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get item details
    # Get detailed information about a Vinted item.
    # @param item_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market  (default to 'fr')
    # @return [Object]
    def vinted_get_item_details(item_id, opts = {})
      data, _status_code, _headers = vinted_get_item_details_with_http_info(item_id, opts)
      data
    end

    # Get item details
    # Get detailed information about a Vinted item.
    # @param item_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market  (default to 'fr')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def vinted_get_item_details_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VintedApi.vinted_get_item_details ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling VintedApi.vinted_get_item_details"
      end
      # resource path
      local_var_path = '/v1/vinted/items/{item_id}'.sub('{' + 'item_id' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VintedApi.vinted_get_item_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VintedApi#vinted_get_item_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user profile
    # Get a Vinted user's profile.
    # @param user_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market  (default to 'fr')
    # @return [Object]
    def vinted_get_user_profile(user_id, opts = {})
      data, _status_code, _headers = vinted_get_user_profile_with_http_info(user_id, opts)
      data
    end

    # Get user profile
    # Get a Vinted user&#39;s profile.
    # @param user_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market  (default to 'fr')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def vinted_get_user_profile_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VintedApi.vinted_get_user_profile ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling VintedApi.vinted_get_user_profile"
      end
      # resource path
      local_var_path = '/v1/vinted/users/{user_id}'.sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VintedApi.vinted_get_user_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VintedApi#vinted_get_user_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user's listed items
    # Get items listed by a Vinted user.
    # @param user_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market  (default to 'fr')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [Object]
    def vinted_get_user_s_listed_items(user_id, opts = {})
      data, _status_code, _headers = vinted_get_user_s_listed_items_with_http_info(user_id, opts)
      data
    end

    # Get user&#39;s listed items
    # Get items listed by a Vinted user.
    # @param user_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market  (default to 'fr')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def vinted_get_user_s_listed_items_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VintedApi.vinted_get_user_s_listed_items ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling VintedApi.vinted_get_user_s_listed_items"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling VintedApi.vinted_get_user_s_listed_items, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 96
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling VintedApi.vinted_get_user_s_listed_items, must be smaller than or equal to 96.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling VintedApi.vinted_get_user_s_listed_items, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/vinted/users/{user_id}/items'.sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VintedApi.vinted_get_user_s_listed_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VintedApi#vinted_get_user_s_listed_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List colors
    # Get available Vinted colors for filtering.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market  (default to 'fr')
    # @return [Object]
    def vinted_list_colors(opts = {})
      data, _status_code, _headers = vinted_list_colors_with_http_info(opts)
      data
    end

    # List colors
    # Get available Vinted colors for filtering.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market  (default to 'fr')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def vinted_list_colors_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VintedApi.vinted_list_colors ...'
      end
      # resource path
      local_var_path = '/v1/vinted/colors'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VintedApi.vinted_list_colors",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VintedApi#vinted_list_colors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List item conditions
    # Get available item condition statuses.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market  (default to 'fr')
    # @return [Object]
    def vinted_list_item_conditions(opts = {})
      data, _status_code, _headers = vinted_list_item_conditions_with_http_info(opts)
      data
    end

    # List item conditions
    # Get available item condition statuses.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market  (default to 'fr')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def vinted_list_item_conditions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VintedApi.vinted_list_item_conditions ...'
      end
      # resource path
      local_var_path = '/v1/vinted/statuses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VintedApi.vinted_list_item_conditions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VintedApi#vinted_list_item_conditions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List markets
    # List all supported Vinted markets.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def vinted_list_markets(opts = {})
      data, _status_code, _headers = vinted_list_markets_with_http_info(opts)
      data
    end

    # List markets
    # List all supported Vinted markets.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def vinted_list_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VintedApi.vinted_list_markets ...'
      end
      # resource path
      local_var_path = '/v1/vinted/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VintedApi.vinted_list_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VintedApi#vinted_list_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search brands
    # Search Vinted brands.
    # @param keyword [String] Brand search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market  (default to 'fr')
    # @return [Object]
    def vinted_search_brands(keyword, opts = {})
      data, _status_code, _headers = vinted_search_brands_with_http_info(keyword, opts)
      data
    end

    # Search brands
    # Search Vinted brands.
    # @param keyword [String] Brand search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market  (default to 'fr')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def vinted_search_brands_with_http_info(keyword, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VintedApi.vinted_search_brands ...'
      end
      # verify the required parameter 'keyword' is set
      if @api_client.config.client_side_validation && keyword.nil?
        fail ArgumentError, "Missing the required parameter 'keyword' when calling VintedApi.vinted_search_brands"
      end
      # resource path
      local_var_path = '/v1/vinted/brands'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'keyword'] = keyword
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VintedApi.vinted_search_brands",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VintedApi#vinted_search_brands\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Vinted items
    # Search Vinted catalog items with filters.
    # @param query [String] Search text
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Market code (default to 'fr')
    # @option opts [String] :seller_country Filter to items whose seller is physically located in one of these comma-separated ISO-2 country codes (e.g. &#39;fr&#39; or &#39;fr,be&#39;). Market domains federate cross-border EU listings and Vinted has no native country filter, so each item is enriched with its seller&#39;s country and non-matching ones are dropped. Adds 1 credit per uncached seller looked up (cached for 7 days).
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [Float] :price_from 
    # @option opts [Float] :price_to 
    # @option opts [String] :brand_ids 
    # @option opts [String] :catalog_ids Comma-separated Vinted catalog (category) IDs to restrict the search to, e.g. &#39;1904&#39; or &#39;1904,79&#39;. Vinted applies this before searching, so pagination totals reflect the filtered set. A catalog ID is the &#x60;catalog[]&#x60; value in a Vinted category URL (vinted.fr/catalog?catalog[]&#x3D;1904).
    # @option opts [String] :color_ids Comma-separated color IDs
    # @option opts [String] :status_ids Comma-separated condition/status IDs
    # @option opts [String] :order 
    # @return [Object]
    def vinted_search_vinted_items(query, opts = {})
      data, _status_code, _headers = vinted_search_vinted_items_with_http_info(query, opts)
      data
    end

    # Search Vinted items
    # Search Vinted catalog items with filters.
    # @param query [String] Search text
    # @param [Hash] opts the optional parameters
    # @option opts [String] :market Market code (default to 'fr')
    # @option opts [String] :seller_country Filter to items whose seller is physically located in one of these comma-separated ISO-2 country codes (e.g. &#39;fr&#39; or &#39;fr,be&#39;). Market domains federate cross-border EU listings and Vinted has no native country filter, so each item is enriched with its seller&#39;s country and non-matching ones are dropped. Adds 1 credit per uncached seller looked up (cached for 7 days).
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [Float] :price_from 
    # @option opts [Float] :price_to 
    # @option opts [String] :brand_ids 
    # @option opts [String] :catalog_ids Comma-separated Vinted catalog (category) IDs to restrict the search to, e.g. &#39;1904&#39; or &#39;1904,79&#39;. Vinted applies this before searching, so pagination totals reflect the filtered set. A catalog ID is the &#x60;catalog[]&#x60; value in a Vinted category URL (vinted.fr/catalog?catalog[]&#x3D;1904).
    # @option opts [String] :color_ids Comma-separated color IDs
    # @option opts [String] :status_ids Comma-separated condition/status IDs
    # @option opts [String] :order 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def vinted_search_vinted_items_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VintedApi.vinted_search_vinted_items ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling VintedApi.vinted_search_vinted_items"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling VintedApi.vinted_search_vinted_items, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 96
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling VintedApi.vinted_search_vinted_items, must be smaller than or equal to 96.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling VintedApi.vinted_search_vinted_items, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/vinted/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'market'] = opts[:'market'] if !opts[:'market'].nil?
      query_params[:'seller_country'] = opts[:'seller_country'] if !opts[:'seller_country'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'price_from'] = opts[:'price_from'] if !opts[:'price_from'].nil?
      query_params[:'price_to'] = opts[:'price_to'] if !opts[:'price_to'].nil?
      query_params[:'brand_ids'] = opts[:'brand_ids'] if !opts[:'brand_ids'].nil?
      query_params[:'catalog_ids'] = opts[:'catalog_ids'] if !opts[:'catalog_ids'].nil?
      query_params[:'color_ids'] = opts[:'color_ids'] if !opts[:'color_ids'].nil?
      query_params[:'status_ids'] = opts[:'status_ids'] if !opts[:'status_ids'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VintedApi.vinted_search_vinted_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VintedApi#vinted_search_vinted_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Vinted scraper health check
    # Check health of the Vinted scraper service.  Accepts ``HEAD`` so external uptime checkers (UptimeRobot uses HEAD by default for HTTP monitors) don't get a 405 Method Not Allowed.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def vinted_vinted_scraper_health_check(opts = {})
      data, _status_code, _headers = vinted_vinted_scraper_health_check_with_http_info(opts)
      data
    end

    # Vinted scraper health check
    # Check health of the Vinted scraper service.  Accepts &#x60;&#x60;HEAD&#x60;&#x60; so external uptime checkers (UptimeRobot uses HEAD by default for HTTP monitors) don&#39;t get a 405 Method Not Allowed.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def vinted_vinted_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VintedApi.vinted_vinted_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/vinted/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VintedApi.vinted_vinted_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VintedApi#vinted_vinted_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Vinted scraper health check
    # Check health of the Vinted scraper service.  Accepts ``HEAD`` so external uptime checkers (UptimeRobot uses HEAD by default for HTTP monitors) don't get a 405 Method Not Allowed.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def vinted_vinted_scraper_health_check_head(opts = {})
      data, _status_code, _headers = vinted_vinted_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Vinted scraper health check
    # Check health of the Vinted scraper service.  Accepts &#x60;&#x60;HEAD&#x60;&#x60; so external uptime checkers (UptimeRobot uses HEAD by default for HTTP monitors) don&#39;t get a 405 Method Not Allowed.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def vinted_vinted_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VintedApi.vinted_vinted_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/vinted/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VintedApi.vinted_vinted_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VintedApi#vinted_vinted_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
