=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class WalmartApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Browse a category
    # Browse a Walmart category. Same result shape as search.  No `sort`: Walmart's browse pages ignore it. Sort on `/search` instead.
    # @param path [String] Browse path, e.g. &#39;electronics/3944&#39;, or a &#39;/cp/...&#39; path
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @option opts [String] :facet 
    # @return [Object]
    def walmart_browse_a_category(path, opts = {})
      data, _status_code, _headers = walmart_browse_a_category_with_http_info(path, opts)
      data
    end

    # Browse a category
    # Browse a Walmart category. Same result shape as search.  No &#x60;sort&#x60;: Walmart&#39;s browse pages ignore it. Sort on &#x60;/search&#x60; instead.
    # @param path [String] Browse path, e.g. &#39;electronics/3944&#39;, or a &#39;/cp/...&#39; path
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @option opts [String] :facet 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def walmart_browse_a_category_with_http_info(path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalmartApi.walmart_browse_a_category ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling WalmartApi.walmart_browse_a_category"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 11
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling WalmartApi.walmart_browse_a_category, must be smaller than or equal to 11.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling WalmartApi.walmart_browse_a_category, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_price'].nil? && opts[:'min_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_price"]" when calling WalmartApi.walmart_browse_a_category, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_price'].nil? && opts[:'max_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_price"]" when calling WalmartApi.walmart_browse_a_category, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/walmart/category'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'path'] = path
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'min_price'] = opts[:'min_price'] if !opts[:'min_price'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?
      query_params[:'facet'] = opts[:'facet'] if !opts[:'facet'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"WalmartApi.walmart_browse_a_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalmartApi#walmart_browse_a_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deals, rollbacks and clearance
    # Walmart's current deals, rollbacks and clearance.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @return [Object]
    def walmart_deals_rollbacks_and_clearance(opts = {})
      data, _status_code, _headers = walmart_deals_rollbacks_and_clearance_with_http_info(opts)
      data
    end

    # Deals, rollbacks and clearance
    # Walmart&#39;s current deals, rollbacks and clearance.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def walmart_deals_rollbacks_and_clearance_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalmartApi.walmart_deals_rollbacks_and_clearance ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 11
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling WalmartApi.walmart_deals_rollbacks_and_clearance, must be smaller than or equal to 11.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling WalmartApi.walmart_deals_rollbacks_and_clearance, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_price'].nil? && opts[:'min_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_price"]" when calling WalmartApi.walmart_deals_rollbacks_and_clearance, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_price'].nil? && opts[:'max_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_price"]" when calling WalmartApi.walmart_deals_rollbacks_and_clearance, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/walmart/deals'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'min_price'] = opts[:'min_price'] if !opts[:'min_price'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"WalmartApi.walmart_deals_rollbacks_and_clearance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalmartApi#walmart_deals_rollbacks_and_clearance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a seller's catalogue
    # A marketplace seller's catalogue, scoped by a search term.
    # @param seller_id [String] Numeric catalog seller id, e.g. &#39;101040442&#39; — the &#x60;catalog_seller_id&#x60; on a product, NOT the 32-char hex &#x60;seller_id&#x60; (which 404s).
    # @param query [String] Required — Walmart returns nothing for a seller facet alone
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :sort 
    # @return [Object]
    def walmart_get_a_seller_s_catalogue(seller_id, query, opts = {})
      data, _status_code, _headers = walmart_get_a_seller_s_catalogue_with_http_info(seller_id, query, opts)
      data
    end

    # Get a seller&#39;s catalogue
    # A marketplace seller&#39;s catalogue, scoped by a search term.
    # @param seller_id [String] Numeric catalog seller id, e.g. &#39;101040442&#39; — the &#x60;catalog_seller_id&#x60; on a product, NOT the 32-char hex &#x60;seller_id&#x60; (which 404s).
    # @param query [String] Required — Walmart returns nothing for a seller facet alone
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :sort 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def walmart_get_a_seller_s_catalogue_with_http_info(seller_id, query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalmartApi.walmart_get_a_seller_s_catalogue ...'
      end
      # verify the required parameter 'seller_id' is set
      if @api_client.config.client_side_validation && seller_id.nil?
        fail ArgumentError, "Missing the required parameter 'seller_id' when calling WalmartApi.walmart_get_a_seller_s_catalogue"
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling WalmartApi.walmart_get_a_seller_s_catalogue"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 10
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling WalmartApi.walmart_get_a_seller_s_catalogue, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling WalmartApi.walmart_get_a_seller_s_catalogue, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/walmart/sellers/{seller_id}/products'.sub('{' + 'seller_id' + '}', CGI.escape(seller_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"WalmartApi.walmart_get_a_seller_s_catalogue",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalmartApi#walmart_get_a_seller_s_catalogue\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get product detail
    # Full product detail — price, stock, specs, variants, seller, reviews sample.
    # @param item_id [String] Walmart usItemId, e.g. &#39;5689919121&#39;
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def walmart_get_product_detail(item_id, opts = {})
      data, _status_code, _headers = walmart_get_product_detail_with_http_info(item_id, opts)
      data
    end

    # Get product detail
    # Full product detail — price, stock, specs, variants, seller, reviews sample.
    # @param item_id [String] Walmart usItemId, e.g. &#39;5689919121&#39;
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def walmart_get_product_detail_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalmartApi.walmart_get_product_detail ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling WalmartApi.walmart_get_product_detail"
      end
      # resource path
      local_var_path = '/v1/walmart/products/{item_id}'.sub('{' + 'item_id' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"WalmartApi.walmart_get_product_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalmartApi#walmart_get_product_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get product reviews
    # Paginated reviews with the full star histogram. 10 per page.
    # @param item_id [String] Walmart usItemId, e.g. &#39;5689919121&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :sort relevancy | submission-desc | submission-asc | rating-desc | rating-asc | helpful
    # @return [Object]
    def walmart_get_product_reviews(item_id, opts = {})
      data, _status_code, _headers = walmart_get_product_reviews_with_http_info(item_id, opts)
      data
    end

    # Get product reviews
    # Paginated reviews with the full star histogram. 10 per page.
    # @param item_id [String] Walmart usItemId, e.g. &#39;5689919121&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :sort relevancy | submission-desc | submission-asc | rating-desc | rating-asc | helpful
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def walmart_get_product_reviews_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalmartApi.walmart_get_product_reviews ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling WalmartApi.walmart_get_product_reviews"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling WalmartApi.walmart_get_product_reviews, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling WalmartApi.walmart_get_product_reviews, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/walmart/products/{item_id}/reviews'.sub('{' + 'item_id' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"WalmartApi.walmart_get_product_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalmartApi#walmart_get_product_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get seller profile
    # Marketplace seller profile — contact details, address, rating, policies.  No `page`: adding one makes Walmart's own SSR throw. Use `/sellers/{id}/products` for the catalogue.
    # @param seller_id [String] Numeric catalog seller id, e.g. &#39;101040442&#39; — the &#x60;catalog_seller_id&#x60; on a product, NOT the 32-char hex &#x60;seller_id&#x60; (which 404s).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def walmart_get_seller_profile(seller_id, opts = {})
      data, _status_code, _headers = walmart_get_seller_profile_with_http_info(seller_id, opts)
      data
    end

    # Get seller profile
    # Marketplace seller profile — contact details, address, rating, policies.  No &#x60;page&#x60;: adding one makes Walmart&#39;s own SSR throw. Use &#x60;/sellers/{id}/products&#x60; for the catalogue.
    # @param seller_id [String] Numeric catalog seller id, e.g. &#39;101040442&#39; — the &#x60;catalog_seller_id&#x60; on a product, NOT the 32-char hex &#x60;seller_id&#x60; (which 404s).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def walmart_get_seller_profile_with_http_info(seller_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalmartApi.walmart_get_seller_profile ...'
      end
      # verify the required parameter 'seller_id' is set
      if @api_client.config.client_side_validation && seller_id.nil?
        fail ArgumentError, "Missing the required parameter 'seller_id' when calling WalmartApi.walmart_get_seller_profile"
      end
      # resource path
      local_var_path = '/v1/walmart/sellers/{seller_id}'.sub('{' + 'seller_id' + '}', CGI.escape(seller_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"WalmartApi.walmart_get_seller_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalmartApi#walmart_get_seller_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get store + nearby stores
    # Store detail with hours, per-department services, and nearby stores.
    # @param store_id [String] Walmart store number, e.g. &#39;100&#39;
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def walmart_get_store_nearby_stores(store_id, opts = {})
      data, _status_code, _headers = walmart_get_store_nearby_stores_with_http_info(store_id, opts)
      data
    end

    # Get store + nearby stores
    # Store detail with hours, per-department services, and nearby stores.
    # @param store_id [String] Walmart store number, e.g. &#39;100&#39;
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def walmart_get_store_nearby_stores_with_http_info(store_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalmartApi.walmart_get_store_nearby_stores ...'
      end
      # verify the required parameter 'store_id' is set
      if @api_client.config.client_side_validation && store_id.nil?
        fail ArgumentError, "Missing the required parameter 'store_id' when calling WalmartApi.walmart_get_store_nearby_stores"
      end
      # resource path
      local_var_path = '/v1/walmart/stores/{store_id}'.sub('{' + 'store_id' + '}', CGI.escape(store_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"WalmartApi.walmart_get_store_nearby_stores",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalmartApi#walmart_get_store_nearby_stores\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List supported markets
    # Supported Walmart markets.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def walmart_list_supported_markets(opts = {})
      data, _status_code, _headers = walmart_list_supported_markets_with_http_info(opts)
      data
    end

    # List supported markets
    # Supported Walmart markets.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def walmart_list_supported_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalmartApi.walmart_list_supported_markets ...'
      end
      # resource path
      local_var_path = '/v1/walmart/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"WalmartApi.walmart_list_supported_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalmartApi#walmart_list_supported_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search products
    # Search walmart.com. ~40-60 organic products per page; ad tiles are dropped.
    # @param query [String] Search keywords, e.g. &#39;laptop&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results dry up after page 10 (default to 1)
    # @option opts [String] :sort best_match | best_seller | price_low | price_high | rating_high | new
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @option opts [String] :facet Facet filter, e.g. &#39;brand:HP&#39;
    # @return [Object]
    def walmart_search_products(query, opts = {})
      data, _status_code, _headers = walmart_search_products_with_http_info(query, opts)
      data
    end

    # Search products
    # Search walmart.com. ~40-60 organic products per page; ad tiles are dropped.
    # @param query [String] Search keywords, e.g. &#39;laptop&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results dry up after page 10 (default to 1)
    # @option opts [String] :sort best_match | best_seller | price_low | price_high | rating_high | new
    # @option opts [Float] :min_price 
    # @option opts [Float] :max_price 
    # @option opts [String] :facet Facet filter, e.g. &#39;brand:HP&#39;
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def walmart_search_products_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalmartApi.walmart_search_products ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling WalmartApi.walmart_search_products"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 10
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling WalmartApi.walmart_search_products, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling WalmartApi.walmart_search_products, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_price'].nil? && opts[:'min_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_price"]" when calling WalmartApi.walmart_search_products, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_price'].nil? && opts[:'max_price'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_price"]" when calling WalmartApi.walmart_search_products, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/walmart/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'min_price'] = opts[:'min_price'] if !opts[:'min_price'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?
      query_params[:'facet'] = opts[:'facet'] if !opts[:'facet'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"WalmartApi.walmart_search_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalmartApi#walmart_search_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search suggestions
    # Walmart search-box suggestions.
    # @param query [String] Partial search term, e.g. &#39;lapt&#39;
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def walmart_search_suggestions(query, opts = {})
      data, _status_code, _headers = walmart_search_suggestions_with_http_info(query, opts)
      data
    end

    # Search suggestions
    # Walmart search-box suggestions.
    # @param query [String] Partial search term, e.g. &#39;lapt&#39;
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def walmart_search_suggestions_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalmartApi.walmart_search_suggestions ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling WalmartApi.walmart_search_suggestions"
      end
      # resource path
      local_var_path = '/v1/walmart/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"WalmartApi.walmart_search_suggestions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalmartApi#walmart_search_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Walmart scraper health check
    # Check health of the Walmart scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def walmart_walmart_scraper_health_check(opts = {})
      data, _status_code, _headers = walmart_walmart_scraper_health_check_with_http_info(opts)
      data
    end

    # Walmart scraper health check
    # Check health of the Walmart scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def walmart_walmart_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalmartApi.walmart_walmart_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/walmart/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"WalmartApi.walmart_walmart_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalmartApi#walmart_walmart_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Walmart scraper health check
    # Check health of the Walmart scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def walmart_walmart_scraper_health_check_head(opts = {})
      data, _status_code, _headers = walmart_walmart_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Walmart scraper health check
    # Check health of the Walmart scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def walmart_walmart_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalmartApi.walmart_walmart_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/walmart/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"WalmartApi.walmart_walmart_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalmartApi#walmart_walmart_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
