=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class YandexApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Image search
    # Search Yandex Images by text — thumbnail, full-res URL, dimensions, source page.
    # @param query [String] Image search query, e.g. &#39;coffee machine&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain Yandex market: &#39;tr&#39; (yandex.com.tr, DEFAULT — the domain that reliably clears anti-bot), &#39;com&#39;, &#39;ru&#39;, &#39;by&#39;, &#39;kz&#39;, &#39;uz&#39;. &#39;com&#39;/&#39;ru&#39; have a lower success rate. (default to 'tr')
    # @option opts [Integer] :page  (default to 1)
    # @return [Object]
    def yandex_image_search(query, opts = {})
      data, _status_code, _headers = yandex_image_search_with_http_info(query, opts)
      data
    end

    # Image search
    # Search Yandex Images by text — thumbnail, full-res URL, dimensions, source page.
    # @param query [String] Image search query, e.g. &#39;coffee machine&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain Yandex market: &#39;tr&#39; (yandex.com.tr, DEFAULT — the domain that reliably clears anti-bot), &#39;com&#39;, &#39;ru&#39;, &#39;by&#39;, &#39;kz&#39;, &#39;uz&#39;. &#39;com&#39;/&#39;ru&#39; have a lower success rate. (default to 'tr')
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def yandex_image_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YandexApi.yandex_image_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling YandexApi.yandex_image_search"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 25
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling YandexApi.yandex_image_search, must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling YandexApi.yandex_image_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/yandex/images/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YandexApi.yandex_image_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YandexApi#yandex_image_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List supported markets
    # Supported Yandex markets (domains, default region and language).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def yandex_list_supported_markets(opts = {})
      data, _status_code, _headers = yandex_list_supported_markets_with_http_info(opts)
      data
    end

    # List supported markets
    # Supported Yandex markets (domains, default region and language).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def yandex_list_supported_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YandexApi.yandex_list_supported_markets ...'
      end
      # resource path
      local_var_path = '/v1/yandex/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YandexApi.yandex_list_supported_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YandexApi#yandex_list_supported_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reverse image search
    # Reverse image search by URL — hosting pages, similar images, tags, other sizes.
    # @param image_url [String] Public URL of the image to reverse-search
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain Yandex market: &#39;tr&#39; (yandex.com.tr, DEFAULT — the domain that reliably clears anti-bot), &#39;com&#39;, &#39;ru&#39;, &#39;by&#39;, &#39;kz&#39;, &#39;uz&#39;. &#39;com&#39;/&#39;ru&#39; have a lower success rate. (default to 'tr')
    # @return [Object]
    def yandex_reverse_image_search(image_url, opts = {})
      data, _status_code, _headers = yandex_reverse_image_search_with_http_info(image_url, opts)
      data
    end

    # Reverse image search
    # Reverse image search by URL — hosting pages, similar images, tags, other sizes.
    # @param image_url [String] Public URL of the image to reverse-search
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain Yandex market: &#39;tr&#39; (yandex.com.tr, DEFAULT — the domain that reliably clears anti-bot), &#39;com&#39;, &#39;ru&#39;, &#39;by&#39;, &#39;kz&#39;, &#39;uz&#39;. &#39;com&#39;/&#39;ru&#39; have a lower success rate. (default to 'tr')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def yandex_reverse_image_search_with_http_info(image_url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YandexApi.yandex_reverse_image_search ...'
      end
      # verify the required parameter 'image_url' is set
      if @api_client.config.client_side_validation && image_url.nil?
        fail ArgumentError, "Missing the required parameter 'image_url' when calling YandexApi.yandex_reverse_image_search"
      end
      # resource path
      local_var_path = '/v1/yandex/images/reverse'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'image_url'] = image_url
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YandexApi.yandex_reverse_image_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YandexApi#yandex_reverse_image_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Web search
    # Search Yandex web results — organic results, ads, displayed URLs, snippets.
    # @param query [String] Search query, e.g. &#39;coffee machine&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain Yandex market: &#39;tr&#39; (yandex.com.tr, DEFAULT — the domain that reliably clears anti-bot), &#39;com&#39;, &#39;ru&#39;, &#39;by&#39;, &#39;kz&#39;, &#39;uz&#39;. &#39;com&#39;/&#39;ru&#39; have a lower success rate. (default to 'tr')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :lr Yandex region id, e.g. 213&#x3D;Moscow, 84&#x3D;USA
    # @option opts [String] :lang UI language: ru, en, tr, be, kk, uk
    # @return [Object]
    def yandex_web_search(query, opts = {})
      data, _status_code, _headers = yandex_web_search_with_http_info(query, opts)
      data
    end

    # Web search
    # Search Yandex web results — organic results, ads, displayed URLs, snippets.
    # @param query [String] Search query, e.g. &#39;coffee machine&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain Yandex market: &#39;tr&#39; (yandex.com.tr, DEFAULT — the domain that reliably clears anti-bot), &#39;com&#39;, &#39;ru&#39;, &#39;by&#39;, &#39;kz&#39;, &#39;uz&#39;. &#39;com&#39;/&#39;ru&#39; have a lower success rate. (default to 'tr')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :lr Yandex region id, e.g. 213&#x3D;Moscow, 84&#x3D;USA
    # @option opts [String] :lang UI language: ru, en, tr, be, kk, uk
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def yandex_web_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YandexApi.yandex_web_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling YandexApi.yandex_web_search"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 25
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling YandexApi.yandex_web_search, must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling YandexApi.yandex_web_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/yandex/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'lr'] = opts[:'lr'] if !opts[:'lr'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YandexApi.yandex_web_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YandexApi#yandex_web_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Yandex scraper health check
    # Check health of the Yandex scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def yandex_yandex_scraper_health_check(opts = {})
      data, _status_code, _headers = yandex_yandex_scraper_health_check_with_http_info(opts)
      data
    end

    # Yandex scraper health check
    # Check health of the Yandex scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def yandex_yandex_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YandexApi.yandex_yandex_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/yandex/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YandexApi.yandex_yandex_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YandexApi#yandex_yandex_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Yandex scraper health check
    # Check health of the Yandex scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def yandex_yandex_scraper_health_check_head(opts = {})
      data, _status_code, _headers = yandex_yandex_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Yandex scraper health check
    # Check health of the Yandex scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def yandex_yandex_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YandexApi.yandex_yandex_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/yandex/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YandexApi.yandex_yandex_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YandexApi#yandex_yandex_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
