=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class YouTubeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Batch video detail
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_batch_video_detail(request_body, opts = {})
      data, _status_code, _headers = youtube_batch_video_detail_with_http_info(request_body, opts)
      data
    end

    # Batch video detail
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_batch_video_detail_with_http_info(request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_batch_video_detail ...'
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling YouTubeApi.youtube_batch_video_detail"
      end
      # resource path
      local_var_path = '/v1/youtube/videos/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_batch_video_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_batch_video_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Channel about
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_channel_about(channel_id, opts = {})
      data, _status_code, _headers = youtube_channel_about_with_http_info(channel_id, opts)
      data
    end

    # Channel about
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_channel_about_with_http_info(channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_channel_about ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling YouTubeApi.youtube_channel_about"
      end
      # resource path
      local_var_path = '/v1/youtube/channels/{channel_id}/about'.sub('{' + 'channel_id' + '}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_channel_about",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_channel_about\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Channel playlists
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_channel_playlists(channel_id, opts = {})
      data, _status_code, _headers = youtube_channel_playlists_with_http_info(channel_id, opts)
      data
    end

    # Channel playlists
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_channel_playlists_with_http_info(channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_channel_playlists ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling YouTubeApi.youtube_channel_playlists"
      end
      # resource path
      local_var_path = '/v1/youtube/channels/{channel_id}/playlists'.sub('{' + 'channel_id' + '}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_channel_playlists",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_channel_playlists\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Channel shorts
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_channel_shorts(channel_id, opts = {})
      data, _status_code, _headers = youtube_channel_shorts_with_http_info(channel_id, opts)
      data
    end

    # Channel shorts
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_channel_shorts_with_http_info(channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_channel_shorts ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling YouTubeApi.youtube_channel_shorts"
      end
      # resource path
      local_var_path = '/v1/youtube/channels/{channel_id}/shorts'.sub('{' + 'channel_id' + '}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_channel_shorts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_channel_shorts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Channel streams
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_channel_streams(channel_id, opts = {})
      data, _status_code, _headers = youtube_channel_streams_with_http_info(channel_id, opts)
      data
    end

    # Channel streams
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_channel_streams_with_http_info(channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_channel_streams ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling YouTubeApi.youtube_channel_streams"
      end
      # resource path
      local_var_path = '/v1/youtube/channels/{channel_id}/streams'.sub('{' + 'channel_id' + '}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_channel_streams",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_channel_streams\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Channel videos
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_channel_videos(channel_id, opts = {})
      data, _status_code, _headers = youtube_channel_videos_with_http_info(channel_id, opts)
      data
    end

    # Channel videos
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_channel_videos_with_http_info(channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_channel_videos ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling YouTubeApi.youtube_channel_videos"
      end
      # resource path
      local_var_path = '/v1/youtube/channels/{channel_id}/videos'.sub('{' + 'channel_id' + '}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_channel_videos",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_channel_videos\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Comment replies
    # @param video_id [String] 
    # @param comment_id [String] 
    # @param continuation [String] Replies continuation token
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_comment_replies(video_id, comment_id, continuation, opts = {})
      data, _status_code, _headers = youtube_comment_replies_with_http_info(video_id, comment_id, continuation, opts)
      data
    end

    # Comment replies
    # @param video_id [String] 
    # @param comment_id [String] 
    # @param continuation [String] Replies continuation token
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_comment_replies_with_http_info(video_id, comment_id, continuation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_comment_replies ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling YouTubeApi.youtube_comment_replies"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling YouTubeApi.youtube_comment_replies"
      end
      # verify the required parameter 'continuation' is set
      if @api_client.config.client_side_validation && continuation.nil?
        fail ArgumentError, "Missing the required parameter 'continuation' when calling YouTubeApi.youtube_comment_replies"
      end
      # resource path
      local_var_path = '/v1/youtube/videos/{video_id}/comments/{comment_id}/replies'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s)).sub('{' + 'comment_id' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'continuation'] = continuation

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_comment_replies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_comment_replies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Community post comments
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_community_post_comments(post_id, opts = {})
      data, _status_code, _headers = youtube_community_post_comments_with_http_info(post_id, opts)
      data
    end

    # Community post comments
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_community_post_comments_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_community_post_comments ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling YouTubeApi.youtube_community_post_comments"
      end
      # resource path
      local_var_path = '/v1/youtube/posts/{post_id}/comments'.sub('{' + 'post_id' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_community_post_comments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_community_post_comments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Community posts
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_community_posts(channel_id, opts = {})
      data, _status_code, _headers = youtube_community_posts_with_http_info(channel_id, opts)
      data
    end

    # Community posts
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_community_posts_with_http_info(channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_community_posts ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling YouTubeApi.youtube_community_posts"
      end
      # resource path
      local_var_path = '/v1/youtube/channels/{channel_id}/community'.sub('{' + 'channel_id' + '}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_community_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_community_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Content regions
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_content_regions(opts = {})
      data, _status_code, _headers = youtube_content_regions_with_http_info(opts)
      data
    end

    # Content regions
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_content_regions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_content_regions ...'
      end
      # resource path
      local_var_path = '/v1/youtube/regions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_content_regions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_content_regions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a community post
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_get_a_community_post(post_id, opts = {})
      data, _status_code, _headers = youtube_get_a_community_post_with_http_info(post_id, opts)
      data
    end

    # Get a community post
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_get_a_community_post_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_get_a_community_post ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling YouTubeApi.youtube_get_a_community_post"
      end
      # resource path
      local_var_path = '/v1/youtube/posts/{post_id}'.sub('{' + 'post_id' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_get_a_community_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_get_a_community_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a mix / radio queue
    # @param playlist_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_get_a_mix_radio_queue(playlist_id, opts = {})
      data, _status_code, _headers = youtube_get_a_mix_radio_queue_with_http_info(playlist_id, opts)
      data
    end

    # Get a mix / radio queue
    # @param playlist_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_get_a_mix_radio_queue_with_http_info(playlist_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_get_a_mix_radio_queue ...'
      end
      # verify the required parameter 'playlist_id' is set
      if @api_client.config.client_side_validation && playlist_id.nil?
        fail ArgumentError, "Missing the required parameter 'playlist_id' when calling YouTubeApi.youtube_get_a_mix_radio_queue"
      end
      # resource path
      local_var_path = '/v1/youtube/mixes/{playlist_id}'.sub('{' + 'playlist_id' + '}', CGI.escape(playlist_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_get_a_mix_radio_queue",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_get_a_mix_radio_queue\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a Short
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_get_a_short(video_id, opts = {})
      data, _status_code, _headers = youtube_get_a_short_with_http_info(video_id, opts)
      data
    end

    # Get a Short
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_get_a_short_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_get_a_short ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling YouTubeApi.youtube_get_a_short"
      end
      # resource path
      local_var_path = '/v1/youtube/shorts/{video_id}'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_get_a_short",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_get_a_short\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get channel detail
    # Channel detail (accepts a UC id, @handle, or custom URL).
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl 
    # @option opts [String] :hl 
    # @return [Object]
    def youtube_get_channel_detail(channel_id, opts = {})
      data, _status_code, _headers = youtube_get_channel_detail_with_http_info(channel_id, opts)
      data
    end

    # Get channel detail
    # Channel detail (accepts a UC id, @handle, or custom URL).
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl 
    # @option opts [String] :hl 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_get_channel_detail_with_http_info(channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_get_channel_detail ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling YouTubeApi.youtube_get_channel_detail"
      end
      # resource path
      local_var_path = '/v1/youtube/channels/{channel_id}'.sub('{' + 'channel_id' + '}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_get_channel_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_get_channel_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get playlist detail
    # @param playlist_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_get_playlist_detail(playlist_id, opts = {})
      data, _status_code, _headers = youtube_get_playlist_detail_with_http_info(playlist_id, opts)
      data
    end

    # Get playlist detail
    # @param playlist_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_get_playlist_detail_with_http_info(playlist_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_get_playlist_detail ...'
      end
      # verify the required parameter 'playlist_id' is set
      if @api_client.config.client_side_validation && playlist_id.nil?
        fail ArgumentError, "Missing the required parameter 'playlist_id' when calling YouTubeApi.youtube_get_playlist_detail"
      end
      # resource path
      local_var_path = '/v1/youtube/playlists/{playlist_id}'.sub('{' + 'playlist_id' + '}', CGI.escape(playlist_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_get_playlist_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_get_playlist_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get video detail
    # Full video detail — merged player + next (likes, comments, chapters, related).
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl 
    # @option opts [String] :hl 
    # @return [Object]
    def youtube_get_video_detail(video_id, opts = {})
      data, _status_code, _headers = youtube_get_video_detail_with_http_info(video_id, opts)
      data
    end

    # Get video detail
    # Full video detail — merged player + next (likes, comments, chapters, related).
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl 
    # @option opts [String] :hl 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_get_video_detail_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_get_video_detail ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling YouTubeApi.youtube_get_video_detail"
      end
      # resource path
      local_var_path = '/v1/youtube/videos/{video_id}'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_get_video_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_get_video_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Guest home feed
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_guest_home_feed(opts = {})
      data, _status_code, _headers = youtube_guest_home_feed_with_http_info(opts)
      data
    end

    # Guest home feed
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_guest_home_feed_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_guest_home_feed ...'
      end
      # resource path
      local_var_path = '/v1/youtube/home'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_guest_home_feed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_guest_home_feed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Keyword suggestions
    # Return YouTube keyword autocomplete suggestions.
    # @param query [String] Partial query prefix
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl 
    # @option opts [String] :hl 
    # @return [Object]
    def youtube_keyword_suggestions(query, opts = {})
      data, _status_code, _headers = youtube_keyword_suggestions_with_http_info(query, opts)
      data
    end

    # Keyword suggestions
    # Return YouTube keyword autocomplete suggestions.
    # @param query [String] Partial query prefix
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl 
    # @option opts [String] :hl 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_keyword_suggestions_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_keyword_suggestions ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling YouTubeApi.youtube_keyword_suggestions"
      end
      # resource path
      local_var_path = '/v1/youtube/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_keyword_suggestions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_keyword_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List caption tracks
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_list_caption_tracks(video_id, opts = {})
      data, _status_code, _headers = youtube_list_caption_tracks_with_http_info(video_id, opts)
      data
    end

    # List caption tracks
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_list_caption_tracks_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_list_caption_tracks ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling YouTubeApi.youtube_list_caption_tracks"
      end
      # resource path
      local_var_path = '/v1/youtube/videos/{video_id}/captions'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_list_caption_tracks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_list_caption_tracks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Live chat messages
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :continuation 
    # @option opts [Boolean] :replay  (default to false)
    # @return [Object]
    def youtube_live_chat_messages(video_id, opts = {})
      data, _status_code, _headers = youtube_live_chat_messages_with_http_info(video_id, opts)
      data
    end

    # Live chat messages
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :continuation 
    # @option opts [Boolean] :replay  (default to false)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_live_chat_messages_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_live_chat_messages ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling YouTubeApi.youtube_live_chat_messages"
      end
      # resource path
      local_var_path = '/v1/youtube/videos/{video_id}/live_chat'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'continuation'] = opts[:'continuation'] if !opts[:'continuation'].nil?
      query_params[:'replay'] = opts[:'replay'] if !opts[:'replay'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_live_chat_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_live_chat_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # oEmbed metadata
    # @param url [String] A YouTube URL
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_oembed_metadata(url, opts = {})
      data, _status_code, _headers = youtube_oembed_metadata_with_http_info(url, opts)
      data
    end

    # oEmbed metadata
    # @param url [String] A YouTube URL
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_oembed_metadata_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_oembed_metadata ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling YouTubeApi.youtube_oembed_metadata"
      end
      # resource path
      local_var_path = '/v1/youtube/oembed'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_oembed_metadata",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_oembed_metadata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Playlist items page
    # @param playlist_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_playlist_items_page(playlist_id, opts = {})
      data, _status_code, _headers = youtube_playlist_items_page_with_http_info(playlist_id, opts)
      data
    end

    # Playlist items page
    # @param playlist_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_playlist_items_page_with_http_info(playlist_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_playlist_items_page ...'
      end
      # verify the required parameter 'playlist_id' is set
      if @api_client.config.client_side_validation && playlist_id.nil?
        fail ArgumentError, "Missing the required parameter 'playlist_id' when calling YouTubeApi.youtube_playlist_items_page"
      end
      # resource path
      local_var_path = '/v1/youtube/playlists/{playlist_id}/items'.sub('{' + 'playlist_id' + '}', CGI.escape(playlist_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_playlist_items_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_playlist_items_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Related videos
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_related_videos(video_id, opts = {})
      data, _status_code, _headers = youtube_related_videos_with_http_info(video_id, opts)
      data
    end

    # Related videos
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_related_videos_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_related_videos ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling YouTubeApi.youtube_related_videos"
      end
      # resource path
      local_var_path = '/v1/youtube/videos/{video_id}/related'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_related_videos",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_related_videos\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resolve handle/URL to id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :handle 
    # @option opts [String] :url 
    # @return [Object]
    def youtube_resolve_handle_url_to_id(opts = {})
      data, _status_code, _headers = youtube_resolve_handle_url_to_id_with_http_info(opts)
      data
    end

    # Resolve handle/URL to id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :handle 
    # @option opts [String] :url 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_resolve_handle_url_to_id_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_resolve_handle_url_to_id ...'
      end
      # resource path
      local_var_path = '/v1/youtube/channels/resolve'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'handle'] = opts[:'handle'] if !opts[:'handle'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_resolve_handle_url_to_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_resolve_handle_url_to_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search within a channel
    # @param channel_id [String] 
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_search_within_a_channel(channel_id, query, opts = {})
      data, _status_code, _headers = youtube_search_within_a_channel_with_http_info(channel_id, query, opts)
      data
    end

    # Search within a channel
    # @param channel_id [String] 
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_search_within_a_channel_with_http_info(channel_id, query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_search_within_a_channel ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling YouTubeApi.youtube_search_within_a_channel"
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling YouTubeApi.youtube_search_within_a_channel"
      end
      # resource path
      local_var_path = '/v1/youtube/channels/{channel_id}/search'.sub('{' + 'channel_id' + '}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_search_within_a_channel",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_search_within_a_channel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search YouTube
    # Search videos / channels / playlists with the full filter matrix.
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type video|channel|playlist|movie|all
    # @option opts [String] :sort_by relevance|date|views|rating
    # @option opts [String] :upload_date hour|today|week|month|year
    # @option opts [String] :duration short|medium|long
    # @option opts [String] :features hd,4k,360,vr180,3d,hdr,cc,subtitles,live
    # @option opts [String] :gl Content region (US, GB, DE…)
    # @option opts [String] :hl UI language
    # @option opts [String] :continuation 
    # @return [Object]
    def youtube_search_youtube(query, opts = {})
      data, _status_code, _headers = youtube_search_youtube_with_http_info(query, opts)
      data
    end

    # Search YouTube
    # Search videos / channels / playlists with the full filter matrix.
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type video|channel|playlist|movie|all
    # @option opts [String] :sort_by relevance|date|views|rating
    # @option opts [String] :upload_date hour|today|week|month|year
    # @option opts [String] :duration short|medium|long
    # @option opts [String] :features hd,4k,360,vr180,3d,hdr,cc,subtitles,live
    # @option opts [String] :gl Content region (US, GB, DE…)
    # @option opts [String] :hl UI language
    # @option opts [String] :continuation 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_search_youtube_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_search_youtube ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling YouTubeApi.youtube_search_youtube"
      end
      # resource path
      local_var_path = '/v1/youtube/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'upload_date'] = opts[:'upload_date'] if !opts[:'upload_date'].nil?
      query_params[:'duration'] = opts[:'duration'] if !opts[:'duration'].nil?
      query_params[:'features'] = opts[:'features'] if !opts[:'features'].nil?
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?
      query_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?
      query_params[:'continuation'] = opts[:'continuation'] if !opts[:'continuation'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_search_youtube",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_search_youtube\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search YouTube Music
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_search_youtube_music(query, opts = {})
      data, _status_code, _headers = youtube_search_youtube_music_with_http_info(query, opts)
      data
    end

    # Search YouTube Music
    # @param query [String] Search keywords
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_search_youtube_music_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_search_youtube_music ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling YouTubeApi.youtube_search_youtube_music"
      end
      # resource path
      local_var_path = '/v1/youtube/music/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_search_youtube_music",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_search_youtube_music\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Shorts by sound
    # @param sound_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_shorts_by_sound(sound_id, opts = {})
      data, _status_code, _headers = youtube_shorts_by_sound_with_http_info(sound_id, opts)
      data
    end

    # Shorts by sound
    # @param sound_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_shorts_by_sound_with_http_info(sound_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_shorts_by_sound ...'
      end
      # verify the required parameter 'sound_id' is set
      if @api_client.config.client_side_validation && sound_id.nil?
        fail ArgumentError, "Missing the required parameter 'sound_id' when calling YouTubeApi.youtube_shorts_by_sound"
      end
      # resource path
      local_var_path = '/v1/youtube/shorts/by_sound/{sound_id}'.sub('{' + 'sound_id' + '}', CGI.escape(sound_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_shorts_by_sound",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_shorts_by_sound\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stream formats
    # Stream/format metadata (best-effort; media URLs may be PO-token gated).
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client IOS|ANDROID|WEB (default to 'IOS')
    # @return [Object]
    def youtube_stream_formats(video_id, opts = {})
      data, _status_code, _headers = youtube_stream_formats_with_http_info(video_id, opts)
      data
    end

    # Stream formats
    # Stream/format metadata (best-effort; media URLs may be PO-token gated).
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client IOS|ANDROID|WEB (default to 'IOS')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_stream_formats_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_stream_formats ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling YouTubeApi.youtube_stream_formats"
      end
      # resource path
      local_var_path = '/v1/youtube/videos/{video_id}/streams'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'client'] = opts[:'client'] if !opts[:'client'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_stream_formats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_stream_formats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Subscriber count (fast)
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_subscriber_count_fast(channel_id, opts = {})
      data, _status_code, _headers = youtube_subscriber_count_fast_with_http_info(channel_id, opts)
      data
    end

    # Subscriber count (fast)
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_subscriber_count_fast_with_http_info(channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_subscriber_count_fast ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling YouTubeApi.youtube_subscriber_count_fast"
      end
      # resource path
      local_var_path = '/v1/youtube/channels/{channel_id}/subscriber_count'.sub('{' + 'channel_id' + '}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_subscriber_count_fast",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_subscriber_count_fast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Supported markets
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_supported_markets(opts = {})
      data, _status_code, _headers = youtube_supported_markets_with_http_info(opts)
      data
    end

    # Supported markets
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_supported_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_supported_markets ...'
      end
      # resource path
      local_var_path = '/v1/youtube/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_supported_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_supported_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Trending shorts
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_trending_shorts(opts = {})
      data, _status_code, _headers = youtube_trending_shorts_with_http_info(opts)
      data
    end

    # Trending shorts
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_trending_shorts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_trending_shorts ...'
      end
      # resource path
      local_var_path = '/v1/youtube/trending/shorts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_trending_shorts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_trending_shorts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Trending videos
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl 
    # @option opts [String] :type now|music|gaming|movies (default to 'now')
    # @return [Object]
    def youtube_trending_videos(opts = {})
      data, _status_code, _headers = youtube_trending_videos_with_http_info(opts)
      data
    end

    # Trending videos
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl 
    # @option opts [String] :type now|music|gaming|movies (default to 'now')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_trending_videos_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_trending_videos ...'
      end
      # resource path
      local_var_path = '/v1/youtube/trending'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_trending_videos",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_trending_videos\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # UI languages
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_ui_languages(opts = {})
      data, _status_code, _headers = youtube_ui_languages_with_http_info(opts)
      data
    end

    # UI languages
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_ui_languages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_ui_languages ...'
      end
      # resource path
      local_var_path = '/v1/youtube/languages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_ui_languages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_ui_languages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Video categories
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl  (default to 'US')
    # @return [Object]
    def youtube_video_categories(opts = {})
      data, _status_code, _headers = youtube_video_categories_with_http_info(opts)
      data
    end

    # Video categories
    # @param [Hash] opts the optional parameters
    # @option opts [String] :gl  (default to 'US')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_video_categories_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_video_categories ...'
      end
      # resource path
      local_var_path = '/v1/youtube/categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'gl'] = opts[:'gl'] if !opts[:'gl'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_video_categories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_video_categories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Video comments
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by top|newest (default to 'top')
    # @option opts [String] :continuation 
    # @return [Object]
    def youtube_video_comments(video_id, opts = {})
      data, _status_code, _headers = youtube_video_comments_with_http_info(video_id, opts)
      data
    end

    # Video comments
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by top|newest (default to 'top')
    # @option opts [String] :continuation 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_video_comments_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_video_comments ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling YouTubeApi.youtube_video_comments"
      end
      # resource path
      local_var_path = '/v1/youtube/videos/{video_id}/comments'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'continuation'] = opts[:'continuation'] if !opts[:'continuation'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_video_comments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_video_comments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Video transcript
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :language BCP-47 language code
    # @return [Object]
    def youtube_video_transcript(video_id, opts = {})
      data, _status_code, _headers = youtube_video_transcript_with_http_info(video_id, opts)
      data
    end

    # Video transcript
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :language BCP-47 language code
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_video_transcript_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_video_transcript ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling YouTubeApi.youtube_video_transcript"
      end
      # resource path
      local_var_path = '/v1/youtube/videos/{video_id}/transcript'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_video_transcript",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_video_transcript\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Videos under a hashtag
    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_videos_under_a_hashtag(tag, opts = {})
      data, _status_code, _headers = youtube_videos_under_a_hashtag_with_http_info(tag, opts)
      data
    end

    # Videos under a hashtag
    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_videos_under_a_hashtag_with_http_info(tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_videos_under_a_hashtag ...'
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling YouTubeApi.youtube_videos_under_a_hashtag"
      end
      # resource path
      local_var_path = '/v1/youtube/hashtags/{tag}'.sub('{' + 'tag' + '}', CGI.escape(tag.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_videos_under_a_hashtag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_videos_under_a_hashtag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # YouTube scraper health check
    # Check health of the YouTube scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_youtube_scraper_health_check(opts = {})
      data, _status_code, _headers = youtube_youtube_scraper_health_check_with_http_info(opts)
      data
    end

    # YouTube scraper health check
    # Check health of the YouTube scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_youtube_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_youtube_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/youtube/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_youtube_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_youtube_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # YouTube scraper health check
    # Check health of the YouTube scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def youtube_youtube_scraper_health_check_head(opts = {})
      data, _status_code, _headers = youtube_youtube_scraper_health_check_head_with_http_info(opts)
      data
    end

    # YouTube scraper health check
    # Check health of the YouTube scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def youtube_youtube_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YouTubeApi.youtube_youtube_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/youtube/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"YouTubeApi.youtube_youtube_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YouTubeApi#youtube_youtube_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
