=begin
#ScrapeBadger API

#Unified credit-based scraping API. https://docs.scrapebadger.com

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ScrapeBadger
  class ZillowApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get agent profile + listings
    # Get a Zillow professional's profile and their active listings.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :username Zillow profile username
    # @option opts [String] :url Full Zillow /profile/... URL
    # @return [Object]
    def zillow_get_agent_profile_listings(opts = {})
      data, _status_code, _headers = zillow_get_agent_profile_listings_with_http_info(opts)
      data
    end

    # Get agent profile + listings
    # Get a Zillow professional&#39;s profile and their active listings.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :username Zillow profile username
    # @option opts [String] :url Full Zillow /profile/... URL
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def zillow_get_agent_profile_listings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZillowApi.zillow_get_agent_profile_listings ...'
      end
      # resource path
      local_var_path = '/v1/zillow/agent'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'username'] = opts[:'username'] if !opts[:'username'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ZillowApi.zillow_get_agent_profile_listings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZillowApi#zillow_get_agent_profile_listings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get property detail
    # Get a single Zillow property's full detail by zpid.
    # @param zpid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def zillow_get_property_detail(zpid, opts = {})
      data, _status_code, _headers = zillow_get_property_detail_with_http_info(zpid, opts)
      data
    end

    # Get property detail
    # Get a single Zillow property&#39;s full detail by zpid.
    # @param zpid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def zillow_get_property_detail_with_http_info(zpid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZillowApi.zillow_get_property_detail ...'
      end
      # verify the required parameter 'zpid' is set
      if @api_client.config.client_side_validation && zpid.nil?
        fail ArgumentError, "Missing the required parameter 'zpid' when calling ZillowApi.zillow_get_property_detail"
      end
      # resource path
      local_var_path = '/v1/zillow/property/{zpid}'.sub('{' + 'zpid' + '}', CGI.escape(zpid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ZillowApi.zillow_get_property_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZillowApi#zillow_get_property_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get property detail by URL
    # Get a single Zillow property's full detail by its homedetails URL.
    # @param url [String] Full Zillow /homedetails/... URL
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def zillow_get_property_detail_by_url(url, opts = {})
      data, _status_code, _headers = zillow_get_property_detail_by_url_with_http_info(url, opts)
      data
    end

    # Get property detail by URL
    # Get a single Zillow property&#39;s full detail by its homedetails URL.
    # @param url [String] Full Zillow /homedetails/... URL
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def zillow_get_property_detail_by_url_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZillowApi.zillow_get_property_detail_by_url ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling ZillowApi.zillow_get_property_detail_by_url"
      end
      # resource path
      local_var_path = '/v1/zillow/property'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ZillowApi.zillow_get_property_detail_by_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZillowApi#zillow_get_property_detail_by_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List coverage markets
    # List Zillow coverage regions (US + Canada).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def zillow_list_coverage_markets(opts = {})
      data, _status_code, _headers = zillow_list_coverage_markets_with_http_info(opts)
      data
    end

    # List coverage markets
    # List Zillow coverage regions (US + Canada).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def zillow_list_coverage_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZillowApi.zillow_list_coverage_markets ...'
      end
      # resource path
      local_var_path = '/v1/zillow/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ZillowApi.zillow_list_coverage_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZillowApi#zillow_list_coverage_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Region/address suggestions
    # Resolve a search term to Zillow regions/addresses.
    # @param query [String] Partial location — city, ZIP, address, neighborhood
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def zillow_region_address_suggestions(query, opts = {})
      data, _status_code, _headers = zillow_region_address_suggestions_with_http_info(query, opts)
      data
    end

    # Region/address suggestions
    # Resolve a search term to Zillow regions/addresses.
    # @param query [String] Partial location — city, ZIP, address, neighborhood
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def zillow_region_address_suggestions_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZillowApi.zillow_region_address_suggestions ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling ZillowApi.zillow_region_address_suggestions"
      end
      # resource path
      local_var_path = '/v1/zillow/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ZillowApi.zillow_region_address_suggestions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZillowApi#zillow_region_address_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search properties
    # Search Zillow for for-sale / for-rent / recently-sold properties.
    # @param location [String] City/state, ZIP, address or neighborhood
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status for_sale|for_rent|sold (default to 'for_sale')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :sort homes_for_you|newest|price_high_to_low|price_low_to_high|bedrooms|bathrooms|square_feet|lot_size|year_built
    # @option opts [Integer] :price_min 
    # @option opts [Integer] :price_max 
    # @option opts [Integer] :beds_min 
    # @option opts [Float] :baths_min 
    # @option opts [String] :home_type houses|condos|townhomes|apartments|manufactured|lots|multi_family
    # @option opts [Integer] :sqft_min 
    # @option opts [Integer] :sqft_max 
    # @option opts [Integer] :lot_min 
    # @option opts [Integer] :lot_max 
    # @option opts [Integer] :year_built_min 
    # @option opts [Integer] :year_built_max 
    # @option opts [Integer] :hoa_max 
    # @option opts [String] :keywords 
    # @option opts [String] :days_on 
    # @option opts [Float] :north Map bounds for tiling past the 820 cap
    # @option opts [Float] :south 
    # @option opts [Float] :east 
    # @option opts [Float] :west 
    # @return [Object]
    def zillow_search_properties(location, opts = {})
      data, _status_code, _headers = zillow_search_properties_with_http_info(location, opts)
      data
    end

    # Search properties
    # Search Zillow for for-sale / for-rent / recently-sold properties.
    # @param location [String] City/state, ZIP, address or neighborhood
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status for_sale|for_rent|sold (default to 'for_sale')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :sort homes_for_you|newest|price_high_to_low|price_low_to_high|bedrooms|bathrooms|square_feet|lot_size|year_built
    # @option opts [Integer] :price_min 
    # @option opts [Integer] :price_max 
    # @option opts [Integer] :beds_min 
    # @option opts [Float] :baths_min 
    # @option opts [String] :home_type houses|condos|townhomes|apartments|manufactured|lots|multi_family
    # @option opts [Integer] :sqft_min 
    # @option opts [Integer] :sqft_max 
    # @option opts [Integer] :lot_min 
    # @option opts [Integer] :lot_max 
    # @option opts [Integer] :year_built_min 
    # @option opts [Integer] :year_built_max 
    # @option opts [Integer] :hoa_max 
    # @option opts [String] :keywords 
    # @option opts [String] :days_on 
    # @option opts [Float] :north Map bounds for tiling past the 820 cap
    # @option opts [Float] :south 
    # @option opts [Float] :east 
    # @option opts [Float] :west 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def zillow_search_properties_with_http_info(location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZillowApi.zillow_search_properties ...'
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling ZillowApi.zillow_search_properties"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 20
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ZillowApi.zillow_search_properties, must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ZillowApi.zillow_search_properties, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'price_min'].nil? && opts[:'price_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"price_min"]" when calling ZillowApi.zillow_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'price_max'].nil? && opts[:'price_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"price_max"]" when calling ZillowApi.zillow_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'beds_min'].nil? && opts[:'beds_min'] > 10
        fail ArgumentError, 'invalid value for "opts[:"beds_min"]" when calling ZillowApi.zillow_search_properties, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'beds_min'].nil? && opts[:'beds_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"beds_min"]" when calling ZillowApi.zillow_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'baths_min'].nil? && opts[:'baths_min'] > 10
        fail ArgumentError, 'invalid value for "opts[:"baths_min"]" when calling ZillowApi.zillow_search_properties, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'baths_min'].nil? && opts[:'baths_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"baths_min"]" when calling ZillowApi.zillow_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'sqft_min'].nil? && opts[:'sqft_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"sqft_min"]" when calling ZillowApi.zillow_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'sqft_max'].nil? && opts[:'sqft_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"sqft_max"]" when calling ZillowApi.zillow_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'lot_min'].nil? && opts[:'lot_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"lot_min"]" when calling ZillowApi.zillow_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'lot_max'].nil? && opts[:'lot_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"lot_max"]" when calling ZillowApi.zillow_search_properties, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'year_built_min'].nil? && opts[:'year_built_min'] < 1800
        fail ArgumentError, 'invalid value for "opts[:"year_built_min"]" when calling ZillowApi.zillow_search_properties, must be greater than or equal to 1800.'
      end

      if @api_client.config.client_side_validation && !opts[:'year_built_max'].nil? && opts[:'year_built_max'] < 1800
        fail ArgumentError, 'invalid value for "opts[:"year_built_max"]" when calling ZillowApi.zillow_search_properties, must be greater than or equal to 1800.'
      end

      if @api_client.config.client_side_validation && !opts[:'hoa_max'].nil? && opts[:'hoa_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"hoa_max"]" when calling ZillowApi.zillow_search_properties, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/zillow/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'location'] = location
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'price_min'] = opts[:'price_min'] if !opts[:'price_min'].nil?
      query_params[:'price_max'] = opts[:'price_max'] if !opts[:'price_max'].nil?
      query_params[:'beds_min'] = opts[:'beds_min'] if !opts[:'beds_min'].nil?
      query_params[:'baths_min'] = opts[:'baths_min'] if !opts[:'baths_min'].nil?
      query_params[:'home_type'] = opts[:'home_type'] if !opts[:'home_type'].nil?
      query_params[:'sqft_min'] = opts[:'sqft_min'] if !opts[:'sqft_min'].nil?
      query_params[:'sqft_max'] = opts[:'sqft_max'] if !opts[:'sqft_max'].nil?
      query_params[:'lot_min'] = opts[:'lot_min'] if !opts[:'lot_min'].nil?
      query_params[:'lot_max'] = opts[:'lot_max'] if !opts[:'lot_max'].nil?
      query_params[:'year_built_min'] = opts[:'year_built_min'] if !opts[:'year_built_min'].nil?
      query_params[:'year_built_max'] = opts[:'year_built_max'] if !opts[:'year_built_max'].nil?
      query_params[:'hoa_max'] = opts[:'hoa_max'] if !opts[:'hoa_max'].nil?
      query_params[:'keywords'] = opts[:'keywords'] if !opts[:'keywords'].nil?
      query_params[:'days_on'] = opts[:'days_on'] if !opts[:'days_on'].nil?
      query_params[:'north'] = opts[:'north'] if !opts[:'north'].nil?
      query_params[:'south'] = opts[:'south'] if !opts[:'south'].nil?
      query_params[:'east'] = opts[:'east'] if !opts[:'east'].nil?
      query_params[:'west'] = opts[:'west'] if !opts[:'west'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ZillowApi.zillow_search_properties",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZillowApi#zillow_search_properties\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Zillow scraper health check
    # Check health of the Zillow scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def zillow_zillow_scraper_health_check(opts = {})
      data, _status_code, _headers = zillow_zillow_scraper_health_check_with_http_info(opts)
      data
    end

    # Zillow scraper health check
    # Check health of the Zillow scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def zillow_zillow_scraper_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZillowApi.zillow_zillow_scraper_health_check ...'
      end
      # resource path
      local_var_path = '/v1/zillow/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ZillowApi.zillow_zillow_scraper_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZillowApi#zillow_zillow_scraper_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Zillow scraper health check
    # Check health of the Zillow scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def zillow_zillow_scraper_health_check_head(opts = {})
      data, _status_code, _headers = zillow_zillow_scraper_health_check_head_with_http_info(opts)
      data
    end

    # Zillow scraper health check
    # Check health of the Zillow scraper service (accepts HEAD for UptimeRobot).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def zillow_zillow_scraper_health_check_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZillowApi.zillow_zillow_scraper_health_check_head ...'
      end
      # resource path
      local_var_path = '/v1/zillow/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ZillowApi.zillow_zillow_scraper_health_check_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZillowApi#zillow_zillow_scraper_health_check_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
